01---swipe-títulos-v0CnO90BxRWWkqOI.json
{"createdAt":"2025-06-02T14:41:37.202Z","updatedAt":"2025-06-05T19:00:03.329Z","id":"v0CnO90BxRWWkqOI","name":"01 - SWIPE TÍTULOS","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1680,3820],"id":"d3a2f652-448b-41be-8fee-7a7c23f620de","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002615111216","text":"=01 - SWIPE TÍTULOS","additionalFields":{"appendAttribution":false,"message_thread_id":5}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1460,3820],"id":"44ab1197-58e0-4f5a-8456-fc90d63d00e9","name":"Notificação de Erro no Telegram","webhookId":"69e81cf7-6366-4150-8ea9-0179f2447587","credentials":{"telegramApi":{"id":"KbYurROyBoGKf7Ks","name":"Telegram account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1680,3560],"id":"e4014719-a07b-4d8a-9f23-3918aa690779","name":"Limpeza Periódica DB"},{"parameters":{"operation":"delete","tableId":"Canais","matchType":"allFilters","filters":{"conditions":[{"keyName":"pt","condition":"is","keyValue":"true"},{"keyName":"en","condition":"is","keyValue":"true"},{"keyName":"es","condition":"is","keyValue":"true"},{"keyName":"fr","condition":"is","keyValue":"true"},{"keyName":"it","condition":"is","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1460,3560],"id":"adad2062-c5f5-4de8-bc98-f8e9647278df","name":"Limpar Registros Marcados","credentials":{"supabaseApi":{"id":"wJaq3BiQNlgbESl5","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-760,1180],"id":"d5dd6c95-752c-4967-8391-fc9dfac851dc","name":"Finalizar Execução"},{"parameters":{"jsCode":"// Este código deve ser usado no nó Function do n8n após o nó HTTP Request\n\n// Array para armazenar os resultados filtrados\nconst filteredVideos = [];\n\n// Pegar os dados do HTTP Request (assumindo que está no primeiro item)\nconst videos = $input.all()[0].json.videos;\n\n// Função para converter o tempo publicado para horas\nfunction getHoursFromPublishedTime(publishedTime) {\n  if (publishedTime.includes('hours ago') || publishedTime.includes('hour ago')) {\n    return parseInt(publishedTime.split(' ')[0]);\n  } else if (publishedTime.includes('days ago') || publishedTime.includes('day ago')) {\n    return parseInt(publishedTime.split(' ')[0]) * 24;\n  } else if (publishedTime.includes('minutes ago') || publishedTime.includes('minute ago')) {\n    return 0; // Menos de uma hora\n  } else {\n    return 999; // Não determinável\n  }\n}\n\n// Percorrer cada vídeo e aplicar os filtros\nfor (const video of videos) {\n  const views = video.number_of_views;\n  if (views >= 1000) {\n    const hoursAgo = getHoursFromPublishedTime(video.published_time);\n    if (hoursAgo <= 72) {\n      filteredVideos.push({\n        video_id:     video.video_id,\n        title:        video.title,\n        views:        views,\n        published_time: video.published_time\n      });\n    }\n  }\n}\n\n// Retornar os resultados filtrados\nreturn {\n  json: {\n    filtered_videos: filteredVideos,\n    count: filteredVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1640,1430],"id":"0fbd2bb4-a86f-4f4d-902a-ad4799f0162c","name":"Filtrar Vídeos Populares Recentes","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Este código deve ser usado em um nó Function no n8n\n// para ordenar vídeos do mais visualizado para o menos visualizado\n\n// Obter os dados do nó anterior\nconst inputData = $input.all()[0].json.filtered_videos || $input.all()[0].json;\n\n// Verificar se os dados são um array\nlet videosToSort = Array.isArray(inputData) ? inputData : [];\n\n// Se os dados vierem em outro formato, tentar extrair\nif (!Array.isArray(inputData) && inputData.filtered_videos) {\n  videosToSort = inputData.filtered_videos;\n}\n\n// Ordenar os vídeos por número de visualizações (do maior para o menor)\nconst sortedVideos = videosToSort.sort((a, b) => {\n  // Garantir que estamos comparando números\n  const viewsA = typeof a.views === 'number' ? a.views : parseInt(a.views);\n  const viewsB = typeof b.views === 'number' ? b.views : parseInt(b.views);\n  \n  // Ordenação decrescente (maior para menor)\n  return viewsB - viewsA;\n});\n\n// Retornar os dados ordenados\nreturn {\n  json: {\n    sorted_videos: sortedVideos,\n    count: sortedVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1420,1380],"id":"e7d5c04c-b4f0-4338-820a-6778cda6140e","name":"Ordenar por Visualizações"},{"parameters":{"fieldToSplitOut":"sorted_videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1200,1380],"id":"14fb2a0e-a885-418e-b29e-4efba1516ba0","name":"Extrair Lista de Vídeos"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-980,1380],"id":"c3dcc0c2-346a-4cf3-b41a-c00eb9321b52","name":"Processar Cada Vídeo"},{"parameters":{"assignments":{"assignments":[{"id":"70ebc5bf-aaa9-4c21-8d43-02d1d33b0645","name":"channel_id","value":"UC0jK9uTVSfnu6WHj5tP5SDQ","type":"string"},{"id":"63b7fae7-1c76-4654-9295-a5fe82775a80","name":"x-rapidapi-key","value":"c9a23b6284mshd6ba83b0defb705p1d81ddjsn2bd1069d274d","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2080,1505],"id":"f8621abc-c17d-41d1-9d1f-fedb73aa4e68","name":"Configurar ID do Canal YouTube"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/channel/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1860,1430],"id":"ae1ca82f-0802-4e02-aa6c-ca674cbbbefb","name":"Buscar Vídeos do Canal","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1420,1605],"id":"e976dbe1-1929-4e80-bc4a-95bb6ecdf3c3","name":"Aguardar e Reiniciar Processo","webhookId":"375ad00f-0316-4c8a-9bc0-b6ff0e6fe52a"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/video/subtitles","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-760,1380],"id":"ed6cabec-8a68-4338-b855-c155a6861767","name":"HTTP Request1","retryOnFail":true},{"parameters":{"fieldToSplitOut":"subtitles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-540,1380],"id":"6a95c479-005b-4882-bc5e-f4671711d97d","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-320,1380],"id":"4e05fdbc-632a-49bd-a71d-acecc888c00a","name":"Aggregate1"},{"parameters":{"jsCode":"// Acessa o campo 'text' do JSON\nconst texts = items[0].json.text;\n\n// Concatena os textos em um único bloco\nconst concatenatedText = texts.join(' ');\n\n// Retorna o texto concatenado\nreturn [{ json: { text: concatenatedText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,1380],"id":"1d848ef7-d812-4555-a92c-68e2bc46bd1d","name":"Code2"},{"parameters":{"promptType":"define","text":"=\"{{ $json.text }}\"\n\nPor favor, forneça um resumo com extensão entre 1.000 e 2.000 caracteres, sobre o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[120,1380],"id":"801ae341-0ff9-4c41-9bd9-1f0693483f7a","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[148,1600],"id":"9911dca6-8381-407c-b6ea-895e0fe28402","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"text\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[268,1600],"id":"aa958750-a4cf-4717-a4e7-ea33315c32c6","name":"Structured Output Parser1"},{"parameters":{"jsCode":"const data = $item(0).$node[\"AI Agent2\"].json;\ndata.output.text = data.output.text.replace(/[\\r\\n]+/g, ' ');\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,1380],"id":"693b7e01-5e0d-4e0e-92dd-b90c4a0ce5ec","name":"Code3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1532,1380],"id":"038755c7-d590-4b5b-a70e-b277d91accfd","name":"Wait1","webhookId":"e0a4bad9-ee1f-43fd-a53e-9b2e0a45a55e"},{"parameters":{"promptType":"define","text":"='{{ $('Processar Cada Vídeo').item.json.title }}'\n\nPor favor, forneça o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[716,1380],"id":"2d5ff647-07d3-4c82-8414-1ade57655d81","name":"AI Agent3"},{"parameters":{"assignments":{"assignments":[{"id":"0ca78208-43f4-41e4-8480-e5aef07a080a","name":"título","value":"={{ $json.output.text }}","type":"string"},{"id":"ff2af784-60ce-45be-baa4-8a0c4036bb8c","name":"resumo","value":"={{ $('Code3').item.json.output.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1092,1380],"id":"d9de0921-e46f-4104-862b-dc2fabfcedee","name":"Edit Fields1"},{"parameters":{"tableId":"Canais","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json['título'] }}"},{"fieldId":"resume","fieldValue":"={{ $json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1312,1380],"id":"3506bfe6-ed44-4298-9d3f-2d7bc39d4157","name":"Salvar Título no Banco de Dados1","credentials":{"supabaseApi":{"id":"wJaq3BiQNlgbESl5","name":"Supabase account"}}},{"parameters":{"content":"## CANAL DE REFERÊNCIA #1 \n**Black Thread**","height":720,"width":4120,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2380,1140],"id":"b7e3780b-8403-4405-b0ee-83ecd1fa0af0","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-760,1960],"id":"d67bcdf6-d715-4d1e-8375-8fa995c642d6","name":"Finalizar Execução1"},{"parameters":{"jsCode":"// Este código deve ser usado no nó Function do n8n após o nó HTTP Request\n\n// Array para armazenar os resultados filtrados\nconst filteredVideos = [];\n\n// Pegar os dados do HTTP Request (assumindo que está no primeiro item)\nconst videos = $input.all()[0].json.videos;\n\n// Função para converter o tempo publicado para horas\nfunction getHoursFromPublishedTime(publishedTime) {\n  if (publishedTime.includes('hours ago') || publishedTime.includes('hour ago')) {\n    return parseInt(publishedTime.split(' ')[0]);\n  } else if (publishedTime.includes('days ago') || publishedTime.includes('day ago')) {\n    return parseInt(publishedTime.split(' ')[0]) * 24;\n  } else if (publishedTime.includes('minutes ago') || publishedTime.includes('minute ago')) {\n    return 0; // Menos de uma hora\n  } else {\n    return 999; // Não determinável\n  }\n}\n\n// Percorrer cada vídeo e aplicar os filtros\nfor (const video of videos) {\n  const views = video.number_of_views;\n  if (views >= 1000) {\n    const hoursAgo = getHoursFromPublishedTime(video.published_time);\n    if (hoursAgo <= 72) {\n      filteredVideos.push({\n        video_id:     video.video_id,\n        title:        video.title,\n        views:        views,\n        published_time: video.published_time\n      });\n    }\n  }\n}\n\n// Retornar os resultados filtrados\nreturn {\n  json: {\n    filtered_videos: filteredVideos,\n    count: filteredVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1640,2220],"id":"9acc5877-bf5a-4cde-ae88-eeb3a534b3fb","name":"Filtrar Vídeos Populares Recentes1","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Este código deve ser usado em um nó Function no n8n\n// para ordenar vídeos do mais visualizado para o menos visualizado\n\n// Obter os dados do nó anterior\nconst inputData = $input.all()[0].json.filtered_videos || $input.all()[0].json;\n\n// Verificar se os dados são um array\nlet videosToSort = Array.isArray(inputData) ? inputData : [];\n\n// Se os dados vierem em outro formato, tentar extrair\nif (!Array.isArray(inputData) && inputData.filtered_videos) {\n  videosToSort = inputData.filtered_videos;\n}\n\n// Ordenar os vídeos por número de visualizações (do maior para o menor)\nconst sortedVideos = videosToSort.sort((a, b) => {\n  // Garantir que estamos comparando números\n  const viewsA = typeof a.views === 'number' ? a.views : parseInt(a.views);\n  const viewsB = typeof b.views === 'number' ? b.views : parseInt(b.views);\n  \n  // Ordenação decrescente (maior para menor)\n  return viewsB - viewsA;\n});\n\n// Retornar os dados ordenados\nreturn {\n  json: {\n    sorted_videos: sortedVideos,\n    count: sortedVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1420,2160],"id":"195dc71b-a116-4eec-9864-4452d59a4258","name":"Ordenar por Visualizações1"},{"parameters":{"fieldToSplitOut":"sorted_videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1200,2160],"id":"25cd8bfe-3c8f-4169-b431-b1c403992dc3","name":"Extrair Lista de Vídeos1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-980,2160],"id":"517f07c5-880a-497f-962e-635a39edaf65","name":"Processar Cada Vídeo1"},{"parameters":{"assignments":{"assignments":[{"id":"70ebc5bf-aaa9-4c21-8d43-02d1d33b0645","name":"channel_id","value":"UCJWoMwlm-fySRxXp0iM-PaQ","type":"string"},{"id":"63b7fae7-1c76-4654-9295-a5fe82775a80","name":"x-rapidapi-key","value":"c9a23b6284mshd6ba83b0defb705p1d81ddjsn2bd1069d274d","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2080,2300],"id":"749ad861-cdfb-4429-9427-ae8ef2af7a9d","name":"Configurar ID do Canal YouTube1"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/channel/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube1\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1860,2220],"id":"998b90cc-b83d-4f5d-9c3c-560e26177529","name":"Buscar Vídeos do Canal1","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1420,2400],"id":"9208056e-66ce-4596-88b4-2b79ef242760","name":"Aguardar e Reiniciar Processo1","webhookId":"375ad00f-0316-4c8a-9bc0-b6ff0e6fe52a"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/video/subtitles","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube1\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-760,2160],"id":"f4ec7bf1-ee39-47d3-82aa-8e7255e799fb","name":"HTTP Request","retryOnFail":true},{"parameters":{"fieldToSplitOut":"subtitles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-540,2160],"id":"bc505994-9a0a-426c-a438-1c022842fd3e","name":"Split Out"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-320,2160],"id":"b776ca99-f8ad-428c-9bfa-6603539438f8","name":"Aggregate"},{"parameters":{"jsCode":"// Acessa o campo 'text' do JSON\nconst texts = items[0].json.text;\n\n// Concatena os textos em um único bloco\nconst concatenatedText = texts.join(' ');\n\n// Retorna o texto concatenado\nreturn [{ json: { text: concatenatedText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,2160],"id":"c7b63309-f144-4a86-9f66-af8f8cc61c2b","name":"Code"},{"parameters":{"promptType":"define","text":"=\"{{ $json.text }}\"\n\nPor favor, forneça um resumo com extensão entre 1.000 e 2.000 caracteres, sobre o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[120,2160],"id":"5606302b-b256-4251-bd1b-e63205eea3cb","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[160,2380],"id":"32850a27-b4ac-4eb3-a935-a47a29efd5d1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"text\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[280,2380],"id":"48325f6b-3df2-4e1f-9e56-47d9a2105fbd","name":"Structured Output Parser"},{"parameters":{"jsCode":"const data = $item(0).$node[\"AI Agent\"].json;\ndata.output.text = data.output.text.replace(/[\\r\\n]+/g, ' ');\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,2160],"id":"012beb72-485e-4313-8d6e-6d42499274b0","name":"Code4"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1540,2160],"id":"641ee593-500f-4f3d-ad7b-bfc487418c14","name":"Wait","webhookId":"e0a4bad9-ee1f-43fd-a53e-9b2e0a45a55e"},{"parameters":{"promptType":"define","text":"='{{ $('Processar Cada Vídeo1').item.json.title }}'\n\nPor favor, forneça o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[720,2160],"id":"177cbae9-d6b8-4af0-ad1e-1054f9108050","name":"AI Agent4"},{"parameters":{"assignments":{"assignments":[{"id":"0ca78208-43f4-41e4-8480-e5aef07a080a","name":"título","value":"={{ $json.output.text }}","type":"string"},{"id":"ff2af784-60ce-45be-baa4-8a0c4036bb8c","name":"resumo","value":"={{ $('Code4').item.json.output.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,2160],"id":"c4f50648-35b7-49a3-bccd-5d802ac971c0","name":"Edit Fields"},{"parameters":{"tableId":"Canais","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json['título'] }}"},{"fieldId":"resume","fieldValue":"={{ $json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1320,2160],"id":"bd1f887e-b548-4b70-be8c-675024a37d76","name":"Salvar Título no Banco de Dados","credentials":{"supabaseApi":{"id":"wJaq3BiQNlgbESl5","name":"Supabase account"}}},{"parameters":{"content":"## CANAL DE REFERÊNCIA #2\n**Hope Stories**","height":720,"width":4120,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2380,1920],"id":"dde85719-9f42-40b4-93fe-52e683c25ab0","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-760,2760],"id":"12fcd28f-88ee-465b-8616-79f7a351835f","name":"Finalizar Execução2"},{"parameters":{"jsCode":"// Este código deve ser usado no nó Function do n8n após o nó HTTP Request\n\n// Array para armazenar os resultados filtrados\nconst filteredVideos = [];\n\n// Pegar os dados do HTTP Request (assumindo que está no primeiro item)\nconst videos = $input.all()[0].json.videos;\n\n// Função para converter o tempo publicado para horas\nfunction getHoursFromPublishedTime(publishedTime) {\n  if (publishedTime.includes('hours ago') || publishedTime.includes('hour ago')) {\n    return parseInt(publishedTime.split(' ')[0]);\n  } else if (publishedTime.includes('days ago') || publishedTime.includes('day ago')) {\n    return parseInt(publishedTime.split(' ')[0]) * 24;\n  } else if (publishedTime.includes('minutes ago') || publishedTime.includes('minute ago')) {\n    return 0; // Menos de uma hora\n  } else {\n    return 999; // Não determinável\n  }\n}\n\n// Percorrer cada vídeo e aplicar os filtros\nfor (const video of videos) {\n  const views = video.number_of_views;\n  if (views >= 1000) {\n    const hoursAgo = getHoursFromPublishedTime(video.published_time);\n    if (hoursAgo <= 72) {\n      filteredVideos.push({\n        video_id:     video.video_id,\n        title:        video.title,\n        views:        views,\n        published_time: video.published_time\n      });\n    }\n  }\n}\n\n// Retornar os resultados filtrados\nreturn {\n  json: {\n    filtered_videos: filteredVideos,\n    count: filteredVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1640,3020],"id":"49af7e78-447d-4cd4-bf4d-37cc791dc519","name":"Filtrar Vídeos Populares Recentes2","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Este código deve ser usado em um nó Function no n8n\n// para ordenar vídeos do mais visualizado para o menos visualizado\n\n// Obter os dados do nó anterior\nconst inputData = $input.all()[0].json.filtered_videos || $input.all()[0].json;\n\n// Verificar se os dados são um array\nlet videosToSort = Array.isArray(inputData) ? inputData : [];\n\n// Se os dados vierem em outro formato, tentar extrair\nif (!Array.isArray(inputData) && inputData.filtered_videos) {\n  videosToSort = inputData.filtered_videos;\n}\n\n// Ordenar os vídeos por número de visualizações (do maior para o menor)\nconst sortedVideos = videosToSort.sort((a, b) => {\n  // Garantir que estamos comparando números\n  const viewsA = typeof a.views === 'number' ? a.views : parseInt(a.views);\n  const viewsB = typeof b.views === 'number' ? b.views : parseInt(b.views);\n  \n  // Ordenação decrescente (maior para menor)\n  return viewsB - viewsA;\n});\n\n// Retornar os dados ordenados\nreturn {\n  json: {\n    sorted_videos: sortedVideos,\n    count: sortedVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1420,2960],"id":"5c8a1261-7328-4093-b635-e5096abc0906","name":"Ordenar por Visualizações2"},{"parameters":{"fieldToSplitOut":"sorted_videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1200,2960],"id":"5c5e3fba-2624-4fe2-895c-bb5947c8a7ab","name":"Extrair Lista de Vídeos2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-980,2960],"id":"1269e023-9be4-439b-91a9-0b7f5f397c93","name":"Processar Cada Vídeo2"},{"parameters":{"assignments":{"assignments":[{"id":"70ebc5bf-aaa9-4c21-8d43-02d1d33b0645","name":"channel_id","value":"UCEsSEg2PWbD8bg7AXh5VYbQ","type":"string"},{"id":"63b7fae7-1c76-4654-9295-a5fe82775a80","name":"x-rapidapi-key","value":"c9a23b6284mshd6ba83b0defb705p1d81ddjsn2bd1069d274d","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2080,3100],"id":"6ff8b6dd-fa26-42fc-88bd-d9ba28f44834","name":"Configurar ID do Canal YouTube2"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/channel/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube2\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1860,3020],"id":"1df6a103-9b2a-4efa-993e-cfbaf029102e","name":"Buscar Vídeos do Canal2","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1420,3200],"id":"49fd1d2a-5cf0-4177-a6c9-52defdc7c619","name":"Aguardar e Reiniciar Processo2","webhookId":"375ad00f-0316-4c8a-9bc0-b6ff0e6fe52a"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/video/subtitles","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube2\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-760,2960],"id":"9b970557-945d-4ba6-8407-3d9570340020","name":"HTTP Request2","retryOnFail":true},{"parameters":{"fieldToSplitOut":"subtitles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-540,2960],"id":"659a639a-25d7-4b43-8b38-ba04e1299418","name":"Split Out2"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-320,2960],"id":"dc63e042-cd0b-462c-a7b1-b8389e0ebefd","name":"Aggregate2"},{"parameters":{"jsCode":"// Acessa o campo 'text' do JSON\nconst texts = items[0].json.text;\n\n// Concatena os textos em um único bloco\nconst concatenatedText = texts.join(' ');\n\n// Retorna o texto concatenado\nreturn [{ json: { text: concatenatedText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,2960],"id":"16b4bae0-c818-402d-ade7-d42a10a17130","name":"Code1"},{"parameters":{"promptType":"define","text":"=\"{{ $json.text }}\"\n\nPor favor, forneça um resumo com extensão entre 1.000 e 2.000 caracteres, sobre o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[120,2960],"id":"e9faa2b4-6090-4be6-957d-069df4d7f437","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[160,3180],"id":"31731ad4-008e-4257-8f31-951544e9731c","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"text\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[280,3180],"id":"ebc7e4d0-96bb-422a-be09-e72edc8403f2","name":"Structured Output Parser2"},{"parameters":{"jsCode":"const data = $item(0).$node[\"AI Agent1\"].json;\ndata.output.text = data.output.text.replace(/[\\r\\n]+/g, ' ');\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,2960],"id":"583a8364-6ef7-4fd4-8535-df1b6af1075f","name":"Code5"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1540,2960],"id":"37aa33f9-5d2e-4a89-a981-221d0ec65f34","name":"Wait2","webhookId":"e0a4bad9-ee1f-43fd-a53e-9b2e0a45a55e"},{"parameters":{"promptType":"define","text":"='{{ $('Processar Cada Vídeo2').item.json.title }}'\n\nPor favor, forneça o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[720,2960],"id":"64f24d05-71d4-4b98-b428-c72d936debaa","name":"AI Agent5"},{"parameters":{"assignments":{"assignments":[{"id":"0ca78208-43f4-41e4-8480-e5aef07a080a","name":"título","value":"={{ $json.output.text }}","type":"string"},{"id":"ff2af784-60ce-45be-baa4-8a0c4036bb8c","name":"resumo","value":"={{ $('Code5').item.json.output.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,2960],"id":"82beb58d-72c3-4744-8e1b-435fb6e3636e","name":"Edit Fields2"},{"parameters":{"tableId":"Canais","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json['título'] }}"},{"fieldId":"resume","fieldValue":"={{ $json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1320,2960],"id":"3d90a56a-e00a-4e67-be98-66eeed146eac","name":"Salvar Título no Banco de Dados2","credentials":{"supabaseApi":{"id":"wJaq3BiQNlgbESl5","name":"Supabase account"}}},{"parameters":{"content":"## CANAL DE REFERÊNCIA #3 \n**Black Struggles**","height":720,"width":4120,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2380,2720],"id":"ca0c4781-2588-452a-8746-7cf9654010dd","name":"Sticky Note2"},{"parameters":{"rule":{"interval":[{"daysInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2300,1505],"id":"e95a3ac8-0584-48ac-81c1-b7d476842e9c","name":"Iniciar Coleta a Cada 3 Dias - Canal 1","disabled":true},{"parameters":{"rule":{"interval":[{"daysInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2300,2300],"id":"9bcd2919-429e-4339-9dd9-9aecbb5bb2c2","name":"Iniciar Coleta a Cada 3 Dias - Canal 2"},{"parameters":{"rule":{"interval":[{"daysInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2300,3100],"id":"b1084634-6d0a-4f8c-a1b6-58937dafe34a","name":"Iniciar Coleta a Cada 3 Dias - Canal 3","disabled":true}],"connections":{"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Limpeza Periódica DB":{"main":[[{"node":"Limpar Registros Marcados","type":"main","index":0}]]},"Filtrar Vídeos Populares Recentes":{"main":[[{"node":"Ordenar por Visualizações","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Ordenar por Visualizações":{"main":[[{"node":"Extrair Lista de Vídeos","type":"main","index":0}]]},"Extrair Lista de Vídeos":{"main":[[{"node":"Processar Cada Vídeo","type":"main","index":0}]]},"Processar Cada Vídeo":{"main":[[{"node":"Finalizar Execução","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Configurar ID do Canal YouTube":{"main":[[{"node":"Buscar Vídeos do Canal","type":"main","index":0}]]},"Buscar Vídeos do Canal":{"main":[[{"node":"Filtrar Vídeos Populares Recentes","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Configurar ID do Canal YouTube","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0},{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0},{"node":"AI Agent3","type":"ai_outputParser","index":0}]]},"Code3":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Processar Cada Vídeo","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Salvar Título no Banco de Dados1","type":"main","index":0}]]},"Salvar Título no Banco de Dados1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Filtrar Vídeos Populares Recentes1":{"main":[[{"node":"Ordenar por Visualizações1","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo1","type":"main","index":0}]]},"Ordenar por Visualizações1":{"main":[[{"node":"Extrair Lista de Vídeos1","type":"main","index":0}]]},"Extrair Lista de Vídeos1":{"main":[[{"node":"Processar Cada Vídeo1","type":"main","index":0}]]},"Processar Cada Vídeo1":{"main":[[{"node":"Finalizar Execução1","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Configurar ID do Canal YouTube1":{"main":[[{"node":"Buscar Vídeos do Canal1","type":"main","index":0}]]},"Buscar Vídeos do Canal1":{"main":[[{"node":"Filtrar Vídeos Populares Recentes1","type":"main","index":0}]]},"Aguardar e Reiniciar Processo1":{"main":[[{"node":"Configurar ID do Canal YouTube1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code4","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0},{"node":"AI Agent4","type":"ai_outputParser","index":0}]]},"Code4":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Processar Cada Vídeo1","type":"main","index":0}]]},"AI Agent4":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Salvar Título no Banco de Dados","type":"main","index":0}]]},"Salvar Título no Banco de Dados":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Filtrar Vídeos Populares Recentes2":{"main":[[{"node":"Ordenar por Visualizações2","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo2","type":"main","index":0}]]},"Ordenar por Visualizações2":{"main":[[{"node":"Extrair Lista de Vídeos2","type":"main","index":0}]]},"Extrair Lista de Vídeos2":{"main":[[{"node":"Processar Cada Vídeo2","type":"main","index":0}]]},"Processar Cada Vídeo2":{"main":[[{"node":"Finalizar Execução2","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}]]},"Configurar ID do Canal YouTube2":{"main":[[{"node":"Buscar Vídeos do Canal2","type":"main","index":0}]]},"Buscar Vídeos do Canal2":{"main":[[{"node":"Filtrar Vídeos Populares Recentes2","type":"main","index":0}]]},"Aguardar e Reiniciar Processo2":{"main":[[{"node":"Configurar ID do Canal YouTube2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code5","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0},{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0},{"node":"AI Agent5","type":"ai_outputParser","index":0}]]},"Code5":{"main":[[{"node":"AI Agent5","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Processar Cada Vídeo2","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Salvar Título no Banco de Dados2","type":"main","index":0}]]},"Salvar Título no Banco de Dados2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Iniciar Coleta a Cada 3 Dias - Canal 1":{"main":[[{"node":"Configurar ID do Canal YouTube","type":"main","index":0}]]},"Iniciar Coleta a Cada 3 Dias - Canal 2":{"main":[[{"node":"Configurar ID do Canal YouTube1","type":"main","index":0}]]},"Iniciar Coleta a Cada 3 Dias - Canal 3":{"main":[[{"node":"Configurar ID do Canal YouTube2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Iniciar Coleta a Cada 3 Dias":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c4c5d180-8ec7-47a0-99cf-fb3a428d51f2","triggerCount":1,"tags":[{"createdAt":"2025-06-03T13:08:52.656Z","updatedAt":"2025-06-03T13:08:52.656Z","id":"5X46tRV4lwQwBhLN","name":"teste ok"}]}