01---swipe-títulos-[canal-de-orações]-HByafAa4lKw1TMa3.json
{"createdAt":"2025-06-23T19:33:11.499Z","updatedAt":"2025-06-23T19:49:58.509Z","id":"HByafAa4lKw1TMa3","name":"01 - SWIPE TÍTULOS [Canal de Orações]","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-760,1180],"id":"ff9ec04d-a6a7-419d-84eb-c4a780224f9b","name":"Finalizar Execução"},{"parameters":{"jsCode":"// Este código deve ser usado no nó Function do n8n após o nó HTTP Request\n\n// Array para armazenar os resultados filtrados\nconst filteredVideos = [];\n\n// Pegar os dados do HTTP Request (assumindo que está no primeiro item)\nconst videos = $input.all()[0].json.videos;\n\n// Função para converter o tempo publicado para horas\nfunction getHoursFromPublishedTime(publishedTime) {\n  if (publishedTime.includes('hours ago') || publishedTime.includes('hour ago')) {\n    return parseInt(publishedTime.split(' ')[0]);\n  } else if (publishedTime.includes('days ago') || publishedTime.includes('day ago')) {\n    return parseInt(publishedTime.split(' ')[0]) * 24;\n  } else if (publishedTime.includes('minutes ago') || publishedTime.includes('minute ago')) {\n    return 0; // Menos de uma hora\n  } else {\n    return 999; // Não determinável\n  }\n}\n\n// Percorrer cada vídeo e aplicar os filtros\nfor (const video of videos) {\n  const views = video.number_of_views;\n  if (views >= 1000) {\n    const hoursAgo = getHoursFromPublishedTime(video.published_time);\n    if (hoursAgo <= 72) {\n      filteredVideos.push({\n        video_id:     video.video_id,\n        title:        video.title,\n        views:        views,\n        published_time: video.published_time\n      });\n    }\n  }\n}\n\n// Retornar os resultados filtrados\nreturn {\n  json: {\n    filtered_videos: filteredVideos,\n    count: filteredVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1640,1430],"id":"7b846b5c-4bcf-4cb9-a013-cb4e1bb95b81","name":"Filtrar Vídeos Populares Recentes","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Este código deve ser usado em um nó Function no n8n\n// para ordenar vídeos do mais visualizado para o menos visualizado\n\n// Obter os dados do nó anterior\nconst inputData = $input.all()[0].json.filtered_videos || $input.all()[0].json;\n\n// Verificar se os dados são um array\nlet videosToSort = Array.isArray(inputData) ? inputData : [];\n\n// Se os dados vierem em outro formato, tentar extrair\nif (!Array.isArray(inputData) && inputData.filtered_videos) {\n  videosToSort = inputData.filtered_videos;\n}\n\n// Ordenar os vídeos por número de visualizações (do maior para o menor)\nconst sortedVideos = videosToSort.sort((a, b) => {\n  // Garantir que estamos comparando números\n  const viewsA = typeof a.views === 'number' ? a.views : parseInt(a.views);\n  const viewsB = typeof b.views === 'number' ? b.views : parseInt(b.views);\n  \n  // Ordenação decrescente (maior para menor)\n  return viewsB - viewsA;\n});\n\n// Retornar os dados ordenados\nreturn {\n  json: {\n    sorted_videos: sortedVideos,\n    count: sortedVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1420,1380],"id":"08bbb646-8dff-4c9c-b5dd-1601b3d4facc","name":"Ordenar por Visualizações"},{"parameters":{"fieldToSplitOut":"sorted_videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1200,1380],"id":"334e0281-e3e2-4fad-8dbd-414f3e8a0298","name":"Extrair Lista de Vídeos"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-980,1380],"id":"ee534ece-b46f-49f7-97ae-357758d28c2f","name":"Processar Cada Vídeo"},{"parameters":{"assignments":{"assignments":[{"id":"70ebc5bf-aaa9-4c21-8d43-02d1d33b0645","name":"channel_id","value":"id do canal aqui","type":"string"},{"id":"63b7fae7-1c76-4654-9295-a5fe82775a80","name":"x-rapidapi-key","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2080,1505],"id":"3648f421-8e49-49bd-92c6-f7edc66e9386","name":"Configurar ID do Canal YouTube"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/channel/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1860,1430],"id":"2ba17a89-477a-449b-9cfd-a2aea4a717f6","name":"Buscar Vídeos do Canal","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1420,1605],"id":"c6071e19-11ef-4cad-8236-d003805e4449","name":"Aguardar e Reiniciar Processo","webhookId":"36b7c7f0-426b-485e-9a4b-056ed5d8dd72"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/video/subtitles","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-760,1380],"id":"f514d00e-bbc2-47bd-9faf-5e29473edd3b","name":"HTTP Request1","retryOnFail":true},{"parameters":{"fieldToSplitOut":"subtitles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-540,1380],"id":"d086b4fe-2a4f-41ff-8f3d-ded54d6effe0","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-320,1380],"id":"d9b27807-95ad-4da4-af55-f10cf0e89859","name":"Aggregate1"},{"parameters":{"jsCode":"// Acessa o campo 'text' do JSON\nconst texts = items[0].json.text;\n\n// Concatena os textos em um único bloco\nconst concatenatedText = texts.join(' ');\n\n// Retorna o texto concatenado\nreturn [{ json: { text: concatenatedText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,1380],"id":"03e266be-2b30-4609-924f-75669be042a3","name":"Code2"},{"parameters":{"promptType":"define","text":"=\"{{ $json.text }}\"\n\nPor favor, forneça um resumo com extensão entre 1.000 e 2.000 caracteres, sobre o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[120,1380],"id":"3dfa7211-149e-4b48-8af6-ee436fba2726","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[148,1600],"id":"759fb496-f640-4bcf-9d14-434a9e936c22","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"text\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[268,1600],"id":"c446d4df-19cd-4719-8221-dca6656a9e3b","name":"Structured Output Parser1"},{"parameters":{"jsCode":"const data = $item(0).$node[\"AI Agent2\"].json;\ndata.output.text = data.output.text.replace(/[\\r\\n]+/g, ' ');\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,1380],"id":"b38dec6f-f859-4972-ba78-be922bb186b0","name":"Code3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1532,1380],"id":"f466e8d3-7cd0-4716-8952-e504109e83ff","name":"Wait1","webhookId":"d77d56f4-3b75-4db4-98ed-211db1da9df5"},{"parameters":{"promptType":"define","text":"='{{ $('Processar Cada Vídeo').item.json.title }}'\n\nPor favor, forneça o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[716,1380],"id":"f71b12b5-1d87-459c-8db8-561452551a12","name":"AI Agent3"},{"parameters":{"assignments":{"assignments":[{"id":"0ca78208-43f4-41e4-8480-e5aef07a080a","name":"título","value":"={{ $json.output.text }}","type":"string"},{"id":"ff2af784-60ce-45be-baa4-8a0c4036bb8c","name":"resumo","value":"={{ $('Code3').item.json.output.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1092,1380],"id":"019f0f6a-a9f9-41dc-b529-c72205699736","name":"Edit Fields1"},{"parameters":{"tableId":"Canais","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json['título'] }}"},{"fieldId":"resume","fieldValue":"={{ $json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1312,1380],"id":"900775f6-f071-4193-8bad-1d4ecd5d870c","name":"Salvar Título no Banco de Dados1","credentials":{"supabaseApi":{"id":"wJaq3BiQNlgbESl5","name":"Supabase account"}}},{"parameters":{"content":"## CANAL DE REFERÊNCIA #1","height":720,"width":4120,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2380,1140],"id":"1d9e5cb5-4ca3-4ca4-bed1-a1f47d9b3a32","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"daysInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2300,1505],"id":"8cf118dc-a53b-41ea-84d5-89f95f2828a5","name":"Iniciar Coleta a Cada 3 Dias - Canal 1"}],"connections":{"Filtrar Vídeos Populares Recentes":{"main":[[{"node":"Ordenar por Visualizações","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Ordenar por Visualizações":{"main":[[{"node":"Extrair Lista de Vídeos","type":"main","index":0}]]},"Extrair Lista de Vídeos":{"main":[[{"node":"Processar Cada Vídeo","type":"main","index":0}]]},"Processar Cada Vídeo":{"main":[[{"node":"Finalizar Execução","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Configurar ID do Canal YouTube":{"main":[[{"node":"Buscar Vídeos do Canal","type":"main","index":0}]]},"Buscar Vídeos do Canal":{"main":[[{"node":"Filtrar Vídeos Populares Recentes","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Configurar ID do Canal YouTube","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0},{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0},{"node":"AI Agent3","type":"ai_outputParser","index":0}]]},"Code3":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Processar Cada Vídeo","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Salvar Título no Banco de Dados1","type":"main","index":0}]]},"Salvar Título no Banco de Dados1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Iniciar Coleta a Cada 3 Dias - Canal 1":{"main":[[{"node":"Configurar ID do Canal YouTube","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Iniciar Coleta a Cada 3 Dias":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cc767cef-4bc5-4008-98e3-b4c411d5c0d1","triggerCount":1,"tags":[]}