02+03---cria-roteiros---es-2-[canal-de-orações]-fhW9rDWrUB5q3UG8.json
{"createdAt":"2025-07-01T11:54:50.205Z","updatedAt":"2025-07-04T19:14:13.788Z","id":"fhW9rDWrUB5q3UG8","name":"02+03 - CRIA ROTEIROS - ES 2 [Canal de Orações]","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"37654371-c3e9-4a27-9595-789ae89df3b8","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3400,860],"credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3620,860],"id":"582fb2a2-098d-4188-88b0-168317076e7a","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Después de recibir la transcripción, genera una descripción SEO optimizada para un video de oración cristiana.\n\n# OBJETIVO\n- Crear una descripción emocional, espiritual y acogedora.\n- Destacar el propósito del video (fortalecer la fe, traer paz, esperanza, bendición, etc.).\n- Incluir de manera natural las principales palabras clave relacionadas con el nicho de oración y espiritualidad.\n- Agregar al final una lista de **10 hashtags relevantes** para YouTube.\n\n# ESTRUCTURA REQUERIDA\n\nPrimero, crea un párrafo breve (entre **250 y 500 caracteres**) que resuma el propósito espiritual del video. Incluye frases como:\n\n- \"En este video compartimos una poderosa oración...\"\n- \"Una palabra de fe y esperanza para tu vida...\"\n- \"Perfecta para iniciar tu día con la protección y la bendición de Dios...\"\n- \"Esta oración te ayudará a sentir paz, confianza y fortaleza...\"\n\nDespués, añade un listado de **palabras clave** (5 a 10), separadas por comas, relacionadas con:\n\n- Oración\n- Fe\n- Bendición\n- Protección\n- Salmo\n- Dios\n- Espíritu Santo\n- Milagros\n- Victoria\n- Paz\n\nPor último, incluye **10 hashtags SEO-friendly**, como:\n\n- #OracionDeLaMañana\n- #OracionDeProteccion\n- #Dios\n- #Fe\n- #Milagros\n- #Bendicion\n- #PalabraDeDios\n- #OracionPoderosa\n- #Esperanza\n- #Victoria\n\n# FORMATO DE SALIDA\n\nDevuelve únicamente el texto final, **sin saltos de línea dobles (\\n\\n)**, sin markdown, sin conteo de palabras ni comentarios adicionales. Une todo en parágrafos únicos separados por punto. La transcripción completa está en la variable:\n\nGuion: `{{ $('Geração do Roteiro').item.json.message.content }}`\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2800,860],"id":"fceea0fc-d50d-4196-bf6a-167e0b885e81","name":"Gerar SEO","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4060,860],"id":"5d0eb508-1452-414f-8cb5-673269dec97b","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Geração do Roteiro').item.json.message.content }}\n","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3840,860],"id":"94b0b1b1-7d44-470a-848f-5130ff2467a9","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"pasta_id\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3180,860],"id":"a8eed5c6-99ce-4652-aeb9-112037b395a2","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar Variação do Título').item.json.message.content }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4280,860],"id":"fdb3231f-44c8-4e99-9efb-ab6d12e4c24b","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Gerar Variação do Título').item.json.message.content }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4500,860],"id":"df164392-716c-428a-b2b7-8fdab227da33","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\n// Defina o prefixo do canal aqui:\nconst prefixo = \"LPDD_ES_\";\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4(),\n      pasta_id: `${prefixo}_${generateUUIDv4()}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2580,860],"id":"73a0559e-68f0-4105-99e1-e936340db09f","name":"Gerar Chave UUID"},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa1\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa1\"].json[\"Canal\"] }} - {{ $json['título'] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[4720,860],"id":"2dd8f095-defb-4850-a3df-171c12f1d537","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12,"triggerAtMinute":{}}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[560,680],"id":"e97be7bb-5eed-40d0-9112-958be354b63a","name":"Iniciar Processo a Cada 10 Minutos1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.utilizado }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1000,680],"id":"d6a7393f-04aa-4010-9e66-dfd10f0d50a2","name":"Filtrar Títulos Não Processados1"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1220,680],"id":"e12869ae-a7af-4d68-9d20-19939ddbbe20","name":"Selecionar Um Título por Vez1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1820,660],"id":"990994f1-88f0-4887-83c2-25929bbf2b66","name":"Verificar Tamanho do Título1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=# Generador Automático de Premisas Narrativas para Videos de Oración (Alta Retención y Conexión Emocional)\n\nEres un generador experto en crear premisas narrativas profundamente emocionales y espirituales, orientadas a videos de oración para YouTube. Tu función es construir la base emocional y temática perfecta para un guion de aproximadamente 50 minutos, diseñado para mantener alta retención y provocar una fuerte conexión espiritual en la audiencia.\n\nAl recibir el título base, realiza internamente todas las etapas a continuación. Devuelve solo la premisa final ya refinada, en un solo párrafo emocionalmente potente.\n\n## ETAPA 01 — CONSTRUCCIÓN DEL CONCEPTO BASE\n- Convierte el título original en un concepto narrativo central de tipo espiritual.\n- Extrae el potencial emocional y de fe latente.\n- Define el esqueleto emocional y temático que guiará la oración.\n\n## ETAPA 02 — DESARROLLO DEL RESUMEN INICIAL\n- Expande el concepto en un primer párrafo con tono cálido y espiritual.\n- Elige una o más de estas 5 categorías emocionales y temáticas y mezcla sus elementos:\n\n  1. **Esperanza y Superación Espiritual**  \n  2. **Sanación Interior y Protección Divina**  \n  3. **Milagros y Respuestas de Dios**  \n  4. **Fortaleza en Medio de la Adversidad**  \n  5. **Gratitud y Alabanza por las Bendiciones Recibidas**\n\n- Define la emoción central que el video transmitirá (ej: paz, fe renovada, protección, liberación).\n\n## ETAPA 03 — ANÁLISIS DE IMPACTO EMOCIONAL\nVerifica y ajusta:\n- Que haya un conflicto espiritual o una lucha interna clara.\n- Que exista una promesa emocional fuerte que atraiga al espectador.\n- Que la premisa genere expectativa por lo que sucederá durante la oración.\n\n## ETAPA 04 — ENRIQUECIMIENTO NARRATIVO\nReescribe el resumen incorporando:\n- Un dilema espiritual o emocional por superar.\n- Una bendición, respuesta o milagro que se busca alcanzar.\n- Una atmósfera emocional coherente: calma, fe, gratitud, esperanza, etc.\n- Referencias sutiles a pasajes bíblicos si es natural incluir.\n\n## ETAPA 05 — INTENSIFICACIÓN DE LA PROMESA EMOCIONAL\n- Aumenta los sentimientos de urgencia espiritual o de consuelo emocional.\n- Haz que el espectador sienta que este video tiene el poder de cambiar su estado emocional actual.\n\n## ETAPA 06 — FINALIZACIÓN DE LA PREMISA\n- Reescribe en forma de párrafo fluido, sin cortes ni listados.\n- Usa lenguaje visual, cálido y emocional.\n- Mantén un tono de conversación íntima, como si fuera una guía espiritual cercana.\n- Cierra con un gancho emocional que prepare el espectador para sumergirse en el video completo.\n\n## ETAPA 07 — POLIDO FINAL\n- Revisa ritmo, lenguaje y claridad.\n- Garantiza:\n  - Profundidad emocional.\n  - Coherencia espiritual.\n  - Invitación a la fe, oración y conexión con Dios.\n\nNo incluyas títulos, explicaciones, etapas, ni comentarios adicionales.\n"},{"content":"=Título: '{{ $json.message.content }}',\nResumo: ","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2160,540],"id":"351eabfc-5060-4c8f-87b3-0bec0790313c","name":"Criar Premissa Narrativa1","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $('Gerar Variação do Título').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa1').item.json.message.content }}","type":"string"},{"id":"0c7ddf40-34f0-4dc7-8873-5e17d8765e19","name":"ROTEIRO","value":"682b2e0278df7956373f0b4a","type":"string"},{"id":"d33dbbf1-9df9-47b6-b039-fe08f493962a","name":"Canal","value":"@lapresenciadedios","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2760,540],"id":"6c28a057-63fb-4c6b-9bdf-643e780eb7bc","name":"Organizar Título e Premissa1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2160,780],"id":"05d26fb8-b835-49a7-8560-ab5085f9f38e","name":"Aguardar e Reiniciar Processo1","webhookId":"8031955e-f92d-4ffc-a05d-6adf133e690f"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1nW_-7sokNKTUqOEbxyMRwlA6zg35F89R5EUkevubSo8/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nW_-7sokNKTUqOEbxyMRwlA6zg35F89R5EUkevubSo8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[760,680],"id":"c47011dc-532c-4e31-afe0-b92ca605e25e","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"Xv3BZUwpW4oH23E4","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1nW_-7sokNKTUqOEbxyMRwlA6zg35F89R5EUkevubSo8/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nW_-7sokNKTUqOEbxyMRwlA6zg35F89R5EUkevubSo8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"título":"={{ $('Google Sheets').item.json['título'] }}","utilizado":"Sim"},"matchingColumns":["título"],"schema":[{"id":"título","displayName":"título","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utilizado","displayName":"utilizado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2520,540],"id":"9de9ff75-bee6-4399-8b4f-55c64736c707","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"Xv3BZUwpW4oH23E4","name":"Google Sheets account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=# Generador Rotativo de Títulos Espirituales (CTR Máximo)\n\nEres un experto en copywriting emocional y optimización de títulos para YouTube, enfocado en videos de oraciones cristianas. Tu tarea es transformar el título base que recibirás a continuación en un título mucho más emocional, espiritual y con altísimo CTR, inspirado en canales como \"Let's Pray Together\", \"La Vida Eterna\" y \"Pergamino Sagrado\".\n\n## OBJETIVO:\n- Crear un título altamente emocional y espiritual, que refleje esperanza, protección o conexión con Dios.\n- Despertar un deseo profundo de orar en quien lo vea.\n- Hacer con que el video se destaque en el feed de YouTube.\n\n## REGLAS ESTRUCTURALES:\n- Máximo 95 caracteres\n- Solo 2 palabras en MAYÚSCULAS para énfasis emocional\n- Cada palabra debe comenzar con mayúscula (Formato Título)\n- Todo en español neutro\n- OBLIGATORIO incluir al menos 1 de estas palabras: Oración, Poderosa, Salmo, Protección, Milagro, Victoria, Fe, Bendición, Dios\n\n## VARIACIONES ROTATIVAS (elige una fórmula diferente cada vez):\n1. PODEROSA + ORACIÓN + BENEFICIO ESPIRITUAL  \n   Ej: Poderosa Oración Para Dormir En Paz Bajo La Protección De Dios\n\n2. DECLARACIÓN DIRECTA AL ESPECTADOR  \n   Ej: Declara Esta Oración Y Dios Te Llenará De Paz Esta Noche\n\n3. FRASE DE URGENCIA + MILAGRO / PAZ  \n   Ej: No Duermas Sin Esta Oración Que Trae Paz Y Milagros\n\n4. ORACIÓN + MOMENTO DEL DÍA + EFECTO  \n   Ej: Oración Antes De Dormir Para Sentir La Paz De Dios\n\n5. PREGUNTA ESPIRITUAL IMPACTANTE  \n   Ej: ¿Te Cuesta Dormir? Esta Oración Te Hará Sentir La Paz De Dios\n\n6. LLAMADO A LA ACCIÓN  \n   Ej: Ora Esto Hoy Y Verás La Victoria De Dios En Tu Vida\n\n7. COMANDO CON PROMESA  \n   Ej: Escucha Esta Oración Y Suelta Tus Miedos En Las Manos De Dios\n\n## TÉCNICAS RECOMENDADAS:\n- Usa verbos de poder: Declara, Ora, Suelta, Recibe, Escucha, Abre Tu Corazón\n- Insere emociones concretas: miedo, ansiedad, soledad, cansancio\n- Usa “Dios” como figura activa: Dios Te Habla, Dios Te Abraza, Dios Camina Contigo\n\n## SALIDA FINAL:\nDevuelve SOLAMENTE el nuevo título optimizado, sin ningún texto adicional.\n"},{"content":"={{ $json['título'] }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1440,680],"id":"ad4bec55-e35a-4b83-86e2-f0fab39717fd","name":"Gerar Variação do Título","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Eres un escritor experto en guiones devocionales profundamente emocionales y espirituales para YouTube. Tu estilo debe ser cálido, íntimo y cercano, como en el canal \"Let’s Pray Together\", con inspiración adicional de \"La Vida Eterna\" y \"Pergamino Sagrado\".\n\nTu misión es escribir un guion inspirado en la premisa a continuación, con un tono que conecte desde el corazón, como si hablaras a un amigo con el alma herida:\n\n“{{ $('Organizar Título e Premissa1').item.json.premissa }}”\n\n### INSTRUCCIONES:\n- Comienza con una frase emocional muy fuerte (gancho) para los primeros 10 segundos.\n- Desarrolla un mensaje de fe, esperanza, consuelo y protección divina.\n- Usa frases cortas, pausadas y con ritmo suave.\n- Termina con una oración final de cierre, amorosa y esperanzadora.\n\n### Formato obligatorio:\n- Español neutro.\n- Nada de encabezados ni markdown.\n- No uses citas bíblicas directas (solo si encaixan orgánicamente).\n- Longitud: entre 300 y 400 palabras.\n- SOLO devuelve el texto corrido, sin saltos dobles de línea, sin “\\n”, sin comentarios adicionales.\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3060,540],"id":"46ff775d-5277-40d4-8d31-7b2e9aeffc08","name":"Geração do Roteiro","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}}],"connections":{"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Iniciar Processo a Cada 10 Minutos1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Filtrar Títulos Não Processados1":{"main":[[{"node":"Selecionar Um Título por Vez1","type":"main","index":0}]]},"Selecionar Um Título por Vez1":{"main":[[{"node":"Gerar Variação do Título","type":"main","index":0}]]},"Verificar Tamanho do Título1":{"main":[[{"node":"Criar Premissa Narrativa1","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo1","type":"main","index":0}]]},"Criar Premissa Narrativa1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Organizar Título e Premissa1":{"main":[[{"node":"Geração do Roteiro","type":"main","index":0}]]},"Aguardar e Reiniciar Processo1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Filtrar Títulos Não Processados1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Organizar Título e Premissa1","type":"main","index":0}]]},"Gerar Variação do Título":{"main":[[{"node":"Verificar Tamanho do Título1","type":"main","index":0}]]},"Geração do Roteiro":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0c92cbdb-1cd9-4d85-b682-2a3450122bec","triggerCount":0,"tags":[{"createdAt":"2025-06-03T13:08:52.656Z","updatedAt":"2025-06-03T13:08:52.656Z","id":"5X46tRV4lwQwBhLN","name":"teste ok"}]}