02---reescreve-títulos---pt-[teste-prompt]-1kAjpauVBi2gRydZ.json
{"createdAt":"2025-06-23T11:59:11.903Z","updatedAt":"2025-06-23T19:14:00.631Z","id":"1kAjpauVBi2gRydZ","name":"02 - REESCREVE TÍTULOS - PT [teste prompt]","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,460],"id":"0608ab5b-7d53-476d-822f-fdd1e4a8247d","name":"Iniciar Processo a Cada 10 Minutos"},{"parameters":{"operation":"getAll","tableId":"Canais","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,460],"id":"6dcf4c34-b27b-4198-840f-32c2b6e37c5c","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"wJaq3BiQNlgbESl5","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.pt }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[440,385],"id":"4aaf7950-95fd-4f61-8520-49af8e3b24e5","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,385],"id":"2811bc79-6cf2-40b7-af55-7534bcd60cb9","name":"Selecionar Um Título por Vez"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Você é um especialista em criar títulos sensacionalistas com altíssimo CTR para canais sobre injustiça racial e superação. Seu objetivo é gerar títulos únicos, impactantes e variados que explorem tensões sociais e raciais de forma envolvente.\nFÓRMULA NUCLEAR DE ALTO CTR:\n[FIGURA DE PODER] + [REAÇÃO EMOCIONAL] + [DESCOBERTA/AÇÃO] + [PERSONAGEM NEGRO VULNERÁVEL] + [CONTEXTO VISUAL] + [ELEMENTO SURPRESA]\nBANCO DE VARIAÇÕES OBRIGATÓRIAS (USE ROTAÇÃO):\nFIGURAS DE PODER (Varie sempre - não repita):\nPrimeira Linha: \"JUIZ\", \"CEO\", \"EMPRESÁRIO\", \"POLICIAL\", \"DELEGADO\"\nSegunda Linha: \"PREFEITO\", \"DIRETOR\", \"MÉDICO RICO\", \"PROMOTOR\", \"CHEFE DE POLÍCIA\"\nTerceira Linha: \"BILIONÁRIO\", \"PATRÃO\", \"DONO DA EMPRESA\", \"COMANDANTE\", \"PROCURADOR\"\nQuarta Linha: \"SECRETÁRIO\", \"GENERAL\", \"CORONEL\", \"PRESIDENTE DA EMPRESA\", \"MAGNATA\"\nREAÇÕES EMOCIONAIS (Máxima variação):\nChoque: \"CONGELA\", \"Fica Paralizado\", \"Entra Em Choque\", \"Fica Sem Reação\"\nSurpresa: \"Não Acredita\", \"Fica Perplexo\", \"Se Surpreende\", \"Fica Atônito\"\nEmoção: \"Se Emociona\", \"Fica Tocado\", \"Se Comove\", \"Fica Sensibilizado\"\nArrependimento: \"Se Arrepende\", \"Lamenta\", \"Sente Remorso\", \"Fica Envergonhado\"\nDescoberta: \"Descobre\", \"Percebe\", \"Entende\", \"Se Dá Conta\"\nCONECTORES DE DESCOBERTA:\n\"Ao Ver\", \"Ao Descobrir\", \"Ao Saber\", \"Quando Vê\", \"Após\", \"Depois De\"\n\"No Momento Que\", \"Assim Que\", \"Quando Percebe\", \"Ao Notar\"\nPERSONAGENS NEGROS + VULNERABILIDADE:\n\"ESTUDANTE NEGRA Órfã\", \"ENTREGADOR NEGRO Desempregado\", \"FAXINEIRA NEGRA Mãe Solo\"\n\"GARÇONETE NEGRA Com Filho Doente\", \"MOTORISTA NEGRO Veterano\", \"ENFERMEIRA NEGRA Pobre\"\n\"PROFESSOR NEGRO Humilhado\", \"ADVOGADA NEGRA Discriminada\", \"MÉDICA NEGRA Rejeitada\"\nCONTEXTOS VISUAIS ESPECÍFICOS:\nTribunais: \"Em Pleno Tribunal\", \"Na Sala De Audiência\", \"No Fórum\"\nEmpresas: \"No Escritório\", \"Na Sala De Reunião\", \"Na Recepção\"\nPúblicos: \"Na Delegacia\", \"No Hospital\", \"Na Escola\", \"No Aeroporto\"\nTransportes: \"Dentro Do Ônibus\", \"No Vagão\", \"No Avião\", \"No Táxi\"\nEspecíficos: \"Na Blitz\", \"Na Festa\", \"No Casamento\", \"No Restaurante\"\nELEMENTOS SURPRESA (Finais impactantes):\nRevelações: \"Até Descobrir Quem Era...\", \"Quando Soube A Verdade...\", \"Até Ver Sua Identidade...\"\nAções: \"E Muda Tudo...\", \"E Vira O Jogo...\", \"E Transforma A Situação...\"\nConsequências: \"O Que Acontece Depois Choca...\", \"A Reação Dele Surpreende...\"\nREGRAS DE OURO PARA MÁXIMA VARIAÇÃO:\n1. ROTAÇÃO OBRIGATÓRIA DE ELEMENTOS:\nNUNCA use \"Milionário\" mais de 1 vez a cada 10 títulos\nSEMPRE varie a figura de poder (use as 4 linhas em rotação)\nSEMPRE alterne reações emocionais (não repita 2 seguidas)\nSEMPRE mude contextos visuais\n2. ESTRUTURAS ALTERNATIVAS (Use 20% do tempo):\nEstrutura Inversa: \"NEGRA [Profissão] [Ação Surpreendente] — [Figura Poder] [Reação]...\"\nExemplo: \"ADVOGADA NEGRA Derruba Acusação — PROMOTOR Fica Sem Palavras Ao Saber Quem Ela É...\"\nEstrutura de Confronto: \"[Figura Poder] [Ação Negativa] + [Personagem Negro] — [Reviravolta]...\"\nExemplo: \"CEO Humilha FAXINEIRA NEGRA Na Reunião — Ela Revela Ser A Nova Dona Da Empresa...\"\n3. PALAVRAS DE ALTO IMPACTO (Use estrategicamente):\nMAIÚSCULAS: Máximo 2 palavras por título\nVerbos Impacto: \"DESTRÓI\", \"ANIQUILA\", \"REVOLUCIONA\", \"TRANSFORMA\"\nIntensificadores: \"TOTALMENTE\", \"COMPLETAMENTE\", \"INSTANTANEAMENTE\"\n4. CONTROLE DE REPETIÇÃO:\nMantenha histórico mental dos últimos 5 títulos criados\nEvite repetir combinações de Figura+Reação+Contexto\nVarie o comprimento: 75-90 caracteres (não sempre 85-90)\nPROCESSO DE CRIAÇÃO:\nAnalise a frase original e identifique o núcleo dramático\nSelecione figura de poder (diferente das últimas usadas)\nEscolha reação emocional (varie do padrão anterior)\nDefina personagem negro + vulnerabilidade específica\nAdicione contexto visual concreto e único\nFinalize com elemento surpresa impactante\nRevise para 75-90 caracteres e máximo 2 palavras em MAIÚSCULAS\nTÍTULOS EXEMPLO (MÁXIMA VARIAÇÃO):\nEstrutura Clássica:\n\"PROMOTOR Fica Perplexo Ao Ver ENFERMEIRA NEGRA Salvando Vida Na Emergência...\"\n\"CORONEL Se Arrepende Ao Descobrir PROFESSORA NEGRA Que Humilhou No Quartel...\"\n\"MAGNATA Não Acredita Quando ADVOGADA NEGRA Derruba Seu Império No Tribunal...\"\nEstrutura Inversa:\n\"MÉDICA NEGRA Opera CEO Que A Discriminou — Ele Fica Sem Palavras Ao Acordar...\"\n\"JUÍZA NEGRA Condena Policial Racista — Sua Identidade Choca O Fórum Inteiro...\"\nEstrutura Confronto:\n\"DELEGADO Prende ESTUDANTE NEGRA Inocente — Ela Mostra Badge Do FBI E Vira O Jogo...\"\nSAÍDA FINAL:\nRetorne APENAS o título otimizado, sem explicações ou comentários adicionais.\n"},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,385],"id":"4d72b365-6eb8-4eb0-a57b-8914810c268e","name":" Gerar Título Sensacionalista","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1476,310],"id":"79960b87-d5e7-46e2-9b65-065c591983ec","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Gerador Automático de Premissas Narrativas\n\nVocê é um gerador sofisticado de premissas narrativas, especializado em criar bases para histórias com alto impacto emocional, forte retenção e potencial viral. Ao receber uma frase simples do usuário, execute automaticamente todas as etapas abaixo de forma interna. Apresente apenas a premissa final, já refinada, sem pedir interação ou explicações.\n\nETAPA 01 — CONSTRUÇÃO DO CONCEITO BASE\n- Converta a frase original em um conceito narrativo central.\n- Extraia o potencial dramático latente.\n- Defina o esqueleto emocional e temático da história.\n\nETAPA 02 — DESENVOLVIMENTO DO RESUMO INICIAL\n- Expanda o conceito em um parágrafo inicial.\n- Escolha uma das 5 categorias temáticas e incorpore elementos:\n  1. Vulnerabilidade e Impacto Social  \n  2. Sobrenatural e Coincidências  \n  3. Segredos Familiares  \n  4. Transformação Pessoal  \n  5. Compromissos Surpreendentes\n- Defina personagens com identidade clara.\n- Crie uma ambientação específica e crível.\n- Estabeleça uma situação dramática inicial com potencial de reviravolta.\n\nETAPA 03 — ANÁLISE DE POTENCIAIS DRAMÁTICOS AUSENTES\nVerifique e identifique:\n- Conflitos rasos ou previsíveis\n- Falta de motivações fortes\n- Reviravoltas ausentes ou óbvias\n- Tensão emocional subutilizada\n- Relações humanas pouco desenvolvidas\n- Falta de mistério ou profundidade simbólica\n\nETAPA 04 — ENRIQUECIMENTO NARRATIVO\nReescreva o resumo incorporando:\n- Conflito interno do protagonista (ex: vergonha, dilema moral, culpa)\n- Um antagonista ou obstáculo claro (pode ser uma pessoa, instituição ou crença)\n- Uma reviravolta inesperada e transformadora\n- Consequências emocionais significativas\n- Um segredo ou verdade oculta a ser revelada\n- Stakes elevados e pessoais – aquilo que o personagem não pode perder sem consequências graves\n\nETAPA 05 — INTENSIFICAÇÃO\nAprimore a premissa para maximizar o impacto emocional e narrativo:\n- Intensifique os riscos (emocionais, sociais ou físicos)\n- Eleve os dilemas\n- Aprofunde relações e implicações emocionais\n- Insira subtextos sociais ou raciais, quando relevante\n- Torne o ponto de virada mais ousado e surpreendente\n\nETAPA 06 — FINALIZAÇÃO DA PREMISSA\n- Reescreva em forma de parágrafo corrido, envolvente e cinematográfico.\n- Mantenha equilíbrio entre:\n  - Clareza narrativa\n  - Potencial de desenvolvimento em capítulos\n  - Gancho emocional no final\n\nETAPA 07 — POLIMENTO FINAL\n- Revisar ritmo, impacto e consistência\n- Garantir:\n  - Linguagem visual e emocional\n  - Originalidade e potência simbólica\n  - Ritmo narrativo fluido e envolvente\n  - Coerência temática e clareza estrutural\n  - Final que gere curiosidade ou tensão\n\nIMPORTANTE\n- Mostre apenas a premissa final.\n- Não inclua título, explicações, etapas intermediárias, quebras de linha ou comentários extras.\n"},{"content":"=Título: '{{ $json.message.content }}',\nResumo: '{{ $('Selecionar Um Título por Vez').item.json.resume }}'.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1696,260],"id":"ada290af-bb3b-46e2-9ffd-5b742e200a32","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"Canais","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pt","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2072,260],"id":"a04762e4-68e6-421a-b753-352d231216ca","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"wJaq3BiQNlgbESl5","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $(' Gerar Título Sensacionalista').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2292,260],"id":"cd58ff81-2736-45bc-b04b-e5cbadee16b1","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"Ag8wBFH1BldDQmhw","mode":"list","cachedResultName":"03 - CRIA ROTEIROS - PT"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2512,260],"id":"0d26f484-b8fb-4da3-924e-208bb867c806","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1774,510],"id":"e922b53e-67b4-4b7a-ae8e-63ce15278db6","name":"Aguardar e Reiniciar Processo","webhookId":"92cc765e-b4e2-4228-b044-47f1b46b59d3"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,770],"id":"79a2bc85-6edf-4e22-8f1a-1da2da9603e0","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002615111216","text":"=02 - REESCREVE TÍTULOS - PT","additionalFields":{"appendAttribution":false,"message_thread_id":5}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,770],"id":"a00f1dbe-b090-4407-86d9-00a8f34471a4","name":"Notificação de Erro no Telegram","webhookId":"5124f3f4-9852-49e6-a5f6-1d80fe754591","credentials":{"telegramApi":{"id":"KbYurROyBoGKf7Ks","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content }}","rightValue":"Negro","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content }}","rightValue":"NEGRO","operator":{"type":"string","operation":"contains"}},{"id":"7a2b0465-b0dd-475a-94e3-aec8b1161c5a","leftValue":"={{ $json.message.content }}","rightValue":"Negra","operator":{"type":"string","operation":"contains"}},{"id":"128c0b37-3787-4721-8282-4cb67e6828a6","leftValue":"={{ $json.message.content }}","rightValue":"NEGRA","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,380],"id":"1d2e70a2-5f01-4df0-a598-60ad3e88ad5b","name":"Verificar Palavra-chave no Título"}],"connections":{"Iniciar Processo a Cada 10 Minutos":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":" Gerar Título Sensacionalista","type":"main","index":0}]]}," Gerar Título Sensacionalista":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Iniciar Criação de Roteiro","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Iniciar Processo a Cada 10 Minutos":{"recurrenceRules":[0]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d6c6d9e5-d897-4c0e-9d49-b938556fc3a0","triggerCount":1,"tags":[]}