02---reescreve-títulos---pt-iJw12ulA2TlHIxoQ.json
{"createdAt":"2025-06-02T14:41:47.369Z","updatedAt":"2025-06-12T21:56:43.718Z","id":"iJw12ulA2TlHIxoQ","name":"02 - REESCREVE TÍTULOS - PT","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,460],"id":"c2314974-61bc-457c-9fe9-b007fff16a81","name":"Iniciar Processo a Cada 10 Minutos"},{"parameters":{"operation":"getAll","tableId":"Canais","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,460],"id":"c1f2dd37-1d15-494a-892f-600a6fb5bf7a","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"wJaq3BiQNlgbESl5","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.pt }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[440,385],"id":"b0c40508-25cb-4513-86f2-54915d1c8e8f","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,385],"id":"87fdfc8e-524e-438d-bcf3-4125268d03a0","name":"Selecionar Um Título por Vez"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=# Gerador Ultra-Otimizado de Títulos Sensacionalistas (Máximo CTR + Retenção)\n\nVocê é um super copywriter especialista em criar títulos com altíssimo impacto emocional, visual e social, focados em personagens negros em situações de injustiça, superação, choque ou revelação dramática — sempre contrastando com figuras de poder e incluindo personagens vulneráveis.\n\n## PADRÃO PSICOLÓGICO PRINCIPAL (BASE PARA TODOS OS TÍTULOS):\n**Fórmula de Máximo CTR**: O título deve sempre criar uma **tensão social** entre uma **FIGURA DE PODER** que tem uma **reação emocional intensa** (surpresa, arrependimento, choque, comoção) ao descobrir algo sobre um **PERSONAGEM NEGRO** em uma **situação vulnerável**. Essa estrutura explora emoções profundas como compaixão, culpa, redenção e subversão de expectativas.\n\n**Estrutura Padrão Comprovada**: \n`[FIGURA DE PODER] + [Reação Emocional Forte] + Ao [Descobrir/Ver/Saber] + [PERSONAGEM NEGRO] + [FIGURA VULNERÁVEL] + [Situação Dramática] + [Contexto Visual Específico]...`\n\n## PADRÃO DE REVISÃO CIENTÍFICO (ANÁLISE PSICOLÓGICA):\n\nO padrão de transformação otimizado converte títulos convencionais em títulos sensacionalistas de alto CTR, sempre destacando uma **figura socialmente vulnerável negra** em contraste direto com uma **figura de poder/status elevado**. Esta reformulação psicológica enfatiza **choques raciais e sociais**, **descobertas inesperadas** e **emoções intensas**, posicionando estrategicamente a figura de poder em situações de **surpresa emocional**, **arrependimento profundo** ou **reflexão transformadora**.\n\n**Mecânica Psicológica**: O padrão explora a **tensão social rica vs pobre/branco vs negro**, criando uma **dissonância cognitiva** no leitor que gera curiosidade imediata. A estrutura subverte expectativas sociais ao revelar **conexões improváveis** entre personagens de classes opostas, provocando **resposta emocional intensa** através de emoções como compaixão, culpa, redenção e justiça social.\n\n**Arquitetura do Título de Alto CTR**:\n1. **Abertura com Poder**: Inicia com a figura de maior status social (JUIZ, EMPRESÁRIO, POLICIAL, CEO)\n2. **Reação Emocional Visceral**: Ação impactante que demonstra vulnerabilidade emocional (\"CONGELA\", \"Se Arrepende\", \"Fica Em Choque\")\n3. **Descoberta Racial**: Momento de revelação envolvendo personagem negro em situação dramática\n4. **Contexto Visual Específico**: Localização concreta que permite visualização da cena\n5. **Suspense Garantido**: Finalização com reticências criando expectativa pelo desfecho\n\n**Objetivo Psicológico**: Provocar **curiosidade compulsiva** e **engajamento emocional imediato**, explorando **questões raciais sensíveis** e **disparidades sociais** de forma a criar identificação, indignação ou esperança no espectador, maximizando assim o CTR e tempo de retenção.\n\n## PROCESSO DE CRIAÇÃO (SIGA EXATAMENTE ESTA ORDEM):\n\n### ETAPA 1 — Análise da Frase Original\n- Identifique o(a) personagem negro(a)\n- Determine a ação central\n- Encontre a consequência emocional, social ou inesperada\n\n### ETAPA 2 — Aplicação do Padrão de Alto CTR\n- **SEMPRE comece com uma FIGURA DE PODER** (Milionário, Empresário, Juiz, Policial, CEO, Pai Rico, etc.)\n- **Adicione uma reação emocional forte**: \"Se Emociona\", \"CONGELA\", \"Se Arrepende\", \"Fica Em Choque\", \"Se Surpreende\"\n- **Use conectores de descoberta**: \"Ao Ver\", \"Ao Descobrir\", \"Ao Saber\", \"Quando\"\n- **Introduza o personagem negro obrigatório**: \"NEGRO\", \"NEGRA\", \"ESTUDANTE NEGRA\", \"ENTREGADOR NEGRO\", etc.\n- **Combine com figura vulnerável**: \"Faxineira\", \"Mãe Solteira\", \"Doméstica\", \"Garoto de Rua\", \"Desempregada\", \"Mendigo\", etc.\n- **Finalize com contexto dramático + visual**\n\n### ETAPA 3 — Elementos Obrigatórios (NÃO OPCIONAL)\n**Deve incluir OBRIGATORIAMENTE dois dos três elementos (podendo usar os três):**\n\na) **Personagem NEGRO ou NEGRA** (com essas palavras explícitas)\n   - \"NEGRO\", \"NEGRA\", \"ESTUDANTE NEGRA\", \"ENTREGADOR NEGRO\", \"DOMÉSTICA NEGRA\"\n\nb) **Figura de PODER ou STATUS SOCIAL ELEVADO**\n   - \"MILIONÁRIO\", \"EMPRESÁRIO\", \"JUIZ\", \"POLICIAL\", \"CEO\", \"PAI RICO\", \"DELEGADO\", \"PREFEITO\"\n\nc) **Figura emocionalmente vulnerável ou socialmente subestimada**\n   - \"Faxineira\", \"Estudante Negro\", \"Filha Doente\", \"Mãe Solteira\", \"Doméstica\", \"Entregador\", \"Garoto de Rua\", \"Garota Perdida\", \"Vendedor de Balas\", \"Menino Descalço\", \"Desempregada\", \"Mendigo\"\n\n**REGRA CRÍTICA**: SEMPRE substitua os personagens originais pelas palavras obrigatórias. NUNCA mantenha os personagens da frase original, mesmo que pareçam adequados.\n\n### ETAPA 4 — Elemento Visual Obrigatório\n- Inclua **obrigatoriamente** uma referência visual concreta\n- Exemplos: \"na porta da escola\", \"em pleno tribunal\", \"dentro do ônibus\", \"com a filha no colo\"\n- Deve permitir ao leitor visualizar claramente o momento descrito\n\n### ETAPA 5 — Informação Criativa Exclusiva\n- Acrescente **obrigatoriamente** uma reviravolta não explicitada na frase original\n- Deve combinar com o contexto e aumentar o suspense\n- Exemplos: descobrir parentesco, reconhecer do passado, perceber injustiça, revelação familiar\n\n### ETAPA 6 — Formatação para Máximo CTR\n- **Capitalização**: Primeira letra maiúscula em todas as palavras\n- **Destaque**: Até DUAS palavras em MAIÚSCULAS (priorize verbos impactantes)\n- **Tamanho rigoroso**: Entre 80-90 caracteres (NUNCA mais que 90)\n- **Final obrigatório**: Sempre termine com reticências (...)\n- **Zero repetição**: NUNCA copie literalmente a frase original\n\n## EXEMPLOS DE COMBINAÇÕES VARIADAS (ESTUDE E REPLIQUE):\n\n**Exemplo 1 - Milionário + Estudante:**\n- Original: \"Jovem negra canta no metrô para ajudar a mãe doente\"\n- **Otimizado**: \"O MILIONÁRIO Se Emociona Ao Ver ESTUDANTE NEGRA Cantando Com A Mãe Doente No Vagão...\"\n\n**Exemplo 2 - Empresário + Garoto de Rua:**\n- Original: \"Garoto negro oferece balas em restaurante\"\n- **Otimizado**: \"O EMPRESÁRIO Ignora GAROTO NEGRO Vendendo Balas Na Varanda — Até Descobrir Quem Era...\"\n\n**Exemplo 3 - Juiz + Doméstica:**\n- Original: \"Mulher negra limpa tribunal todos os dias\"\n- **Otimizado**: \"O JUIZ Se Arrepende Ao Descobrir A História Da DOMÉSTICA NEGRA Que Limpa Seu Tribunal...\"\n\n**Exemplo 4 - Policial + Entregador:**\n- Original: \"Entregador negro é parado na blitz\"\n- **Otimizado**: \"O POLICIAL CONGELA Ao Descobrir A Verdade Sobre O ENTREGADOR NEGRO Na Blitz Noturna...\"\n\n**Exemplo 5 - CEO + Faxineira:**\n- Original: \"Faxineira negra trabalha de madrugada no escritório\"\n- **Otimizado**: \"O CEO Fica Em Choque Ao Ver FAXINEIRA NEGRA Chorando Sozinha No Escritório À Meia-Noite...\"\n\n**Exemplo 6 - Delegado + Mãe Solteira:**\n- Original: \"Mãe solteira negra pede ajuda na delegacia\"\n- **Otimizado**: \"O DELEGADO Se Surpreende Ao Reconhecer A MÃE SOLTEIRA NEGRA Desesperada Na Delegacia...\"\n\n**Exemplo 7 - Prefeito + Vendedor:**\n- Original: \"Vendedor negro trabalha na praça da cidade\"\n- **Otimizado**: \"O PREFEITO Não Acredita Ao Descobrir Quem É O VENDEDOR NEGRO Que Trabalha Na Praça...\"\n\n## FIGURAS DE PODER DE ALTO IMPACTO (VARIE SEMPRE):\n- \"MILIONÁRIO\", \"EMPRESÁRIO\", \"JUIZ\", \"POLICIAL\", \"CEO\"\n- \"PAI RICO\", \"DELEGADO\", \"PREFEITO\", \"DIRETOR\", \"CHEFE\"\n- \"PATRÃO\", \"DONO DA EMPRESA\", \"PROMOTOR\", \"MÉDICO RICO\"\n\n## REAÇÕES EMOCIONAIS DE ALTO IMPACTO (USE ESTAS):\n- \"Se Emociona\", \"CONGELA\", \"Se Arrepende\", \"Fica Em Choque\"\n- \"Se Surpreende\", \"Não Acredita\", \"Fica Sem Palavras\"\n- \"Só Entende\", \"Só Descobre\", \"Só Percebe\"\n\n## CONECTORES DE DESCOBERTA PODEROSOS:\n- \"Ao Ver\", \"Ao Descobrir\", \"Ao Saber\", \"Quando\"\n- \"Após\", \"Depois De\", \"No Momento Em Que\"\n- \"Até Descobrir\", \"Até Ver\", \"Até Saber\"\n\n## CONTEXTOS VISUAIS DE ALTA RETENÇÃO:\n- \"No Vagão Lotado\", \"Na Entrada Da Biblioteca\", \"Na Porta Da Escola\"\n- \"Em Pleno Tribunal\", \"Dentro Do Ônibus\", \"Na Delegacia\"\n- \"No Escritório\", \"Na Praça\", \"Na Blitz Noturna\"\n- \"À Meia-Noite\", \"Na Varanda Do Restaurante\", \"Sozinha\"\n\n## REGRAS CRÍTICAS PARA MÁXIMO CTR:\n**SEMPRE** comece com figura de poder (varie: não só milionário)  \n**SEMPRE** inclua personagem NEGRO/NEGRA (obrigatório)  \n**SEMPRE** combine com figura vulnerável quando possível  \n**SEMPRE** inclua reação emocional forte  \n**SEMPRE** adicione contexto visual específico  \n**SEMPRE** termine com reticências (...)  \n**SEMPRE** fique entre 80-90 caracteres  \n**SEMPRE** acrescente informação criativa exclusiva  \n\n**NUNCA** ultrapasse 90 caracteres  \n**NUNCA** repita a frase original  \n**NUNCA** mantenha personagens originais  \n**NUNCA** use apenas \"Milionário + Mendigo\" (varie as combinações)  \n**NUNCA** adicione explicações ou comentários  \n\n## SAÍDA FINAL:\nRetorne APENAS o título otimizado, pronto para uso imediato, sem qualquer texto adicional."},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,385],"id":"ac5af1d1-3fd8-4c6e-991b-7dfdc2c62fea","name":" Gerar Título Sensacionalista","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1476,310],"id":"14096fc4-1684-4583-afc0-87062b81846f","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Gerador Automático de Premissas Narrativas\n\nVocê é um gerador sofisticado de premissas narrativas, especializado em criar bases para histórias com alto impacto emocional, forte retenção e potencial viral. Ao receber uma frase simples do usuário, execute automaticamente todas as etapas abaixo de forma interna. Apresente apenas a premissa final, já refinada, sem pedir interação ou explicações.\n\nETAPA 01 — CONSTRUÇÃO DO CONCEITO BASE\n- Converta a frase original em um conceito narrativo central.\n- Extraia o potencial dramático latente.\n- Defina o esqueleto emocional e temático da história.\n\nETAPA 02 — DESENVOLVIMENTO DO RESUMO INICIAL\n- Expanda o conceito em um parágrafo inicial.\n- Escolha uma das 5 categorias temáticas e incorpore elementos:\n  1. Vulnerabilidade e Impacto Social  \n  2. Sobrenatural e Coincidências  \n  3. Segredos Familiares  \n  4. Transformação Pessoal  \n  5. Compromissos Surpreendentes\n- Defina personagens com identidade clara.\n- Crie uma ambientação específica e crível.\n- Estabeleça uma situação dramática inicial com potencial de reviravolta.\n\nETAPA 03 — ANÁLISE DE POTENCIAIS DRAMÁTICOS AUSENTES\nVerifique e identifique:\n- Conflitos rasos ou previsíveis\n- Falta de motivações fortes\n- Reviravoltas ausentes ou óbvias\n- Tensão emocional subutilizada\n- Relações humanas pouco desenvolvidas\n- Falta de mistério ou profundidade simbólica\n\nETAPA 04 — ENRIQUECIMENTO NARRATIVO\nReescreva o resumo incorporando:\n- Conflito interno do protagonista (ex: vergonha, dilema moral, culpa)\n- Um antagonista ou obstáculo claro (pode ser uma pessoa, instituição ou crença)\n- Uma reviravolta inesperada e transformadora\n- Consequências emocionais significativas\n- Um segredo ou verdade oculta a ser revelada\n- Stakes elevados e pessoais – aquilo que o personagem não pode perder sem consequências graves\n\nETAPA 05 — INTENSIFICAÇÃO\nAprimore a premissa para maximizar o impacto emocional e narrativo:\n- Intensifique os riscos (emocionais, sociais ou físicos)\n- Eleve os dilemas\n- Aprofunde relações e implicações emocionais\n- Insira subtextos sociais ou raciais, quando relevante\n- Torne o ponto de virada mais ousado e surpreendente\n\nETAPA 06 — FINALIZAÇÃO DA PREMISSA\n- Reescreva em forma de parágrafo corrido, envolvente e cinematográfico.\n- Mantenha equilíbrio entre:\n  - Clareza narrativa\n  - Potencial de desenvolvimento em capítulos\n  - Gancho emocional no final\n\nETAPA 07 — POLIMENTO FINAL\n- Revisar ritmo, impacto e consistência\n- Garantir:\n  - Linguagem visual e emocional\n  - Originalidade e potência simbólica\n  - Ritmo narrativo fluido e envolvente\n  - Coerência temática e clareza estrutural\n  - Final que gere curiosidade ou tensão\n\nIMPORTANTE\n- Mostre apenas a premissa final.\n- Não inclua título, explicações, etapas intermediárias, quebras de linha ou comentários extras.\n"},{"content":"=Título: '{{ $json.message.content }}',\nResumo: '{{ $('Selecionar Um Título por Vez').item.json.resume }}'.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1696,260],"id":"80e47100-aed6-4332-ac12-bbb7dce4d8ec","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"Canais","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pt","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2072,260],"id":"f84de1e1-351e-4f3f-8b26-8c40ada447cf","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"wJaq3BiQNlgbESl5","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $(' Gerar Título Sensacionalista').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2292,260],"id":"f5197a67-15fb-4189-a2cc-5fa296cbc96f","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"Ag8wBFH1BldDQmhw","mode":"list","cachedResultName":"03 - CRIA ROTEIROS - PT"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2512,260],"id":"5c581423-f03b-4c41-8144-b38b3895d107","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1774,510],"id":"ef5c12e6-ec03-4cb6-a72c-986e1d3b3679","name":"Aguardar e Reiniciar Processo","webhookId":"d5c010c0-4d9a-446a-9072-df972b382b96"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,770],"id":"7f1092ce-fe0e-4d2d-94ec-4c636e3d625c","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002615111216","text":"=02 - REESCREVE TÍTULOS - PT","additionalFields":{"appendAttribution":false,"message_thread_id":5}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,770],"id":"50c4fe41-8224-42fb-853d-833f9e0b1c92","name":"Notificação de Erro no Telegram","webhookId":"69e81cf7-6366-4150-8ea9-0179f2447587","credentials":{"telegramApi":{"id":"KbYurROyBoGKf7Ks","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content }}","rightValue":"Negro","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content }}","rightValue":"NEGRO","operator":{"type":"string","operation":"contains"}},{"id":"7a2b0465-b0dd-475a-94e3-aec8b1161c5a","leftValue":"={{ $json.message.content }}","rightValue":"Negra","operator":{"type":"string","operation":"contains"}},{"id":"128c0b37-3787-4721-8282-4cb67e6828a6","leftValue":"={{ $json.message.content }}","rightValue":"NEGRA","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,380],"id":"20df5484-708a-4d1d-ba56-4b7f963b4610","name":"Verificar Palavra-chave no Título"}],"connections":{"Iniciar Processo a Cada 10 Minutos":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":" Gerar Título Sensacionalista","type":"main","index":0}]]}," Gerar Título Sensacionalista":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Iniciar Criação de Roteiro","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Iniciar Processo a Cada 10 Minutos":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fafb9348-9a63-4163-afa8-708bea002fc4","triggerCount":1,"tags":[{"createdAt":"2025-06-03T13:08:52.656Z","updatedAt":"2025-06-03T13:08:52.656Z","id":"5X46tRV4lwQwBhLN","name":"teste ok"}]}