02---reescreve-títulos---es-[canal-de-orações]-cUyPEVzWGPUllg8A.json
{"createdAt":"2025-06-23T19:33:54.030Z","updatedAt":"2025-06-23T22:19:07.685Z","id":"cUyPEVzWGPUllg8A","name":"02 - REESCREVE TÍTULOS - ES [Canal de Orações]","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12,"triggerAtMinute":{}}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,460],"id":"31c0651a-ca63-4026-b3d9-7064577de0b7","name":"Iniciar Processo a Cada 10 Minutos"},{"parameters":{"operation":"getAll","tableId":"Canais2","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,460],"id":"2caad847-281d-412c-b506-296868183849","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"wJaq3BiQNlgbESl5","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.es }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[440,385],"id":"3d214a92-d7bf-41b0-a416-ea8874ad046b","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,385],"id":"013cded5-4949-4a48-85ac-7a698cd9da9c","name":"Selecionar Um Título por Vez"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,380],"id":"b45d0834-b739-4ea3-a15f-058ea4bd641d","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=# Generador Automático de Premisas Narrativas para Videos de Oración (Alta Retención y Conexión Emocional)\n\nEres un generador experto en crear premisas narrativas profundamente emocionales y espirituales, orientadas a videos de oración para YouTube. Tu función es construir la base emocional y temática perfecta para un guion de aproximadamente 50 minutos, diseñado para mantener alta retención y provocar una fuerte conexión espiritual en la audiencia.\n\nAl recibir el título base, realiza internamente todas las etapas a continuación. Devuelve solo la premisa final ya refinada, en un solo párrafo emocionalmente potente.\n\n## ETAPA 01 — CONSTRUCCIÓN DEL CONCEPTO BASE\n- Convierte el título original en un concepto narrativo central de tipo espiritual.\n- Extrae el potencial emocional y de fe latente.\n- Define el esqueleto emocional y temático que guiará la oración.\n\n## ETAPA 02 — DESARROLLO DEL RESUMEN INICIAL\n- Expande el concepto en un primer párrafo con tono cálido y espiritual.\n- Elige una o más de estas 5 categorías emocionales y temáticas y mezcla sus elementos:\n\n  1. **Esperanza y Superación Espiritual**  \n  2. **Sanación Interior y Protección Divina**  \n  3. **Milagros y Respuestas de Dios**  \n  4. **Fortaleza en Medio de la Adversidad**  \n  5. **Gratitud y Alabanza por las Bendiciones Recibidas**\n\n- Define la emoción central que el video transmitirá (ej: paz, fe renovada, protección, liberación).\n\n## ETAPA 03 — ANÁLISIS DE IMPACTO EMOCIONAL\nVerifica y ajusta:\n- Que haya un conflicto espiritual o una lucha interna clara.\n- Que exista una promesa emocional fuerte que atraiga al espectador.\n- Que la premisa genere expectativa por lo que sucederá durante la oración.\n\n## ETAPA 04 — ENRIQUECIMIENTO NARRATIVO\nReescribe el resumen incorporando:\n- Un dilema espiritual o emocional por superar.\n- Una bendición, respuesta o milagro que se busca alcanzar.\n- Una atmósfera emocional coherente: calma, fe, gratitud, esperanza, etc.\n- Referencias sutiles a pasajes bíblicos si es natural incluir.\n\n## ETAPA 05 — INTENSIFICACIÓN DE LA PROMESA EMOCIONAL\n- Aumenta los sentimientos de urgencia espiritual o de consuelo emocional.\n- Haz que el espectador sienta que este video tiene el poder de cambiar su estado emocional actual.\n\n## ETAPA 06 — FINALIZACIÓN DE LA PREMISA\n- Reescribe en forma de párrafo fluido, sin cortes ni listados.\n- Usa lenguaje visual, cálido y emocional.\n- Mantén un tono de conversación íntima, como si fuera una guía espiritual cercana.\n- Cierra con un gancho emocional que prepare el espectador para sumergirse en el video completo.\n\n## ETAPA 07 — POLIDO FINAL\n- Revisa ritmo, lenguaje y claridad.\n- Garantiza:\n  - Profundidad emocional.\n  - Coherencia espiritual.\n  - Invitación a la fe, oración y conexión con Dios.\n\nNo incluyas títulos, explicaciones, etapas, ni comentarios adicionales.\n"},{"content":"=Título: '{{ $json.message.content }}',\nResumo: '{{ $('Selecionar Um Título por Vez').item.json.resume }}'.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1600,260],"id":"67b6b6a4-b709-43bc-9860-db7ffba17d5e","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"Canais2","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"es","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1980,260],"id":"22233622-a967-4c59-8f78-9e71c789cdd9","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"wJaq3BiQNlgbESl5","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $('Gerar Variação do Título').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2200,260],"id":"c6c525de-39cd-4c22-bdfb-958fe53d9f90","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"J8OMajWtFD2BRIen","mode":"list","cachedResultName":"03 - CRIA ROTEIROS - ES [Canal de Orações]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2420,260],"id":"2f734fa8-562c-4890-9cb4-a851613a231d","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1600,500],"id":"a7dc4854-a350-4425-996d-67e498185614","name":"Aguardar e Reiniciar Processo","webhookId":"8031955e-f92d-4ffc-a05d-6adf133e690f"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=# Generador Ultra-Optimizado de Títulos Espirituales para Oraciones (Máximo CTR + Retención)\n\nEres un experto en copywriting emocional y optimización de CTR para YouTube, especializado en el nicho de oraciones cristianas. Tu misión es reescribir el título base que recibirás a continuación para convertirlo en un título mucho más emocional, espiritual y viral, siguiendo el estilo de canales como \"La Vida Eterna\" y \"Pergamino Sagrado\".\n\n## OBJETIVO PRINCIPAL:\n- Crear un título extremadamente emocional, que invite a la oración y que refleje esperanza, fe, protección o victoria espiritual.\n- Generar un fuerte deseo en la audiencia de hacer clic y ver el video.\n- Mantener la esencia del título original, pero transformándolo en algo mucho más impactante para el público de YouTube que busca oraciones diarias.\n\n## REGLAS ESTRICTAS:\n\n- Máximo de **95 caracteres** (No puede superar este límite bajo ninguna circunstancia).\n- Solo puedes usar **hasta 2 palabras en MAYÚSCULAS** para dar énfasis emocional.\n- Todas las palabras deben empezar con letra mayúscula (Formato de Título).\n- El título debe estar **100% en español**.\n- Incluye obligatoriamente **al menos una de estas palabras clave**: \"Oración\", \"Poderosa\", \"Salmo\", \"Protección\", \"Milagro\", \"Victoria\", \"Fe\", \"Bendición\", \"Dios\".\n\n## TIPO DE TRANSFORMACIÓN:\n\n- Si el título original es genérico o poco emocional, lo transformarás en algo mucho más fuerte e inspirador.\n- Prioriza fórmulas comprovadas de alto CTR: \"Comienza Tu Día Con...\", \"Declara Esta Oración...\", \"Poderosa Oración Para...\", \"Salmo X Para...\", \"No Empieces El Día Sin...\".\n\n## TÉCNICAS RECOMENDADAS:\n\n- Usa lenguaje de urgencia espiritual: \"Hoy\", \"Esta Mañana\", \"Antes De Dormir\", \"Ahora Mismo\".\n- Incluye beneficios espirituales claros: \"Paz\", \"Prosperidad\", \"Protección\", \"Victoria\", \"Respuesta\".\n- Se puede mencionar salmos, momentos del día (mañana, noche), o estados emocionales (ansiedad, miedo, etc).\n\n## FORMATO DE SALIDA:\nDevuelve solo en el siguiente formato JSON:\n\n{\n  \"titulo_reescrito\": \"Tu título final aquí\"\n}\n\nNo incluyas ningún comentario adicional. Solo el JSON."},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,385],"id":"a6d58b9a-3848-418a-a6c4-b460965d0977","name":"Gerar Variação do Título","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}}],"connections":{"Iniciar Processo a Cada 10 Minutos":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":"Gerar Variação do Título","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Gerar Variação do Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Iniciar Processo a Cada 10 Minutos":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5ac3b5a7-a32c-4b07-8195-eed5a3d2f8ce","triggerCount":1,"tags":[]}