02---reescreve-títulos---es-[canal-de-orações]-cUyPEVzWGPUllg8A.json
{"createdAt":"2025-06-23T19:33:54.030Z","updatedAt":"2025-07-03T21:51:07.677Z","id":"cUyPEVzWGPUllg8A","name":"02 - REESCREVE TÍTULOS - ES [Canal de Orações]","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12,"triggerAtMinute":{}}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-20,980],"id":"6135ab31-e0ed-4277-b129-1ef4599569e2","name":"Iniciar Processo a Cada 10 Minutos1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.utilizado }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[420,980],"id":"f3a33b7f-af56-4835-8467-df36834c2d79","name":"Filtrar Títulos Não Processados1"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[640,980],"id":"6a718e39-8a83-48e9-84c1-aad12019b77f","name":"Selecionar Um Título por Vez1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1240,960],"id":"70e234b0-50dc-4778-b5bf-8416e36794e7","name":"Verificar Tamanho do Título1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=# Generador Automático de Premisas Narrativas para Videos de Oración (Alta Retención y Conexión Emocional)\n\nEres un generador experto en crear premisas narrativas profundamente emocionales y espirituales, orientadas a videos de oración para YouTube. Tu función es construir la base emocional y temática perfecta para un guion de aproximadamente 50 minutos, diseñado para mantener alta retención y provocar una fuerte conexión espiritual en la audiencia.\n\nAl recibir el título base, realiza internamente todas las etapas a continuación. Devuelve solo la premisa final ya refinada, en un solo párrafo emocionalmente potente.\n\n## ETAPA 01 — CONSTRUCCIÓN DEL CONCEPTO BASE\n- Convierte el título original en un concepto narrativo central de tipo espiritual.\n- Extrae el potencial emocional y de fe latente.\n- Define el esqueleto emocional y temático que guiará la oración.\n\n## ETAPA 02 — DESARROLLO DEL RESUMEN INICIAL\n- Expande el concepto en un primer párrafo con tono cálido y espiritual.\n- Elige una o más de estas 5 categorías emocionales y temáticas y mezcla sus elementos:\n\n  1. **Esperanza y Superación Espiritual**  \n  2. **Sanación Interior y Protección Divina**  \n  3. **Milagros y Respuestas de Dios**  \n  4. **Fortaleza en Medio de la Adversidad**  \n  5. **Gratitud y Alabanza por las Bendiciones Recibidas**\n\n- Define la emoción central que el video transmitirá (ej: paz, fe renovada, protección, liberación).\n\n## ETAPA 03 — ANÁLISIS DE IMPACTO EMOCIONAL\nVerifica y ajusta:\n- Que haya un conflicto espiritual o una lucha interna clara.\n- Que exista una promesa emocional fuerte que atraiga al espectador.\n- Que la premisa genere expectativa por lo que sucederá durante la oración.\n\n## ETAPA 04 — ENRIQUECIMIENTO NARRATIVO\nReescribe el resumen incorporando:\n- Un dilema espiritual o emocional por superar.\n- Una bendición, respuesta o milagro que se busca alcanzar.\n- Una atmósfera emocional coherente: calma, fe, gratitud, esperanza, etc.\n- Referencias sutiles a pasajes bíblicos si es natural incluir.\n\n## ETAPA 05 — INTENSIFICACIÓN DE LA PROMESA EMOCIONAL\n- Aumenta los sentimientos de urgencia espiritual o de consuelo emocional.\n- Haz que el espectador sienta que este video tiene el poder de cambiar su estado emocional actual.\n\n## ETAPA 06 — FINALIZACIÓN DE LA PREMISA\n- Reescribe en forma de párrafo fluido, sin cortes ni listados.\n- Usa lenguaje visual, cálido y emocional.\n- Mantén un tono de conversación íntima, como si fuera una guía espiritual cercana.\n- Cierra con un gancho emocional que prepare el espectador para sumergirse en el video completo.\n\n## ETAPA 07 — POLIDO FINAL\n- Revisa ritmo, lenguaje y claridad.\n- Garantiza:\n  - Profundidad emocional.\n  - Coherencia espiritual.\n  - Invitación a la fe, oración y conexión con Dios.\n\nNo incluyas títulos, explicaciones, etapas, ni comentarios adicionales.\n"},{"content":"=Título: '{{ $json.message.content }}',\nResumo: ","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1580,840],"id":"878aba6c-4d31-4549-84dc-11e73c9f5f92","name":"Criar Premissa Narrativa1","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $('Gerar Variação do Título1').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa1').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2180,840],"id":"432cd48a-6dc6-49c9-a31c-32e1f594d046","name":"Organizar Título e Premissa1"},{"parameters":{"workflowId":{"__rl":true,"value":"J8OMajWtFD2BRIen","mode":"list","cachedResultName":"03 - CRIA ROTEIROS - ES [Canal de Orações]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2420,840],"id":"5e31b37e-8aef-4f55-b2ea-0229ac9190f8","name":"Iniciar Criação de Roteiro1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1580,1080],"id":"c1440464-6b42-436a-9f5d-1118f44a70ba","name":"Aguardar e Reiniciar Processo1","webhookId":"8031955e-f92d-4ffc-a05d-6adf133e690f"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=# Generador Ultra-Optimizado de Títulos Espirituales para Oraciones (Máximo CTR + Retención)\n\nEres un experto en copywriting emocional y optimización de CTR para YouTube, especializado en el nicho de oraciones cristianas. Tu misión es reescribir el título base que recibirás a continuación para convertirlo en un título mucho más emocional, espiritual y viral, siguiendo el estilo de canales como \"La Vida Eterna\" y \"Pergamino Sagrado\".\n\n## OBJETIVO PRINCIPAL:\n- Crear un título extremadamente emocional, que invite a la oración y que refleje esperanza, fe, protección o victoria espiritual.\n- Generar un fuerte deseo en la audiencia de hacer clic y ver el video.\n- Mantener la esencia del título original, pero transformándolo en algo mucho más impactante para el público de YouTube que busca oraciones diarias.\n\n## REGLAS ESTRICTAS:\n\n- Máximo de **95 caracteres** (No puede superar este límite bajo ninguna circunstancia).\n- Solo puedes usar **hasta 2 palabras en MAYÚSCULAS** para dar énfasis emocional.\n- Todas las palabras deben empezar con letra mayúscula (Formato de Título).\n- El título debe estar **100% en español**.\n- Incluye obligatoriamente **al menos una de estas palabras clave**: \"Oración\", \"Poderosa\", \"Salmo\", \"Protección\", \"Milagro\", \"Victoria\", \"Fe\", \"Bendición\", \"Dios\".\n\n## TIPO DE TRANSFORMACIÓN:\n\n- Si el título original es genérico o poco emocional, lo transformarás en algo mucho más fuerte e inspirador.\n- Prioriza fórmulas comprovadas de alto CTR: \"Comienza Tu Día Con...\", \"Declara Esta Oración...\", \"Poderosa Oración Para...\", \"Salmo X Para...\", \"No Empieces El Día Sin...\".\n\n## TÉCNICAS RECOMENDADAS:\n\n- Usa lenguaje de urgencia espiritual: \"Hoy\", \"Esta Mañana\", \"Antes De Dormir\", \"Ahora Mismo\".\n- Incluye beneficios espirituales claros: \"Paz\", \"Prosperidad\", \"Protección\", \"Victoria\", \"Respuesta\".\n- Se puede mencionar salmos, momentos del día (mañana, noche), o estados emocionales (ansiedad, miedo, etc).\n\n## FORMATO DE SALIDA:\nDevuelve solo en el siguiente formato JSON:\n\n{\n  \"titulo_reescrito\": \"Tu título final aquí\"\n}\n\nNo incluyas ningún comentario adicional. Solo el JSON."},{"content":"={{ $json.título }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[860,980],"id":"94fa27e1-ff1a-4d72-a3ee-54dbd65bc076","name":"Gerar Variação do Título1","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1nW_-7sokNKTUqOEbxyMRwlA6zg35F89R5EUkevubSo8/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nW_-7sokNKTUqOEbxyMRwlA6zg35F89R5EUkevubSo8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[180,980],"id":"19c3dfc4-b55b-4c44-80e3-a25eac534fcb","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"Xv3BZUwpW4oH23E4","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1nW_-7sokNKTUqOEbxyMRwlA6zg35F89R5EUkevubSo8/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nW_-7sokNKTUqOEbxyMRwlA6zg35F89R5EUkevubSo8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"título":"={{ $('Google Sheets').item.json['título'] }}","utilizado":"Sim"},"matchingColumns":["título"],"schema":[{"id":"título","displayName":"título","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utilizado","displayName":"utilizado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1940,840],"id":"cfe9de99-f946-471d-8f05-d3048722570b","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"Xv3BZUwpW4oH23E4","name":"Google Sheets account"}}}],"connections":{"Iniciar Processo a Cada 10 Minutos1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Filtrar Títulos Não Processados1":{"main":[[{"node":"Selecionar Um Título por Vez1","type":"main","index":0}]]},"Selecionar Um Título por Vez1":{"main":[[{"node":"Gerar Variação do Título1","type":"main","index":0}]]},"Verificar Tamanho do Título1":{"main":[[{"node":"Criar Premissa Narrativa1","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo1","type":"main","index":0}]]},"Criar Premissa Narrativa1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Organizar Título e Premissa1":{"main":[[]]},"Aguardar e Reiniciar Processo1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Gerar Variação do Título1":{"main":[[{"node":"Verificar Tamanho do Título1","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Filtrar Títulos Não Processados1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Organizar Título e Premissa1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Iniciar Processo a Cada 10 Minutos":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"17dc5590-b43d-4fe2-8fad-69771f7a3dd6","triggerCount":1,"tags":[]}