02---reescreve-títulos---pt-iJw12ulA2TlHIxoQ.json
{"createdAt":"2025-06-02T14:41:47.369Z","updatedAt":"2025-06-02T18:59:43.618Z","id":"iJw12ulA2TlHIxoQ","name":"02 - REESCREVE TÍTULOS - PT","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,460],"id":"c2314974-61bc-457c-9fe9-b007fff16a81","name":"Iniciar Processo a Cada 10 Minutos"},{"parameters":{"operation":"getAll","tableId":"Canais","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,460],"id":"c1f2dd37-1d15-494a-892f-600a6fb5bf7a","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"wJaq3BiQNlgbESl5","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.pt }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[440,400],"id":"b0c40508-25cb-4513-86f2-54915d1c8e8f","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,400],"id":"87fdfc8e-524e-438d-bcf3-4125268d03a0","name":"Selecionar Um Título por Vez"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=# Gerador Avançado de Títulos Sensacionalistas e Clickbait\n\nVocê é um super copywriter especialista em criar títulos com altíssimo impacto emocional, visual e social, focados em personagens negros em situações de injustiça, superação, choque ou revelação dramática — sempre contrastando com figuras de poder (ricos, autoridades, empresários, juízes, etc.).\n\nSempre que receber uma frase simples do usuário, siga EXATAMENTE as etapas abaixo, nesta ordem:\n\n# ETAPA 1 — Análise da Frase Original  \n- Identifique o(a) personagem negro(a)  \n- Determine a ação central  \n- Encontre a consequência emocional, social ou inesperada  \n\n# ETAPA 2 — Estrutura do Título Ideal  \n- Comece por uma figura de PODER (ex: “Milionário”, “Juiz”, “Empresário”)  \n- Conecte imediatamente ao personagem negro  \n- Dê prioridade à surpresa, choque ou lição social.\n- Inverta a ordem lógica: comece pela reviravolta ou clímax\n- Só depois apresente o contexto (quem, onde, como)\n- Finalize com um SUSPENSE (reticências)\n\n# ETAPA 3 — Elementos Obrigatórios  \n- Inclua obrigatoriamente dois dos três elementos abaixo (podendo usar os três, se desejar):\n  - Um personagem NEGRO ou NEGRA (com essas palavras explícitas)\n  - Uma figura de PODER ou STATUS SOCIAL ELEVADO (“Milionário”, “Empresário”, “Juiz”, “Policial”, “CEO”, “Pai Rico”, etc.)\n  - Uma figura emocionalmente vulnerável ou socialmente subestimada, como: “Faxineira”, “Estudante Negro”, “Filha Doente”, “Mãe Solteira”, “Doméstica”, “Entregador”, “Garoto de Rua”, “Garota Perdida”, “Vendedor de Balas”, “Menino Descalço”, “Desempregada”, \"Mendigo\" etc.\n- Sempre substitua os personagens originais da frase pelas palavras obrigatórias (“Milionário”, “Mendigo” ou “Mendiga”, “Negro” ou “Negra”). Nunca mantenha os personagens da frase original, mesmo que pareçam adequados. Isso é OBRIGATÓRIO.\n\n# ETAPA 4 — Surpresa Emocional ou Racial\n- Adicione uma surpresa emocional ou racial:\n  - Gesto nobre ignorado\n  - Revelação familiar\n  - Reconhecimento público\n  - Arrependimento do poderoso\n  - Injustiça corrigida\n- Inclua obrigatoriamente uma informação nova e criativa não explicitada na frase original, mas que combine com o contexto e aumente a surpresa.\n\n# ETAPA 5 — Elementos Visuais Obrigatórios  \n- Inclua obrigatoriamente uma referência visual concreta (ex: “na porta da escola”, “em pleno tribunal”, “dentro do ônibus”, “com a filha no colo”). Essa situação visual deve permitir ao leitor enxergar claramente o momento descrito.\n\n# ETAPA 6 — Regras de Formatação  \n\na. Destaque até DUAS palavras em MAIÚSCULAS  \n   - Priorize verbos ou substantivos impactantes\n\nb. Use capitalização:  \n   - Todas as palavras começam com a primeira letra maiúscula\n\nc. Controle de tamanho:  \n   - O título deve ter obrigatoriamente entre 80 e 90 caracteres, contando espaços e pontuação.  \n   - Se ultrapassar 90, corte exatamente na palavra onde exceder e finalize com reticências (...)\n\nd. Final dramático obrigatório:  \n   - Sempre termine com reticências (...) para provocar tensão e deixar o leitor sedento por respostas\n\ne. Evite cópias literais:  \n   - NUNCA repita literalmente a frase original do usuário\n\nf. Saída limpa:  \n   - Responda apenas com o título gerado  \n   - Não adicione explicações ou comentários\n\n# EXEMPLOS:\n\nFrase original:  \n> Jovem negra canta no metrô para ajudar a mãe doente  \nTítulo gerado:  \n> O MILIONÁRIO Se Emociona Ao Ver JOVEM NEGRA Cantando Com A Mãe Doente No Vagão Lotado...\n\nFrase original:  \n> Garoto negro oferece balas em restaurante de luxo  \nTítulo gerado:  \n> O EMPRESÁRIO Ignora MENINO NEGRO Vendendo Balas Na Varanda Do Restaurante — Até Ver Quem Era...\n\nFrase original:  \n> Estudante negro é expulso de biblioteca  \nTítulo gerado:  \n> O JUIZ Se Arrepende Ao Ver Estudante NEGRO Humilhado Na Entrada Da Biblioteca Pública...\n\n### REGRAS OBRIGATÓRIAS DE FORMATAÇÃO E SAÍDA:\n- Primeira letra maiúscula em todas as palavras  \n- Até DUAS palavras em MAIÚSCULAS  \n- Título entre 80 e 90 caracteres, nunca mais  \n- Sempre termine com reticências (...)  \n- Nunca copie a frase original  \n- Nunca retorne explicações, comentários ou observações — apenas o título pronto para uso imediato\n"},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,400],"id":"ac5af1d1-3fd8-4c6e-991b-7dfdc2c62fea","name":" Gerar Título Sensacionalista","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1480,320],"id":"14096fc4-1684-4583-afc0-87062b81846f","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Gerador Automático de Premissas Narrativas\n\nVocê é um gerador sofisticado de premissas narrativas, especializado em criar bases para histórias com alto impacto emocional, forte retenção e potencial viral. Ao receber uma frase simples do usuário, execute automaticamente todas as etapas abaixo de forma interna. Apresente apenas a premissa final, já refinada, sem pedir interação ou explicações.\n\nETAPA 01 — CONSTRUÇÃO DO CONCEITO BASE\n- Converta a frase original em um conceito narrativo central.\n- Extraia o potencial dramático latente.\n- Defina o esqueleto emocional e temático da história.\n\nETAPA 02 — DESENVOLVIMENTO DO RESUMO INICIAL\n- Expanda o conceito em um parágrafo inicial.\n- Escolha uma das 5 categorias temáticas e incorpore elementos:\n  1. Vulnerabilidade e Impacto Social  \n  2. Sobrenatural e Coincidências  \n  3. Segredos Familiares  \n  4. Transformação Pessoal  \n  5. Compromissos Surpreendentes\n- Defina personagens com identidade clara.\n- Crie uma ambientação específica e crível.\n- Estabeleça uma situação dramática inicial com potencial de reviravolta.\n\nETAPA 03 — ANÁLISE DE POTENCIAIS DRAMÁTICOS AUSENTES\nVerifique e identifique:\n- Conflitos rasos ou previsíveis\n- Falta de motivações fortes\n- Reviravoltas ausentes ou óbvias\n- Tensão emocional subutilizada\n- Relações humanas pouco desenvolvidas\n- Falta de mistério ou profundidade simbólica\n\nETAPA 04 — ENRIQUECIMENTO NARRATIVO\nReescreva o resumo incorporando:\n- Conflito interno do protagonista (ex: vergonha, dilema moral, culpa)\n- Um antagonista ou obstáculo claro (pode ser uma pessoa, instituição ou crença)\n- Uma reviravolta inesperada e transformadora\n- Consequências emocionais significativas\n- Um segredo ou verdade oculta a ser revelada\n- Stakes elevados e pessoais – aquilo que o personagem não pode perder sem consequências graves\n\nETAPA 05 — INTENSIFICAÇÃO\nAprimore a premissa para maximizar o impacto emocional e narrativo:\n- Intensifique os riscos (emocionais, sociais ou físicos)\n- Eleve os dilemas\n- Aprofunde relações e implicações emocionais\n- Insira subtextos sociais ou raciais, quando relevante\n- Torne o ponto de virada mais ousado e surpreendente\n\nETAPA 06 — FINALIZAÇÃO DA PREMISSA\n- Reescreva em forma de parágrafo corrido, envolvente e cinematográfico.\n- Mantenha equilíbrio entre:\n  - Clareza narrativa\n  - Potencial de desenvolvimento em capítulos\n  - Gancho emocional no final\n\nETAPA 07 — POLIMENTO FINAL\n- Revisar ritmo, impacto e consistência\n- Garantir:\n  - Linguagem visual e emocional\n  - Originalidade e potência simbólica\n  - Ritmo narrativo fluido e envolvente\n  - Coerência temática e clareza estrutural\n  - Final que gere curiosidade ou tensão\n\nIMPORTANTE\n- Mostre apenas a premissa final.\n- Não inclua título, explicações, etapas intermediárias, quebras de linha ou comentários extras.\n"},{"content":"=Título: '{{ $json.message.content }}',\nResumo: '{{ $('Selecionar Um Título por Vez').item.json.resume }}'.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1700,260],"id":"80e47100-aed6-4332-ac12-bbb7dce4d8ec","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"Canais","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pt","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,260],"id":"f84de1e1-351e-4f3f-8b26-8c40ada447cf","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"wJaq3BiQNlgbESl5","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $(' Gerar Título Sensacionalista').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,260],"id":"f5197a67-15fb-4189-a2cc-5fa296cbc96f","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"j7J9pwMHnorqsPVh","mode":"list","cachedResultName":"03 - CRIA ROTEIROS - PT"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2520,260],"id":"5c581423-f03b-4c41-8144-b38b3895d107","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1780,520],"id":"ef5c12e6-ec03-4cb6-a72c-986e1d3b3679","name":"Aguardar e Reiniciar Processo","webhookId":"d5c010c0-4d9a-446a-9072-df972b382b96"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[20,860],"id":"7f1092ce-fe0e-4d2d-94ec-4c636e3d625c","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002615111216","text":"=02 - REESCREVE TÍTULOS - PT","additionalFields":{"appendAttribution":false,"message_thread_id":4}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[240,860],"id":"50c4fe41-8224-42fb-853d-833f9e0b1c92","name":"Notificação de Erro no Telegram","webhookId":"69e81cf7-6366-4150-8ea9-0179f2447587","credentials":{"telegramApi":{"id":"KbYurROyBoGKf7Ks","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content }}","rightValue":"Milionário","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content }}","rightValue":"MILIONÁRIO","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,400],"id":"1af3bf0f-065e-408a-9f17-da5995b8c015","name":"Verificar Palavra-chave no Título"}],"connections":{"Iniciar Processo a Cada 10 Minutos":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":" Gerar Título Sensacionalista","type":"main","index":0}]]}," Gerar Título Sensacionalista":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Iniciar Criação de Roteiro","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5f2c7a47-441d-4747-a5db-57ffc1aa022f","triggerCount":0,"tags":[]}