03---cria-roteiros---es-2-[canal-de-orações]-fhW9rDWrUB5q3UG8.json
{"createdAt":"2025-07-01T11:54:50.205Z","updatedAt":"2025-07-01T14:35:57.192Z","id":"fhW9rDWrUB5q3UG8","name":"03 - CRIA ROTEIROS - ES 2 [Canal de Orações]","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Introducción Inspiradora').item.json.message.content }}\n{{ $('Declaración de Fe').item.json.message.content }}\n{{ $('Oración de Gratitud').item.json.message.content }}\n{{ $('Oración por Protección').item.json.message.content }}\n{{ $('Oración de Sanación Interior').item.json.message.content }}\n{{ $('Oración por Milagros de Dios').item.json.message.content }}\n{{ $('Oración de Liberación').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4100,1720],"id":"baffdb15-e599-47d4-88c6-afd38156952c","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }}\n\nLa introducción de este capítulo debe comenzar con una versión emocionalmente impactante del título: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\".\n\nEn este primer capítulo, exalta los elementos emocionales, espirituales y de esperanza, para capturar la atención del oyente desde el inicio. Crea una atmósfera de fe, urgencia espiritual, consuelo y conexión divina.\n\nIncluye un CTA al final del capítulo, motivando al espectador a suscribirse, dejar su \"like\" y compartir en los comentarios desde qué ciudad está viendo el video.\n\n### Estructura Obligatoria:\n\n**Inicio:**\n- Abre con un párrafo fuerte y emocional.\n- Muestra la importancia de la oración que viene.\n- Refuerza la sensación de que lo que el espectador va a vivir es poderoso y transformador.\n\n**Desarrollo del Capítulo:**\n- Exagera (con buen gusto) los sentimientos de esperanza, necesidad de respuesta o búsqueda de consuelo.\n- Describe con lenguaje vívido las emociones que esta oración ayudará a transformar: ansiedad, miedo, desesperanza.\n- Usa frases que despierten el deseo de continuar escuchando.\n\n**CTA Final (Incluye obligatoriamente este texto adaptado):**\n\"Antes de seguir con esta poderosa oración, quiero darte una recomendación muy importante... Muchos suscriptores nos han contado que YouTube los desuscribió sin avisar. Por favor, revisa si el botón rojo de abajo dice 'Suscribirse'. Si es así, haz clic y acompáñanos en esta jornada de fe. Y ya que estás ahí, deja tu 'me gusta' para que este mensaje llegue a más personas que lo necesitan. Cuéntame en los comentarios desde qué ciudad nos acompañas. ¡Me encanta saber desde dónde nos ven y orar por cada uno de ustedes!\"\n\n### Reglas Rígidas:\n\n- No incluyas explicaciones, ni el prompt original.\n- Devuelve solo el texto final, listo para ser narrado.\n- No uses títulos como \"TÍTULO:\", \"DESARROLLO DEL CAPÍTULO:\" o \"CTA:\" no devuelvas ningún marcador de sección.\n- El tono debe ser simple, directo, cálido y emocional, como si fuera contado por un amigo de fe.\n- Usa lenguaje accesible, con frases cortas y carga emocional alta.\n- Mantén la narrativa viva, empática y con ritmo natural.\n- El capítulo debe terminar con una sensación de expectativa espiritual por el siguiente bloque.\n\n### Validación Técnica:\n\n- No incluyas saltos de sección.\n- Mantén todo o capítulo como un texto contínuo.\n- Quebrar párrafos para fluidez (estilo narración YouTube)."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3880,840],"id":"be23a3f1-5744-4a6b-b181-33116e155267","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $('Tradução Título').item.json.message.content['Título'] }}\n\n{{ $json.message.content.Contexto }}\n\nEres un experto en creación de prompts para generación de contenido emocional y espiritual para YouTube, especializado en el nicho de oraciones cristianas de larga duración.\n\nTu misión es crear un prompt detallado que servirá para que otro modelo de lenguaje AI (ChatGPT) genere el primer capítulo del guion, titulado: **\"Capítulo 1 – Introducción Inspiradora\"**.\n\nEste capítulo será la apertura emocional del video y tendrá una duración aproximada de **6 a 8 minutos de narración**.\n\n# OBJETIVO DEL CAPÍTULO\n- Crear una apertura emocional, cálida y espiritual que invite al espectador a quedarse.\n- Conectar de inmediato con las emociones, dolores, esperanzas o necesidades espirituales de la audiencia.\n- Preparar el corazón del espectador para el tiempo de oración que vendrá en los próximos capítulos.\n\n# ESTRUCTURA DE CONTENIDO DEL CAPÍTULO\n- Saludo inicial afectivo (Ejemplo: \"Bienvenido a este espacio de oración y reflexión espiritual...\")\n- Conexión con el momento del día (mañana, tarde o noche).\n- Mención de la importancia de comenzar o cerrar el día con Dios.\n- Invitación a abrir el corazón y la mente para recibir el mensaje y la oración.\n- Breve reflexión sobre la fe, la esperanza o el poder de la oración.\n- Preparación emocional para el bloque de oración que viene a continuación.\n\n# TONO Y ESTILO\n- Cálido, esperanzador, íntimo, pastoral y emocional.\n- Lenguaje cercano, empático y profundamente espiritual.\n- Uso de expresiones típicas de canales como \"La Vida Eterna\" y \"Pergamino Sagrado\".\n\n# FORMATO DE SALIDA\nDevuelve solo el siguiente JSON:\n\n{\n  \"Prompts\": [\n    {\n      \"prompt\": \"Tu prompt detallado aquí\"\n    }\n  ]\n}\n\nNo incluyas ningún otro texto o explicación fuera de este JSON."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3500,840],"id":"31a5a360-51a0-46ef-bef7-fca8249d94e5","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=\"{{ $json['título'] }}\"\n\nEres un experto en copywriting emocional y adaptación cultural para YouTube, especializado en el nicho de oraciones cristianas. Tu tarea es traducir y adaptar el título original al español, utilizando un lenguaje espiritual, emotivo y de alto impacto emocional, tal como hacen los canales \"La Vida Eterna\" y \"Pergamino Sagrado\".\n\n# OBJETIVO\n- Mantener el impacto emocional y espiritual del título original.\n- Transformar el título en algo atractivo para el público de habla hispana que busca oraciones en YouTube.\n- No realizar una traducción literal. La adaptación debe ser emocionalmente poderosa y culturalmente relevante.\n- Incluir términos y expresiones que resuenen con personas que buscan fe, protección, paz y bendición.\n\n# ESTRUCTURA EMOCIONAL DEL TÍTULO\n- Comienza destacando el contexto de la oración (por ejemplo: \"Oración de la Mañana\", \"Salmo 23\", \"Oración de Protección\", etc.).\n- Incluye un beneficio emocional o espiritual claro (ejemplo: \"para Protección y Paz\", \"para Recibir Milagros\", \"para Sanidad y Fortaleza\").\n- Puedes usar frases de invitación o imperativas que aumenten el deseo de clic (ejemplo: \"Repite Esta Oración\", \"Declara Esto Hoy\", \"Recibe Esta Bendición\").\n\n# REGLAS ESTRICTAS\n- El título final debe estar en español.\n- Máximo 95 caracteres. Si es necesario, recórtalo y termina con puntos suspensivos (...).\n- Máximo dos palabras en MAYÚSCULAS para énfasis.\n- Formato de título: todas las palabras deben empezar con mayúscula.\n- No devuelvas el título original. Solo la versión adaptada.\n- El tono debe ser positivo, acogedor, lleno de esperanza y fe.\n- Evita términos negativos, agresivos o que generen miedo excesivo.\n\n# EJEMPLOS DE TRANSFORMACIÓN\n- PT: \"Oração da Manhã com o Salmo 23 para Proteção e Provisão\"  \n- ES: \"Poderosa Oración de la Mañana con el Salmo 23 para Protección y Provisión\"\n\n- PT: \"Comece o Dia com Esta Oração de Vitória e Paz\"  \n- ES: \"Empieza el Día Declarando Victoria y Paz con Esta Oración\"\n\n- PT: \"Oração para Romper Cadeias Espirituais e Abrir Portas de Bênção\"  \n- ES: \"Oración Poderosa para Romper Cadenas y Abrir Puertas de Bendición\"\n\n# FORMATO DE SALIDA\nDevuelve solo el resultado en el siguiente formato JSON:\n\n{\n  \"Título\": \"Tu título final aquí\"\n}\n\nNo incluyas ningún otro comentario o explicación."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2360,660],"id":"316edce4-8a00-4cd8-8ddd-dcdd12ec7754","name":"Tradução Título","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $('Iniciar Criação de Roteiro').item.json.premissa }}\n\nEres un experto en copywriting emocional, adaptación cultural y lenguaje espiritual para YouTube, especializado en el nicho de oraciones cristianas. Tu misión es traducir y adaptar el texto anterior, que representa el contexto emocional y espiritual de un video de oración, del **portugués al español**.\n\nEste contexto servirá como briefing interno para la generación de guiones de oración de larga duración, siguiendo el tono, el ritmo y la sensibilidad espiritual de canales como \"La Vida Eterna\" y \"Pergamino Sagrado\".\n\n# OBJETIVO\n- Preservar e intensificar la carga emocional, espiritual y devocional del texto original.\n- Adaptar el lenguaje para que sea **natural, fluido y profundamente resonante para el público hispanohablante que busca oraciones en YouTube**.\n- No hacer una traducción literal. La adaptación debe sonar auténtica, cálida y cercana al lenguaje utilizado en canales de oración populares.\n\n# TIPO DE TEXTO\nEl contenido es solo un contexto interno (no es el texto que aparecerá en el video ni en la descripción de YouTube). Será utilizado exclusivamente como base para los siguientes nodos de generación de guion.\n\n# TONO Y LÉXICO SUGERIDO\n- Utiliza frases comunes entre creadores de contenido de oración en español.\n- Ejemplos de expresiones clave: **\"Hoy\", \"Dios quiere hablar contigo\", \"Recibe esta palabra\", \"Que esta oración sea de bendición\", \"Si estás pasando por un momento difícil\", \"Esta es una palabra de fe para ti\", \"Hoy Dios tiene algo especial para ti\", \"Abre tu corazón a esta oración\"**.\n\n# EJEMPLOS DE TRANSFORMACIÓN DE CONTEXTO\n- PT: \"Hoje vamos fazer uma oração poderosa baseada no Salmo 23, para proteção e provisão neste novo dia. Essa oração é para você que está enfrentando desafios e precisa de uma resposta de Deus.\"  \n- ES: \"Hoy haremos una poderosa oración basada en el Salmo 23, para pedir protección y provisión en este nuevo día. Esta oración es para ti que estás enfrentando desafíos y necesitas una respuesta de Dios.\"\n\n- PT: \"Se você está com o coração angustiado, esta oração da manhã vai trazer paz e esperança para seu dia.\"  \n- ES: \"Si hoy tu corazón está angustiado, esta oración de la mañana traerá paz y esperanza a tu día.\"\n\n# REGLAS ESTRICTAS\n- La salida final debe estar completamente en español.\n- Tono: acogedor, espiritual, pastoral y profundamente emocional.\n- No hagas traducción literal. Adapta y mejora el texto para sonar como un creador de contenido de oración hispano.\n- Extensión máxima: **500 palabras**.\n- No añadas títulos, subtítulos, numeración ni explicaciones adicionales.\n\n# FORMATO DE SALIDA\nDevuelve únicamente el siguiente JSON:\n\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n}\n\nNo incluyas ningún otro tipo de texto o explicación fuera de este JSON."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3060,540],"id":"46ff775d-5277-40d4-8d31-7b2e9aeffc08","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"37654371-c3e9-4a27-9595-789ae89df3b8","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2920,1420],"credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3140,1420],"id":"582fb2a2-098d-4188-88b0-168317076e7a","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Después de recibir la transcripción, genera una descripción SEO optimizada para un video de oración cristiana.\n\n# OBJETIVO\n- Crear una descripción emocional, espiritual y acogedora.\n- Destacar el propósito del video (fortalecer la fe, traer paz, esperanza, bendición, etc.).\n- Incluir de manera natural las principales palabras clave relacionadas con el nicho de oración y espiritualidad.\n- Agregar al final una lista de **10 hashtags relevantes** para YouTube.\n\n# ESTRUCTURA REQUERIDA\n\nPrimero, crea un párrafo breve (entre **250 y 500 caracteres**) que resuma el propósito espiritual del video. Incluye frases como:\n\n- **\"En este video compartimos una poderosa oración…\"**\n- **\"Una palabra de fe y esperanza para tu vida…\"**\n- **\"Perfecta para iniciar tu día con la protección y la bendición de Dios…\"**\n- **\"Esta oración te ayudará a sentir paz, confianza y fortaleza…\"**\n\nDespués, añade un listado de **palabras clave** (5 a 10), separadas por comas, relacionadas con:\n\n- Oración\n- Fe\n- Bendición\n- Protección\n- Salmo\n- Dios\n- Espíritu Santo\n- Milagros\n- Victoria\n- Paz\n\nPor último, incluye **10 hashtags SEO-friendly**, como:\n\n- #OracionDeLaMañana\n- #OracionDeProteccion\n- #Dios\n- #Fe\n- #Milagros\n- #Bendicion\n- #PalabraDeDios\n- #OracionPoderosa\n- #Esperanza\n- #Victoria\n\n# EJEMPLO DE FORMATO FINAL\n\nEste video comparte una poderosa oración de la mañana basada en el Salmo 23, ideal para iniciar tu día con fe, protección y esperanza. Si estás enfrentando desafíos o buscando una palabra de aliento espiritual, esta oración es para ti. Permite que Dios hable a tu corazón a través de estas palabras de bendición y fortaleza.\n\nPalabras clave: oración de la mañana, protección divina, fe, bendición, salmo 23, palabra de Dios, esperanza, paz interior, fortaleza espiritual, milagros.\n\nHashtags: #OracionDeLaMañana #ProteccionDivina #Fe #Milagros #Bendicion #PalabraDeDios #OracionPoderosa #Esperanza #Victoria #Dios\n\n# FORMATO DE SALIDA\n\nRetorna solamente el texto final, sin markdown, sin comentarios adicionales, sin conteo de palabras.  \nLa transcripción completa está en la siguiente variable:\n\nGuion: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\"\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2320,1420],"id":"fceea0fc-d50d-4196-bf6a-167e0b885e81","name":"Gerar SEO","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3580,1420],"id":"5d0eb508-1452-414f-8cb5-673269dec97b","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3360,1420],"id":"94b0b1b1-7d44-470a-848f-5130ff2467a9","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2700,1420],"id":"a8eed5c6-99ce-4652-aeb9-112037b395a2","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3800,1420],"id":"fdb3231f-44c8-4e99-9efb-ab6d12e4c24b","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Introducción Inspiradora\"].json.message.content,\n  $node[\"Declaración de Fe\"].json.message.content,\n  $node[\"Oración de Gratitud\"].json.message.content,\n  $node[\"Oración por Protección\"].json.message.content,\n  $node[\"Oración de Sanación Interior\"].json.message.content,\n  $node[\"Oración por Milagros de Dios\"].json.message.content,\n  $node[\"Oración de Liberación\"].json.message.content,\n  $node[\"Bendición final / CTA\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,1420],"id":"30646d53-36c4-4e2d-8202-2934a11b1779","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1920,720],"id":"e641e5d4-8202-431f-87a8-3b952ba338f2","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4020,1420],"id":"df164392-716c-428a-b2b7-8fdab227da33","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2100,1420],"id":"73a0559e-68f0-4105-99e1-e936340db09f","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2760,660],"id":"37762aed-c725-4bc9-8743-3e299a73f0b2","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3060,780],"id":"8e19aceb-de24-4d3c-87e2-53ec8f56d72e","name":"Aguardar e Reiniciar Processo","webhookId":"09ca49ad-ce24-45fb-8d20-d8ba70088679"},{"parameters":{"assignments":{"assignments":[{"id":"b9f13f00-8d8a-4727-ba37-a9d507fcceb9","name":"ROTEIRO","value":"682b2e0278df7956373f0b4a","type":"string"},{"id":"0f61075e-b947-408b-8329-a66be2d1f4e0","name":"Canal","value":"@canaldeoraciones_es","type":"string"},{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"título","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2140,720],"id":"74895e99-d644-4631-96ba-aabdd044732c","name":"Organizar Título e Premissa"},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[4240,1420],"id":"2dd8f095-defb-4850-a3df-171c12f1d537","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Introducción Inspiradora\"].json.message.content,\n  $node[\"Declaración de Fe\"].json.message.content,\n  $node[\"Oración de Gratitud\"].json.message.content,\n  $node[\"Oración por Protección\"].json.message.content,\n  $node[\"Oración de Sanación Interior\"].json.message.content,\n  $node[\"Oración por Milagros de Dios\"].json.message.content,\n  $node[\"Oración de Liberación\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Bendición final / CTA\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,1740],"id":"596e09e4-05f8-4e15-92a4-3a6a2c287cd0","name":"Concatenar Capítulos1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\"\n\nAhora escribe el primer capítulo del guion, titulado **\"Introducción Inspiradora\"**, con aproximadamente **750 palabras**, que continúe exactamente desde el punto donde terminó el bloque anterior.\n\nEste capítulo debe tener una fuerte carga emocional y espiritual. El objetivo es reforzar la conexión con el espectador y preparar su corazón para el tiempo de oración que comenzará en los siguientes capítulos.\n\n# ESTRUCTURA DEL CAPÍTULO\n\n1. Inicio Emocional:\n   - Reforza el tema central del video (Fe, Esperanza, Protección, Sanación…).\n   - Usa frases como: **\"No es casualidad que estés aquí hoy\", \"Dios quiere hablar a tu corazón\", \"Abre tu mente y tu espíritu a este momento de oración\"**.\n\n2. Profundización del Contexto:\n   - Explora los sentimientos comunes del público (angustia, incertidumbre, necesidad de consuelo).\n   - Relaciona esos sentimientos con la promesa de la oración que vendrá.\n\n3. Transición al Tiempo de Oración:\n   - Prepara emocionalmente al oyente.\n   - Incluye frases como: **\"Permanece aquí…\", \"Lo que sigue puede transformar tu día\", \"Deja que esta oración llegue hasta lo más profundo de tu ser\"**.\n\n# TONO Y ESTILO\n- Extremadamente emocional, cálido y espiritual.\n- Lenguaje sencillo, directo y cercano.\n- Evita tecnicismos o frases literarias complejas.\n- Narrativa en tercera persona pero con tono íntimo.\n\n# REGLAS RÍGIDAS\n- No incluir el texto original recibido.\n- No dar explicaciones ni comentarios adicionales.\n- Mantén entre **450 y 550 palabras**.\n- El texto debe estar **100% en español**.\n- Al final del capítulo, termina con un gancho emocional que invite a seguir escuchando.\n\n---\n\nFORMATO DE SALIDA:\nDevuelve ÚNICAMENTE el capítulo completo, limpio, continuo, en formato texto plano, sin ninguna estructura JSON, sin bloques tipo \"prompt\": o \"Prompts\":, sin \\n visibles ni etiquetas de código.\nNo incluyas comentarios, explicaciones, ni información técnica.\n\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4260,840],"id":"65278502-ab6a-45fa-8178-b8c360dbdfba","name":"Introducción Inspiradora","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Introducción Inspiradora').item.json.message.content }}\"\n\nAhora escribe el segundo capítulo del guion, titulado **\"Declaración de Fe\"**, con aproximadamente **650 palabras**, que continúe exactamente desde el punto donde terminó el capítulo anterior.\n\nEste capítulo debe enfocarse en llevar al oyente a hacer una declaración verbal de fe, confianza y esperanza en Dios, preparando su espíritu para las siguientes oraciones.\n\n# OBJETIVO DEL CAPÍTULO\n- Guiar al espectador en un momento de afirmación de fe y confianza.\n- Invitar a que la audiencia repita frases de poder espiritual como: **\"Creo que Dios tiene el control\", \"Declaro que este será un día de victoria\", \"Confío en que las promesas de Dios se cumplirán en mi vida\"**.\n\n# ESTRUCTURA DEL CONTENIDO\n1. Reafirmación del Tema:\n   - Menciona brevemente el tema central del video y la importancia de declararlo con la boca.\n\n2. Invitación a Repetir:\n   - Incluye frases que animen al espectador a repetir en voz alta cada declaración.\n   - Ejemplos: **\"Repite conmigo\", \"Declara estas palabras con fe\", \"Dilo fuerte: Hoy es un día de victoria\"**.\n\n3. Declaraciones de Fe:\n   - Incluye una serie de **5 a 7 frases de declaración positiva y espiritual**, que el espectador pueda repetir.\n   - Ejemplos: **\"Hoy elijo confiar en Dios\", \"Mi corazón está lleno de esperanza\", \"Las promesas de Dios son reales en mi vida\"**.\n\n4. Cierre con Gancho:\n   - Termina el capítulo generando expectativa emocional para el siguiente bloque: la **Oración de Gratitud**.\n   - Frases sugeridas: **\"Permanece aquí, lo que sigue será un tiempo de gratitud y bendición\"**, **\"Aún tenemos mucho por declarar delante de Dios\"**.\n\n# TONO Y ESTILO\n- Totalmente emocional, cálido y pastoral.\n- Frases cortas, lenguaje sencillo, directo y lleno de esperanza.\n- No uses lenguaje complicado o teológico profundo. Manténlo accesible.\n\n# REGLAS ESTRICTAS\n- No incluyas explicaciones ni comentarios adicionales.\n- El texto final debe estar completamente en español.\n- Mantén la coherencia narrativa con los capítulos anteriores.\n- Extensión final: entre **450 y 550 palabras**.\n\n# INSTRUCCIONES DE PAUSA (IMPORTANTE)\n- Después de cada frase o declaración guiada que el oyente deba repetir, inserta un tag SSML de pausa:  \n  `<break time=\"2.5s\"/>`\n- NO uses frases como \"(espera para repetir)\" ni comillas.\n- Mantén el texto fluido, con pausas silenciosas entre declaraciones fuertes de fe.\n- Asegúrate de que cada pausa sea natural y ayude a la meditación o repetición mental.\n\n---\n\nFORMATO DE SALIDA:\nDevuelve ÚNICAMENTE el capítulo completo, limpio, continuo, en formato texto plano, sin ninguna estructura JSON, sin bloques tipo \"prompt\": o \"Prompts\":, sin \\n visibles ni etiquetas de código.\nNo incluyas comentarios, explicaciones, ni información técnica."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1640,1100],"id":"f71b1885-0677-4152-bfa1-eedf32a8fde9","name":"Declaración de Fe","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Introducción Inspiradora').item.json.message.content }}\"\n{{ $('Declaración de Fe').item.json.message.content }}\"\n\nAhora escribe el tercer capítulo del guion, titulado **\"Oración de Gratitud\"**, con aproximadamente **650 palabras**, continuando exactamente desde el punto donde terminó el capítulo anterior.\n\nEste capítulo debe ser una oración completa y emocional enfocada en agradecer a Dios por las bendiciones ya recibidas y por las que están por venir.\n\n# OBJETIVO DEL CAPÍTULO\n- Guiar al oyente a vivir un momento profundo de gratitud.\n- Mencionar bendiciones materiales, espirituales y emocionales por las cuales agradecer.\n- Invitar a la audiencia a repetir frases de gratitud durante la oración.\n\n# ESTRUCTURA DEL CONTENIDO\n1. Apertura de la Oración:\n   - Inicia con una invocación directa a Dios, en tono de agradecimiento.\n   - Ejemplos de inicio: **\"Padre Celestial, hoy quiero darte gracias por todo lo que has hecho en mi vida\"**, **\"Señor, hoy me presento ante Ti con un corazón lleno de gratitud\"**.\n\n2. Enumeración de Motivos de Gratitud:\n   - Incluye de **5 a 7 motivos diferentes para agradecer**: salud, familia, protección, sustento, oportunidades, fe renovada, etc.\n\n3. Agradecimiento por las Respuestas que Vendrán:\n   - Ejemplo de frases: **\"Gracias porque sé que estás obrando incluso en lo que aún no puedo ver\"**, **\"Gracias por las puertas que abrirás y por las bendiciones que están en camino\"**.\n\n4. Cierre Espiritual:\n   - Termina con frases que mantengan al oyente conectado y en expectativa para el próximo bloque (Oración por Protección).\n   - Exemplo: **\"Sigue conmigo, Señor… La siguiente oración será un clamor por Tu protección divina\"**.\n\n# TONO Y ESTILO\n- Totalmente espiritual, cálido y emocional.\n- Lenguaje cercano, sencillo y con vocabulário de oración.\n- Incluye frases de repetición invitando a que el oyente declare en voz alta.\n- Evitar lenguaje frío o distante.\n\n# REGLAS ESTRICTAS\n- No incluyas explicaciones, numeraciones ni comentarios fuera de la oración.\n- El texto debe estar **100% en español**.\n- Extensión total: entre **450 y 550 palabras**.\n\n---\n\nFORMATO DE SALIDA:\nDevuelve ÚNICAMENTE el capítulo completo, limpio, continuo, en formato texto plano, sin ninguna estructura JSON, sin bloques tipo \"prompt\": o \"Prompts\":, sin \\n visibles ni etiquetas de código.\nNo incluyas comentarios, explicaciones, ni información técnica.\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2020,1100],"id":"138456b9-411d-43db-9a30-cad087792d13","name":"Oración de Gratitud","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Introducción Inspiradora').item.json.message.content }}\"\n{{ $('Declaración de Fe').item.json.message.content }}\"\n{{ $('Oración de Gratitud').item.json.message.content }}\"\n\nAhora escribe el cuarto capítulo del guion, titulado **\"Oración por Protección\"**, con aproximadamente **750 palabras**, continuando exactamente desde el punto donde terminó el capítulo anterior.\n\nEste capítulo debe ser una oración completa y profundamente emocional, enfocada en pedir la protección de Dios para el día que comienza (o para la noche, si es un video nocturno).\n\n# OBJETIVO DEL CAPÍTULO\n- Guiar al oyente en una oración de protección física, emocional y espiritual.\n- Incluir peticiones específicas por protección del hogar, la familia, la salud, el trabajo y los caminos.\n- Invitar al espectador a repetir partes clave de la oración.\n\n# ESTRUCTURA DEL CONTENIDO\n1. Invocación Inicial:\n   - Comienza con frases como: **\"Padre Amado, hoy me acerco a Ti para pedir Tu protección divina sobre mi vida\"**, **\"Señor, cúbreme con Tu manto de seguridad\"**.\n\n2. Peticiones de Protección:\n   - Incluye al menos **5 áreas diferentes para protección**: salud, familia, finanzas, trabajo, seguridad en el camino, protección espiritual contra el mal.\n\n3. Uso de Salmos y Promesas Bíblicas:\n   - Puedes incluir referencias como el **Salmo 91** o el **Salmo 121**, usando frases inspiradas pero sin copiar textualmente.\n\n4. Repeticiones Guiadas:\n   - Ejemplos: **\"Hoy declaro que ninguna arma forjada contra mí prosperará\"**, **\"Dios es mi refugio y mi fortaleza\"**.\n\n5. Cierre con Expectativa:\n   - Termina el capítulo dejando o espectador emocionalmente preparado para la siguiente oración (Oración de Sanación).\n   - Exemplo: **\"Permanece aquí... La siguiente oración será por sanidad y restauración en tu vida\"**.\n\n# TONO Y ESTILO\n- Altamente emocional, cálido y pastoral.\n- Lenguaje simple, directo, con vocabulário propio de oraciones cristianas.\n- Usa frases que invitem a la fe, confianza y entrega.\n\n# REGLAS ESTRICTAS\n- No incluyas explicaciones, ni comentarios adicionales.\n- El texto debe estar 100% en español.\n- Longitud final entre **450 y 550 palabras**.\n- El texto debe ser solo la oración correspondiente a este bloque.\n\n---\n\nFORMATO DE SALIDA:\nDevuelve ÚNICAMENTE el capítulo completo, limpio, continuo, en formato texto plano, sin ninguna estructura JSON, sin bloques tipo \"prompt\": o \"Prompts\":, sin \\n visibles ni etiquetas de código.\nNo incluyas comentarios, explicaciones, ni información técnica."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2400,1100],"id":"449004a3-0991-4109-b67a-82c75a354820","name":"Oración por Protección","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Introducción Inspiradora').item.json.message.content }}\"\n{{ $('Declaración de Fe').item.json.message.content }}\"\n{{ $('Oración de Gratitud').item.json.message.content }}\"\n{{ $('Oración por Protección').item.json.message.content }}\"\n{{ $('Oración de Sanación Física').item.json.message.content }}\"\n{{ $('Oración de Sanación Interior').item.json.message.content }}\"\n{{ $('Oración por Respuestas Claras').item.json.message.content }}\"\n{{ $('Oración por Milagros de Dios').item.json.message.content }}\"\n\nAhora escribe el séptimo capítulo del guion, titulado **\"Oración de Liberación\"**, con aproximadamente **650 palabras**, continuando exactamente desde donde terminó el capítulo anterior.\n\nEste bloque debe ser una oración poderosa enfocada en **liberación espiritual**, **rompimiento de cadenas**, **liberación de cargas emocionales**, y **victoria sobre el temor y la ansiedad**.\n\n# OBJETIVO DEL CAPÍTULO\n- Llevar al oyente a un clamor espiritual por liberación.\n- Incluir frases de renuncia, autoridad espiritual y proclamación de libertad.\n- Inspirar confianza en el poder de Dios para romper ataduras.\n\n# ESTRUCTURA DEL CONTENIDO\n1. Apertura Fuerte:\n   - Ejemplos de frases iniciales:  \n   **\"Señor, hoy vengo delante de Ti para romper toda cadena que me ata\"**,  \n   **\"Declaro que en el Nombre de Jesús, todo miedo, ansiedad y opresión salen de mi vida\"**.\n\n2. Declaraciones de Autoridad:\n   - Incluye al menos **5 declaraciones de liberación**, para que el oyente repita:  \n   **\"Renuncio al miedo\"**,  \n   **\"Rechazo toda angustia\"**,  \n   **\"Rompo cadenas de tristeza y desesperanza\"**,  \n   **\"Recibo libertad emocional y espiritual\"**,  \n   **\"Declaro victoria en el Nombre de Jesús\"**.\n\n3. Mención de Áreas a Ser Liberadas:\n   - Mente, corazón, cuerpo, emociones, familia.\n\n4. Enfoque en el Poder de Dios:\n   - Frases como: **\"Dios tiene poder para restaurar mi vida\"**, **\"Hoy recibo libertad por el poder del Espíritu Santo\"**.\n\n5. Cierre con Expectativa:\n   - Finalize preparando o ouvinte para o bloco final (Capítulo 8 – **Oración de Bendición Final**).\n   - Exemplo:  \n   **\"Permanece aquí… La próxima oración será una poderosa bendición final sobre tu vida\"**.\n\n# TONO Y ESTILO\n- Fervoroso, emocional y lleno de autoridad espiritual.\n- Lenguaje de oración fuerte, con frases de declaración y renuncia.\n- Acessível e directo, sem termos teológicos complicados.\n\n# REGLAS ESTRICTAS\n- No incluyas explicaciones o comentarios adicionales.\n- El texto debe estar completamente en español.\n- Longitud entre **450 y 550 palabras**.\n\n# INSTRUCCIONES DE PAUSA (IMPORTANTE)\n- Después de cada frase o declaración guiada que el oyente deba repetir, inserta un tag SSML de pausa:  \n  `<break time=\"2.5s\"/>`\n- NO uses frases como \"(espera para repetir)\" ni comillas.\n- Mantén el texto fluido, con pausas silenciosas entre declaraciones fuertes de fe.\n- Asegúrate de que cada pausa sea natural y ayude a la meditación o repetición mental.\n\n---\n\nFORMATO DE SALIDA:\nDevuelve ÚNICAMENTE el capítulo completo, limpio, continuo, en formato texto plano, sin ninguna estructura JSON, sin bloques tipo \"prompt\": o \"Prompts\":, sin \\n visibles ni etiquetas de código.\nNo incluyas comentarios, explicaciones, ni información técnica."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4260,1100],"id":"9ad433ff-6218-4bd9-931e-1d4498d2f84c","name":"Oración de Liberación","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Introducción Inspiradora').item.json.message.content }}\"\n{{ $('Declaración de Fe').item.json.message.content }}\"\n{{ $('Oración de Gratitud').item.json.message.content }}\"\n{{ $('Oración por Protección').item.json.message.content }}\"\n{{ $('Oración de Sanación Física').item.json.message.content }}\"\n{{ $('Oración de Sanación Interior').item.json.message.content }}\"\n{{ $('Oración por Respuestas Claras').item.json.message.content }}\"\n{{ $('Oración por Milagros de Dios').item.json.message.content }}\"\n{{ $('Oración de Liberación').item.json.message.content }}\"\n\nAhora escribe el **capítulo final**, con aproximadamente **550 palabras**, que sirva como gran cierre de todo el guion anterior.\n\nEste bloque debe combinar:\n\n✅ Una **Oración de Bendición Final poderosa y emotiva**  \n✅ Un **mensaje de despedida emocional**, lleno de esperanza y propósito  \n✅ Un **CTA fuerte y claro** motivando a suscribirse, comentar, dar like y compartir  \n✅ Y un **epílogo sutil**, un pequeño gancho emocional para reforzar la expectativa de futuras oraciones\n\n---\n\n# ESTRUCTURA DEL CONTENIDO:\n\n1. **Oración Final de Bendición (aprox. 300 palabras)**  \n   - Incluye peticiones de bendición para la salud, familia, trabajo, emociones, y futuro del oyente.  \n   - Ejemplos de frases:  \n   **\"Señor, bendice la vida de cada persona que escuchó esta oración…\"**,  \n   **\"Que Tu paz, Tu amor y Tu favor estén sobre ellos…\"**,  \n   **\"Declaro puertas abiertas, provisión abundante y respuestas divinas…\"**\n\n2. **Mensaje de Cierre y Gratitud (aprox. 100 palabras)**  \n   - Frases como:  \n   **\"Gracias por haberte quedado hasta el final de esta oración poderosa…\"**,  \n   **\"Recuerda que aquí siempre tendrás un lugar para encontrarte con Dios…\"**\n\n3. **CTA FINAL OBLIGATORIO (aprox. 50-70 palabras)**  \n   Incluye exactamente estos 4 pedidos de acción, com tom emocional y imperativo:  \n   ✅ **\"Suscríbete al canal ahora mismo\"**  \n   ✅ **\"Activa la campanita de notificaciones\"**  \n   ✅ **\"Deja tu like poderoso\"**  \n   ✅ **\"Y cuéntame en los comentarios: ¿desde qué ciudad o país nos estás acompañando? Además… Comparte este video con al menos 5 personas que necesiten recibir esta palabra hoy\"**\n\n   Exemplo de formulação de CTA:  \n   **\"Tienes que suscribirte ahora mismo si quieres recibir más oraciones como esta… Activa la campanita… Deja ese like poderoso para que YouTube muestre esta oración a más personas… Y cuéntame aquí abajo desde qué ciudad nos acompañas… Además, comparte este video con al menos 5 personas que necesitan escuchar esta palabra… ¡Nos vemos en la próxima oración!\"**\n\n4. **Epílogo Sutil (Frase final)**  \n   - Exemplo:  \n   **\"Y recuerda… Dios siempre tiene la última palabra sobre tu vida.\"**  \n   ou  \n   **\"Nos vemos en la próxima oración poderosa… Que Dios te bendiga.\"**\n\n---\n\n# REGLAS ESTRICTAS:\n\n- Longitud total: **entre 450 y 550 palabras**  \n- Todo el texto debe estar **100% en español**  \n- No incluir subtítulos, instrucciones internas, ni explicaciones  \n- Mantener tono espiritual, emocional y pastoral  \n- O CTA de engajamento máximo es obligatorio\n\n---\n\nFORMATO DE SALIDA:\nDevuelve ÚNICAMENTE el capítulo completo, limpio, continuo, en formato texto plano, sin ninguna estructura JSON, sin bloques tipo \"prompt\": o \"Prompts\":, sin \\n visibles ni etiquetas de código.\nNo incluyas comentarios, explicaciones, ni información técnica.\n\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4640,1100],"id":"714f2993-2d5e-490f-8e06-9e2a0651423e","name":"Bendición final / CTA","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Introducción Inspiradora').item.json.message.content }}\"\n{{ $('Declaración de Fe').item.json.message.content }}\"\n{{ $('Oración de Gratitud').item.json.message.content }}\"\n{{ $('Oración por Protección').item.json.message.content }}\"\n\nAhora escribe el siguiente capítulo del guion, titulado **\"Oración por Sanación Física\"**, con aproximadamente **750 palabras**, continuando desde donde terminó el capítulo anterior.\n\nEste capítulo debe ser una oración profunda y devocional enfocada exclusivamente en la sanación física del cuerpo, incluyendo enfermedades, dolores, debilidad, agotamiento, diagnósticos difíciles y procesos de recuperación.\n\n# OBJETIVO DEL CAPÍTULO\n- Guiar al oyente a un momento de clamor por sanidad física.\n- Despertar fe en el poder sanador de Dios sobre cada parte del cuerpo.\n- Crear una atmósfera de esperanza, alivio y renovación física.\n\n# ESTRUCTURA DEL CONTENIDO\n1. **Invocación Inicial:**\n   - Frases como: *\"Señor, Tú eres el Dios que restaura el cuerpo\", \"Vengo a Ti clamando por salud y fortaleza física\"*.\n\n2. **Peticiones Detalladas por Áreas del Cuerpo:**\n   - Menciona partes como corazón, pulmones, huesos, articulaciones, piel, sistema inmunológico, órganos internos.\n   - Referencia dolores crónicos, enfermedades graves y condiciones que afectan el día a día.\n\n3. **Lenguaje Inspirado en Promesas Bíblicas:**\n   - Usa frases como *\"Por Tus llagas fui sanado\"*, *\"Declaro vida y salud sobre mi cuerpo\"*, *\"Tú llevaste mis dolencias y enfermedades\"*.\n\n4. **Repeticiones Guiadas:**\n   - Incluir frases para que el oyente repita:  \n   **\"Hoy declaro que mi cuerpo está siendo sanado\"**,  \n   **\"Cada célula responde al poder sanador de Dios\"**,  \n   **\"Mi salud está en las manos del Señor\"**.\n\n5. **Cierre Emocional con Gancho:**\n   - Conclui reforçando que a cura começou a acontecer e que o próximo bloco trará uma oração ainda mais profunda:\n   **\"Permanece aquí… La próxima oración será por sanidad interior y restauración emocional\"**.\n\n# TONO Y ESTILO\n- Emotivo, cercano, pastoral y cargado de esperanza.\n- Usar metáforas suaves, como bálsamo, luz que restaura, abrazo divino.\n- Lenguaje muy accesible, como se habla en oración.\n\n# REGLAS ESTRICTAS\n- No incluyas explicaciones, estructura JSON ni ningún tipo de formato técnico.\n- El texto debe estar 100% en español y listo para ser narrado.\n- Mantener entre 700 y 800 palabras (ideal: ~750).\n\n---\n\n**FORMATO DE SALIDA:**  \nDevuelve ÚNICAMENTE el capítulo completo, limpio, en texto plano, sin bloques tipo `prompt:` ni `\\n` visibles. No incluyas comentarios ni explicaciones.\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2780,1100],"id":"b471e8a3-8f66-4c54-a81f-52a280ca5539","name":"Oración de Sanación Física","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Introducción Inspiradora').item.json.message.content }}\"\n{{ $('Declaración de Fe').item.json.message.content }}\"\n{{ $('Oración de Gratitud').item.json.message.content }}\"\n{{ $('Oración por Protección').item.json.message.content }}\"\n{{ $('Oración de Sanación Física').item.json.message.content }}\"\n\nAhora escribe el siguiente capítulo del guion, titulado **\"Oración por Sanación Interior\"**, con aproximadamente **700 palabras**, continuando exactamente desde donde terminó el capítulo anterior.\n\nEste capítulo debe ser una oración profundamente emocional y espiritual, enfocada en la sanación interior: heridas del alma, tristeza, ansiedad, recuerdos traumáticos, resentimiento, miedo y desconexión espiritual.\n\n# OBJETIVO DEL CAPÍTULO\n- Guiar al oyente a un momento íntimo de restauración emocional y espiritual.\n- Abrir espacio para el perdón, el alivio de la tristeza y la recuperación de la fe y la esperanza.\n- Crear un ambiente de ternura, comprensión y sanación profunda.\n\n# ESTRUCTURA DEL CONTENIDO\n1. **Invocación Inicial:**\n   - Frases como: *\"Padre, mi alma está cansada y herida\"*, *\"Hoy me acerco a Ti buscando sanidad interior y paz profunda\"*.\n\n2. **Clamor por las Áreas del Corazón:**\n   - Trata de heridas del pasado, ansiedad, culpa, insomnio, pensamientos negativos, vacío espiritual, tristeza sin causa.\n\n3. **Frases Inspiradas en la Palabra:**\n   - Como: *\"Tú sanas a los quebrantados de corazón\"*, *\"Tu amor renueva mis emociones\"*, *\"En Ti hay consuelo para el alma abatida\"*.\n\n4. **Repeticiones Guiadas:**\n   - Incluye frases para que el oyente repita:  \n   **\"Hoy dejo ir el dolor que me ata\"**,  \n   **\"Recibo Tu paz en mi mente y en mi corazón\"**,  \n   **\"Mi alma está siendo restaurada por el amor de Dios\"**.\n\n5. **Cierre Emocional con Gancho:**\n   - Conclua com esperança, preparando para o próximo bloco milagroso:\n   **\"No te vayas… Lo que sigue es una oración poderosa por milagros y respuestas divinas\"**.\n\n# TONO Y ESTILO\n- Totalmente empático, compasivo y tierno.\n- Tom de oração suave, com frases curtas, pausadas e cheias de consolo.\n\n# REGLAS ESTRICTAS\n- No incluyas explicaciones ni formato JSON.\n- El texto debe estar 100% en español y listo para narración.\n- Longitud entre 650 y 750 palabras (ideal: ~700).\n\n# INSTRUCCIONES DE PAUSA (IMPORTANTE)\n- Después de cada frase o declaración guiada que el oyente deba repetir, inserta un tag SSML de pausa:  \n  `<break time=\"2.5s\"/>`\n- NO uses frases como \"(espera para repetir)\" ni comillas.\n- Mantén el texto fluido, con pausas silenciosas entre declaraciones fuertes de fe.\n- Asegúrate de que cada pausa sea natural y ayude a la meditación o repetición mental.\n\n---\n\n**FORMATO DE SALIDA:**  \nDevuelve ÚNICAMENTE el capítulo completo, limpio, en texto plano, sin bloques tipo `prompt:` ni `\\n` visibles. No incluyas comentarios ni explicaciones.\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3140,1100],"id":"6d240a7e-e55d-4552-b778-63cb4359600a","name":"Oración de Sanación Interior","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Introducción Inspiradora').item.json.message.content }}\"\n{{ $('Declaración de Fe').item.json.message.content }}\"\n{{ $('Oración de Gratitud').item.json.message.content }}\"\n{{ $('Oración por Protección').item.json.message.content }}\"\n{{ $('Oración de Sanación Física').item.json.message.content }}\"\n{{ $('Oración de Sanación Interior').item.json.message.content }}\"\n\nAhora escribe el siguiente capítulo del guion, titulado **\"Oración por Respuestas Claras\"**, con aproximadamente **700 palabras**, continuando exactamente desde donde terminó el capítulo anterior.\n\nEste capítulo será una oración devocional enfocada exclusivamente en clamar a Dios por **respuestas, dirección y claridad** ante decisiones, dudas, incertidumbres y caminos inciertos.\n\n# OBJETIVO DEL CAPÍTULO\n- Ayudar al oyente a entregar sus preguntas y buscar dirección divina.\n- Reforzar la fe en que Dios habla, guía y muestra el camino correcto.\n- Incluir situaciones como elecciones difíciles, confusión, miedo al futuro y espera de señales.\n\n# ESTRUCTURA DEL CONTENIDO\n1. **Invocación Inicial:**\n   - Frases como: *\"Señor, Tú conoces mi corazón y cada una de mis dudas\"*,  \n   *\"Hoy vengo a Ti buscando dirección y respuestas claras que solo Tú puedes dar\"*.\n\n2. **Situaciones Comunes:**\n   - Mencionar al menos 4 dilemas que personas viven hoy:  \n     - Decisiones familiares importantes.  \n     - Cambios de trabajo.  \n     - Elecciones personales.  \n     - Peticiones no respondidas que generan angustia.\n\n3. **Frases Guiadas de Fe y Rendición:**\n   - Para que el oyente repita:  \n     **\"Confío en que Dios me dará claridad\"**  \n     **\"Hoy entrego mis decisiones en Sus manos\"**  \n     **\"Aun en el silencio, sé que Él me guía\"**\n\n4. **Lenguaje Inspirador:**\n   - Usar figuras como: *\"luz en medio de la neblina\"*, *\"puertas que se abren\"*, *\"voz que guía con amor\"*.\n\n5. **Cierre Emocional con Expectativa:**\n   - Finaliza despertando esperança para o próximo bloco:\n     **\"No te vayas… Lo que sigue es una oración de clamor por milagros y maravillas que solo Dios puede hacer\"**.\n\n# TONO Y ESTILO\n- Calmo, esperanzador, íntimo y profundamente devocional.\n- Lenguaje directo y emocional, sem teología técnica.\n- Atmosfera de paz, rendición, y confianza absoluta.\n\n# REGLAS ESTRICTAS\n- No incluyas estructura JSON, explicaciones, ni bloques técnicos.\n- El texto debe estar 100% en español.\n- Longitud entre 650 y 750 palabras (ideal: ~700).\n\n---\n\n**FORMATO DE SALIDA:**  \nDevuelve ÚNICAMENTE el capítulo completo, limpio, en texto plano, sin ningún \"prompt:\", JSON ni `\\n`. No incluyas explicaciones.\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3520,1100],"id":"feee30d4-a32d-474e-8290-1eb7090af40c","name":"Oración por Respuestas Claras","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Introducción Inspiradora').item.json.message.content }}\"\n{{ $('Declaración de Fe').item.json.message.content }}\"\n{{ $('Oración de Gratitud').item.json.message.content }}\"\n{{ $('Oración por Protección').item.json.message.content }}\"\n{{ $('Oración de Sanación Física').item.json.message.content }}\"\n{{ $('Oración de Sanación Interior').item.json.message.content }}\"\n{{ $('Oración por Respuestas Claras').item.json.message.content }}\"\n\nAhora escribe el siguiente capítulo del guion, titulado **\"Oración por los Milagros de Dios\"**, con aproximadamente **700 palabras**, continuando exactamente desde donde terminó el capítulo anterior.\n\nEste capítulo será una oración fervorosa, enfocada exclusivamente en **milagros sobrenaturales**, clamor profundo por intervención divina en áreas como salud, finanzas, restauración familiar, imposibles humanos y promesas que aún no se han cumplido.\n\n# OBJETIVO DEL CAPÍTULO\n- Estimular la fe de que Dios aún hace milagros.\n- Incluir al menos 5 ejemplos reales de situaciones donde solo un milagro puede cambiar la historia.\n- Guiar al oyente a levantar su voz en clamor, con esperanza renovada.\n\n# ESTRUCTURA DEL CONTENIDO\n1. **Invocación Fervorosa:**\n   - Frases como: *\"Dios del imposible, hoy vengo a Ti con mi corazón expectante\"*,  \n   *\"Creo en Tu poder sobrenatural que transforma toda circunstancia\"*.\n\n2. **Listado de Peticiones Milagrosas:**\n   - Incluye: sanidad inexplicable, restauración financiera radical, reconciliación familiar imposible, puertas que se abren sin explicação, justicia divina.\n\n3. **Frases de Fe Para Repetir:**\n   - Incluye:  \n     **\"Creo que mi milagro está en camino\"**  \n     **\"Dios está obrando aunque no lo vea\"**  \n     **\"Declaro que lo imposible será posible en el Nombre de Jesús\"**\n\n4. **Aumento Emocional en el Clamor:**\n   - Suba de tom espiritual no meio do capítulo, criando tensão devocional e entrega total.\n\n5. **Cierre con Transición Clara:**\n   - Prepare a audiência para o próximo bloco:\n     **\"Permanece aquí… En el siguiente bloque haremos una oración poderosa por liberación espiritual\"**.\n\n# TONO Y ESTILO\n- Fuerte, emocional, apasionado, devocional.\n- Atmosfera de guerra espiritual con fe, sin exageros.\n- Lenguaje bíblico accesible e inspirador.\n\n# REGLAS ESTRICTAS\n- No incluyas estructura JSON, explicaciones ni comentarios.\n- El texto debe estar 100% en español.\n- Longitud entre 650 y 750 palabras (ideal: ~700).\n\n---\n\n**FORMATO DE SALIDA:**  \nDevuelve ÚNICAMENTE el capítulo completo, limpio, en texto plano, sin ningún \"prompt:\", JSON ni `\\n`. No incluyas explicaciones.\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3880,1100],"id":"05ab2dc5-2c6c-45ec-b15b-862a0a32a9e0","name":"Oración por Milagros de Dios","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}}],"connections":{"Gerar Capítulo 8":{"main":[[]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Introducción Inspiradora","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Introducción Inspiradora":{"main":[[{"node":"Declaración de Fe","type":"main","index":0}]]},"Declaración de Fe":{"main":[[{"node":"Oración de Gratitud","type":"main","index":0}]]},"Oración de Gratitud":{"main":[[{"node":"Oración por Protección","type":"main","index":0}]]},"Oración por Protección":{"main":[[{"node":"Oración de Sanación Física","type":"main","index":0}]]},"Oración de Liberación":{"main":[[{"node":"Bendición final / CTA","type":"main","index":0}]]},"Bendición final / CTA":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Oración de Sanación Física":{"main":[[{"node":"Oración de Sanación Interior","type":"main","index":0}]]},"Oración de Sanación Interior":{"main":[[{"node":"Oración por Respuestas Claras","type":"main","index":0}]]},"Oración por Respuestas Claras":{"main":[[{"node":"Oración por Milagros de Dios","type":"main","index":0}]]},"Oración por Milagros de Dios":{"main":[[{"node":"Oración de Liberación","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"35a6416c-b8bf-4e2d-8fbb-4730ff03d05b","triggerCount":0,"tags":[{"createdAt":"2025-06-03T13:08:52.656Z","updatedAt":"2025-06-03T13:08:52.656Z","id":"5X46tRV4lwQwBhLN","name":"teste ok"}]}