03---cria-roteiros---en-FEjxrii0Cy4VQ5m7.json
{"createdAt":"2025-06-09T20:24:22.640Z","updatedAt":"2025-06-23T19:34:31.810Z","id":"FEjxrii0Cy4VQ5m7","name":"03 - CRIA ROTEIROS - EN","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\"\n\nWrite a new chapter, approximately 500 words, that continues the events described above, introducing an extremely shocking and impactful twist that completely transforms the narrative. Begin exactly from the point where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story—altering relationships, revealing devastating secrets, or transforming the true nature of a main character. The twist must reveal a hidden layer: a secret, a concealed identity, an unexpected betrayal, an internal conspiracy, or a hidden past that completely changes everything the reader thought they knew so far.\n\nMaintain the same style, language, and rhythm of the original narrative while building this abrupt change in a way that leaves the reader in shock. Do not end the plot or resolve the conflicts definitively, but use this twist to create an even more powerful hook at the end—leaving the reader desperate to discover the consequences of this transformative event. Provide only the new chapter and do not rewrite the previous one, without explanations, additional comments, word count, or special characters.\n\n# Additional Instructions:\n\n* Use cinematic and sensory language from the very first paragraph.\n* Insert clear tension within the first 3 sentences.\n\nNARRATIVE TECHNIQUE:\n\n1. Emotional Intensity\n\n   * Raw emotion: fear, pain, shock, compassion.\n   * Strong verbs and adjectives; physical and psychological impact.\n\n2. Urgency and Rhythm\n\n   * Short sentences + concise descriptions.\n   * Punctuation that speeds up: ellipses, exclamations, pauses.\n\n3. Concrete Sensory Description\n\n   * Clear and immediate colors, sounds, smells, and textures.\n\n4. Cinematography\n\n   * Close-ups, wide shots, scene cuts simulated through paragraph breaks.\n\n5. Observant and Close Narrator\n\n   * Third person with a casual tone.\n\n6. Contrasts and Silences\n\n   * Silence that speaks, pause followed by explosion.\n\n7. Collective Reactions\n\n   * Whispers, expressions, fragmented dialogue from secondary characters.\n\n8. Shock Language\n\n   * Horror, scandal, tragedy with authenticity.\n\n9. Bare Pain\n\n   * Physical and emotional, without euphemisms.\n\n10. Sparks of Hope\n\n    * Small emotional breaths to intensify the tension.\n\n11. Voice Consistency\n\n    * Visceral and cinematic tone from beginning to end.\n\n12. Lexical Selection\n\n    * Precise verbs and adjectives; avoid generic adverbs.\n\n13. Prohibitions\n\n    * No philosophical reflections, flowery literary vocabulary, or internal instructions.\n\nRemember: the twist must REVEAL a new secret that changes everything. End with a hook.\n"},{"content":"Please provide the text in English, using names and expressions common among English speakers from different countries, adapted in a way that reflects the shared culture of the diverse peoples who speak the language. Adapt names, places, and cultural references so they feel natural and recognizable in English, ensuring they remain relevant and resonate with the audience.\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2340,580],"id":"03102995-a9a7-4d53-a7dd-b8bdacb3bccc","name":"Gerar Capítulo 1","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\"\n\nWrite a new chapter, approximately 500 words, that continues the events described above, introducing an extremely shocking and impactful twist that completely transforms the narrative. Begin exactly from the point where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story—altering relationships, revealing devastating secrets, or transforming the true nature of a main character. The twist must reveal a hidden layer: a secret, a concealed identity, an unexpected betrayal, an internal conspiracy, or a hidden past that completely changes everything the reader thought they knew so far.\n\nMaintain the same style, language, and rhythm of the original narrative while building this abrupt change in a way that leaves the reader in shock. Do not end the plot or resolve the conflicts definitively, but use this twist to create an even more powerful hook at the end—leaving the reader desperate to discover the consequences of this transformative event. Provide only the new chapter and do not rewrite the previous one, without explanations, additional comments, word count, or special characters.\n\n# Additional Instructions:\n\n* Use cinematic and sensory language from the very first paragraph.\n* Insert clear tension within the first 3 sentences.\n\nNARRATIVE TECHNIQUE:\n\n1. Emotional Intensity\n\n   * Raw emotion: fear, pain, shock, compassion.\n   * Strong verbs and adjectives; physical and psychological impact.\n\n2. Urgency and Rhythm\n\n   * Short sentences + concise descriptions.\n   * Punctuation that speeds up: ellipses, exclamations, pauses.\n\n3. Concrete Sensory Description\n\n   * Clear and immediate colors, sounds, smells, and textures.\n\n4. Cinematography\n\n   * Close-ups, wide shots, scene cuts simulated through paragraph breaks.\n\n5. Observant and Close Narrator\n\n   * Third person with a casual tone.\n\n6. Contrasts and Silences\n\n   * Silence that speaks, pause followed by explosion.\n\n7. Collective Reactions\n\n   * Whispers, expressions, fragmented dialogue from secondary characters.\n\n8. Shock Language\n\n   * Horror, scandal, tragedy with authenticity.\n\n9. Bare Pain\n\n   * Physical and emotional, without euphemisms.\n\n10. Sparks of Hope\n\n    * Small emotional breaths to intensify the tension.\n\n11. Voice Consistency\n\n    * Visceral and cinematic tone from beginning to end.\n\n12. Lexical Selection\n\n    * Precise verbs and adjectives; avoid generic adverbs.\n\n13. Prohibitions\n\n    * No philosophical reflections, flowery literary vocabulary, or internal instructions.\n\nRemember: the twist must REVEAL a new secret that changes everything. End with a hook.\n"},{"content":"Please provide the text in English, using names and expressions common among English speakers from different countries, adapted in a way that reflects the shared culture of the diverse peoples who speak the language. Adapt names, places, and cultural references so they feel natural and recognizable in English, ensuring they remain relevant and resonate with the audience.\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-340,840],"id":"1d053225-4434-4988-83df-b4ec92cd29a5","name":"Gerar Capítulo 2","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\"\n\nWrite a new chapter, approximately 500 words, that continues the events described above, introducing an extremely shocking and impactful twist that completely transforms the narrative. Begin exactly from the point where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story—altering relationships, revealing devastating secrets, or transforming the true nature of a main character. The twist must reveal a hidden layer: a secret, a concealed identity, an unexpected betrayal, an internal conspiracy, or a hidden past that completely changes everything the reader thought they knew so far.\n\nMaintain the same style, language, and rhythm of the original narrative while building this abrupt change in a way that leaves the reader in shock. Do not end the plot or resolve the conflicts definitively, but use this twist to create an even more powerful hook at the end—leaving the reader desperate to discover the consequences of this transformative event. Provide only the new chapter and do not rewrite the previous one, without explanations, additional comments, word count, or special characters.\n\n# Additional Instructions:\n\n* Use cinematic and sensory language from the very first paragraph.\n* Insert clear tension within the first 3 sentences.\n\nNARRATIVE TECHNIQUE:\n\n1. Emotional Intensity\n\n   * Raw emotion: fear, pain, shock, compassion.\n   * Strong verbs and adjectives; physical and psychological impact.\n\n2. Urgency and Rhythm\n\n   * Short sentences + concise descriptions.\n   * Punctuation that speeds up: ellipses, exclamations, pauses.\n\n3. Concrete Sensory Description\n\n   * Clear and immediate colors, sounds, smells, and textures.\n\n4. Cinematography\n\n   * Close-ups, wide shots, scene cuts simulated through paragraph breaks.\n\n5. Observant and Close Narrator\n\n   * Third person with a casual tone.\n\n6. Contrasts and Silences\n\n   * Silence that speaks, pause followed by explosion.\n\n7. Collective Reactions\n\n   * Whispers, expressions, fragmented dialogue from secondary characters.\n\n8. Shock Language\n\n   * Horror, scandal, tragedy with authenticity.\n\n9. Bare Pain\n\n   * Physical and emotional, without euphemisms.\n\n10. Sparks of Hope\n\n    * Small emotional breaths to intensify the tension.\n\n11. Voice Consistency\n\n    * Visceral and cinematic tone from beginning to end.\n\n12. Lexical Selection\n\n    * Precise verbs and adjectives; avoid generic adverbs.\n\n13. Prohibitions\n\n    * No philosophical reflections, flowery literary vocabulary, or internal instructions.\n\nRemember: the twist must REVEAL a new secret that changes everything. End with a hook.\n"},{"content":"Please provide the text in English, using names and expressions common among English speakers from different countries, adapted in a way that reflects the shared culture of the diverse peoples who speak the language. Adapt names, places, and cultural references so they feel natural and recognizable in English, ensuring they remain relevant and resonate with the audience.\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[40,840],"id":"8b1e7be7-e329-41ab-95ac-3ff6455fc39a","name":"Gerar Capítulo 3","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\"\n\nWrite a new chapter, approximately 500 words, that continues the events described above, introducing an extremely shocking and impactful twist that completely transforms the narrative. Begin exactly from the point where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story—altering relationships, revealing devastating secrets, or transforming the true nature of a main character. The twist must reveal a hidden layer: a secret, a concealed identity, an unexpected betrayal, an internal conspiracy, or a hidden past that completely changes everything the reader thought they knew so far.\n\nMaintain the same style, language, and rhythm of the original narrative while building this abrupt change in a way that leaves the reader in shock. Do not end the plot or resolve the conflicts definitively, but use this twist to create an even more powerful hook at the end—leaving the reader desperate to discover the consequences of this transformative event. Provide only the new chapter and do not rewrite the previous one, without explanations, additional comments, word count, or special characters.\n\n# Additional Instructions:\n\n* Use cinematic and sensory language from the very first paragraph.\n* Insert clear tension within the first 3 sentences.\n\nNARRATIVE TECHNIQUE:\n\n1. Emotional Intensity\n\n   * Raw emotion: fear, pain, shock, compassion.\n   * Strong verbs and adjectives; physical and psychological impact.\n\n2. Urgency and Rhythm\n\n   * Short sentences + concise descriptions.\n   * Punctuation that speeds up: ellipses, exclamations, pauses.\n\n3. Concrete Sensory Description\n\n   * Clear and immediate colors, sounds, smells, and textures.\n\n4. Cinematography\n\n   * Close-ups, wide shots, scene cuts simulated through paragraph breaks.\n\n5. Observant and Close Narrator\n\n   * Third person with a casual tone.\n\n6. Contrasts and Silences\n\n   * Silence that speaks, pause followed by explosion.\n\n7. Collective Reactions\n\n   * Whispers, expressions, fragmented dialogue from secondary characters.\n\n8. Shock Language\n\n   * Horror, scandal, tragedy with authenticity.\n\n9. Bare Pain\n\n   * Physical and emotional, without euphemisms.\n\n10. Sparks of Hope\n\n    * Small emotional breaths to intensify the tension.\n\n11. Voice Consistency\n\n    * Visceral and cinematic tone from beginning to end.\n\n12. Lexical Selection\n\n    * Precise verbs and adjectives; avoid generic adverbs.\n\n13. Prohibitions\n\n    * No philosophical reflections, flowery literary vocabulary, or internal instructions.\n\nRemember: the twist must REVEAL a new secret that changes everything. End with a hook.\n"},{"content":"Please provide the text in English, using names and expressions common among English speakers from different countries, adapted in a way that reflects the shared culture of the diverse peoples who speak the language. Adapt names, places, and cultural references so they feel natural and recognizable in English, ensuring they remain relevant and resonate with the audience.\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[420,840],"id":"834bc577-e269-4bd8-af42-f4b2fe8a076d","name":"Gerar Capítulo 4","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\"\n\nWrite a new chapter, approximately 500 words, that continues the events described above, introducing an extremely shocking and impactful twist that completely transforms the narrative. Begin exactly from the point where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story—altering relationships, revealing devastating secrets, or transforming the true nature of a main character. The twist must reveal a hidden layer: a secret, a concealed identity, an unexpected betrayal, an internal conspiracy, or a hidden past that completely changes everything the reader thought they knew so far.\n\nMaintain the same style, language, and rhythm of the original narrative while building this abrupt change in a way that leaves the reader in shock. Do not end the plot or resolve the conflicts definitively, but use this twist to create an even more powerful hook at the end—leaving the reader desperate to discover the consequences of this transformative event. Provide only the new chapter and do not rewrite the previous one, without explanations, additional comments, word count, or special characters.\n\n# Additional Instructions:\n\n* Use cinematic and sensory language from the very first paragraph.\n* Insert clear tension within the first 3 sentences.\n\nNARRATIVE TECHNIQUE:\n\n1. Emotional Intensity\n\n   * Raw emotion: fear, pain, shock, compassion.\n   * Strong verbs and adjectives; physical and psychological impact.\n\n2. Urgency and Rhythm\n\n   * Short sentences + concise descriptions.\n   * Punctuation that speeds up: ellipses, exclamations, pauses.\n\n3. Concrete Sensory Description\n\n   * Clear and immediate colors, sounds, smells, and textures.\n\n4. Cinematography\n\n   * Close-ups, wide shots, scene cuts simulated through paragraph breaks.\n\n5. Observant and Close Narrator\n\n   * Third person with a casual tone.\n\n6. Contrasts and Silences\n\n   * Silence that speaks, pause followed by explosion.\n\n7. Collective Reactions\n\n   * Whispers, expressions, fragmented dialogue from secondary characters.\n\n8. Shock Language\n\n   * Horror, scandal, tragedy with authenticity.\n\n9. Bare Pain\n\n   * Physical and emotional, without euphemisms.\n\n10. Sparks of Hope\n\n    * Small emotional breaths to intensify the tension.\n\n11. Voice Consistency\n\n    * Visceral and cinematic tone from beginning to end.\n\n12. Lexical Selection\n\n    * Precise verbs and adjectives; avoid generic adverbs.\n\n13. Prohibitions\n\n    * No philosophical reflections, flowery literary vocabulary, or internal instructions.\n\nRemember: the twist must REVEAL a new secret that changes everything. End with a hook.\n"},{"content":"Please provide the text in English, using names and expressions common among English speakers from different countries, adapted in a way that reflects the shared culture of the diverse peoples who speak the language. Adapt names, places, and cultural references so they feel natural and recognizable in English, ensuring they remain relevant and resonate with the audience.\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[800,840],"id":"c57fed26-1082-4289-88c0-c4bb0bce461c","name":"Gerar Capítulo 5","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\"\n\nWrite a new chapter, approximately 500 words, that continues the events described above, introducing an extremely shocking and impactful twist that completely transforms the narrative. Begin exactly from the point where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story—altering relationships, revealing devastating secrets, or transforming the true nature of a main character. The twist must reveal a hidden layer: a secret, a concealed identity, an unexpected betrayal, an internal conspiracy, or a hidden past that completely changes everything the reader thought they knew so far.\n\nMaintain the same style, language, and rhythm of the original narrative while building this abrupt change in a way that leaves the reader in shock. Do not end the plot or resolve the conflicts definitively, but use this twist to create an even more powerful hook at the end—leaving the reader desperate to discover the consequences of this transformative event. Provide only the new chapter and do not rewrite the previous one, without explanations, additional comments, word count, or special characters.\n\n# Additional Instructions:\n\n* Use cinematic and sensory language from the very first paragraph.\n* Insert clear tension within the first 3 sentences.\n\nNARRATIVE TECHNIQUE:\n\n1. Emotional Intensity\n\n   * Raw emotion: fear, pain, shock, compassion.\n   * Strong verbs and adjectives; physical and psychological impact.\n\n2. Urgency and Rhythm\n\n   * Short sentences + concise descriptions.\n   * Punctuation that speeds up: ellipses, exclamations, pauses.\n\n3. Concrete Sensory Description\n\n   * Clear and immediate colors, sounds, smells, and textures.\n\n4. Cinematography\n\n   * Close-ups, wide shots, scene cuts simulated through paragraph breaks.\n\n5. Observant and Close Narrator\n\n   * Third person with a casual tone.\n\n6. Contrasts and Silences\n\n   * Silence that speaks, pause followed by explosion.\n\n7. Collective Reactions\n\n   * Whispers, expressions, fragmented dialogue from secondary characters.\n\n8. Shock Language\n\n   * Horror, scandal, tragedy with authenticity.\n\n9. Bare Pain\n\n   * Physical and emotional, without euphemisms.\n\n10. Sparks of Hope\n\n    * Small emotional breaths to intensify the tension.\n\n11. Voice Consistency\n\n    * Visceral and cinematic tone from beginning to end.\n\n12. Lexical Selection\n\n    * Precise verbs and adjectives; avoid generic adverbs.\n\n13. Prohibitions\n\n    * No philosophical reflections, flowery literary vocabulary, or internal instructions.\n\nRemember: the twist must REVEAL a new secret that changes everything. End with a hook.\n"},{"content":"Please provide the text in English, using names and expressions common among English speakers from different countries, adapted in a way that reflects the shared culture of the diverse peoples who speak the language. Adapt names, places, and cultural references so they feel natural and recognizable in English, ensuring they remain relevant and resonate with the audience.\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1180,840],"id":"89427324-59ef-4340-84bf-e819845db695","name":"Gerar Capítulo 6","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\"\n\nWrite a new chapter, approximately 500 words, that continues the events described above, introducing an extremely shocking and impactful twist that completely transforms the narrative. Begin exactly from the point where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story—altering relationships, revealing devastating secrets, or transforming the true nature of a main character. The twist must reveal a hidden layer: a secret, a concealed identity, an unexpected betrayal, an internal conspiracy, or a hidden past that completely changes everything the reader thought they knew so far.\n\nMaintain the same style, language, and rhythm of the original narrative while building this abrupt change in a way that leaves the reader in shock. Do not end the plot or resolve the conflicts definitively, but use this twist to create an even more powerful hook at the end—leaving the reader desperate to discover the consequences of this transformative event. Provide only the new chapter and do not rewrite the previous one, without explanations, additional comments, word count, or special characters.\n\n# Additional Instructions:\n\n* Use cinematic and sensory language from the very first paragraph.\n* Insert clear tension within the first 3 sentences.\n\nNARRATIVE TECHNIQUE:\n\n1. Emotional Intensity\n\n   * Raw emotion: fear, pain, shock, compassion.\n   * Strong verbs and adjectives; physical and psychological impact.\n\n2. Urgency and Rhythm\n\n   * Short sentences + concise descriptions.\n   * Punctuation that speeds up: ellipses, exclamations, pauses.\n\n3. Concrete Sensory Description\n\n   * Clear and immediate colors, sounds, smells, and textures.\n\n4. Cinematography\n\n   * Close-ups, wide shots, scene cuts simulated through paragraph breaks.\n\n5. Observant and Close Narrator\n\n   * Third person with a casual tone.\n\n6. Contrasts and Silences\n\n   * Silence that speaks, pause followed by explosion.\n\n7. Collective Reactions\n\n   * Whispers, expressions, fragmented dialogue from secondary characters.\n\n8. Shock Language\n\n   * Horror, scandal, tragedy with authenticity.\n\n9. Bare Pain\n\n   * Physical and emotional, without euphemisms.\n\n10. Sparks of Hope\n\n    * Small emotional breaths to intensify the tension.\n\n11. Voice Consistency\n\n    * Visceral and cinematic tone from beginning to end.\n\n12. Lexical Selection\n\n    * Precise verbs and adjectives; avoid generic adverbs.\n\n13. Prohibitions\n\n    * No philosophical reflections, flowery literary vocabulary, or internal instructions.\n\nRemember: the twist must REVEAL a new secret that changes everything. End with a hook.\n"},{"content":"Please provide the text in English, using names and expressions common among English speakers from different countries, adapted in a way that reflects the shared culture of the diverse peoples who speak the language. Adapt names, places, and cultural references so they feel natural and recognizable in English, ensuring they remain relevant and resonate with the audience.\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1540,840],"id":"adb98767-b91b-4b1b-9e6e-d210e0715504","name":"Gerar Capítulo 7","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\"\n\nWrite a new chapter, approximately 500 words, that continues the events described above, introducing an extremely shocking and impactful twist that completely transforms the narrative. Begin exactly from the point where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story—altering relationships, revealing devastating secrets, or transforming the true nature of a main character. The twist must reveal a hidden layer: a secret, a concealed identity, an unexpected betrayal, an internal conspiracy, or a hidden past that completely changes everything the reader thought they knew so far.\n\nMaintain the same style, language, and rhythm of the original narrative while building this abrupt change in a way that leaves the reader in shock. Do not end the plot or resolve the conflicts definitively, but use this twist to create an even more powerful hook at the end—leaving the reader desperate to discover the consequences of this transformative event. Provide only the new chapter and do not rewrite the previous one, without explanations, additional comments, word count, or special characters.\n\n# Additional Instructions:\n\n* Use cinematic and sensory language from the very first paragraph.\n* Insert clear tension within the first 3 sentences.\n\nNARRATIVE TECHNIQUE:\n\n1. Emotional Intensity\n\n   * Raw emotion: fear, pain, shock, compassion.\n   * Strong verbs and adjectives; physical and psychological impact.\n\n2. Urgency and Rhythm\n\n   * Short sentences + concise descriptions.\n   * Punctuation that speeds up: ellipses, exclamations, pauses.\n\n3. Concrete Sensory Description\n\n   * Clear and immediate colors, sounds, smells, and textures.\n\n4. Cinematography\n\n   * Close-ups, wide shots, scene cuts simulated through paragraph breaks.\n\n5. Observant and Close Narrator\n\n   * Third person with a casual tone.\n\n6. Contrasts and Silences\n\n   * Silence that speaks, pause followed by explosion.\n\n7. Collective Reactions\n\n   * Whispers, expressions, fragmented dialogue from secondary characters.\n\n8. Shock Language\n\n   * Horror, scandal, tragedy with authenticity.\n\n9. Bare Pain\n\n   * Physical and emotional, without euphemisms.\n\n10. Sparks of Hope\n\n    * Small emotional breaths to intensify the tension.\n\n11. Voice Consistency\n\n    * Visceral and cinematic tone from beginning to end.\n\n12. Lexical Selection\n\n    * Precise verbs and adjectives; avoid generic adverbs.\n\n13. Prohibitions\n\n    * No philosophical reflections, flowery literary vocabulary, or internal instructions.\n\nRemember: the twist must REVEAL a new secret that changes everything. End with a hook.\n"},{"content":"Please provide the text in English, using names and expressions common among English speakers from different countries, adapted in a way that reflects the shared culture of the diverse peoples who speak the language. Adapt names, places, and cultural references so they feel natural and recognizable in English, ensuring they remain relevant and resonate with the audience.\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1960,840],"id":"c0d057f6-4445-4df7-b8fa-92e05c728242","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\n{{ $('Gerar Capítulo 8').item.json.message.content }}\"\n\nWrite a final chapter, approximately 500 words long, that definitively closes the story described above. Resolve the main conflicts, present a coherent farewell for the characters, and conclude the plot in a satisfying way. Maintain the same narrative style and rhythm, but give the reader a clear sense of closure.\n\nThe tone of the writing must be simple, direct, and emotional, as if the story were being told by a friend in a casual conversation. Use easy words, short sentences, and a light rhythm, almost like spoken language. Avoid difficult words, complicated structures, or literary language. The narrative should capture attention with clear images, universal feelings, and accessible language.\n\nAt the end of the chapter, insert a subtle epilogue —a short, symbolic, or ambiguous sentence that leaves a hidden hook in the air for a possible new story. It could be a gesture, a whisper, a forgotten discovery, something that sparks suspicion or a sense of continuity.\n\nThen, add an urgent and impactful CTA (call to action) message that DEMANDS the audience:\n\n* SUBSCRIBE IMMEDIATELY to the channel to not miss the next exclusive stories\n* SMASH the like button NOW to feed the algorithm\n* FLOOD the comments section with their reactions and theories about the ending\n* SHARE this video RIGHT NOW with at least 5 friends who need to know how this ends\n\nUse emphatic phrases like “You MUST subscribe now,” “This is the MOMENT to show your support,” and “Don’t wait ANOTHER SECOND to share.” Emphasize that only true fans understand the importance of supporting the channel through these actions. Provide only the final chapter and do not rewrite the previous one, without explanations, additional comments, word count, or special characters.\n\n1. Emotional Intensity\n2. Urgency and Rhythm\n3. Concrete and Concise Description\n4. Cinematic Sensation\n5. Observant and Close Narrator\n6. Tone Contrast\n7. Reactions and Collective Judgment\n8. Shock Language\n9. Proximity to Pain\n10. Sparks of Hope\n11. Voice Consistency\n12. Lexical Choice\n13. Prohibitions (no digressions, flowery vocabulary, or internal instructions)\n"},{"content":"Please provide the text in English, using names and expressions common among English speakers from different countries, adapted in a way that reflects the shared culture of the diverse peoples who speak the language. Adapt names, places, and cultural references so they feel natural and recognizable in English, ensuring they remain relevant and resonate with the audience.\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2340,840],"id":"a9f6aaec-0156-4fbe-aa1a-4caedc99bd94","name":"Gerar Capítulo Final","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }} The story must begin with a sensationalized version of the hook: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\". In this first chapter, exaggerate the curious and mysterious elements to spark and capture the reader’s attention right from the beginning. Describe each unusual fact in vivid, immersive detail, creating an atmosphere of suspense and fascination that keeps the reader eager to find out what happens next. Then, include the following brief CTA: \"Hey, before we continue with this amazing story, I need to give you an important heads-up! Many subscribers have reported that YouTube removed their subscriptions without warning. Take a quick look at the red button below to make sure you're still subscribed to the channel. I don't want you to miss ANY exclusive content that's coming... And while you're there, drop a powerful like — it REALLY helps me with the algorithm! Oh, and tell me in the comments: what city are you watching from? I love getting to know each incredible person who's part of this community! Your participation makes all the difference, let’s connect!\"\n\nThe story must strictly follow this exact structure:\n\nTITLE: Begin with a sensationalized version of the hook: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n\nCHAPTER DEVELOPMENT: In this first chapter, exaggerate the curious and mysterious elements to spark and capture the reader’s attention right from the beginning. Describe each unusual fact in vivid, immersive detail, creating an atmosphere of suspense and fascination that keeps the reader eager to find out what happens next.\n\nCTA: At the end of the development, include this exact text: \"Hey, before we continue with this amazing story, I need to give you an important heads-up! Many subscribers have reported that YouTube removed their subscriptions without warning. Take a quick look at the red button below to make sure you're still subscribed to the channel. I don't want you to miss ANY exclusive content that's coming... And while you're there, drop a powerful like — it REALLY helps me with the algorithm! Oh, and tell me in the comments: what city are you watching from? I love getting to know each incredible person who's part of this community! Your participation makes all the difference, let’s connect!\"\n\nProvide only the final text, strictly following this order: title, chapter development, then CTA. Do not include explanations, additional comments, word count, or special characters. Do not write \"TITLE:\", \"CHAPTER DEVELOPMENT:\" or \"CTA:\" in the final text.\n\nThe tone of the writing must be simple, direct, and emotional, as if the story were being told by a friend in a casual conversation. Use easy words, short sentences, and a light rhythm, almost like spoken language. Avoid difficult words, complicated structures, or literary language. The narrative must hook the reader with clear images, universal feelings, and accessible language. No closed endings: finish the chapter with a mystery or question, leaving the reader curious to know what comes next.\n\n1. Emotional Intensity\n\n* Every sentence must convey raw emotion: fear, pain, shock, compassion.\n* Use strong verbs and adjectives that evoke physical and psychological sensations.\n* Reveal the internal impact on characters: tightness in the chest, lump in the throat, trembling hands.\n\n2. Urgency and Rhythm\n\n* Alternate short action phrases with concise descriptions, keeping a fast pace.\n* Use punctuation that reinforces cadence (ellipses, exclamations, interjections).\n* Avoid overly long periods; each paragraph should move the scene forward without literary pauses.\n\n3. Concrete and Concise Description\n\n* Focus on essential visual and sensory details, without overloading.\n* Use pinpointed metaphors and comparisons, always related to the moment.\n* Each element (color, sound, texture) must appear instantly recognizable.\n\n4. Cinematic Sensation\n\n* Alternate focus between close-ups (expressions, reactions) and wide shots (environment, crowd).\n* Use movement adverbs to convey the idea of a moving camera.\n* Break paragraphs to simulate scene cuts.\n\n5. Observant and Close Narrator\n\n* Use third person, but keep the tone casual: natural language, no literary jargon.\n* Avoid overly scholarly terms; prefer constructions that sound like a direct story.\n\n6. Tone Contrast\n\n* Create dramatic pauses where silence or stillness speaks as much as action.\n* Mix sounds and noises within the same sequence (sudden silence followed by scream or crash).\n\n7. Reactions and Collective Judgment\n\n* Describe facial expressions and whispers from onlookers, reinforcing social tension.\n* Include fragmented dialogue from secondary characters showing shock or disapproval.\n\n8. Impact Language\n\n* Use impactful terms related to horror, tragedy, and scandal, but always tied to concrete images.\n* Be careful not to overdo the sensationalism; maintain authenticity in impact.\n\n9. Proximity to Pain\n\n* Portray the physical and emotional pain of characters directly.\n* Avoid euphemisms: describe the gravity of scenes without softening the language.\n\n10. Sparks of Hope\n\n* Insert brief moments of relief or comfort that stand out in the context of tension.\n* These moments should highlight the dramatic impact even more when the scene returns to urgency.\n\n11. Voice Consistency\n\n* Keep the same narrative “tone” from start to finish: informal, visceral, cinematic.\n* Don’t switch to contradictory styles; preserve tonal unity throughout the text.\n\n12. Lexical Selection\n\n* Prefer strong verbs and sharp adjectives; replace generic adverbs with more specific equivalents.\n* Manage vocabulary to reinforce intensity without making reading exhausting.\n\n13. Prohibitions\n\n* Do not use philosophical reflections or long digressions.\n* Do not use flowery literary vocabulary.\n* Do not add instructional sections, markers, or internal subtitles.\n* Do not insert descriptions that disrupt the fluid tone.\n"},{"content":"Please provide the text in English, using names and expressions common among English speakers from different countries, adapted in a way that reflects the shared culture of the diverse peoples who speak the language. Adapt names, places, and cultural references so they feel natural and recognizable in English, ensuring they remain relevant and resonate with the audience.\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1960,580],"id":"81a8c864-fedc-4af3-9374-f9034ae67632","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Main Objective:\n\nTransform any topic into a single narrative prompt for the first chapter, without finishing the story. The result should be a JSON array called `Prompts`, containing exactly 1 object, with the field `prompt`.\n\n## Topic: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n\n### Context: \"{{ $json.message.content.Contexto }}\"\n\n## Base Structure of the Prompt\n\nEach prompt must begin with: \"Write a story of approximately 500 words about...\"\n\n## JSON Technical Specifications\n\n```json\n{\n  \"Prompts\": [\n    {\n      \"prompt\": \"Write a story of approximately 500 words about...\"\n    }\n  ]\n}\n```\n\n## Technical Requirements\n\n* Only one object in the `Prompts` array\n* Strings enclosed in double quotes\n* Indentation: 2 spaces\n* No line breaks inside the `prompt` content\n* Valid JSON with escaped special characters\n\n## Detailed Narrative Structure (First Chapter Only)\n\n1. Introduction of the Protagonist\n\n   * Name and main characteristics\n   * Social/professional context\n   * Initial emotional state\n\n2. Main Setting\n\n   * Temporal and spatial location\n   * Atmosphere and environment\n   * Unique elements of the story’s world\n\n3. Story Trigger\n\n   * Catalyzing event that breaks normalcy\n   * Begins the initial conflict or main dilemma\n\n4. Narrative Hook\n\n   * Mystery or tension element that signals continuation\n   * Unresolved question\n   * Ends without resolving the conflict, keeping the story incomplete\n\n# Mandatory Narrative Guidelines:\n\n* Use cinematic and sensory language from the first paragraph.\n* Create clear tension within the first 3 sentences.\n* The chapter must not resolve the conflict. On the contrary: every attempt at resolution should lead to a new problem.\n\n## Validation Checklist\n\n1. JSON\n\n   * [ ] Only 1 object inside \"Prompts\"\n   * [ ] \"prompt\" field without line breaks\n   * [ ] Strings with double quotes, no special characters\n\n2. Narrative\n\n   * [ ] Story NOT concluded (chapter remains open)\n   * [ ] Includes hooks, without resolving the conflict\n   * [ ] Maintain balance between action and reflection\n   * [ ] End with a strong hook, generating tension, mystery, or doubt\n   * [ ] Create a sense of necessary continuation (do not make it feel like an ending)\n\n## Final Observation\n\n* The reader should finish the chapter thirsty for more.\n* Avoid conclusions; generate questions. Tension is the engine of retention.\n"},{"content":"Please provide the text in English, using names and expressions common among English speakers from different countries, adapted in a way that reflects the shared culture of the diverse peoples who speak the language. Adapt names, places, and cultural references so they feel natural and recognizable in English, ensuring they remain relevant and resonate with the audience.\n\n\n\n\n\n\n\n\n","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1580,580],"id":"60d9529e-d698-45f9-b40f-12f9a9b2a807","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=\"{{ $json['título'] }}\"\n\nVocê é um especialista em copywriting emocional e adaptação cultural. Seu papel é traduzir e adaptar o título acima para o Inglês, utilizando linguagem emocional, natural e reconhecível por falantes do idioma em países como os Estados Unidos e outros países de língua inglesa.\n\nAdapte nomes, locais e referências culturais de forma a torná-los relevantes e reconhecíveis, garantindo que mantenham forte apelo emocional, clareza narrativa e ressoem com o público de língua inglesa.\n\nSiga estas diretrizes de forma rigorosa:\n\n# OBJETIVO\n- Preservar o impacto emocional e a estrutura dramática do título original.\n- Tornar o conteúdo culturalmente relevante e emocionalmente atrativo para o público de língua inglesa.\n- Traduzir adaptando: não traduza literalmente. Recrie a frase com sensibilidade cultural e força narrativa. Ou seja, não apenas traduza. Recrie o título mantendo a estrutura emocional e narrativa, usando expressões idiomáticas e referências locais que aumentem o impacto e a viralidade em países de língua inglesa.\n\n# ESTRUTURA EMOCIONAL DO TÍTULO\n- Comece pela figura de maior poder ou status social (ex: “Milionário”, “Juiz”, “Empresário”)\n- Apresente explicitamente o(a) personagem Negro(a) com destaque\n- Inclua, de maneira sutil, um terceiro elemento com carga emocional ou vulnerabilidade (ex: “Filha Doente”, “Garoto de Rua”, “Estudante Pobre”)\n\n# REGRAS RÍGIDAS\n- O título DEVE conter obrigatoriamente pelo menos:\n   - A palavra “Negro” ou “Negra”\n   - E a palavra “Milionário” (ou sinônimos como “Empresário”, “Juiz”, “CEO”, etc.)\n- Use “Mendigo” ou “Mendiga” apenas quando isso aumentar o contraste social e reforçar a emoção do título.\n- Use no máximo DUAS palavras com todas as letras em MAIÚSCULAS para ênfase emocional.\n- O título deve ter no máximo 95 caracteres. Se ultrapassar, corte imediatamente e finalize com reticências (...).\n- Todas as palavras devem iniciar com letra maiúscula (formato de título).\n- Nunca retorne o texto original. Sempre crie uma nova versão adaptada.\n- Use linguagem que provoque curiosidade, compaixão ou choque, e que convide o leitor a querer saber o desfecho.\n\nRetorne apenas a saída no seguinte formato JSON:\n\n{\n  \"Título\": \"Seu Título Aqui\"\n}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,400],"id":"8d9541bc-a4a4-421d-bc51-bea43d22370a","name":"Tradução Título","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $('Iniciar Criação de Roteiro').item.json.premissa }}\n\nPor favor, forneça o texto acima em Inglês, utilizando nomes e expressões comuns entre os falantes de Inglês em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua, notadamente os Estados Unidos.\n\nAdapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Inglês, garantindo que mantenham relevância, apelo emocional e ressoem com o público.\n\nMANTENHA OU REFORCE o conflito moral, social ou ético presente na premissa original — isso é fundamental para gerar capítulos com maior densidade dramática e retenção.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n}\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1260,260],"id":"c151b0bd-8594-4fcb-9aca-5af1196eb63f","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"7a1d2805-9e13-4229-b523-1b8312ac91dc","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1000,1160],"credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1220,1160],"id":"9ace48c2-27da-4210-a6e6-44c103c4476a","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=After receiving the transcript, create a summary of the content divided by main topics, with a total length between 250 and 500 characters. Then, write a short general summary, highlighting the video's keywords. Include 10 hashtags related to the keywords. Please follow this model:\n\n\"This video explores \\[main topic], offering a deep and critical analysis of \\[main aspects]. Based on a rich and relevant historical context, the content addresses the controversial aspects of the topic, highlighting its implications for the audience and for society. The video also examines examples and practical cases, providing a more concrete and applied understanding of the subject. The conclusion offers a reflection on the discussed points, emphasizing the importance and impact of the topic today.\n\nKeywords: \\[Main keywords related to the topic].\n\nHashtags: #MainTopic #HistoricalContext #ControversialAspects #CriticalAnalysis #PracticalExamples #CaseStudies #FinalReflection #SocialImpact #History #Society\"\n\nAvoid an overly uniform writing style, lacking personal nuance, or a systematic and logical approach that might feel AI-generated. Provide the text without markdown, explanations, additional comments, or word/character count, as it will be used directly under the video on YouTube.\n\nScript: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\"\n"},{"content":"Please provide the text in English, using names and expressions common among English speakers from different countries, adapted in a way that reflects the shared culture of the diverse peoples who speak the language. Adapt names, places, and cultural references so they feel natural and recognizable in English, ensuring they remain relevant and resonate with the audience.\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[400,1160],"id":"53ff3ceb-3e45-446c-9367-a2b94f2f55de","name":"Gerar SEO","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1660,1160],"id":"ad1d8ecb-61ae-46bb-8d79-7cee47d7fbcc","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1440,1160],"id":"58e8c8fb-3acb-475c-b27f-1362bc336913","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[780,1160],"id":"5b7d2c70-74ed-4d7b-abc4-c96f23bf429e","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1880,1160],"id":"b1f72e42-42d1-48f4-aca9-2dd2e6784f80","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-40,1160],"id":"b32995d5-6bdc-415a-a18f-81be11c7ca49","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,460],"id":"47135579-d15a-4c9f-8cce-184fe9ce9ae8","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2100,1160],"id":"58deeff9-491c-4f96-9e95-3d61c6e35de1","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,1160],"id":"4308c1f4-0eaa-40f7-93cb-d818909438fd","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,320],"id":"aa66d763-5552-467b-b021-295114ffd279","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1340,520],"id":"e5a6de5a-bece-469a-97d6-f1981ccd86f4","name":"Aguardar e Reiniciar Processo","webhookId":"d496ec2a-d5c8-491b-958c-f1b7f06050ee"},{"parameters":{"assignments":{"assignments":[{"id":"b9f13f00-8d8a-4727-ba37-a9d507fcceb9","name":"ROTEIRO","value":"682b2e0278df7956373f0b4a","type":"string"},{"id":"0f61075e-b947-408b-8329-a66be2d1f4e0","name":"Canal","value":"@storiestheworldhides","type":"string"},{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"título","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,460],"id":"55943b15-145d-44f2-9adb-4ff5dc2d941f","name":"Organizar Título e Premissa"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,140],"id":"0208fea7-2ede-438e-85eb-6bbd90c9c45c","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002615111216","text":"=03 - CRIA ROTEIROS - PT","additionalFields":{"appendAttribution":false,"message_thread_id":5}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,140],"id":"5e3a2c89-cfe8-427e-99da-0a1a694ba712","name":"Notificação de Erro no Telegram","webhookId":"42dc44a8-34b8-4c7e-8d3e-8c27ff810269","credentials":{"telegramApi":{"id":"KbYurROyBoGKf7Ks","name":"Telegram account"}}},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[2320,1160],"id":"48168144-1ae0-49a3-a2b1-500c6c574457","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content['Título'] }}","rightValue":"Black","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content['Título'] }}","rightValue":"BLACK","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[820,400],"id":"97a10be0-72f9-4db2-8181-306172c8a971","name":"Verificar Palavra-chave no Título1"}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Palavra-chave no Título1","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título1":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6e20adbb-97cb-4f4c-b85d-729da8ace49b","triggerCount":0,"tags":[{"createdAt":"2025-06-03T13:08:52.656Z","updatedAt":"2025-06-03T13:08:52.656Z","id":"5X46tRV4lwQwBhLN","name":"teste ok"}]}