03---cria-roteiros---es-LzA72unPzCA1tyK7.json
{"createdAt":"2025-06-05T14:02:31.998Z","updatedAt":"2025-06-05T20:15:57.124Z","id":"LzA72unPzCA1tyK7","name":"03 - CRIA ROTEIROS - ES","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\"\n\nEscreva um novo capítulo, de aproximadamente 500 palavras, que continue os eventos descritos acima, introduzindo uma reviravolta extremamente chocante e impactante que transforme completamente a narrativa. Comece exatamente do ponto em que o capítulo anterior terminou, mas em algum momento, insira um evento dramático e inesperado que mude radicalmente o curso da história, alterando relacionamentos, revelando segredos devastadores ou transformando a verdadeira natureza de um personagem principal. A reviravolta deve revelar uma nova camada oculta — um segredo, uma identidade escondida, uma traição inesperada, uma conspiração interna, ou um passado oculto — que transforme completamente tudo o que o leitor pensava saber até agora.\n\nMantenha o mesmo estilo, linguagem e ritmo da narrativa original, enquanto constrói essa mudança abrupta de maneira que deixe o leitor em estado de choque. Não finalize a trama nem resolva definitivamente os conflitos, mas use essa reviravolta para criar um gancho ainda mais poderoso ao final, deixando o leitor desesperado para descobrir as consequências desse evento transformador. Forneça apenas o novo capítulo e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\n# Instruções adicionais:\n- Use linguagem cinematográfica e sensorial desde o primeiro parágrafo.\n- Insira tensão clara nas primeiras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidade Emotiva\n   - Emoção crua: medo, dor, choque, compaixão.\n   - Verbos e adjetivos fortes; impacto físico e psicológico.\n\n2. Urgência e Ritmo\n   - Frases curtas + descrições sintéticas.\n   - Pontuação que acelera: reticências, exclamações, pausas.\n\n3. Descrição Sensorial Concreta\n   - Cores, sons, cheiros e texturas claras e imediatas.\n\n4. Cinematografia\n   - Close-ups, planos gerais, cortes de cena simulados por parágrafos.\n\n5. Narrador Observador e Próximo\n   - Terceira pessoa com tom coloquial.\n\n6. Contrastes e Silêncios\n   - Silêncio que fala, pausa seguida de explosão.\n\n7. Reações Coletivas\n   - Murmúrios, expressões, falas fragmentadas de coadjuvantes.\n\n8. Linguagem de Choque\n   - Horror, escândalo, tragédia com autenticidade.\n\n9. Dor Nua\n   - Física e emocional, sem eufemismo.\n\n10. Fagulhas de Esperança\n    - Pequenos respiros emocionais para intensificar a tensão.\n\n11. Consistência de Voz\n    - Tom visceral e cinematográfico do início ao fim.\n\n12. Escolha Léxica\n    - Verbos e adjetivos precisos; evitar advérbios genéricos.\n\n13. Proibições\n    - Nada de reflexões filosóficas, vocabulário literário rebuscado ou instruções internas.\n\nLembre-se: a reviravolta deve REVELAR um novo segredo que transforma tudo. Termine com um gancho.\n"},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2340,580],"id":"4a189beb-62a5-424d-9173-64748ba1ed97","name":"Gerar Capítulo 1","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\"\n\nEscreva um novo capítulo, de aproximadamente 500 palavras, que continue os eventos descritos acima, introduzindo uma reviravolta extremamente chocante e impactante que transforme completamente a narrativa. Comece exatamente do ponto em que o capítulo anterior terminou, mas em algum momento, insira um evento dramático e inesperado que mude radicalmente o curso da história, alterando relacionamentos, revelando segredos devastadores ou transformando a verdadeira natureza de um personagem principal. A reviravolta deve revelar uma nova camada oculta — um segredo, uma identidade escondida, uma traição inesperada, uma conspiração interna, ou um passado oculto — que transforme completamente tudo o que o leitor pensava saber até agora.\n\nMantenha o mesmo estilo, linguagem e ritmo da narrativa original, enquanto constrói essa mudança abrupta de maneira que deixe o leitor em estado de choque. Não finalize a trama nem resolva definitivamente os conflitos, mas use essa reviravolta para criar um gancho ainda mais poderoso ao final, deixando o leitor desesperado para descobrir as consequências desse evento transformador. Forneça apenas o novo capítulo e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\n# Instruções adicionais:\n- Use linguagem cinematográfica e sensorial desde o primeiro parágrafo.\n- Insira tensão clara nas primeiras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidade Emotiva\n   - Emoção crua: medo, dor, choque, compaixão.\n   - Verbos e adjetivos fortes; impacto físico e psicológico.\n\n2. Urgência e Ritmo\n   - Frases curtas + descrições sintéticas.\n   - Pontuação que acelera: reticências, exclamações, pausas.\n\n3. Descrição Sensorial Concreta\n   - Cores, sons, cheiros e texturas claras e imediatas.\n\n4. Cinematografia\n   - Close-ups, planos gerais, cortes de cena simulados por parágrafos.\n\n5. Narrador Observador e Próximo\n   - Terceira pessoa com tom coloquial.\n\n6. Contrastes e Silêncios\n   - Silêncio que fala, pausa seguida de explosão.\n\n7. Reações Coletivas\n   - Murmúrios, expressões, falas fragmentadas de coadjuvantes.\n\n8. Linguagem de Choque\n   - Horror, escândalo, tragédia com autenticidade.\n\n9. Dor Nua\n   - Física e emocional, sem eufemismo.\n\n10. Fagulhas de Esperança\n    - Pequenos respiros emocionais para intensificar a tensão.\n\n11. Consistência de Voz\n    - Tom visceral e cinematográfico do início ao fim.\n\n12. Escolha Léxica\n    - Verbos e adjetivos precisos; evitar advérbios genéricos.\n\n13. Proibições\n    - Nada de reflexões filosóficas, vocabulário literário rebuscado ou instruções internas.\n\nLembre-se: a reviravolta deve REVELAR um novo segredo que transforma tudo. Termine com um gancho.\n"},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-340,840],"id":"48775fda-60c2-4950-896d-d5116beecfe8","name":"Gerar Capítulo 2","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\"\n\nEscreva um novo capítulo, de aproximadamente 500 palavras, que continue os eventos descritos acima, introduzindo uma reviravolta extremamente chocante e impactante que transforme completamente a narrativa. Comece exatamente do ponto em que o capítulo anterior terminou, mas em algum momento, insira um evento dramático e inesperado que mude radicalmente o curso da história, alterando relacionamentos, revelando segredos devastadores ou transformando a verdadeira natureza de um personagem principal. A reviravolta deve revelar uma nova camada oculta — um segredo, uma identidade escondida, uma traição inesperada, uma conspiração interna, ou um passado oculto — que transforme completamente tudo o que o leitor pensava saber até agora.\n\nMantenha o mesmo estilo, linguagem e ritmo da narrativa original, enquanto constrói essa mudança abrupta de maneira que deixe o leitor em estado de choque. Não finalize a trama nem resolva definitivamente os conflitos, mas use essa reviravolta para criar um gancho ainda mais poderoso ao final, deixando o leitor desesperado para descobrir as consequências desse evento transformador. Forneça apenas o novo capítulo e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\n# Instruções adicionais:\n- Use linguagem cinematográfica e sensorial desde o primeiro parágrafo.\n- Insira tensão clara nas primeiras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidade Emotiva\n   - Emoção crua: medo, dor, choque, compaixão.\n   - Verbos e adjetivos fortes; impacto físico e psicológico.\n\n2. Urgência e Ritmo\n   - Frases curtas + descrições sintéticas.\n   - Pontuação que acelera: reticências, exclamações, pausas.\n\n3. Descrição Sensorial Concreta\n   - Cores, sons, cheiros e texturas claras e imediatas.\n\n4. Cinematografia\n   - Close-ups, planos gerais, cortes de cena simulados por parágrafos.\n\n5. Narrador Observador e Próximo\n   - Terceira pessoa com tom coloquial.\n\n6. Contrastes e Silêncios\n   - Silêncio que fala, pausa seguida de explosão.\n\n7. Reações Coletivas\n   - Murmúrios, expressões, falas fragmentadas de coadjuvantes.\n\n8. Linguagem de Choque\n   - Horror, escândalo, tragédia com autenticidade.\n\n9. Dor Nua\n   - Física e emocional, sem eufemismo.\n\n10. Fagulhas de Esperança\n    - Pequenos respiros emocionais para intensificar a tensão.\n\n11. Consistência de Voz\n    - Tom visceral e cinematográfico do início ao fim.\n\n12. Escolha Léxica\n    - Verbos e adjetivos precisos; evitar advérbios genéricos.\n\n13. Proibições\n    - Nada de reflexões filosóficas, vocabulário literário rebuscado ou instruções internas.\n\nLembre-se: a reviravolta deve REVELAR um novo segredo que transforma tudo. Termine com um gancho.\n"},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[40,840],"id":"83e060d5-9ad4-48b6-8114-8aa2c365134d","name":"Gerar Capítulo 3","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\"\n\nEscreva um novo capítulo, de aproximadamente 500 palavras, que continue os eventos descritos acima, introduzindo uma reviravolta extremamente chocante e impactante que transforme completamente a narrativa. Comece exatamente do ponto em que o capítulo anterior terminou, mas em algum momento, insira um evento dramático e inesperado que mude radicalmente o curso da história, alterando relacionamentos, revelando segredos devastadores ou transformando a verdadeira natureza de um personagem principal. A reviravolta deve revelar uma nova camada oculta — um segredo, uma identidade escondida, uma traição inesperada, uma conspiração interna, ou um passado oculto — que transforme completamente tudo o que o leitor pensava saber até agora.\n\nMantenha o mesmo estilo, linguagem e ritmo da narrativa original, enquanto constrói essa mudança abrupta de maneira que deixe o leitor em estado de choque. Não finalize a trama nem resolva definitivamente os conflitos, mas use essa reviravolta para criar um gancho ainda mais poderoso ao final, deixando o leitor desesperado para descobrir as consequências desse evento transformador. Forneça apenas o novo capítulo e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\n# Instruções adicionais:\n- Use linguagem cinematográfica e sensorial desde o primeiro parágrafo.\n- Insira tensão clara nas primeiras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidade Emotiva\n   - Emoção crua: medo, dor, choque, compaixão.\n   - Verbos e adjetivos fortes; impacto físico e psicológico.\n\n2. Urgência e Ritmo\n   - Frases curtas + descrições sintéticas.\n   - Pontuação que acelera: reticências, exclamações, pausas.\n\n3. Descrição Sensorial Concreta\n   - Cores, sons, cheiros e texturas claras e imediatas.\n\n4. Cinematografia\n   - Close-ups, planos gerais, cortes de cena simulados por parágrafos.\n\n5. Narrador Observador e Próximo\n   - Terceira pessoa com tom coloquial.\n\n6. Contrastes e Silêncios\n   - Silêncio que fala, pausa seguida de explosão.\n\n7. Reações Coletivas\n   - Murmúrios, expressões, falas fragmentadas de coadjuvantes.\n\n8. Linguagem de Choque\n   - Horror, escândalo, tragédia com autenticidade.\n\n9. Dor Nua\n   - Física e emocional, sem eufemismo.\n\n10. Fagulhas de Esperança\n    - Pequenos respiros emocionais para intensificar a tensão.\n\n11. Consistência de Voz\n    - Tom visceral e cinematográfico do início ao fim.\n\n12. Escolha Léxica\n    - Verbos e adjetivos precisos; evitar advérbios genéricos.\n\n13. Proibições\n    - Nada de reflexões filosóficas, vocabulário literário rebuscado ou instruções internas.\n\nLembre-se: a reviravolta deve REVELAR um novo segredo que transforma tudo. Termine com um gancho.\n"},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[420,840],"id":"1cf5e3b8-094c-441e-ac10-884b7a0ff4a7","name":"Gerar Capítulo 4","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\"\n\nEscreva um novo capítulo, de aproximadamente 500 palavras, que continue os eventos descritos acima, introduzindo uma reviravolta extremamente chocante e impactante que transforme completamente a narrativa. Comece exatamente do ponto em que o capítulo anterior terminou, mas em algum momento, insira um evento dramático e inesperado que mude radicalmente o curso da história, alterando relacionamentos, revelando segredos devastadores ou transformando a verdadeira natureza de um personagem principal. A reviravolta deve revelar uma nova camada oculta — um segredo, uma identidade escondida, uma traição inesperada, uma conspiração interna, ou um passado oculto — que transforme completamente tudo o que o leitor pensava saber até agora.\n\nMantenha o mesmo estilo, linguagem e ritmo da narrativa original, enquanto constrói essa mudança abrupta de maneira que deixe o leitor em estado de choque. Não finalize a trama nem resolva definitivamente os conflitos, mas use essa reviravolta para criar um gancho ainda mais poderoso ao final, deixando o leitor desesperado para descobrir as consequências desse evento transformador. Forneça apenas o novo capítulo e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\n# Instruções adicionais:\n- Use linguagem cinematográfica e sensorial desde o primeiro parágrafo.\n- Insira tensão clara nas primeiras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidade Emotiva\n   - Emoção crua: medo, dor, choque, compaixão.\n   - Verbos e adjetivos fortes; impacto físico e psicológico.\n\n2. Urgência e Ritmo\n   - Frases curtas + descrições sintéticas.\n   - Pontuação que acelera: reticências, exclamações, pausas.\n\n3. Descrição Sensorial Concreta\n   - Cores, sons, cheiros e texturas claras e imediatas.\n\n4. Cinematografia\n   - Close-ups, planos gerais, cortes de cena simulados por parágrafos.\n\n5. Narrador Observador e Próximo\n   - Terceira pessoa com tom coloquial.\n\n6. Contrastes e Silêncios\n   - Silêncio que fala, pausa seguida de explosão.\n\n7. Reações Coletivas\n   - Murmúrios, expressões, falas fragmentadas de coadjuvantes.\n\n8. Linguagem de Choque\n   - Horror, escândalo, tragédia com autenticidade.\n\n9. Dor Nua\n   - Física e emocional, sem eufemismo.\n\n10. Fagulhas de Esperança\n    - Pequenos respiros emocionais para intensificar a tensão.\n\n11. Consistência de Voz\n    - Tom visceral e cinematográfico do início ao fim.\n\n12. Escolha Léxica\n    - Verbos e adjetivos precisos; evitar advérbios genéricos.\n\n13. Proibições\n    - Nada de reflexões filosóficas, vocabulário literário rebuscado ou instruções internas.\n\nLembre-se: a reviravolta deve REVELAR um novo segredo que transforma tudo. Termine com um gancho.\n"},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[800,840],"id":"3f33b4b3-d812-41c4-aaf2-63ff8dc22ff0","name":"Gerar Capítulo 5","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\"\n\nEscreva um novo capítulo, de aproximadamente 500 palavras, que continue os eventos descritos acima, introduzindo uma reviravolta extremamente chocante e impactante que transforme completamente a narrativa. Comece exatamente do ponto em que o capítulo anterior terminou, mas em algum momento, insira um evento dramático e inesperado que mude radicalmente o curso da história, alterando relacionamentos, revelando segredos devastadores ou transformando a verdadeira natureza de um personagem principal. A reviravolta deve revelar uma nova camada oculta — um segredo, uma identidade escondida, uma traição inesperada, uma conspiração interna, ou um passado oculto — que transforme completamente tudo o que o leitor pensava saber até agora.\n\nMantenha o mesmo estilo, linguagem e ritmo da narrativa original, enquanto constrói essa mudança abrupta de maneira que deixe o leitor em estado de choque. Não finalize a trama nem resolva definitivamente os conflitos, mas use essa reviravolta para criar um gancho ainda mais poderoso ao final, deixando o leitor desesperado para descobrir as consequências desse evento transformador. Forneça apenas o novo capítulo e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\n# Instruções adicionais:\n- Use linguagem cinematográfica e sensorial desde o primeiro parágrafo.\n- Insira tensão clara nas primeiras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidade Emotiva\n   - Emoção crua: medo, dor, choque, compaixão.\n   - Verbos e adjetivos fortes; impacto físico e psicológico.\n\n2. Urgência e Ritmo\n   - Frases curtas + descrições sintéticas.\n   - Pontuação que acelera: reticências, exclamações, pausas.\n\n3. Descrição Sensorial Concreta\n   - Cores, sons, cheiros e texturas claras e imediatas.\n\n4. Cinematografia\n   - Close-ups, planos gerais, cortes de cena simulados por parágrafos.\n\n5. Narrador Observador e Próximo\n   - Terceira pessoa com tom coloquial.\n\n6. Contrastes e Silêncios\n   - Silêncio que fala, pausa seguida de explosão.\n\n7. Reações Coletivas\n   - Murmúrios, expressões, falas fragmentadas de coadjuvantes.\n\n8. Linguagem de Choque\n   - Horror, escândalo, tragédia com autenticidade.\n\n9. Dor Nua\n   - Física e emocional, sem eufemismo.\n\n10. Fagulhas de Esperança\n    - Pequenos respiros emocionais para intensificar a tensão.\n\n11. Consistência de Voz\n    - Tom visceral e cinematográfico do início ao fim.\n\n12. Escolha Léxica\n    - Verbos e adjetivos precisos; evitar advérbios genéricos.\n\n13. Proibições\n    - Nada de reflexões filosóficas, vocabulário literário rebuscado ou instruções internas.\n\nLembre-se: a reviravolta deve REVELAR um novo segredo que transforma tudo. Termine com um gancho.\n"},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1180,840],"id":"9f3d9882-c77f-41f9-90e1-2e48395cbf0a","name":"Gerar Capítulo 6","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\"\n\nEscreva um novo capítulo, de aproximadamente 500 palavras, que continue os eventos descritos acima, introduzindo uma reviravolta extremamente chocante e impactante que transforme completamente a narrativa. Comece exatamente do ponto em que o capítulo anterior terminou, mas em algum momento, insira um evento dramático e inesperado que mude radicalmente o curso da história, alterando relacionamentos, revelando segredos devastadores ou transformando a verdadeira natureza de um personagem principal. A reviravolta deve revelar uma nova camada oculta — um segredo, uma identidade escondida, uma traição inesperada, uma conspiração interna, ou um passado oculto — que transforme completamente tudo o que o leitor pensava saber até agora.\n\nMantenha o mesmo estilo, linguagem e ritmo da narrativa original, enquanto constrói essa mudança abrupta de maneira que deixe o leitor em estado de choque. Não finalize a trama nem resolva definitivamente os conflitos, mas use essa reviravolta para criar um gancho ainda mais poderoso ao final, deixando o leitor desesperado para descobrir as consequências desse evento transformador. Forneça apenas o novo capítulo e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\n# Instruções adicionais:\n- Use linguagem cinematográfica e sensorial desde o primeiro parágrafo.\n- Insira tensão clara nas primeiras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidade Emotiva\n   - Emoção crua: medo, dor, choque, compaixão.\n   - Verbos e adjetivos fortes; impacto físico e psicológico.\n\n2. Urgência e Ritmo\n   - Frases curtas + descrições sintéticas.\n   - Pontuação que acelera: reticências, exclamações, pausas.\n\n3. Descrição Sensorial Concreta\n   - Cores, sons, cheiros e texturas claras e imediatas.\n\n4. Cinematografia\n   - Close-ups, planos gerais, cortes de cena simulados por parágrafos.\n\n5. Narrador Observador e Próximo\n   - Terceira pessoa com tom coloquial.\n\n6. Contrastes e Silêncios\n   - Silêncio que fala, pausa seguida de explosão.\n\n7. Reações Coletivas\n   - Murmúrios, expressões, falas fragmentadas de coadjuvantes.\n\n8. Linguagem de Choque\n   - Horror, escândalo, tragédia com autenticidade.\n\n9. Dor Nua\n   - Física e emocional, sem eufemismo.\n\n10. Fagulhas de Esperança\n    - Pequenos respiros emocionais para intensificar a tensão.\n\n11. Consistência de Voz\n    - Tom visceral e cinematográfico do início ao fim.\n\n12. Escolha Léxica\n    - Verbos e adjetivos precisos; evitar advérbios genéricos.\n\n13. Proibições\n    - Nada de reflexões filosóficas, vocabulário literário rebuscado ou instruções internas.\n\nLembre-se: a reviravolta deve REVELAR um novo segredo que transforma tudo. Termine com um gancho.\n"},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1540,840],"id":"6d917af9-ca48-4956-8136-b6d1d16aeecc","name":"Gerar Capítulo 7","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\"\n\nEscreva um novo capítulo, de aproximadamente 500 palavras, que continue os eventos descritos acima, introduzindo uma reviravolta extremamente chocante e impactante que transforme completamente a narrativa. Comece exatamente do ponto em que o capítulo anterior terminou, mas em algum momento, insira um evento dramático e inesperado que mude radicalmente o curso da história, alterando relacionamentos, revelando segredos devastadores ou transformando a verdadeira natureza de um personagem principal. A reviravolta deve revelar uma nova camada oculta — um segredo, uma identidade escondida, uma traição inesperada, uma conspiração interna, ou um passado oculto — que transforme completamente tudo o que o leitor pensava saber até agora.\n\nMantenha o mesmo estilo, linguagem e ritmo da narrativa original, enquanto constrói essa mudança abrupta de maneira que deixe o leitor em estado de choque. Não finalize a trama nem resolva definitivamente os conflitos, mas use essa reviravolta para criar um gancho ainda mais poderoso ao final, deixando o leitor desesperado para descobrir as consequências desse evento transformador. Forneça apenas o novo capítulo e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\n# Instruções adicionais:\n- Use linguagem cinematográfica e sensorial desde o primeiro parágrafo.\n- Insira tensão clara nas primeiras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidade Emotiva\n   - Emoção crua: medo, dor, choque, compaixão.\n   - Verbos e adjetivos fortes; impacto físico e psicológico.\n\n2. Urgência e Ritmo\n   - Frases curtas + descrições sintéticas.\n   - Pontuação que acelera: reticências, exclamações, pausas.\n\n3. Descrição Sensorial Concreta\n   - Cores, sons, cheiros e texturas claras e imediatas.\n\n4. Cinematografia\n   - Close-ups, planos gerais, cortes de cena simulados por parágrafos.\n\n5. Narrador Observador e Próximo\n   - Terceira pessoa com tom coloquial.\n\n6. Contrastes e Silêncios\n   - Silêncio que fala, pausa seguida de explosão.\n\n7. Reações Coletivas\n   - Murmúrios, expressões, falas fragmentadas de coadjuvantes.\n\n8. Linguagem de Choque\n   - Horror, escândalo, tragédia com autenticidade.\n\n9. Dor Nua\n   - Física e emocional, sem eufemismo.\n\n10. Fagulhas de Esperança\n    - Pequenos respiros emocionais para intensificar a tensão.\n\n11. Consistência de Voz\n    - Tom visceral e cinematográfico do início ao fim.\n\n12. Escolha Léxica\n    - Verbos e adjetivos precisos; evitar advérbios genéricos.\n\n13. Proibições\n    - Nada de reflexões filosóficas, vocabulário literário rebuscado ou instruções internas.\n\nLembre-se: a reviravolta deve REVELAR um novo segredo que transforma tudo. Termine com um gancho.\n"},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1960,840],"id":"0d54b6a1-bb41-4dbc-9202-8efb5dc2947c","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\n{{ $('Gerar Capítulo 8').item.json.message.content }}\"\n\nEscreva um capítulo final, de aproximadamente 500 palavras, que encerre definitivamente a história descrita acima. Resolva os principais conflitos, apresente uma despedida coerente para os personagens e conclua a trama de maneira satisfatória. Mantenha o mesmo estilo e ritmo narrativo, mas dê ao leitor uma sensação clara de encerramento.\n\nO tom da escrita deve ser simples, direto e emocional, como se a história estivesse sendo contada por um amigo em uma conversa informal. Use palavras fáceis, frases curtas e um ritmo leve, quase como fala. Evite palavras difíceis, estruturas complicadas ou linguagem literária. A narrativa deve prender a atenção com imagens claras, sentimentos universais e uma linguagem acessível.\n\nNo final do capítulo, insira um epílogo sutil — uma frase curta, simbólica ou ambígua que deixe no ar um gancho oculto para uma possível nova história. Pode ser um gesto, um sussurro, uma descoberta esquecida, algo que provoque suspeita ou continuidade.\n\nEm seguida, adicione uma mensagem urgente e impactante de CTA (call to action) que EXIJA que o público:\n- SE INSCREVA IMEDIATAMENTE no canal para não perder as próximas histórias exclusivas\n- ESMAGUE o botão de like AGORA para alimentar o algoritmo\n- INUNDE a seção de comentários com suas reações e teorias sobre o final\n- COMPARTILHE INSTANTANEAMENTE este vídeo com pelo menos 5 amigos que precisam conhecer este desfecho\n\nUse frases enfáticas como 'Você PRECISA se inscrever agora', 'Este é o MOMENTO para demonstrar seu apoio' e 'Não espere NEM MAIS UM SEGUNDO para compartilhar'. Destaque que apenas os verdadeiros fãs compreendem a importância de apoiar o canal com estas ações. Forneça apenas o capítulo final e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\n1. Intensidade Emotiva\n2. Urgência e Ritmo\n3. Descrição Concreta e Sintética\n4. Sensação Cinematográfica\n5. Narrador Observador e Próximo\n6. Contraste de Tons\n7. Reações e Julgamento Coletivo\n8. Linguagem de Choque\n9. Proximidade com a Dor\n10. Fagulhas de Esperança\n11. Consistência de Voz\n12. Escolha Léxica\n13. Proibições (sem divagações, vocabulário rebuscado ou instruções internas)\n"},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2340,840],"id":"b4791707-475a-49b7-b322-a790c4ecf69f","name":"Gerar Capítulo Final","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }} A história deve começar com uma versão sensacionalista do gancho: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\". Neste primeiro capítulo, exagere nos elementos curiosos e misteriosos para instigar e capturar a atenção do leitor desde o início. Descreva em detalhes vívidos e envolventes cada fato inusitado, criando uma atmosfera de expectativa e fascínio que mantenha o leitor ansioso para descobrir o que acontecerá a seguir. Em seguida, inclua um breve CTA dizendo: \"Ei, antes de continuarmos com essa história incrível, preciso te fazer um alerta importante! Muitos inscritos têm relatado que o YouTube removeu suas inscrições sem aviso. Dá só uma conferida rápida no botão vermelho aí embaixo para garantir que você ainda está inscrito no canal! Não quero que você perca NENHUM conteúdo exclusivo que vem por aí... E já que você está aí, deixa aquele like poderoso que me ajuda MUITO com o algoritmo! Ah, e me conta nos comentários: de qual cidade você está assistindo? Adoro conhecer cada pessoa incrível que faz parte dessa comunidade! Sua participação faz toda diferença, vamos interagir!\". Forneça apenas o texto final, sem explicações, comentários adicionais, contagem de palavras ou caracteres especiais.\nA história deve obrigatoriamente seguir esta estrutura exata:\n\nTÍTULO: Começar com uma versão sensacionalista do gancho: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\nDESENVOLVIMENTO DO CAPÍTULO: Neste primeiro capítulo, exagere nos elementos curiosos e misteriosos para instigar e capturar a atenção do leitor desde o início. Descreva em detalhes vívidos e envolventes cada fato inusitado, criando uma atmosfera de expectativa e fascínio que mantenha o leitor ansioso para descobrir o que acontecerá a seguir.\nCTA: Ao final do desenvolvimento, incluir este texto exato: \"Ei, antes de continuarmos com essa história incrível, preciso te fazer um alerta importante! Muitos inscritos têm relatado que o YouTube removeu suas inscrições sem aviso. Dá só uma conferida rápida no botão vermelho aí embaixo para garantir que você ainda está inscrito no canal! Não quero que você perca NENHUM conteúdo exclusivo que vem por aí... E já que você está aí, deixa aquele like poderoso que me ajuda MUITO com o algoritmo! Ah, e me conta nos comentários: de qual cidade você está assistindo? Adoro conhecer cada pessoa incrível que faz parte dessa comunidade! Sua participação faz toda diferença, vamos interagir!\"\n\nForneça apenas o texto final, respeitando rigorosamente esta ordem: título, desenvolvimento do capítulo e depois CTA. Não inclua explicações, comentários adicionais, contagem de palavras ou caracteres especiais. Não escreva 'TÍTULO:', 'DESENVOLVIMENTO DO CAPÍTULO:' ou 'CTA:' no texto final.\n\nO tom da escrita deve ser simples, direto e emocional, como se a história estivesse sendo contada por um amigo em uma conversa informal. Use palavras fáceis, frases curtas e um ritmo leve, quase como fala. Evite palavras difíceis, estruturas complicadas ou linguagem literária. A narrativa deve prender a atenção com imagens claras, sentimentos universais e uma linguagem acessível. Nada de finais fechados: termine o capítulo com um mistério ou dúvida, deixando o leitor curioso para saber o que vem a seguir.\n\n1. Intensidade Emotiva  \n   - Cada frase deve transmitir emoção crua: medo, dor, choque, compaixão.  \n   - Use verbos e adjetivos fortes que evoquem sensações físicas e psicológicas.  \n   - Revele o impacto interno nos personagens: aperto no peito, nó na garganta, tremor nas mãos.\n\n2. Urgência e Ritmo  \n   - Intercale frases curtas de ação com descrições sintéticas, mantendo o ritmo acelerado.  \n   - Empregue sinais de pontuação que reforcem a cadência (reticências, exclamações, interjeições).  \n   - Evite períodos longos demais; cada parágrafo deve avançar a cena sem pausas literárias.\n\n3. Descrição Concreta e Sintética  \n   - Foque em detalhes visuais e sensoriais essenciais, sem sobrecarregar.  \n   - Utilize metáforas e comparações pontuais, sempre relacionadas ao momento.  \n   - Cada elemento (cor, som, textura) deve surgir de forma instantaneamente reconhecível.\n\n4. Sensação Cinematográfica  \n   - Altere o foco entre close-ups (expressões, reações) e planos gerais (ambiente, multidão).  \n   - Use advérbios de movimento para induzir a ideia de câmera em movimento.  \n   - Quebre parágrafos para simular cortes de cena.\n\n5. Narrador Observador e Próximo  \n   - Adote terceira pessoa, mas mantenha o tom coloquial: linguagem natural, sem jargões literários.  \n   - Evite termos excessivamente eruditos; prefira construções que soem como um relato direto.\n\n6. Contraste de Tons  \n   - Crie pausas dramáticas em que o silêncio ou a inação falem tanto quanto as ações.  \n   - Intercale sons e ruídos numa mesma sequência (silêncio súbito seguido de grito ou barulho).\n\n7. Reações e Julgamento Coletivo  \n   - Descreva expressões e murmúrios de observadores, reforçando a tensão social.  \n   - Inclua falas fragmentadas de personagens secundários que demonstrem choque ou reprovação.\n\n8. Linguagem de Choque  \n   - Utilize termos impactantes relacionados a horror, tragédia e escândalo, mas sempre vinculados a imagens concretas.  \n   - Cuidado para não exagerar no sensacionalismo; mantenha autenticidade no choque.\n\n9. Proximidade com a Dor  \n   - Retrate de forma direta a dor física e emocional dos personagens.  \n   - Evite eufemismos: descreva a gravidade das cenas sem suavizar a linguagem.\n\n10. Fagulhas de Esperança  \n    - Insira breves respingos de alívio ou conforto que se destaquem no contexto de tensão.  \n    - Esses momentos devem acentuar ainda mais o impacto dramático quando a cena retoma a urgência.\n\n11. Consistência de Voz  \n    - Mantenha o mesmo “timbre” narrativo do início ao fim: informal, visceral, cinematográfico.  \n    - Não alterne para estilos contraditórios; preserve unidade de tom em todo o texto.\n\n12. Escolha Léxica  \n    - Prefira verbos fortes e adjetivos incisivos; substitua advérbios genéricos por equivalentes mais específicos.  \n    - Gerencie o vocabulário para reforçar a intensidade sem tornar a leitura cansativa.\n\n13. Proibições  \n    - Não use reflexões filosóficas ou divagações longas.  \n    - Não apresente vocabulário literário rebuscado.  \n    - Não adicione seções de instrução, marcadores ou legendas internas.\n    - Não insira descrições que quebrem a fluidez do tom."},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1960,580],"id":"1dfee47a-7937-4eee-b661-13e5524b416f","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Objetivo Principal:\n\nTransformar qualquer tema em um único prompt narrativo para o primeiro capítulo, sem finalizar a história. O resultado será um array JSON chamado `Prompts`, que conterá exatamente 1 objeto, com o campo `prompt`.\n\n## Tema: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n### Contexto: \"{{ $json.message.content.Contexto }}\"\n\n## Estrutura Base do Prompt\nCada prompt deve começar com: \"Escreva uma história de aproximadamente 500 palavras sobre...\"\n\n## Especificações Técnicas do JSON\n\n```json\n{\n  \"Prompts\": [\n    {\n      \"prompt\": \"Escreva uma história de aproximadamente 500 palavras sobre...\"\n    }\n  ]\n}\n```\n\n## Requisitos Técnicos\n\n- Apenas um objeto no array `Prompts`\n- Cadeia com aspas duplas\n- Indentação: 2 espaços\n- Sem quebras de linha no conteúdo de `prompt`\n- JSON válido e com caracteres especiais escapados\n\n## Estrutura Narrativa Detalhada (Apenas Primeiro Capítulo)\n\n1. Apresentação do Protagonista\n   - Nome e características principais\n   - Contexto social/profissional\n   - Estado emocional inicial\n\n2. Cenário Principal\n   - Localização temporal e espacial\n   - Atmosfera e ambiente\n   - Elementos únicos do mundo da história\n\n3. Ativador da História\n   - Evento catalisador que rompa a normalidade\n   - Inicie o conflito inicial ou dilema principal\n\n4. Gancho Narrativo\n   - Elemento de mistério ou tensão que deixe clara a continuação\n   - Pergunta não resolvida\n   - Termine sem concluir o conflito, mantendo a história incompleta\n\n# Instruções narrativas obrigatórias:\n- Use linguagem cinematográfica e sensorial desde o primeiro parágrafo.\n- Crie uma tensão clara logo nas 3 primeiras frases.\n- O capítulo não deve resolver o conflito. Ao contrário: cada tentativa de solução deve gerar um novo problema.\n\n## Checklist de Validação\n\n1. JSON\n   - [ ] Apenas 1 objeto dentro de \"Prompts\"\n   - [ ] Campo \"prompt\" sem quebras de linha\n   - [ ] Cadeias com aspas duplas, sem caracteres especiais\n\n2. Narrativa\n   - [ ] História NÃO finalizada (o capítulo fica em aberto)\n   - [ ] Inclui ganchos, sem resolver o conflito\n   - [ ] Mantenha um equilíbrio entre ação e reflexão\n   - [ ] Terminar com gancho forte, gerando tensão, mistério ou dúvida\n   - [ ] Provoque sensação de continuidade obrigatória (não deixe parecer um fim)\n\n## Observação Final\n\n- O leitor deve terminar o capítulo com sede por mais.\n- Evite conclusões; acione dúvidas. A tensão é o motor da retenção.\n"},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1580,580],"id":"c08bfbd5-c099-475b-95d5-64765c4b7c13","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=\"{{ $json['título'] }}\"\n\nVocê é um especialista em copywriting emocional e adaptação cultural. Seu papel é traduzir e adaptar o título acima para o Espanhol, utilizando linguagem emocional, natural e reconhecível por falantes do idioma em países como México, Argentina, Chile e outros de língua espanhola, notadamente da América Latina.\n\nAdapte nomes, locais e referências culturais de forma a torná-los relevantes e reconhecíveis, garantindo que mantenham forte apelo emocional, clareza narrativa e ressoem com o público de língua espanhola.\n\nSiga estas diretrizes de forma rigorosa:\n\n# OBJETIVO\n- Preservar o impacto emocional e a estrutura dramática do título original.\n- Tornar o conteúdo culturalmente relevante e emocionalmente atrativo para o público de língua espanhola.\n- Traduzir adaptando: não traduza literalmente. Recrie a frase com sensibilidade cultural e força narrativa. Ou seja, não apenas traduza. Recrie o título mantendo a estrutura emocional e narrativa, usando expressões idiomáticas e referências locais que aumentem o impacto e a viralidade em países de língua espanhola.\n\n# ESTRUTURA EMOCIONAL DO TÍTULO\n- Comece pela figura de maior poder ou status social (ex: “Milionário”, “Juiz”, “Empresário”)\n- Apresente explicitamente o(a) personagem Negro(a) com destaque\n- Inclua, de maneira sutil, um terceiro elemento com carga emocional ou vulnerabilidade (ex: “Filha Doente”, “Garoto de Rua”, “Estudante Pobre”)\n\n# REGRAS RÍGIDAS\n- O título DEVE conter obrigatoriamente pelo menos:\n   - A palavra “Negro” ou “Negra”\n   - E a palavra “Milionário” (ou sinônimos como “Empresário”, “Juiz”, “CEO”, etc.)\n- Use “Mendigo” ou “Mendiga” apenas quando isso aumentar o contraste social e reforçar a emoção do título.\n- Use no máximo DUAS palavras com todas as letras em MAIÚSCULAS para ênfase emocional.\n- O título deve ter no máximo 95 caracteres. Se ultrapassar, corte imediatamente e finalize com reticências (...).\n- Todas as palavras devem iniciar com letra maiúscula (formato de título).\n- Nunca retorne o texto original. Sempre crie uma nova versão adaptada.\n- Use linguagem que provoque curiosidade, compaixão ou choque, e que convide o leitor a querer saber o desfecho.\n\nRetorne apenas a saída no seguinte formato JSON:\n\n{\n  \"Título\": \"Seu Título Aqui\"\n}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,400],"id":"a18f775d-a25d-4f16-988a-8526018cd93f","name":"Tradução Título","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $('Iniciar Criação de Roteiro').item.json.premissa }}\n\nPor favor, forneça o texto acima em Espanhol, utilizando nomes e expressões comuns entre os falantes de Espanhol em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua.\n\nAdapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Espanhol, garantindo que mantenham relevância, apelo emocional e ressoem com o público.\n\nMANTENHA OU REFORCE o conflito moral, social ou ético presente na premissa original — isso é fundamental para gerar capítulos com maior densidade dramática e retenção.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n}\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1260,260],"id":"409b2859-fc4f-494c-ab10-7849523ba812","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"1e397060-f1ad-4850-a4df-9e78de81d298","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1000,1160],"credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1220,1160],"id":"382bac00-468f-4e64-8b95-7407055d182d","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Depois de receber a transcrição, crie um resumo do conteúdo dividido nos principais temas, com uma extensão total entre 250 e 500 caracteres. Em seguida, faça um pequeno resumo geral, destacando as palavras-chave do vídeo. Inclua 10 hashtags relacionadas às palavras-chave. Por favor, siga este modelo:\n\n\"Este vídeo explora [tema principal], oferecendo uma análise profunda e crítica sobre [aspectos principais]. Baseado em um contexto histórico rico e relevante, o conteúdo aborda os aspectos controversos do tema, destacando as implicações para o público e para a sociedade. O vídeo também examina exemplos e casos práticos, fornecendo uma compreensão mais concreta e aplicada do assunto. A conclusão oferece uma reflexão sobre os pontos discutidos, enfatizando a importância e o impacto do tema na atualidade.\n\nPalavras-chave: [Palavras-chave principais relacionadas ao tema].\n\nHashtags: #TemaPrincipal #ContextoHistórico #AspectosControversos #AnáliseCrítica #ExemplosPráticos #CasosDeEstudo #ReflexãoFinal #ImpactoSocial #História #Sociedade\"\n\nEvite um estilo de escrita excessivamente uniforme, sem nuances pessoais, ou um foco sistemático e lógico que possa parecer típico de uma IA. Forneça o texto sem markdown, explicações, comentários adicionais, contagem de palavras ou caracteres especiais, pois será usado diretamente abaixo do vídeo no YouTube. \n\nRoteiro: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\""},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[400,1160],"id":"f1593bb2-e9eb-4761-b5e7-53438538d118","name":"Gerar SEO","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1660,1160],"id":"7b455247-cad7-42f4-90b2-42622f9378a5","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1440,1160],"id":"02b4e063-5097-4c8e-aec5-a8caa55569bc","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[780,1160],"id":"0a18457c-615e-4c9b-8c00-98304be3ba99","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1880,1160],"id":"5c2d73c1-697f-4b65-9e14-209b20d31df9","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-40,1160],"id":"42f894ac-2f5b-447b-a370-2b62829f7edd","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,460],"id":"a18a24b5-ae77-4104-b02b-9e7fb2ec7382","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2100,1160],"id":"9ee0a0a2-7b62-4d79-ab6d-1d2c6f099710","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,1160],"id":"f1b037b0-c686-4b17-a892-2ee03116e092","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,320],"id":"539a5575-94e1-43d3-9ce8-3896543c28ed","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1340,520],"id":"778ff991-3a42-41e1-870a-09e654e7d2dc","name":"Aguardar e Reiniciar Processo","webhookId":"15be69eb-b4e1-4552-93e0-645fcaf86cdd"},{"parameters":{"assignments":{"assignments":[{"id":"b9f13f00-8d8a-4727-ba37-a9d507fcceb9","name":"ROTEIRO","value":"682b2e0278df7956373f0b4a","type":"string"},{"id":"0f61075e-b947-408b-8329-a66be2d1f4e0","name":"Canal","value":"@historiasqueelmundooculta","type":"string"},{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"título","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,460],"id":"f4c76aee-fcec-40ed-b090-43d99bbbe3e7","name":"Organizar Título e Premissa"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,140],"id":"c4343480-4ee5-494a-a8ea-c488d8fe8a49","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002615111216","text":"=03 - CRIA ROTEIROS - PT","additionalFields":{"appendAttribution":false,"message_thread_id":5}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,140],"id":"ef8deee3-e982-44a3-b4c6-37914e2fd186","name":"Notificação de Erro no Telegram","webhookId":"e9bae97c-581a-4cfe-bc0a-e0ee0b7ffd99","credentials":{"telegramApi":{"id":"KbYurROyBoGKf7Ks","name":"Telegram account"}}},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[2320,1160],"id":"bbe214cb-24ab-410e-81f0-ea4b4ed33429","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content['Título'] }}","rightValue":"Negro","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content['Título'] }}","rightValue":"NEGRO","operator":{"type":"string","operation":"contains"}},{"id":"7a2b0465-b0dd-475a-94e3-aec8b1161c5a","leftValue":"={{ $json.message.content['Título'] }}","rightValue":"Negra","operator":{"type":"string","operation":"contains"}},{"id":"128c0b37-3787-4721-8282-4cb67e6828a6","leftValue":"={{ $json.message.content['Título'] }}","rightValue":"NEGRA","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[820,400],"id":"2c09ee3c-4f0b-42b5-be74-2353cc2a3a35","name":"Verificar Palavra-chave no Título1"}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Palavra-chave no Título1","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título1":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0d291ed8-cb2c-41e1-9710-118b764f8145","triggerCount":0,"tags":[]}