03---cria-roteiros---es-[canal-de-orações]-J8OMajWtFD2BRIen.json
{"createdAt":"2025-06-23T19:14:37.059Z","updatedAt":"2025-06-23T21:39:20.488Z","id":"J8OMajWtFD2BRIen","name":"03 - CRIA ROTEIROS - ES [Canal de Orações]","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho.\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2340,580],"id":"2c92d71c-8f6f-4f35-8977-e0a6e52cbca7","name":"Gerar Capítulo 1","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-340,840],"id":"4583c64e-fecf-47fb-8e17-a0438a532f72","name":"Gerar Capítulo 2","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[40,840],"id":"c9c70a33-4f8b-47bf-aab1-0a9e473a5064","name":"Gerar Capítulo 3","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[420,840],"id":"a064d9b6-ac74-4ded-a38f-ac813085ed45","name":"Gerar Capítulo 4","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[800,840],"id":"24389709-f3cb-4351-9ac1-84f98559e98a","name":"Gerar Capítulo 5","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1180,840],"id":"ca5e1957-d7a2-4370-a5b9-ee7f7b96c94a","name":"Gerar Capítulo 6","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1540,840],"id":"840afd35-a97b-4494-8546-95608096cf7c","name":"Gerar Capítulo 7","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1960,840],"id":"fd563bcb-eb04-4917-b5ba-e63f39d3fc2f","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\n{{ $('Gerar Capítulo 8').item.json.message.content }}\"\n\nEscribe un capítulo final, de aproximadamente 500 palabras, que cierre definitivamente la historia descrita arriba. Resuelve los principales conflictos, presenta una despedida coherente para los personajes y concluye la trama de manera satisfactoria. Mantén el mismo estilo y ritmo narrativo, pero dale al lector una sensación clara de cierre.\n\nEl tono de la escritura debe ser simple, directo y emocional, como si la historia estuviera siendo contada por un amigo en una conversación informal. Usa palabras fáciles, frases cortas y un ritmo ligero, casi como al hablar. Evita palabras difíciles, estructuras complicadas o lenguaje literario. La narrativa debe atrapar la atención con imágenes claras, sentimientos universales y un lenguaje accesible.\n\nAl final del capítulo, inserta un epílogo sutil —una frase corta, simbólica o ambigua que deje en el aire un gancho oculto para una posible nueva historia. Puede ser un gesto, un susurro, un descubrimiento olvidado, algo que provoque sospecha o continuidad.\n\nA continuación, añade un mensaje urgente e impactante de CTA (call to action) que EXIJA que el público:\n\n* SE SUSCRIBA INMEDIATAMENTE al canal para no perderse las próximas historias exclusivas\n* APLASTE el botón de like AHORA para alimentar el algoritmo\n* INUNDE la sección de comentarios con sus reacciones y teorías sobre el final\n* COMPARTE INMEDIATAMENTE este video con al menos 5 amigos que necesiten conocer este desenlace\n\nUsa frases enfáticas como “Tienes QUE suscribirte ahora”, “Este es el MOMENTO para demostrar tu apoyo” y “No esperes NI UN SEGUNDO MÁS para compartir”. Destaca que solo los verdaderos fans comprenden la importancia de apoyar el canal con estas acciones. Proporciona solo el capítulo final y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n1. Intensidad Emotiva\n2. Urgencia y Ritmo\n3. Descripción Concreta y Sintética\n4. Sensación Cinematográfica\n5. Narrador Observador y Cercano\n6. Contraste de Tonos\n7. Reacciones y Juicio Colectivo\n8. Lenguaje de Choque\n9. Proximidad al Dolor\n10. Chispas de Esperanza\n11. Consistencia de Voz\n12. Elección Léxica\n13. Prohibiciones (sin divagaciones, vocabulario rebuscado o instrucciones internas)\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2340,840],"id":"87aad2c8-24c7-4979-be0d-e68facf1e108","name":"Gerar Capítulo Final","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }} La historia debe comenzar con una versión sensacionalista del gancho: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\". En este primer capítulo, exagera en los elementos curiosos y misteriosos para instigar y capturar la atención del lector desde el inicio. Describe en detalles vívidos y envolventes cada hecho insólito, creando una atmósfera de expectación y fascinación que mantenga al lector ansioso por descubrir lo que sucederá a continuación. A continuación, incluye un breve CTA que diga: \"¡Oye, antes de continuar con esta historia increíble, necesito darte una alerta importante! Muchos suscriptores han reportado que YouTube eliminó sus suscripciones sin aviso. Echa un vistazo rápido al botón rojo ahí abajo para asegurarte de que sigues suscrito al canal. ¡No quiero que te pierdas NINGÚN contenido exclusivo que está por venir... Y ya que estás ahí, deja ese like poderoso que me ayuda MUCHO con el algoritmo! Ah, y cuéntame en los comentarios: ¿desde qué ciudad estás viendo? ¡Me encanta conocer a cada persona increíble que forma parte de esta comunidad! Tu participación hace toda la diferencia, ¡vamos a interactuar!\". Proporciona solo el texto final, sin explicaciones, comentarios adicionales, conteo de palabras o caracteres especiales.\n\nLa historia debe obligatoriamente seguir esta estructura exacta:\n\nTÍTULO: Comenzar con una versión sensacionalista del gancho: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n\nDESARROLLO DEL CAPÍTULO: En este primer capítulo, exagera en los elementos curiosos y misteriosos para instigar y capturar la atención del lector desde el inicio. Describe en detalles vívidos y envolventes cada hecho insólito, creando una atmósfera de expectación y fascinación que mantenga al lector ansioso por descubrir lo que sucederá a continuación.\n\nCTA: Al final del desarrollo, incluye este texto exacto: \"¡Oye, antes de continuar con esta historia increíble, necesito darte una alerta importante! Muchos suscriptores han reportado que YouTube eliminó sus suscripciones sin aviso. Echa un vistazo rápido al botón rojo ahí abajo para asegurarte de que sigues suscrito al canal. ¡No quiero que te pierdas NINGÚN contenido exclusivo que está por venir... Y ya que estás ahí, deja ese like poderoso que me ayuda MUCHO con el algoritmo! Ah, y cuéntame en los comentarios: ¿desde qué ciudad estás viendo? ¡Me encanta conocer a cada persona increíble que forma parte de esta comunidad! Tu participación hace toda la diferencia, ¡vamos a interactuar!\"\n\nProporciona solo el texto final, respetando rigurosamente este orden: título, desarrollo del capítulo y luego CTA. No incluyas explicaciones, comentarios adicionales, conteo de palabras o caracteres especiales. No escribas \"TÍTULO:\", \"DESARROLLO DEL CAPÍTULO:\" o \"CTA:\" en el texto final.\n\nEl tono de la escritura debe ser simple, directo y emocional, como si la historia fuera contada por un amigo en una conversación informal. Usa palabras fáciles, frases cortas y un ritmo ligero, casi como al hablar. Evita palabras difíciles, estructuras complicadas o lenguaje literario. La narrativa debe atrapar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Nada de finales cerrados: termina el capítulo con un misterio o duda, dejando al lector curioso por saber qué viene después.\n\n1. Intensidad Emotiva\n\n* Cada frase debe transmitir emoción cruda: miedo, dolor, choque, compasión.\n* Usa verbos y adjetivos fuertes que evoquen sensaciones físicas y psicológicas.\n* Revela el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, temblor en las manos.\n\n2. Urgencia y Ritmo\n\n* Intercala frases cortas de acción con descripciones sintéticas, manteniendo el ritmo acelerado.\n* Emplea signos de puntuación que refuercen la cadencia (puntos suspensivos, exclamaciones, interjecciones).\n* Evita periodos demasiado largos; cada párrafo debe avanzar la escena sin pausas literarias.\n\n3. Descripción Concreta y Sintética\n\n* Enfócate en detalles visuales y sensoriales esenciales, sin sobrecargar.\n* Utiliza metáforas y comparaciones puntuales, siempre relacionadas al momento.\n* Cada elemento (color, sonido, textura) debe surgir de forma instantáneamente reconocible.\n\n4. Sensación Cinematográfica\n\n* Alterna el enfoque entre primeros planos (expresiones, reacciones) y planos generales (ambiente, multitud).\n* Usa adverbios de movimiento para inducir la idea de cámara en movimiento.\n* Rompe párrafos para simular cortes de escena.\n\n5. Narrador Observador y Cercano\n\n* Adopta tercera persona, pero mantén el tono coloquial: lenguaje natural, sin jergas literarias.\n* Evita términos excesivamente eruditos; prefiere construcciones que suenen como un relato directo.\n\n6. Contraste de Tonos\n\n* Crea pausas dramáticas en las que el silencio o la inacción hablen tanto como las acciones.\n* Intercala sonidos y ruidos en una misma secuencia (silencio súbito seguido de grito o estruendo).\n\n7. Reacciones y Juicio Colectivo\n\n* Describe expresiones y murmullos de observadores, reforzando la tensión social.\n* Incluye diálogos fragmentados de personajes secundarios que muestren choque o reprobación.\n\n8. Lenguaje de Impacto\n\n* Utiliza términos impactantes relacionados con horror, tragedia y escándalo, pero siempre vinculados a imágenes concretas.\n* Ten cuidado de no exagerar en el sensacionalismo; mantén autenticidad en el impacto.\n\n9. Proximidad con el Dolor\n\n* Retrata de forma directa el dolor físico y emocional de los personajes.\n* Evita eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de Esperanza\n\n* Introduce breves destellos de alivio o consuelo que se destaquen en el contexto de tensión.\n* Estos momentos deben acentuar aun más el impacto dramático cuando la escena retome la urgencia.\n\n11. Consistencia de Voz\n\n* Mantén el mismo “timbre” narrativo de inicio a fin: informal, visceral, cinematográfico.\n* No alternes a estilos contradictorios; preserva la unidad de tono en todo el texto.\n\n12. Selección Léxica\n\n* Prefiere verbos fuertes y adjetivos incisivos; sustituye adverbios genéricos por equivalentes más específicos.\n* Gestiona el vocabulario para reforzar la intensidad sin hacer que la lectura sea agotadora.\n\n13. Prohibiciones\n\n* No uses reflexiones filosóficas o divagaciones largas.\n* No presentes vocabulario literario rebuscado.\n* No añadas secciones de instrucción, marcadores o subtítulos internos.\n* No insertes descripciones que rompan la fluidez del tono.\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1960,580],"id":"6df2a898-64cf-44ec-a8df-33fea202750e","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $json['contexto_es'] }}\"\n\nEres un experto en redacción de prompts narrativos para inteligencia artificial, especializado en el nicho de **oraciones cristianas de larga duración en YouTube**, inspirado en canales como **\"La Vida Eterna\"** y **\"Pergamino Sagrado\"**.\n\nTu tarea es **generar un prompt detallado y emocional**, que servirá de guía para que otro agente IA pueda crear el primer capítulo de un guion de oración con una duración aproximada de **8 a 10 minutos**.\n\n# OBJETIVO\n- Crear un prompt que oriente a la IA para que produzca un contenido emocional, espiritual, empático y profundamente acogedor.\n- Garantizar que el capítulo inicial incluya los siguientes elementos:  \n   1. Saludo cálido y emocional  \n   2. Reconocimiento de las necesidades y dolores emocionales del espectador  \n   3. Presentación clara del tema central de la oración de hoy  \n   4. Mini devocional o reflexión inicial  \n   5. Lectura bíblica (si aplica, como un Salmo completo)  \n   6. Inicio suave de la oración con enfoque en gratitud y adoración  \n   7. Mini CTA emocional (suscribirse y activar la campanita)  \n   8. Transición emocional hacia el siguiente bloque del guion\n\n# TONO Y ESTILO\n- Emocional, cálido, pastoral y lleno de fe.\n- Lenguaje simple, pero poderoso y espiritualmente profundo.\n- Redacción fluida, como si fuera para ser leída directamente por un narrador de audio en un canal de oración.\n\n# REGLAS RÍGIDAS\n- El prompt generado debe estar 100% en español.\n- No incluir instrucciones genéricas o vagas.\n- Debe ser un prompt AI-friendly, claro, específico y detallado.\n- Incluir ejemplos concretos de frases típicas que deberían aparecer en el capítulo final (ejemplos de saludo, CTA, transición, etc).\n\n# FORMATO DE SALIDA\nDevuelve el resultado únicamente en el siguiente formato JSON:\n\n{\n  \"PromptCapitulo1\": \"Texto del prompt aquí\"\n}\n\n\n-------\n# Objetivo Principal:\n\nTransformar cualquier tema en un único prompt narrativo para el primer capítulo, sin finalizar la historia. El resultado será un array JSON llamado `Prompts`, que contendrá exactamente 1 objeto, con el campo `prompt`.\n\n## Tema: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n\n### Contexto: \"{{ $json.message.content.Contexto }}\"\n\n## Estructura Base del Prompt\n\nCada prompt debe comenzar con: \"Escribe una historia de aproximadamente 500 palabras sobre...\"\n\n## Especificaciones Técnicas del JSON\n\n```json\n{\n  \"Prompts\": [\n    {\n      \"prompt\": \"Escribe una historia de aproximadamente 500 palabras sobre...\"\n    }\n  ]\n}\n```\n\n## Requisitos Técnicos\n\n* Solo un objeto en el array `Prompts`\n* Cadenas con comillas dobles\n* Indentación: 2 espacios\n* Sin saltos de línea en el contenido de `prompt`\n* JSON válido y con caracteres especiales escapados\n\n## Estructura Narrativa Detallada (Solo Primer Capítulo)\n\n1. Presentación del Protagonista\n\n   * Nombre y características principales\n   * Contexto social/profesional\n   * Estado emocional inicial\n\n2. Escenario Principal\n\n   * Ubicación temporal y espacial\n   * Atmósfera y ambiente\n   * Elementos únicos del mundo de la historia\n\n3. Activador de la Historia\n\n   * Evento catalizador que rompa la normalidad\n   * Inicia el conflicto inicial o dilema principal\n\n4. Gancho Narrativo\n\n   * Elemento de misterio o tensión que deje clara la continuación\n   * Pregunta no resuelta\n   * Termina sin concluir el conflicto, manteniendo la historia incompleta\n\n# Instrucciones narrativas obligatorias:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Crea una tensión clara en las primeras 3 frases.\n* El capítulo no debe resolver el conflicto. Al contrario: cada intento de solución debe generar un nuevo problema.\n\n## Lista de Validación\n\n1. JSON\n\n   * [ ] Solo 1 objeto dentro de \"Prompts\"\n   * [ ] Campo \"prompt\" sin saltos de línea\n   * [ ] Cadenas con comillas dobles, sin caracteres especiales\n\n2. Narrativa\n\n   * [ ] Historia NO finalizada (el capítulo queda abierto)\n   * [ ] Incluye ganchos, sin resolver el conflicto\n   * [ ] Mantén un equilibrio entre acción y reflexión\n   * [ ] Terminar con un gancho fuerte, generando tensión, misterio o duda\n   * [ ] Provoca sensación de continuidad obligatoria (no dejes que parezca un fin)\n\n## Observación Final\n\n* El lector debe terminar el capítulo con sed de más.\n* Evita conclusiones; genera dudas. La tensión es el motor de la retención.\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1580,580],"id":"9595ec64-cab6-40c9-8381-fbcdb273d2d7","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=\"{{ $json['título'] }}\"\n\nVocê é um especialista em copywriting emocional e adaptação cultural para o YouTube. Seu papel é traduzir e adaptar o título acima para o espanhol, utilizando linguagem emocional, natural e espiritualmente envolvente, como fazem os canais \"La Vida Eterna\" e \"Pergamino Sagrado\".\n\nAdapte nomes, estruturas e referências culturais de forma a torná-los relevantes, impactantes e com alto potencial de CTR para o público hispânico de oração e espiritualidade.\n\n# OBJETIVO\n- Preservar o impacto emocional, espiritual e a força de atração do título original.\n- Traduzir adaptando: não faça tradução literal. Recrie o título com sensibilidade cultural e linguagem que gere cliques entre pessoas que consomem orações diárias no YouTube.\n- Usar palavras-chave típicas do nicho de oração como: \"Oración\", \"Poderosa\", \"Salmo\", \"Protección\", \"Milagro\", \"Victoria\", \"Fe\", \"Bendición\", etc.\n\n# ESTRUTURA EMOCIONAL DO TÍTULO\n- Comece destacando o tema central da oração (ex: \"Oración de la Mañana\", \"Salmo 23\", \"Oración de Protección\", etc).\n- Inclua uma promessa ou benefício emocional direto (ex: \"para Protección y Paz\", \"para Romper Cadenas\", \"para Recibir Milagros\").\n- Use frases com comando ou convite emocional (ex: \"Declara Esto Hoy\", \"Repite Esta Oración\", \"Recibe Esta Bendición\").\n\n# REGRAS RÍGIDAS\n- O título final deve estar obrigatoriamente em espanhol.\n- Não ultrapassar 95 caracteres. Se necessário, corte e finalize com reticências (...).\n- Não use mais de DUAS palavras totalmente em MAIÚSCULAS para destaque.\n- Todas as palavras devem começar com letra maiúscula (formato de título).\n- Não retorne o título original. Sempre entregue apenas a versão adaptada.\n- O tom deve ser positivo, acolhedor e cheio de fé.\n- NÃO use palavras agressivas, negativas ou que gerem medo excessivo.\n\n# EXEMPLOS DE TRANSFORMAÇÃO DE TÍTULOS\n- PT: \"Oração da Manhã com o Salmo 23 para Proteção e Provisão\"  \n- ES: \"Poderosa Oración de la Mañana con el Salmo 23 para Protección y Provisión\"\n\n- PT: \"Comece o Dia com Esta Oração de Vitória e Paz\"  \n- ES: \"Empieza el Día Declarando Victoria y Paz con Esta Oración\"\n\n- PT: \"Oração para Romper Cadeias Espirituais e Abrir Portas de Bênção\"  \n- ES: \"Oración Poderosa para Romper Cadenas y Abrir Puertas de Bendición\"\n\n# FORMATO DE SAÍDA\nEntregue a resposta final apenas neste formato JSON:\n\n{\n  \"Título\": \"Seu Título Aqui\"\n}\n\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,400],"id":"e96ccf50-eeeb-4fb0-b72f-293dec1372d5","name":"Tradução Título","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $('Iniciar Criação de Roteiro').item.json.premissa }}\n\nVocê é um especialista em copywriting emocional, adaptação cultural e linguagem espiritual para YouTube. Sua missão é traduzir e adaptar o texto acima, que representa o contexto emocional e espiritual de um vídeo de oração cristã, do **português para o espanhol**.\n\nEste contexto será usado como briefing para geração de roteiros de oração de longa duração, seguindo o estilo emocional e acolhedor dos canais \"La Vida Eterna\" e \"Pergamino Sagrado\".\n\n# OBJETIVO\n- Preservar e até intensificar a carga emocional, espiritual e devocional do texto original.\n- Tornar o conteúdo **natural, fluido e impactante para o público hispânico**.\n- Não fazer tradução literal. Faça uma adaptação cultural com sensibilidade ao público latino de oração.\n- Usar linguagem simples, pastoral, empática e profundamente espiritual.\n\n# TIPO DE TEXTO\nO conteúdo é uma descrição interna (contexto narrativo), usada apenas como referência para os próximos nodes do fluxo de criação de roteiro. Não é a descrição que aparecerá no YouTube.\n\n# TONS E EXPRESSÕES SUGERIDAS\n- Inclua expressões naturais em espanhol que sejam comuns entre canais de oração.\n- Dê preferência a termos como: **\"Hoy\", \"Dios quiere hablar contigo\", \"Recibe esta palabra\", \"Que esta oración sea de bendición\", \"Si estás pasando por un momento difícil\", \"Esta es una palabra de fe para ti\"**, etc.\n\n# EXEMPLOS DE TRANSFORMAÇÃO DE CONTEXTO\n- PT: \"Hoje vamos fazer uma oração poderosa baseada no Salmo 23, para proteção e provisão neste novo dia. Essa oração é para você que está enfrentando desafios e precisa de uma resposta de Deus.\"  \n- ES: \"Hoy haremos una poderosa oración basada en el Salmo 23, para pedir protección y provisión en este nuevo día. Esta oración es para ti que estás enfrentando desafíos y necesitas una respuesta de Dios.\"\n\n- PT: \"Se você está com o coração angustiado, esta oração da manhã vai trazer paz e esperança para seu dia.\"  \n- ES: \"Si hoy tu corazón está angustiado, esta oración de la mañana traerá paz y esperanza a tu día.\"\n\n# REGRAS RÍGIDAS\n- O texto final deve estar 100% em espanhol.\n- O tom deve ser acolhedor, espiritual e levemente pastoral.\n- Não traduza literalmente. Adapte o texto para soar como um criador de conteúdo de oração hispânico.\n- Não ultrapassar 500 palavras.\n- Não adicione títulos, cabeçalhos ou numerações no output final.\n\n# FORMATO DE SAÍDA\nEntregue apenas o texto final, já traduzido e adaptado.  \nFormato JSON:\n\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n}\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1140,280],"id":"5e33d6dc-b259-42f0-95cf-acc6010d524b","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"f5f68d41-91a8-4927-b8d8-e4e885f7b585","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1000,1160],"credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1220,1160],"id":"3430f7ab-50a9-47cc-847d-cd87e8532fa2","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Después de recibir la transcripción, crea un resumen del contenido dividido en los temas principales, con una extensión total entre 250 y 500 caracteres. A continuación, haz un pequeño resumen general, destacando las palabras clave del video. Incluye 10 hashtags relacionados con las palabras clave. Por favor, sigue este modelo:\n\n\"Este video explora \\[tema principal], ofreciendo un análisis profundo y crítico sobre \\[aspectos principales]. Basado en un contexto histórico rico y relevante, el contenido aborda los aspectos controvertidos del tema, destacando las implicaciones para el público y para la sociedad. El video también examina ejemplos y casos prácticos, proporcionando una comprensión más concreta y aplicada del asunto. La conclusión ofrece una reflexión sobre los puntos discutidos, enfatizando la importancia y el impacto del tema en la actualidad.\n\nPalabras clave: \\[Palabras clave principales relacionadas con el tema].\n\nHashtags: #TemaPrincipal #ContextoHistórico #AspectosControvertidos #AnálisisCrítico #EjemplosPrácticos #CasosDeEstudio #ReflexiónFinal #ImpactoSocial #Historia #Sociedad\"\n\nEvita un estilo de escritura excesivamente uniforme, sin matices personales, o un enfoque sistemático y lógico que pueda parecer propio de una IA. Proporciona el texto sin markdown, explicaciones, comentarios adicionales, conteo de palabras o caracteres especiales, ya que se usará directamente debajo del video en YouTube.\n\nGuión: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\"\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[400,1160],"id":"b57d0c76-1c31-4582-aa93-0603ba06f436","name":"Gerar SEO","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1660,1160],"id":"555eaef7-c387-410f-af1c-1f332c115467","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1440,1160],"id":"e12a77ff-d1cc-4c5b-b234-086b2143f57d","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[780,1160],"id":"244328db-d462-4295-935d-853b051e0f99","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1880,1160],"id":"0f0522c6-bb52-4d5e-bc00-277ba850cbff","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-40,1160],"id":"26e8b58f-7025-4464-acd0-97c8aa433e3e","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,460],"id":"72cb6bc5-7184-4406-8ed2-694b4407e7d3","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2100,1160],"id":"97b7e38c-38f3-4bcc-a08e-26bf426f8143","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,1160],"id":"aeeb89f8-beb4-4e9c-a973-1bacad259034","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[840,400],"id":"124a70e7-1d6e-417f-b27c-7634cae26f6a","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1140,520],"id":"c1b01778-e6fc-4379-a941-2b245d67e892","name":"Aguardar e Reiniciar Processo","webhookId":"6e9c9645-8a41-4868-bbc8-da79e5642929"},{"parameters":{"assignments":{"assignments":[{"id":"b9f13f00-8d8a-4727-ba37-a9d507fcceb9","name":"ROTEIRO","value":"682b2e0278df7956373f0b4a","type":"string"},{"id":"0f61075e-b947-408b-8329-a66be2d1f4e0","name":"Canal","value":"@historiasqueelmundooculta","type":"string"},{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"título","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,460],"id":"1090a248-66a8-46cd-ac63-b9cd50068535","name":"Organizar Título e Premissa"},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[2320,1160],"id":"3ec52efc-a192-460e-9707-04b55979d4f1","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2983befa-78b5-4843-8e80-e6e0a85017ff","triggerCount":0,"tags":[{"createdAt":"2025-06-03T13:08:52.656Z","updatedAt":"2025-06-03T13:08:52.656Z","id":"5X46tRV4lwQwBhLN","name":"teste ok"}]}