03---cria-roteiros---es-LzA72unPzCA1tyK7.json
{"createdAt":"2025-06-05T14:02:31.998Z","updatedAt":"2025-06-06T14:45:51.756Z","id":"LzA72unPzCA1tyK7","name":"03 - CRIA ROTEIROS - ES","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho.\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2340,580],"id":"4a189beb-62a5-424d-9173-64748ba1ed97","name":"Gerar Capítulo 1","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-340,840],"id":"48775fda-60c2-4950-896d-d5116beecfe8","name":"Gerar Capítulo 2","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[40,840],"id":"83e060d5-9ad4-48b6-8114-8aa2c365134d","name":"Gerar Capítulo 3","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[420,840],"id":"1cf5e3b8-094c-441e-ac10-884b7a0ff4a7","name":"Gerar Capítulo 4","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[800,840],"id":"3f33b4b3-d812-41c4-aaf2-63ff8dc22ff0","name":"Gerar Capítulo 5","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1180,840],"id":"9f3d9882-c77f-41f9-90e1-2e48395cbf0a","name":"Gerar Capítulo 6","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1540,840],"id":"6d917af9-ca48-4956-8136-b6d1d16aeecc","name":"Gerar Capítulo 7","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\"\n\nEscribe un nuevo capítulo, de aproximadamente 500 palabras, que continúe los eventos descritos arriba, introduciendo un giro extremadamente impactante y chocante que transforme completamente la narrativa. Comienza exactamente desde el punto en que terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el rumbo de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. El giro debe revelar una nueva capa oculta: un secreto, una identidad escondida, una traición inesperada, una conspiración interna o un pasado oculto, que transforme por completo todo lo que el lector creía saber hasta ahora.\n\nMantén el mismo estilo, lenguaje y ritmo de la narrativa original, mientras construyes este cambio abrupto de manera que deje al lector en estado de shock. No finalices la trama ni resuelvas definitivamente los conflictos, pero usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de ese evento transformador. Proporciona solo el nuevo capítulo y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n# Instrucciones adicionales:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Inserta tensión clara en las primeras 3 frases.\n\nTÉCNICA NARRATIVA:\n\n1. Intensidad Emotiva\n\n   * Emoción cruda: miedo, dolor, choque, compasión.\n   * Verbos y adjetivos fuertes; impacto físico y psicológico.\n\n2. Urgencia y Ritmo\n\n   * Frases cortas + descripciones sintéticas.\n   * Puntuación que acelera: puntos suspensivos, exclamaciones, pausas.\n\n3. Descripción Sensorial Concreta\n\n   * Colores, sonidos, olores y texturas claras e inmediatas.\n\n4. Cinematografía\n\n   * Primeros planos, planos generales, cortes de escena simulados por párrafos.\n\n5. Narrador Observador y Cercano\n\n   * Tercera persona con tono coloquial.\n\n6. Contrastes y Silencios\n\n   * Silencio que habla, pausa seguida de explosión.\n\n7. Reacciones Colectivas\n\n   * Murmullos, expresiones, diálogos fragmentados de personajes secundarios.\n\n8. Lenguaje de Choque\n\n   * Horror, escándalo, tragedia con autenticidad.\n\n9. Dolor Desnudo\n\n   * Físico y emocional, sin eufemismos.\n\n10. Chispas de Esperanza\n\n    * Pequeños respiros emocionales para intensificar la tensión.\n\n11. Consistencia de Voz\n\n    * Tono visceral y cinematográfico de inicio a fin.\n\n12. Selección Léxica\n\n    * Verbos y adjetivos precisos; evitar adverbios genéricos.\n\n13. Prohibiciones\n\n    * Nada de reflexiones filosóficas, vocabulario literario rebuscado ni instrucciones internas.\n\nRecuerda: el giro debe REVELAR un nuevo secreto que transforme todo. Termina con un gancho."},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1960,840],"id":"0d54b6a1-bb41-4dbc-9202-8efb5dc2947c","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\n{{ $('Gerar Capítulo 8').item.json.message.content }}\"\n\nEscribe un capítulo final, de aproximadamente 500 palabras, que cierre definitivamente la historia descrita arriba. Resuelve los principales conflictos, presenta una despedida coherente para los personajes y concluye la trama de manera satisfactoria. Mantén el mismo estilo y ritmo narrativo, pero dale al lector una sensación clara de cierre.\n\nEl tono de la escritura debe ser simple, directo y emocional, como si la historia estuviera siendo contada por un amigo en una conversación informal. Usa palabras fáciles, frases cortas y un ritmo ligero, casi como al hablar. Evita palabras difíciles, estructuras complicadas o lenguaje literario. La narrativa debe atrapar la atención con imágenes claras, sentimientos universales y un lenguaje accesible.\n\nAl final del capítulo, inserta un epílogo sutil —una frase corta, simbólica o ambigua que deje en el aire un gancho oculto para una posible nueva historia. Puede ser un gesto, un susurro, un descubrimiento olvidado, algo que provoque sospecha o continuidad.\n\nA continuación, añade un mensaje urgente e impactante de CTA (call to action) que EXIJA que el público:\n\n* SE SUSCRIBA INMEDIATAMENTE al canal para no perderse las próximas historias exclusivas\n* APLASTE el botón de like AHORA para alimentar el algoritmo\n* INUNDE la sección de comentarios con sus reacciones y teorías sobre el final\n* COMPARTE INMEDIATAMENTE este video con al menos 5 amigos que necesiten conocer este desenlace\n\nUsa frases enfáticas como “Tienes QUE suscribirte ahora”, “Este es el MOMENTO para demostrar tu apoyo” y “No esperes NI UN SEGUNDO MÁS para compartir”. Destaca que solo los verdaderos fans comprenden la importancia de apoyar el canal con estas acciones. Proporciona solo el capítulo final y no reescribas el capítulo anterior, sin explicaciones, comentarios adicionales, conteo de palabras ni caracteres especiales.\n\n1. Intensidad Emotiva\n2. Urgencia y Ritmo\n3. Descripción Concreta y Sintética\n4. Sensación Cinematográfica\n5. Narrador Observador y Cercano\n6. Contraste de Tonos\n7. Reacciones y Juicio Colectivo\n8. Lenguaje de Choque\n9. Proximidad al Dolor\n10. Chispas de Esperanza\n11. Consistencia de Voz\n12. Elección Léxica\n13. Prohibiciones (sin divagaciones, vocabulario rebuscado o instrucciones internas)\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2340,840],"id":"b4791707-475a-49b7-b322-a790c4ecf69f","name":"Gerar Capítulo Final","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }} La historia debe comenzar con una versión sensacionalista del gancho: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\". En este primer capítulo, exagera en los elementos curiosos y misteriosos para instigar y capturar la atención del lector desde el inicio. Describe en detalles vívidos y envolventes cada hecho insólito, creando una atmósfera de expectación y fascinación que mantenga al lector ansioso por descubrir lo que sucederá a continuación. A continuación, incluye un breve CTA que diga: \"¡Oye, antes de continuar con esta historia increíble, necesito darte una alerta importante! Muchos suscriptores han reportado que YouTube eliminó sus suscripciones sin aviso. Echa un vistazo rápido al botón rojo ahí abajo para asegurarte de que sigues suscrito al canal. ¡No quiero que te pierdas NINGÚN contenido exclusivo que está por venir... Y ya que estás ahí, deja ese like poderoso que me ayuda MUCHO con el algoritmo! Ah, y cuéntame en los comentarios: ¿desde qué ciudad estás viendo? ¡Me encanta conocer a cada persona increíble que forma parte de esta comunidad! Tu participación hace toda la diferencia, ¡vamos a interactuar!\". Proporciona solo el texto final, sin explicaciones, comentarios adicionales, conteo de palabras o caracteres especiales.\n\nLa historia debe obligatoriamente seguir esta estructura exacta:\n\nTÍTULO: Comenzar con una versión sensacionalista del gancho: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n\nDESARROLLO DEL CAPÍTULO: En este primer capítulo, exagera en los elementos curiosos y misteriosos para instigar y capturar la atención del lector desde el inicio. Describe en detalles vívidos y envolventes cada hecho insólito, creando una atmósfera de expectación y fascinación que mantenga al lector ansioso por descubrir lo que sucederá a continuación.\n\nCTA: Al final del desarrollo, incluye este texto exacto: \"¡Oye, antes de continuar con esta historia increíble, necesito darte una alerta importante! Muchos suscriptores han reportado que YouTube eliminó sus suscripciones sin aviso. Echa un vistazo rápido al botón rojo ahí abajo para asegurarte de que sigues suscrito al canal. ¡No quiero que te pierdas NINGÚN contenido exclusivo que está por venir... Y ya que estás ahí, deja ese like poderoso que me ayuda MUCHO con el algoritmo! Ah, y cuéntame en los comentarios: ¿desde qué ciudad estás viendo? ¡Me encanta conocer a cada persona increíble que forma parte de esta comunidad! Tu participación hace toda la diferencia, ¡vamos a interactuar!\"\n\nProporciona solo el texto final, respetando rigurosamente este orden: título, desarrollo del capítulo y luego CTA. No incluyas explicaciones, comentarios adicionales, conteo de palabras o caracteres especiales. No escribas \"TÍTULO:\", \"DESARROLLO DEL CAPÍTULO:\" o \"CTA:\" en el texto final.\n\nEl tono de la escritura debe ser simple, directo y emocional, como si la historia fuera contada por un amigo en una conversación informal. Usa palabras fáciles, frases cortas y un ritmo ligero, casi como al hablar. Evita palabras difíciles, estructuras complicadas o lenguaje literario. La narrativa debe atrapar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Nada de finales cerrados: termina el capítulo con un misterio o duda, dejando al lector curioso por saber qué viene después.\n\n1. Intensidad Emotiva\n\n* Cada frase debe transmitir emoción cruda: miedo, dolor, choque, compasión.\n* Usa verbos y adjetivos fuertes que evoquen sensaciones físicas y psicológicas.\n* Revela el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, temblor en las manos.\n\n2. Urgencia y Ritmo\n\n* Intercala frases cortas de acción con descripciones sintéticas, manteniendo el ritmo acelerado.\n* Emplea signos de puntuación que refuercen la cadencia (puntos suspensivos, exclamaciones, interjecciones).\n* Evita periodos demasiado largos; cada párrafo debe avanzar la escena sin pausas literarias.\n\n3. Descripción Concreta y Sintética\n\n* Enfócate en detalles visuales y sensoriales esenciales, sin sobrecargar.\n* Utiliza metáforas y comparaciones puntuales, siempre relacionadas al momento.\n* Cada elemento (color, sonido, textura) debe surgir de forma instantáneamente reconocible.\n\n4. Sensación Cinematográfica\n\n* Alterna el enfoque entre primeros planos (expresiones, reacciones) y planos generales (ambiente, multitud).\n* Usa adverbios de movimiento para inducir la idea de cámara en movimiento.\n* Rompe párrafos para simular cortes de escena.\n\n5. Narrador Observador y Cercano\n\n* Adopta tercera persona, pero mantén el tono coloquial: lenguaje natural, sin jergas literarias.\n* Evita términos excesivamente eruditos; prefiere construcciones que suenen como un relato directo.\n\n6. Contraste de Tonos\n\n* Crea pausas dramáticas en las que el silencio o la inacción hablen tanto como las acciones.\n* Intercala sonidos y ruidos en una misma secuencia (silencio súbito seguido de grito o estruendo).\n\n7. Reacciones y Juicio Colectivo\n\n* Describe expresiones y murmullos de observadores, reforzando la tensión social.\n* Incluye diálogos fragmentados de personajes secundarios que muestren choque o reprobación.\n\n8. Lenguaje de Impacto\n\n* Utiliza términos impactantes relacionados con horror, tragedia y escándalo, pero siempre vinculados a imágenes concretas.\n* Ten cuidado de no exagerar en el sensacionalismo; mantén autenticidad en el impacto.\n\n9. Proximidad con el Dolor\n\n* Retrata de forma directa el dolor físico y emocional de los personajes.\n* Evita eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de Esperanza\n\n* Introduce breves destellos de alivio o consuelo que se destaquen en el contexto de tensión.\n* Estos momentos deben acentuar aun más el impacto dramático cuando la escena retome la urgencia.\n\n11. Consistencia de Voz\n\n* Mantén el mismo “timbre” narrativo de inicio a fin: informal, visceral, cinematográfico.\n* No alternes a estilos contradictorios; preserva la unidad de tono en todo el texto.\n\n12. Selección Léxica\n\n* Prefiere verbos fuertes y adjetivos incisivos; sustituye adverbios genéricos por equivalentes más específicos.\n* Gestiona el vocabulario para reforzar la intensidad sin hacer que la lectura sea agotadora.\n\n13. Prohibiciones\n\n* No uses reflexiones filosóficas o divagaciones largas.\n* No presentes vocabulario literario rebuscado.\n* No añadas secciones de instrucción, marcadores o subtítulos internos.\n* No insertes descripciones que rompan la fluidez del tono.\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1960,580],"id":"1dfee47a-7937-4eee-b661-13e5524b416f","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Objetivo Principal:\n\nTransformar cualquier tema en un único prompt narrativo para el primer capítulo, sin finalizar la historia. El resultado será un array JSON llamado `Prompts`, que contendrá exactamente 1 objeto, con el campo `prompt`.\n\n## Tema: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n\n### Contexto: \"{{ $json.message.content.Contexto }}\"\n\n## Estructura Base del Prompt\n\nCada prompt debe comenzar con: \"Escribe una historia de aproximadamente 500 palabras sobre...\"\n\n## Especificaciones Técnicas del JSON\n\n```json\n{\n  \"Prompts\": [\n    {\n      \"prompt\": \"Escribe una historia de aproximadamente 500 palabras sobre...\"\n    }\n  ]\n}\n```\n\n## Requisitos Técnicos\n\n* Solo un objeto en el array `Prompts`\n* Cadenas con comillas dobles\n* Indentación: 2 espacios\n* Sin saltos de línea en el contenido de `prompt`\n* JSON válido y con caracteres especiales escapados\n\n## Estructura Narrativa Detallada (Solo Primer Capítulo)\n\n1. Presentación del Protagonista\n\n   * Nombre y características principales\n   * Contexto social/profesional\n   * Estado emocional inicial\n\n2. Escenario Principal\n\n   * Ubicación temporal y espacial\n   * Atmósfera y ambiente\n   * Elementos únicos del mundo de la historia\n\n3. Activador de la Historia\n\n   * Evento catalizador que rompa la normalidad\n   * Inicia el conflicto inicial o dilema principal\n\n4. Gancho Narrativo\n\n   * Elemento de misterio o tensión que deje clara la continuación\n   * Pregunta no resuelta\n   * Termina sin concluir el conflicto, manteniendo la historia incompleta\n\n# Instrucciones narrativas obligatorias:\n\n* Usa lenguaje cinematográfico y sensorial desde el primer párrafo.\n* Crea una tensión clara en las primeras 3 frases.\n* El capítulo no debe resolver el conflicto. Al contrario: cada intento de solución debe generar un nuevo problema.\n\n## Lista de Validación\n\n1. JSON\n\n   * [ ] Solo 1 objeto dentro de \"Prompts\"\n   * [ ] Campo \"prompt\" sin saltos de línea\n   * [ ] Cadenas con comillas dobles, sin caracteres especiales\n\n2. Narrativa\n\n   * [ ] Historia NO finalizada (el capítulo queda abierto)\n   * [ ] Incluye ganchos, sin resolver el conflicto\n   * [ ] Mantén un equilibrio entre acción y reflexión\n   * [ ] Terminar con un gancho fuerte, generando tensión, misterio o duda\n   * [ ] Provoca sensación de continuidad obligatoria (no dejes que parezca un fin)\n\n## Observación Final\n\n* El lector debe terminar el capítulo con sed de más.\n* Evita conclusiones; genera dudas. La tensión es el motor de la retención.\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1580,580],"id":"c08bfbd5-c099-475b-95d5-64765c4b7c13","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=\"{{ $json['título'] }}\"\n\nVocê é um especialista em copywriting emocional e adaptação cultural. Seu papel é traduzir e adaptar o título acima para o Espanhol, utilizando linguagem emocional, natural e reconhecível por falantes do idioma em países como México, Argentina, Chile e outros de língua espanhola, notadamente da América Latina.\n\nAdapte nomes, locais e referências culturais de forma a torná-los relevantes e reconhecíveis, garantindo que mantenham forte apelo emocional, clareza narrativa e ressoem com o público de língua espanhola.\n\nSiga estas diretrizes de forma rigorosa:\n\n# OBJETIVO\n- Preservar o impacto emocional e a estrutura dramática do título original.\n- Tornar o conteúdo culturalmente relevante e emocionalmente atrativo para o público de língua espanhola.\n- Traduzir adaptando: não traduza literalmente. Recrie a frase com sensibilidade cultural e força narrativa. Ou seja, não apenas traduza. Recrie o título mantendo a estrutura emocional e narrativa, usando expressões idiomáticas e referências locais que aumentem o impacto e a viralidade em países de língua espanhola.\n\n# ESTRUTURA EMOCIONAL DO TÍTULO\n- Comece pela figura de maior poder ou status social (ex: “Milionário”, “Juiz”, “Empresário”)\n- Apresente explicitamente o(a) personagem Negro(a) com destaque\n- Inclua, de maneira sutil, um terceiro elemento com carga emocional ou vulnerabilidade (ex: “Filha Doente”, “Garoto de Rua”, “Estudante Pobre”)\n\n# REGRAS RÍGIDAS\n- O título DEVE conter obrigatoriamente pelo menos:\n   - A palavra “Negro” ou “Negra”\n   - E a palavra “Milionário” (ou sinônimos como “Empresário”, “Juiz”, “CEO”, etc.)\n- Use “Mendigo” ou “Mendiga” apenas quando isso aumentar o contraste social e reforçar a emoção do título.\n- Use no máximo DUAS palavras com todas as letras em MAIÚSCULAS para ênfase emocional.\n- O título deve ter no máximo 95 caracteres. Se ultrapassar, corte imediatamente e finalize com reticências (...).\n- Todas as palavras devem iniciar com letra maiúscula (formato de título).\n- Nunca retorne o texto original. Sempre crie uma nova versão adaptada.\n- Use linguagem que provoque curiosidade, compaixão ou choque, e que convide o leitor a querer saber o desfecho.\n\nRetorne apenas a saída no seguinte formato JSON:\n\n{\n  \"Título\": \"Seu Título Aqui\"\n}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,400],"id":"a18f775d-a25d-4f16-988a-8526018cd93f","name":"Tradução Título","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $('Iniciar Criação de Roteiro').item.json.premissa }}\n\nPor favor, forneça o texto acima em Espanhol, utilizando nomes e expressões comuns entre os falantes de Espanhol em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua.\n\nAdapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Espanhol, garantindo que mantenham relevância, apelo emocional e ressoem com o público.\n\nMANTENHA OU REFORCE o conflito moral, social ou ético presente na premissa original — isso é fundamental para gerar capítulos com maior densidade dramática e retenção.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n}\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1260,260],"id":"409b2859-fc4f-494c-ab10-7849523ba812","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"1e397060-f1ad-4850-a4df-9e78de81d298","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1000,1160],"credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1220,1160],"id":"382bac00-468f-4e64-8b95-7407055d182d","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Después de recibir la transcripción, crea un resumen del contenido dividido en los temas principales, con una extensión total entre 250 y 500 caracteres. A continuación, haz un pequeño resumen general, destacando las palabras clave del video. Incluye 10 hashtags relacionados con las palabras clave. Por favor, sigue este modelo:\n\n\"Este video explora \\[tema principal], ofreciendo un análisis profundo y crítico sobre \\[aspectos principales]. Basado en un contexto histórico rico y relevante, el contenido aborda los aspectos controvertidos del tema, destacando las implicaciones para el público y para la sociedad. El video también examina ejemplos y casos prácticos, proporcionando una comprensión más concreta y aplicada del asunto. La conclusión ofrece una reflexión sobre los puntos discutidos, enfatizando la importancia y el impacto del tema en la actualidad.\n\nPalabras clave: \\[Palabras clave principales relacionadas con el tema].\n\nHashtags: #TemaPrincipal #ContextoHistórico #AspectosControvertidos #AnálisisCrítico #EjemplosPrácticos #CasosDeEstudio #ReflexiónFinal #ImpactoSocial #Historia #Sociedad\"\n\nEvita un estilo de escritura excesivamente uniforme, sin matices personales, o un enfoque sistemático y lógico que pueda parecer propio de una IA. Proporciona el texto sin markdown, explicaciones, comentarios adicionales, conteo de palabras o caracteres especiales, ya que se usará directamente debajo del video en YouTube.\n\nGuión: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\"\n"},{"content":"Por favor, proporcione el texto en español, utilizando nombres y expresiones comunes entre los hablantes de español en diferentes países, adaptado de forma que refleje la cultura compartida por los diversos pueblos que hablan el idioma. Adapte nombres, lugares y referencias culturales de forma que sean naturales y reconocibles en el idioma español, garantizando que mantengan relevancia y resuenen con el público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[400,1160],"id":"f1593bb2-e9eb-4761-b5e7-53438538d118","name":"Gerar SEO","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1660,1160],"id":"7b455247-cad7-42f4-90b2-42622f9378a5","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1440,1160],"id":"02b4e063-5097-4c8e-aec5-a8caa55569bc","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[780,1160],"id":"0a18457c-615e-4c9b-8c00-98304be3ba99","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1880,1160],"id":"5c2d73c1-697f-4b65-9e14-209b20d31df9","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-40,1160],"id":"42f894ac-2f5b-447b-a370-2b62829f7edd","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,460],"id":"a18a24b5-ae77-4104-b02b-9e7fb2ec7382","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2100,1160],"id":"9ee0a0a2-7b62-4d79-ab6d-1d2c6f099710","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,1160],"id":"f1b037b0-c686-4b17-a892-2ee03116e092","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,320],"id":"539a5575-94e1-43d3-9ce8-3896543c28ed","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1340,520],"id":"778ff991-3a42-41e1-870a-09e654e7d2dc","name":"Aguardar e Reiniciar Processo","webhookId":"15be69eb-b4e1-4552-93e0-645fcaf86cdd"},{"parameters":{"assignments":{"assignments":[{"id":"b9f13f00-8d8a-4727-ba37-a9d507fcceb9","name":"ROTEIRO","value":"682b2e0278df7956373f0b4a","type":"string"},{"id":"0f61075e-b947-408b-8329-a66be2d1f4e0","name":"Canal","value":"@historiasqueelmundooculta","type":"string"},{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"título","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,460],"id":"f4c76aee-fcec-40ed-b090-43d99bbbe3e7","name":"Organizar Título e Premissa"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,140],"id":"c4343480-4ee5-494a-a8ea-c488d8fe8a49","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002615111216","text":"=03 - CRIA ROTEIROS - PT","additionalFields":{"appendAttribution":false,"message_thread_id":5}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,140],"id":"ef8deee3-e982-44a3-b4c6-37914e2fd186","name":"Notificação de Erro no Telegram","webhookId":"e9bae97c-581a-4cfe-bc0a-e0ee0b7ffd99","credentials":{"telegramApi":{"id":"KbYurROyBoGKf7Ks","name":"Telegram account"}}},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[2320,1160],"id":"bbe214cb-24ab-410e-81f0-ea4b4ed33429","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content['Título'] }}","rightValue":"Negro","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content['Título'] }}","rightValue":"NEGRO","operator":{"type":"string","operation":"contains"}},{"id":"7a2b0465-b0dd-475a-94e3-aec8b1161c5a","leftValue":"={{ $json.message.content['Título'] }}","rightValue":"Negra","operator":{"type":"string","operation":"contains"}},{"id":"128c0b37-3787-4721-8282-4cb67e6828a6","leftValue":"={{ $json.message.content['Título'] }}","rightValue":"NEGRA","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[820,400],"id":"2c09ee3c-4f0b-42b5-be74-2353cc2a3a35","name":"Verificar Palavra-chave no Título1"}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Palavra-chave no Título1","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título1":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e9b9c985-f919-415d-a8ba-853d8b380d32","triggerCount":0,"tags":[{"createdAt":"2025-06-03T13:08:52.656Z","updatedAt":"2025-06-03T13:08:52.656Z","id":"5X46tRV4lwQwBhLN","name":"teste ok"}]}