04---cria-áudios---pt-a9EUuSUtXroLZPBv.json
{"createdAt":"2025-06-02T14:42:03.918Z","updatedAt":"2025-06-03T20:38:12.815Z","id":"a9EUuSUtXroLZPBv","name":"04 - CRIA ÁUDIOS - PT","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2100,760],"id":"0c649854-cda0-4e3c-9c1b-1483ca406ea6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3680,540],"id":"ea963722-85ef-440c-8b2c-bf3d97b2204d","name":"Verificação Periódica Minuto a Minuto"},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"ROTEIRO\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3240,540],"id":"5e83e285-8bb6-40c4-bfc8-759f8437d472","name":"Buscar Cartões Trello Pendentes","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2580,540],"id":"5da9ccef-c7e3-49ea-9c5d-d605047052d5","name":"Processar Próximo Cartão"},{"parameters":{"promptType":"define","text":"={{ $json.desc }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2140,540],"id":"7ec535f4-64a9-4d8b-a54e-4d216afc8a96","name":"Analisar Conteúdo do Cartão"},{"parameters":{"jsonSchemaExample":"{\n\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1980,760],"id":"ae8e3318-8a43-4ddc-ac51-9059a03509cd","name":"Formatar Resposta da IA"},{"parameters":{"resource":"folder","name":"Áudios Curtos","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.output.pasta }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1760,540],"id":"e34c8e17-f9fd-4541-adfe-09e506266ac2","name":"Localizar Pasta de Áudio","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"url":"=https://drive.google.com/uc?export=download&id={{ $('Analisar Conteúdo do Cartão').item.json.output.roteiro }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1540,540],"id":"1f18b675-052a-4c5f-8cdc-23624c793c98","name":"Baixar Arquivo de Roteiro"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1320,540],"id":"b2f576ec-fdc6-4016-8142-250212a2e8d1","name":"Extrair Texto do Roteiro"},{"parameters":{"fieldToSplitOut":"TEXTOS","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-880,540],"id":"460c9f5c-1b88-4fdd-83a0-0e1ca23e3bd1","name":"Separar Partes do Texto"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-660,540],"id":"d9ca54b5-0e05-4ff2-833c-31a9c2100544","name":"Processar Segmentos de Texto"},{"parameters":{"fieldToSplitOut":"id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-440,160],"id":"46a7683c-2059-485f-bfa0-c3ad582953b5","name":"Capturar ID do Arquivo Gerado"},{"parameters":{"assignments":{"assignments":[{"id":"224d430d-8334-4617-839e-9178ccb68c3e","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-220,160],"id":"cafcd49c-d4fa-458d-a5cd-b8259b9b2e0d","name":"Preparar ID para Armazenamento"},{"parameters":{"name":"Áudio","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-220,460],"id":"689d5cfb-0295-45c4-b20f-34d1508d14ed","name":"Salvar Áudio na Raiz","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"jsCode":"// Código para nó “Code” no n8n\n// items é um array onde cada item.json.id contém um ID\nconst result = {};\n\n// Para cada item, cria uma propriedade audio{índice+1} = id\nitems.forEach((item, index) => {\n  result[`audio${index + 1}`] = item.json.id;\n});\n\n// Retorna um único item com todas as chaves\nreturn [\n  {\n    json: result\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"2c483a24-4ac6-4dda-b2bc-67cb6bbf879e","name":"Consolidar IDs dos Arquivos de Áudio"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,260],"id":"0bb08af8-327c-423f-a5d2-ae9df9015a20","name":"Iterar Arquivos de Áudio"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Localizar Pasta de Áudio').item.json.id }}","mode":"id"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[220,400],"id":"43a4d4f4-5187-4092-9ae0-9b2a093fa24d","name":"Mover Áudio para Pasta Final","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"operation":"get","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Processar Próximo Cartão\"].json[\"id\"] }}","mode":"id"},"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[440,0],"id":"fb7e0368-62eb-4a8d-992a-9e68e5b6e20c","name":"Carregar Detalhes do Cartão","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"desc":"={{ $json.desc }}\n\"audio1\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio1 }}\",\n\"audio2\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio2 }}\",\n\"audio3\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio3 }}\",\n\"audio4\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio4 }}\",\n\"audio5\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio5 }}\",\n\"audio6\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio6 }}\",\n\"audio7\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio7 }}\",\n\"audio8\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio8 }}\",\n\"audio9\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio9 }}\",\n\"audio10\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio10 }}\",\n\"audio11\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio11 }}\",\n\"audio12\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio12 }}\",\n\"audio13\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio13 }}\",\n\"audio14\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio14 }}\",\n\"audio15\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio15 }}\",\n\"audio16\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio16 }}\",\n\"audio17\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio17 }}\",\n\"audio18\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio18 }}\",\n\"audio19\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio19 }}\",\n\"audio20\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio20 }}\",\n\"audio21\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio21 }}\",\n\"audio22\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio22 }}\",\n\"audio23\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio23 }}\",\n\"audio24\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio24 }}\",\n\"audio25\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio25 }}\",\n\"audio26\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio26 }}\",\n\"audio27\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio27 }}\",\n\"audio28\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio28 }}\",\n\"audio29\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio29 }}\",\n\"audio30\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio30 }}\",\n\"audio31\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio31 }}\",\n\"audio32\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio32 }}\",\n\"audio33\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio33 }}\",\n\"audio34\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio34 }}\",\n\"audio35\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio35 }}\",\n\"audio36\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio36 }}\",\n\"audio37\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio37 }}\",\n\"audio38\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio38 }}\",\n\"audio39\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio39 }}\",\n\"audio40\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio40 }}\",\n\"audio41\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio41 }}\",\n\"audio42\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio42 }}\",\n\"audio43\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio43 }}\",\n\"audio44\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio44 }}\",\n\"audio45\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio45 }}\",\n\"audio46\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio46 }}\",\n\"audio47\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio47 }}\",\n\"audio48\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio48 }}\",\n\"audio49\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio49 }}\",\n\"audio50\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio50 }}\",\n\"audio51\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio51 }}\",\n\"audio52\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio52 }}\",\n\"audio53\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio53 }}\",\n\"audio54\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio54 }}\",\n\"audio55\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio55 }}\",\n\"audio56\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio56 }}\",\n\"audio57\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio57 }}\",\n\"audio58\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio58 }}\",\n\"audio59\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio59 }}\",\n\"audio60\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio60 }}\","}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[660,0],"id":"856f4b3b-0a31-482f-ac9e-c750542d75ba","name":"Atualizar Cartão com Links de Áudio","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Processar Próximo Cartão\"].json[\"id\"] }}","mode":"id"},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"ÁUDIOS CURTOS\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[440,200],"id":"f0a14b98-f91b-4cc6-a82a-e931fc259f57","name":"Mover Cartão para \"ÁUDIOS CURTOS ✅\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-3680,900],"id":"aaafca9b-72fe-4411-b17c-c1d2f1f06e62","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002615111216","text":"=04 - CRIA ÁUDIOS","additionalFields":{"appendAttribution":false,"message_thread_id":4}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3460,900],"id":"dad0920c-d8a5-4c3b-a93c-02117b095526","name":"Notificação de Erro no Telegram","webhookId":"e6ee1586-ff92-4942-b5ca-7085a94ba38d","credentials":{"telegramApi":{"id":"KbYurROyBoGKf7Ks","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3020,540],"id":"e45badb4-c31a-4d37-94c6-46836ea5876d","name":"Exclui Cards em \"STOP\""},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $json.name }} \"STOP\""}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-2360,540],"id":"21c7459c-92ff-46bf-82d2-629c700ca1be","name":"Atualizar Cartão com \"STOP\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Processar Próximo Cartão\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[660,200],"id":"952dce0b-7c50-4784-a1c6-23f2ccbaa863","name":"Remove \"STOP\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"jsCode":"// 1) Pega o texto de entrada\nconst text = $input.first().json.data || '';\n\n// 2) Separa em sentenças\nconst sentences = text.match(/[^\\.!\\?]+[\\.!\\?]+[\"']?|[^\\.!\\?]+$/g) || [];\nconst totalSentences = sentences.length;\n\n// 3) Define número de pedaços e calcula tamanho base + resto\nconst numChunks = 60;\nconst baseSize = Math.floor(totalSentences / numChunks);\nconst remainder = totalSentences % numChunks;\n\n// 4) Monta os chunks com distribuição uniforme sem cortar frases\nconst parts = [];\nlet idx = 0;\nfor (let i = 0; i < numChunks; i++) {\n  const size = baseSize + (i < remainder ? 1 : 0);\n  const chunkSentences = sentences.slice(idx, idx + size);\n  const chunk = chunkSentences.join(' ').trim();\n  parts.push(chunk);\n  idx += size;\n}\n\n// 5) Garante 60 pedaços (por segurança)\nwhile (parts.length < numChunks) {\n  parts.push('');\n}\n\n// 6) Monta o objeto de saída\nconst output = {\n  TEXTOS: parts.map(segment => ({ texto: segment }))\n};\n\n// 7) Retorna o resultado\nreturn [{ json: output }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1100,540],"id":"c1b93fbf-fd05-405d-adb7-37e52e4c743d","name":"Dividir Texto em 60 Segmentos"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[0,600],"id":"eb0c3c86-424a-4a33-a92c-330d46d8f10f","name":"Wait","webhookId":"5e9eae5d-f37f-4753-8c90-f5a9d5ce6ca9"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[220,200],"id":"88d45717-bafc-4290-9c76-dd631a9697ca","name":"Limit 2"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[220,0],"id":"7369dc92-e44b-4ece-b858-361f95ea7a5c","name":"Limit 1"},{"parameters":{"assignments":{"assignments":[{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"ROTEIRO","value":"682b2e0278df7956373f0b4a","type":"string"},{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"ÁUDIOS CURTOS","value":"682b2e0278df7956373f0b4f","type":"string"},{"id":"08e16cdb-0f3c-4021-86f8-21a7fa2a32f1","name":"Voz","value":"ash","type":"string"},{"id":"e20a8320-99e9-429d-acd8-0127644250f9","name":"Prompt","value":"Delivery: Exaggerated and theatrical, with dramatic pauses, sudden outbursts, and gleeful cackling.|Voice: High-energy, eccentric, and slightly unhinged, with a manic enthusiasm that rises and falls unpredictably.Tone: Excited, chaotic, and grandiose, as if reveling in the brilliance of a mad experiment.Pronunciation: Sharp and expressive, with elongated vowels, sudden inflections, and an emphasis on big words to sound more diabolical.","type":"string"},{"id":"11721921-4b76-4955-b89d-0a1b8ed74050","name":"Canal","value":"@historiasqueomundoesconde","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3460,540],"id":"3af4beea-50b9-4f09-9ecc-ab5a56a37e0b","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9890df8a-d5a1-4219-b54c-2ef393c55c7a","leftValue":"={{ $json.name }}","rightValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Canal\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2800,540],"id":"469adc32-9909-4023-be0a-b55f54c3a06d","name":"Filtra por Nome do Canal"},{"parameters":{"url":"https://www.openai.fm/api/generate","sendQuery":true,"queryParameters":{"parameters":[{"name":"input","value":"={{ $json.TEXTOS.texto }}"},{"name":"prompt","value":"Voice Affect: Low, hushed, and suspenseful — as if unveiling a secret that was never meant to be told. Convey tension and emotional gravity with restraint, avoiding exaggeration.\n\nTone: Deeply serious, cinematic, and immersive — mysterious, as if each word leads deeper into a hidden truth.\n\nPacing: Slow and deliberate, allowing moments to breathe. Use strategic pauses after revelations or cliffhangers to heighten anticipation.\n\nEmotion: Restrained yet intense — let the voice tremble slightly in moments of injustice, or tighten subtly during betrayal and fear.\n\nEmphasis: Highlight sensory or emotional phrases (“o silêncio era cortante”, “as lágrimas não caíam — ardiam”) to deepen the atmosphere.\n\nPronunciation: Brazilian Portuguese with slightly elongated vowels and softened consonants, to produce an eerie, emotional cadence.\n\nPauses: Insert meaningful pauses before and after turning points or emotional peaks — especially after phrases like “então…”, “mas ninguém sabia que…”, “e naquele momento…”\n"},{"name":"voice","value":"ash"},{"name":"generation","value":"748700f1-8a8e-4645-8ffe-80602bcaaee8"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"sec-ch-ua-platform","value":"\"macOS\""},{"name":"Referer","value":"https://www.openai.fm/"},{"name":"User-Agent","value":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36"},{"name":"sec-ch-ua","value":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\""},{"name":"Range","value":"bytes=0-"},{"name":"sec-ch-ua-mobile","value":"?0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-420,460],"id":"3cc44be8-61dd-478d-b283-388d242249f8","name":"Gerar Áudio com OpenAI.fm"},{"parameters":{"url":"https://www.openai.fm/api/generate","sendQuery":true,"queryParameters":{"parameters":[{"name":"input","value":"={{ $json.TEXTOS.texto }}"},{"name":"prompt","value":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Prompt\"] }}"},{"name":"voice","value":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Voz\"] }}"},{"name":"generation","value":"8ee5d3fc-5ec8-4fb1-a10c-fd905e44c256"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"sec-ch-ua-platform","value":"\"Windows\""},{"name":"Referer","value":"https://www.openai.fm/"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36"},{"name":"sec-ch-ua","value":"\"Google Chrome\";v=\"135\", \"Not-A.Brand\";v=\"8\", \"Chromium\";v=\"135\""},{"name":"Range","value":"bytes=0-"},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"Windows\""},{"name":"sec-fetch-dest","value":"empty"},{"name":"sec-fetch-mode","value":"cors"},{"name":"sec-fetch-site","value":"same-origin"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36"},{"name":"cookie","value":"_ga=GA1.1.1402226226.1745983038;_ga_NME7NXL4L0=GS1.1.1745983037.1.0.1745983043.0.0.0;"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-420,880],"id":"55be89e5-30e5-4678-8c72-a9637c31a0c5","name":"Gerar Áudio com OpenAI.fm - Original"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Analisar Conteúdo do Cartão","type":"ai_languageModel","index":0}]]},"Verificação Periódica Minuto a Minuto":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Buscar Cartões Trello Pendentes":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Processar Próximo Cartão":{"main":[[{"node":"Atualizar Cartão com \"STOP\"","type":"main","index":0}]]},"Analisar Conteúdo do Cartão":{"main":[[{"node":"Localizar Pasta de Áudio","type":"main","index":0}]]},"Formatar Resposta da IA":{"ai_outputParser":[[{"node":"Analisar Conteúdo do Cartão","type":"ai_outputParser","index":0}]]},"Localizar Pasta de Áudio":{"main":[[{"node":"Baixar Arquivo de Roteiro","type":"main","index":0}]]},"Baixar Arquivo de Roteiro":{"main":[[{"node":"Extrair Texto do Roteiro","type":"main","index":0}]]},"Extrair Texto do Roteiro":{"main":[[{"node":"Dividir Texto em 60 Segmentos","type":"main","index":0}]]},"Separar Partes do Texto":{"main":[[{"node":"Processar Segmentos de Texto","type":"main","index":0}]]},"Processar Segmentos de Texto":{"main":[[{"node":"Capturar ID do Arquivo Gerado","type":"main","index":0}],[{"node":"Gerar Áudio com OpenAI.fm","type":"main","index":0}]]},"Capturar ID do Arquivo Gerado":{"main":[[{"node":"Preparar ID para Armazenamento","type":"main","index":0}]]},"Preparar ID para Armazenamento":{"main":[[{"node":"Iterar Arquivos de Áudio","type":"main","index":0},{"node":"Consolidar IDs dos Arquivos de Áudio","type":"main","index":0}]]},"Salvar Áudio na Raiz":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Consolidar IDs dos Arquivos de Áudio":{"main":[[{"node":"Limit 1","type":"main","index":0}]]},"Iterar Arquivos de Áudio":{"main":[[{"node":"Limit 2","type":"main","index":0}],[{"node":"Mover Áudio para Pasta Final","type":"main","index":0}]]},"Mover Áudio para Pasta Final":{"main":[[{"node":"Iterar Arquivos de Áudio","type":"main","index":0}]]},"Carregar Detalhes do Cartão":{"main":[[{"node":"Atualizar Cartão com Links de Áudio","type":"main","index":0}]]},"Mover Cartão para \"ÁUDIOS CURTOS ✅\"":{"main":[[{"node":"Remove \"STOP\"","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Filtra por Nome do Canal","type":"main","index":0}]]},"Atualizar Cartão com \"STOP\"":{"main":[[{"node":"Analisar Conteúdo do Cartão","type":"main","index":0}]]},"Dividir Texto em 60 Segmentos":{"main":[[{"node":"Separar Partes do Texto","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Processar Segmentos de Texto","type":"main","index":0}]]},"Limit 2":{"main":[[{"node":"Mover Cartão para \"ÁUDIOS CURTOS ✅\"","type":"main","index":0}]]},"Limit 1":{"main":[[{"node":"Carregar Detalhes do Cartão","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar Cartões Trello Pendentes","type":"main","index":0}]]},"Filtra por Nome do Canal":{"main":[[{"node":"Processar Próximo Cartão","type":"main","index":0}]]},"Gerar Áudio com OpenAI.fm":{"main":[[{"node":"Salvar Áudio na Raiz","type":"main","index":0}]]},"Gerar Áudio com OpenAI.fm - Original":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9825e4d2-ca1d-4777-91b0-ffc07f36114c","triggerCount":0,"tags":[{"createdAt":"2025-06-03T13:08:52.656Z","updatedAt":"2025-06-03T13:08:52.656Z","id":"5X46tRV4lwQwBhLN","name":"teste ok"}]}