06---cria-imagens-[canal-de-orações]-FOa82afH75ioeLyC.json
{"createdAt":"2025-07-03T21:13:48.155Z","updatedAt":"2025-07-03T21:20:42.730Z","id":"FOa82afH75ioeLyC","name":"06 - CRIA IMAGENS [Canal de Orações]","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1820,420],"id":"1cebb35f-d19a-4da1-9971-9baa1032da98","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3180,200],"id":"4dc6a708-c584-4576-8751-9baa2309786c","name":"Iniciar Verificação Periódica"},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"ÁUDIOS LONGOS\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-2740,200],"id":"2a5ceadd-b189-40fc-ad8b-f80373065d77","name":"Buscar Cartões com Solicitações de Imagem","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2300,200],"id":"bfe7f3a2-cd51-4b04-8215-0a1e156ac4cb","name":"Selecionar Próximo Cartão da Fila"},{"parameters":{"promptType":"define","text":"={{ $json.desc }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1860,200],"id":"71f653da-7ce2-4f59-b4c1-3639974fad0c","name":"Extrair Dados do Cartão"},{"parameters":{"jsonSchemaExample":"{\n\"título\": \"{{ $('Edit Fields2').item.json['título'] }}\",\n\"seo\": \"{{ $('Edit Fields2').item.json.seo }}\",\n\"pasta\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"card\": \"{{ $('Edit Fields2').item.json.card }}\",\n\"audiolongo1\": \"{{ $('Edit Fields2').item.json.audiolongo1 }}\",\n\"audiolongo2\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"audiolongo3\": \"{{ $('Edit Fields2').item.json.audiolongo3 }}\",\n\"audiolongo4\": \"{{ $('Edit Fields2').item.json.audiolongo4 }}\",\n\"audiolongo5\": \"{{ $('Edit Fields2').item.json.audiolongo5 }}\",\n\"audiolongo6\": \"{{ $('Edit Fields2').item.json.audiolongo6 }}\",\n\"audiolongo7\": \"{{ $('Edit Fields2').item.json.audiolongo7 }}\",\n\"audiolongo8\": \"{{ $('Edit Fields2').item.json.audiolongo8 }}\",\n\"audiolongo9\": \"{{ $('Edit Fields2').item.json.audiolongo9 }}\",\n\"audiolongo10\": \"{{ $('Edit Fields2').item.json.audiolongo10 }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1700,420],"id":"588c7fa0-3986-4e71-b347-1ee1a422b8d4","name":"Formatar Saída Estruturada"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1480,200],"id":"eb86bdfd-0aa1-4648-8d84-f81e41145cb2","name":"Consolidar Dados do Cartão"},{"parameters":{"resource":"folder","name":"Imagens","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.output[0].pasta }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1260,200],"id":"dd2378ae-b4a2-4bf8-af50-637b2784bb04","name":"Criar Pasta para Imagens no Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Create a prompt for ChatGPT to create an image like a professional photograph based on the theme: {{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"título\"] }}. Show a clear and intense emotional expression [choose one: sadness/joy/anger/surprise/fear] appropriate to the title's context. Use lighting that highlights the main subject. Keep the realistic style with vivid colors. No text in the image. High resolution. Provide only the prompt. Return the text without double quotes, with a maximum of 300 characters, clearly and objectively."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1040,200],"id":"5c2f9555-d9d2-4098-983f-e0a4c20d5510","name":"Gerar Descrição para Imagem","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ff5f86c0-dc5e-43d6-9990-9d264d447804","name":"message.content0","value":"={{ $json.message.content }}","type":"string"},{"id":"70b3db8c-461c-4c13-97a5-ca51cddb293c","name":"message.content1","value":"={{ $json.message.content }}","type":"string"},{"id":"d9a6e1ae-34af-4cc5-8bdd-a7733f563dcd","name":"message.content2","value":"={{ $json.message.content }}","type":"string"},{"id":"294ac06b-3269-488f-9330-5f9b45e38c2c","name":"message.content3","value":"={{ $json.message.content }}","type":"string"},{"id":"05542c2a-a8fb-49e6-8697-79767754b75e","name":"message.content4","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-600,200],"id":"5ec6b5b8-84b0-4c82-a3ff-74d7a46b9803","name":"Preparar Múltiplas Descrições"},{"parameters":{"fieldToSplitOut":"message","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-440,200],"id":"69a9584c-46cf-4fd2-a9bf-15d68bca403e","name":"Separar Descrições Individuais"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,200],"id":"4f9fdf99-82c1-40cd-9f09-9d925542b478","name":"Processar Cada Descrição"},{"parameters":{"operation":"toBinary","sourceProperty":"output.choices[0].image_base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[220,200],"id":"0e1aa9ec-b1d7-4a86-a9b6-40cfe2823b1a","name":"Converter Base64 para Arquivo"},{"parameters":{"operation":"text","text":"={{ $('Selecionar Próximo Cartão da Fila').item.json.name }}","fontSize":50,"fontColor":"#FFFFFF","positionX":40,"positionY":80,"options":{"font":"/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf","format":"jpeg"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[440,200],"id":"8df68f2e-1ee8-4f16-a768-3410fa9dc7aa","name":"Adicionar Marca d'água"},{"parameters":{"name":"img","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta para Imagens no Drive').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[660,200],"id":"6ee873cc-106c-446d-b174-c99f47ba4dd0","name":"Salvar Imagem no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"path":"c6d632e3-7c4d-4aa2-b79e-cf0a4d7f0ec6"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[880,280],"id":"a7295b4e-5da8-4598-91bf-62ae3976dc60","name":"Aguardar Processamento","webhookId":"c6d632e3-7c4d-4aa2-b79e-cf0a4d7f0ec6"},{"parameters":{"fieldToSplitOut":"id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[0,0],"id":"29c1c4ee-a259-4398-ad9b-3759930bccdc","name":"Separar IDs das Imagens"},{"parameters":{"aggregate":"={{ $json.id }}","fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[220,0],"id":"e4097291-c76e-45f7-b511-42da5f14f58f","name":"Agrupar IDs de Imagens"},{"parameters":{"assignments":{"assignments":[{"id":"a17bebb8-7f04-4f2e-bdd7-a6e4be63b784","name":"img1","value":"={{ $json.data[0].id }}","type":"string"},{"id":"4af0684d-d1f5-4ff2-abfa-bebb37541b38","name":"img2","value":"={{ $json.data[1].id }}","type":"string"},{"id":"06d07776-31a3-4d16-96ca-dc3921f38d72","name":"img3","value":"={{ $json.data[2].id }}","type":"string"},{"id":"c5578725-5ab1-4791-84fc-33cc240d7334","name":"img4","value":"={{ $json.data[3].id }}","type":"string"},{"id":"b81e2d42-39c3-4473-bb46-1de60302bbec","name":"img5","value":"={{ $json.data[4].id }}","type":"string"},{"id":"2bef0356-8b6a-4157-a38c-4dce875aff69","name":"img6","value":"={{ $json.data[5].id }}","type":"string"},{"id":"eafad461-9b99-4aa0-b7e5-68aff9c82a8a","name":"img7","value":"={{ $json.data[6].id }}","type":"string"},{"id":"db040239-d6c0-47e4-9515-dd4fcaad7f76","name":"img8","value":"={{ $json.data[7].id }}","type":"string"},{"id":"1028a556-10a5-4b79-b198-f95622eabef7","name":"img9","value":"={{ $json.data[8].id }}","type":"string"},{"id":"5044bbf1-0d4c-447b-bd2a-92ab1d361ce9","name":"img10","value":"={{ $json.data[9].id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"403f9659-6e07-4193-9317-e6a8a4c8d6a1","name":"Formatar IDs para Trello"},{"parameters":{"operation":"get","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão da Fila\"].json[\"id\"] }}","mode":"id"},"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[660,0],"id":"f94a36cd-9e41-418c-a5c9-358f36384b78","name":"Carregar Detalhes do Cartão","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"desc":"={{ $json.desc }}\n\"img1\": \"{{ $('Formatar IDs para Trello').item.json.img1 }}\",\n\"img2\": \"{{ $('Formatar IDs para Trello').item.json.img2 }}\",\n\"img3\": \"{{ $('Formatar IDs para Trello').item.json.img3 }}\",\n\"img4\": \"{{ $('Formatar IDs para Trello').item.json.img4 }}\",\n\"img5\": \"{{ $('Formatar IDs para Trello').item.json.img5 }}\","}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[880,0],"id":"cd26a9c9-433f-4160-a2bd-68e02715ac3c","name":"Atualizar Cartão com Links das Imagens","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-3180,560],"id":"a7e984ed-df29-4e25-bb4c-73561e8c0618","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002615111216","text":"=06 - CRIA IMAGENS","additionalFields":{"appendAttribution":false,"message_thread_id":5},"path":"5ba26bb7-da8a-404c-a30c-7ab550dd2482"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2960,560],"id":"254c017e-3849-4be4-b2f9-8e01c6b4b091","name":"Notificação de Erro no Telegram","webhookId":"5ba26bb7-da8a-404c-a30c-7ab550dd2482","credentials":{"telegramApi":{"id":"KbYurROyBoGKf7Ks","name":"Telegram account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão da Fila\"].json[\"id\"] }}","mode":""},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"IMAGENS\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1100,0],"id":"9bf190d6-cc34-49bd-b870-a6a77a841826","name":"Mover Cartão para \"IMAGENS ✅\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2520,200],"id":"07d66b06-b34f-4677-b2cd-1d88cf68ed58","name":"Exclui Cards em \"STOP\""},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $json.name }} \"STOP\""}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-2080,200],"id":"e9c97fe5-4b62-4f7c-828b-28f44fb73f9e","name":"Atualizar Cartão com \"STOP\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão da Fila\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1320,0],"id":"961cdbb0-f2af-4046-92ed-85ef743283cf","name":"Remove \"STOP\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"assignments":{"assignments":[{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"ÁUDIOS LONGOS","value":"682b2e0278df7956373f0b51","type":"string"},{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"IMAGENS","value":"682b2e0278df7956373f0b4e","type":"string"},{"id":"f42a20f1-0812-4b36-bd40-5d779ca6e7ad","name":"Together API Key","value":"7ef35fb6b84bc5359368aa3f4569d3e13a4db1ff6aa5bec1bdf9209322c303ab","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,200],"id":"dea7db24-0e6b-4197-a54d-88ba181235cf","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.together.xyz/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $item(\"0\").$node[\"Edit Fields\"].json[\"Together API Key\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"model\": \"black-forest-labs/FLUX.1-schnell\",\n\"prompt\": {{ JSON.stringify ($json.message) }},\n\"width\": 1280,\n\"height\": 720,\n\"steps\": 4,\n\"n\": 1,\n\"response_format\": \"b64_json\"\n}\n","options":{"batching":{"batch":{"batchSize":2,"batchInterval":10000}}}},"id":"b826369f-82ec-456f-814c-e214da44f65c","name":"Solicitar Imagem à Together.xyz","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,200]},{"parameters":{"method":"POST","url":"https://api.together.xyz/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $item(\"0\").$node[\"Edit Fields\"].json[\"Together API Key\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"black-forest-labs/FLUX.1-schnell\",\n  \"prompt\": \"{{ $json.message }}\",\n  \"width\": 1280,\n  \"height\": 720,\n  \"steps\": 4,\n  \"n\": 1,\n  \"response_format\": \"b64_json\"\n}","options":{"batching":{"batch":{"batchSize":2,"batchInterval":10000}}}},"id":"e00763fb-fe83-422e-afd5-cf5f5d448610","name":"Solicitar Imagem à Together.xyz1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20,700]}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Extrair Dados do Cartão","type":"ai_languageModel","index":0}]]},"Iniciar Verificação Periódica":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Buscar Cartões com Solicitações de Imagem":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Selecionar Próximo Cartão da Fila":{"main":[[{"node":"Atualizar Cartão com \"STOP\"","type":"main","index":0}]]},"Extrair Dados do Cartão":{"main":[[{"node":"Consolidar Dados do Cartão","type":"main","index":0}]]},"Formatar Saída Estruturada":{"ai_outputParser":[[{"node":"Extrair Dados do Cartão","type":"ai_outputParser","index":0}]]},"Consolidar Dados do Cartão":{"main":[[{"node":"Criar Pasta para Imagens no Drive","type":"main","index":0}]]},"Criar Pasta para Imagens no Drive":{"main":[[{"node":"Gerar Descrição para Imagem","type":"main","index":0}]]},"Gerar Descrição para Imagem":{"main":[[{"node":"Preparar Múltiplas Descrições","type":"main","index":0}]]},"Preparar Múltiplas Descrições":{"main":[[{"node":"Separar Descrições Individuais","type":"main","index":0}]]},"Separar Descrições Individuais":{"main":[[{"node":"Processar Cada Descrição","type":"main","index":0}]]},"Processar Cada Descrição":{"main":[[{"node":"Separar IDs das Imagens","type":"main","index":0}],[{"node":"Solicitar Imagem à Together.xyz","type":"main","index":0}]]},"Converter Base64 para Arquivo":{"main":[[{"node":"Adicionar Marca d'água","type":"main","index":0}]]},"Adicionar Marca d'água":{"main":[[{"node":"Salvar Imagem no Google Drive","type":"main","index":0}]]},"Salvar Imagem no Google Drive":{"main":[[{"node":"Aguardar Processamento","type":"main","index":0}]]},"Aguardar Processamento":{"main":[[{"node":"Processar Cada Descrição","type":"main","index":0}]]},"Separar IDs das Imagens":{"main":[[{"node":"Agrupar IDs de Imagens","type":"main","index":0}]]},"Agrupar IDs de Imagens":{"main":[[{"node":"Formatar IDs para Trello","type":"main","index":0}]]},"Formatar IDs para Trello":{"main":[[{"node":"Carregar Detalhes do Cartão","type":"main","index":0}]]},"Carregar Detalhes do Cartão":{"main":[[{"node":"Atualizar Cartão com Links das Imagens","type":"main","index":0}]]},"Atualizar Cartão com Links das Imagens":{"main":[[{"node":"Mover Cartão para \"IMAGENS ✅\"","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Mover Cartão para \"IMAGENS ✅\"":{"main":[[{"node":"Remove \"STOP\"","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Selecionar Próximo Cartão da Fila","type":"main","index":0}]]},"Atualizar Cartão com \"STOP\"":{"main":[[{"node":"Extrair Dados do Cartão","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar Cartões com Solicitações de Imagem","type":"main","index":0}]]},"Solicitar Imagem à Together.xyz":{"main":[[{"node":"Converter Base64 para Arquivo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Iniciar Verificação Periódica":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0b35b235-f502-4836-b856-f624c0f76dd2","triggerCount":1,"tags":[{"createdAt":"2025-06-03T13:08:52.656Z","updatedAt":"2025-06-03T13:08:52.656Z","id":"5X46tRV4lwQwBhLN","name":"teste ok"}]}