07---edita-vídeos-[canal-e-orações]-CvlGhQdSM0q2Nb9o.json
{"createdAt":"2025-07-03T21:14:19.358Z","updatedAt":"2025-07-03T21:20:59.649Z","id":"CvlGhQdSM0q2Nb9o","name":"07 - EDITA VÍDEOS [Canal e Orações]","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2220,760],"id":"9bd412c3-38fb-41cf-9085-1baa02417522","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"IMAGENS\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3140,540],"id":"a26bfbb0-5f39-4c56-b032-299dc326ae65","name":"Buscar Cartões Prontos para Vídeo","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2700,540],"id":"90b24dd3-a40c-41a3-8434-2c12fc9dfc19","name":"Selecionar Próximo Cartão"},{"parameters":{"promptType":"define","text":"={{ $json.desc }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2260,540],"id":"3a79e90e-9d47-47c9-bd26-6f359213f841","name":"Extrair Metadados do Cartão"},{"parameters":{"jsonSchemaExample":"{\n\"título\": \"{{ $('Edit Fields2').item.json['título'] }}\",\n\"seo\": \"{{ $('Edit Fields2').item.json.seo }}\",\n\"pasta\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"audiolongo1\": \"{{ $('Edit Fields2').item.json.audiolongo1 }}\",\n\"audiolongo2\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"audiolongo3\": \"{{ $('Edit Fields2').item.json.audiolongo3 }}\",\n\"audiolongo4\": \"{{ $('Edit Fields2').item.json.audiolongo4 }}\",\n\"audiolongo5\": \"{{ $('Edit Fields2').item.json.audiolongo5 }}\",\n\"audiolongo6\": \"{{ $('Edit Fields2').item.json.audiolongo6 }}\",\n\"audiolongo7\": \"{{ $('Edit Fields2').item.json.audiolongo7 }}\",\n\"audiolongo8\": \"{{ $('Edit Fields2').item.json.audiolongo8 }}\",\n\"audiolongo9\": \"{{ $('Edit Fields2').item.json.audiolongo9 }}\",\n\"audiolongo10\": \"{{ $('Edit Fields2').item.json.audiolongo10 }}\",\n\"img1\": \"{{ $('Edit Fields4').item.json.img1 }}\",\n\"img2\": \"{{ $('Edit Fields4').item.json.img2 }}\",\n\"img3\": \"{{ $('Edit Fields4').item.json.img3 }}\",\n\"img4\": \"{{ $('Edit Fields4').item.json.img4 }}\",\n\"img5\": \"{{ $('Edit Fields4').item.json.img5 }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-2100,760],"id":"1aaa4a56-3440-4399-9f89-a085007bfecb","name":"Formatador de Dados JSON"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1880,540],"id":"fdc1fb24-f0ca-408a-b8ea-22af9a0e2f15","name":"Consolidar Dados do Cartão"},{"parameters":{"assignments":{"assignments":[{"id":"76c4d423-8308-4567-94bf-027483ace8e7","name":"body.img1","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0].img1 }}","type":"string"},{"id":"bfc9acb5-93d8-4aff-87bf-6e542fc0f46f","name":"body.img2","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0].img2 }}","type":"string"},{"id":"801d927f-2ddc-4b5b-9844-a6538b6d5671","name":"body.img3","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0].img3 }}","type":"string"},{"id":"40db3660-5b7f-4031-b098-ea1acaaabde2","name":"body.img4","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0].img4 }}","type":"string"},{"id":"41ad47ba-aaf3-49e0-b7a9-af6fa16d9d65","name":"body.img5","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0].img5 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1660,540],"id":"39a0be9d-f029-4e97-a1f7-402051765cdc","name":"Preparar URLs das Imagens"},{"parameters":{"fieldToSplitOut":"body","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1440,540],"id":"41f5800a-4022-4794-8471-da212b64be55","name":"Separar URLs por Tipo"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1220,540],"id":"30635a66-0517-44af-9f66-e505cdba56e1","name":"Processar Cada Imagem"},{"parameters":{"url":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1000,540],"id":"c1ced8ff-2fa9-423e-b8f0-b47c278730b7","name":"Baixar Imagem","disabled":true},{"parameters":{"resource":"file","path":"/tmp","options":{"fileName":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}img{{ $runIndex+1 }}.jpg"}},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-560,540],"id":"9aefbb97-8df2-4c25-9007-99628fc65729","name":"Salvar Imagem no Servidor","credentials":{"sshPassword":{"id":"RLwqNZIVce6BqZ7h","name":"SSH Password account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1000,260],"id":"c7070eff-925a-45d0-9c7f-6d84110b2835","name":"Preparar Dados de Áudio"},{"parameters":{"assignments":{"assignments":[{"id":"1c8fa221-e743-491b-a210-018af6ff0fd8","name":"body.audiolongo1","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo1\"] }}","type":"string"},{"id":"61dac2db-751b-4b01-9b6c-e195d73914f3","name":"body.audiolongo2","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo2\"] }}","type":"string"},{"id":"5d2500af-eac2-43e9-9be3-2b6a5f872868","name":"body.audiolongo3","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo3\"] }}","type":"string"},{"id":"a78de21b-3cfb-46f9-97be-2f075cc3109f","name":"body.audiolongo4","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo4\"] }}","type":"string"},{"id":"a8c52a00-6b4c-4e20-9242-f20c91bfd877","name":"body.audiolongo5","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo5\"] }}","type":"string"},{"id":"1edb8f48-f061-4fd4-bd21-db418ed780bc","name":"body.audiolongo6","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo6\"] }}","type":"string"},{"id":"4a876177-37b5-4db0-aa74-dc1be59bf591","name":"body.audiolongo7","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo7\"] }}","type":"string"},{"id":"9ca4adbe-57da-4f9c-a9ee-55d1b9d4cf8c","name":"body.audiolongo8","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo8\"] }}","type":"string"},{"id":"f473e1b7-acc6-4e38-82b3-be719b4b4064","name":"body.audiolongo9","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo9\"] }}","type":"string"},{"id":"2a89aa3d-4e87-4c00-a6e9-4646a9d57648","name":"body.audiolongo10","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo10\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-780,260],"id":"812b0811-d6f2-4b1a-87d4-2c3f0d0f4531","name":"Formatar URLs dos Áudios"},{"parameters":{"fieldToSplitOut":"body","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-560,260],"id":"6a7fb4a6-069a-4b9e-a02c-5eca1d97e4f4","name":"Separar URLs de Áudio"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-340,260],"id":"125fb4f5-3d09-4ec3-a69c-62032a059710","name":"Processar Dados de Áudio"},{"parameters":{"url":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,360],"id":"17abb41c-afc9-4d0f-969d-82a84185270e","name":"Baixar Arquivo de Áudio"},{"parameters":{"resource":"file","path":"/tmp","options":{"fileName":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}áudio.mp3"}},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[100,360],"id":"5c738873-c118-4aef-8046-5cd31eccc9b1","name":"Salvar Áudio no Servidor","credentials":{"sshPassword":{"id":"RLwqNZIVce6BqZ7h","name":"SSH Password account"}}},{"parameters":{"jsCode":"function processImagesWithCaptions(items) {\n  // 1) captura o id dinâmico\n  const id = $('Selecionar Próximo Cartão').first().json.id;\n  const prefix = `/tmp/${id}`;\n\n  // 2) monta URLs das imagens com o prefixo\n  const imageUrls = Array.from({ length: 5 }, (_, i) => `${prefix}img${i+1}.jpg`);\n  const audioPath = `${prefix}áudio.mp3`;\n  const imageDuration = 5; // segundos\n  const totalImages = imageUrls.length;\n  const cycleDuration = imageDuration * totalImages;\n\n  // 3) gera o script FFmpeg, injetando o prefix dinâmico em todas as paths\n  const ffmpegScript = `\n#!/bin/bash\nset -e\nTEMP_DIR=$(mktemp -d)\ncd \"$TEMP_DIR\"\nmkdir -p images processed\n\n# Copiar imagens\n${imageUrls.map((p, i) => `cp \"${p}\" images/image_${i}.jpg`).join(\"\\n\")}\n\n# Duração do áudio (segundos, arredondado)\nAUDIO_DURATION=$(ffprobe -v error -show_entries format=duration \\\\\n  -of default=noprint_wrappers=1:nokey=1 \"${audioPath}\")\nAUDIO_DURATION=$(printf \"%.0f\" \"$AUDIO_DURATION\")\n\n# Gerar clipes com fade/unsharp\n${imageUrls.map((_, i) => `\nffmpeg -y -loop 1 -i images/image_${i}.jpg -t ${imageDuration} -vf \"\n  fade=in:0:30,\n  fade=out:${imageDuration*25-30}:30,\n  unsharp=3:3:1.5:3:3:0.7\n\" -pix_fmt yuv420p processed/effect_${i}.mp4\n`).join(\"\")}\n\n# Preparar lista de concatenação\nrm -f concat_list.txt\ntouch concat_list.txt\n\nTOTAL_IMAGES=${totalImages}\nCYCLE_DURATION=${cycleDuration}\nREPS=$(( (AUDIO_DURATION + CYCLE_DURATION - 1) / CYCLE_DURATION ))\n\nfor ((c=0; c<REPS; c++)); do\n  for ((i=0; i<TOTAL_IMAGES; i++)); do\n    echo \"file 'processed/effect_\\${i}.mp4'\" >> concat_list.txt\n  done\ndone\n\n# Concatena sem cortar\nffmpeg -y -f concat -safe 0 -i concat_list.txt -c copy output_temp.mp4\n\n# Muxa e corta exatamente na duração do áudio\nffmpeg -y -i output_temp.mp4 -i \"${audioPath}\" -map 0:v -map 1:a \\\\\n  -c:v copy -c:a aac -t \"$AUDIO_DURATION\" \"${prefix}output.mp4\"\n\nrm output_temp.mp4\necho \"Vídeo gerado em: ${prefix}output.mp4\"\n`;\n\n  // 4) devolve o script para o node “Execute Command”\n  return [\n    {\n      json: {\n        ffmpegScript,\n        imageUrls,\n        audioPath,\n      },\n    },\n  ];\n}\n\nreturn processImagesWithCaptions($input.all());\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,360],"id":"681063d6-92cf-42c9-8a22-a419be3c2c1f","name":"Gerar Script de Montagem"},{"parameters":{"command":"={{ $json.ffmpegScript }}"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[540,360],"id":"08eb65a8-9efb-4f70-a1d8-69bec13a40b6","name":"Executar FFmpeg","credentials":{"sshPassword":{"id":"RLwqNZIVce6BqZ7h","name":"SSH Password account"}}},{"parameters":{"jsCode":"// items: array de objetos { json: {...}, binary?: {...} } fornecido pelo n8n\nconst newItems = items.map(item => {\n  // obtém o stdout de cada item\n  const stdout = item.json.stdout || '';\n  // procura a linha com \"Vídeo finalizado:\"\n  const line = stdout.split('\\n').find(l => l.includes('Vídeo gerado em:'));\n  // extrai tudo após o primeiro \":\" nessa linha\n  const path = line\n    ? line.split(':').slice(1).join(':').trim()\n    : null;\n  \n  // adiciona no json do item\n  return {\n    json: {\n      ...item.json,\n      videoFinalizadoPath: path,\n    },\n    binary: item.binary, // se houver dados binários, preserve-os\n  };\n});\n\n// retorna o array de itens corretamente\nreturn newItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[760,360],"id":"437db44c-a6ff-4806-9387-50dc52c2bb4e","name":"Extrair Caminho do Vídeo"},{"parameters":{"resource":"file","operation":"download","path":"={{ $json.videoFinalizadoPath }}","options":{}},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[980,360],"id":"5cdf8ba6-fedc-4850-a9aa-d731ef770874","name":"Baixar Vídeo Finalizado","credentials":{"sshPassword":{"id":"RLwqNZIVce6BqZ7h","name":"SSH Password account"}}},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"pasta\"] }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1200,360],"id":"065b1c2d-fc1e-4549-8600-10e815b391cf","name":"Salvar Vídeo no Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"fieldToSplitOut":"id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-120,160],"id":"f6cac35c-21d5-4435-8b9c-39480074460b","name":"Separar IDs para Trello"},{"parameters":{"aggregate":"={{ $json.id }}","fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[100,160],"id":"45716853-2dc0-4bda-9b22-2d0be9234305","name":"Agrupar IDs Gerados"},{"parameters":{"assignments":{"assignments":[{"id":"ac17434b-9f6b-4dfc-b4fe-d5014179a2a4","name":"vídeo1","value":"={{ $json.data[0].id }}","type":"string"},{"id":"ffb9afe1-6561-4a1e-96ee-c7ae0eeb540d","name":"vídeo2","value":"={{ $json.data[1].id }}","type":"string"},{"id":"6d313634-3356-422a-bf8a-b2c01dec2d5f","name":"vídeo3","value":"={{ $json.data[2].id }}","type":"string"},{"id":"7d3f88f8-9055-4d98-bb70-351bcacfc013","name":"vídeo4","value":"={{ $json.data[3].id }}","type":"string"},{"id":"2764c8d7-8551-453c-8bf1-fee86e49755b","name":"vídeo5","value":"={{ $json.data[4].id }}","type":"string"},{"id":"8e913184-91aa-48d7-89d5-8f93e371fe5b","name":"vídeo6","value":"={{ $json.data[5].id }}","type":"string"},{"id":"1e686043-8118-4be6-a9e0-e87abe842c03","name":"vídeo7","value":"={{ $json.data[6].id }}","type":"string"},{"id":"fadb48c6-add0-4326-b1ee-a8cdfa0f22fb","name":"vídeo8","value":"={{ $json.data[7].id }}","type":"string"},{"id":"cd07654b-acb2-461e-a7a5-20c37f89beef","name":"vídeo9","value":"={{ $json.data[8].id }}","type":"string"},{"id":"41e51d64-67c4-45b3-bcb4-bac334c634b0","name":"vídeo10","value":"={{ $json.data[9].id }}","type":"string"},{"id":"e3941158-b83c-4d7c-a32a-bbfaa79b3d6d","name":"pasta","value":"={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"pasta\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,160],"id":"c14e19bd-c32f-4e9d-9755-d5c15c7d0551","name":"Formatar IDs dos Vídeos"},{"parameters":{"operation":"get","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}","mode":"id"},"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[540,160],"id":"1f018067-4031-4df5-8cbb-86c2fc10aa32","name":"Obter Detalhes do Cartão","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"desc":"={{ $json.desc }}\n\"vídeo1\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo1\"] }}\",\n\"vídeo2\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo2\"] }}\",\n\"vídeo3\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo3\"] }}\",\n\"vídeo4\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo4\"] }}\",\n\"vídeo5\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo5\"] }}\",\n\"vídeo6\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo6\"] }}\",\n\"vídeo7\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo7\"] }}\",\n\"vídeo8\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo8\"] }}\",\n\"vídeo9\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo9\"] }}\",\n\"vídeo10\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo10\"] }}\",\n"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[760,160],"id":"33a9252f-768c-4a41-956f-0560dec4f723","name":"Atualizar Cartão com Links","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"command":"=rm -f /tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}img1.jpg /tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}img2.jpg /tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}img3.jpg /tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}img4.jpg /tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}img5.jpg"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1420,160],"id":"c9121729-ee4b-4a57-8228-5b0e139ec08a","name":"Limpar Arquivos Temporários","credentials":{"sshPassword":{"id":"RLwqNZIVce6BqZ7h","name":"SSH Password account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":8,"triggerAtMinute":null}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3580,540],"id":"6a945636-3dbc-4f14-97be-0b6278b69a1b","name":"Verificação Periódica"},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}","mode":""},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"EDITANDO\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[980,160],"id":"ecb9fddb-d353-42fa-89cc-ce2b13e73c50","name":"Mover Cartão para \"EDITANDO ⌛\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2920,540],"id":"d2fcd638-3c65-49d2-81d8-95d31403f938","name":"Exclui Cards em \"STOP\""},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $json.name }} \"STOP\""}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-2480,540],"id":"2721fa57-dd4c-45f5-bef2-4a544c272ca5","name":"Atualizar Cartão com \"STOP\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1200,160],"id":"283c1766-f39d-4a73-b034-a507b77d6f69","name":"Remove \"STOP\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-320,800],"id":"e2d01c60-1fc3-47e0-a9ef-e81f5d3a4600","name":"Wait 1","webhookId":"6e5462d7-347c-46dd-a185-b16f6c57230d"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1420,440],"id":"5e87416c-1ad9-4d30-a2c0-1b944c0481ff","name":"Wait 2","webhookId":"338697f9-8a69-4b1f-b704-bd226ffe7769"},{"parameters":{"assignments":{"assignments":[{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"IMAGENS","value":"682b2e0278df7956373f0b4e","type":"string"},{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"EDITANDO","value":"682b2e0278df7956373f0b50","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3360,540],"id":"9eaba0a7-5067-4dbc-ae0d-bc4fd68cd3bb","name":"Edit Fields"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.body.match(/id=([^&]+)/)[1] }}\n","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-780,540],"id":"c8da31c2-a04b-49a2-992b-ee6ecf5c0c07","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"EM FILA\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3160,1440],"id":"2c0baad6-e0cb-4dc4-a7c2-b7a3d651b520","name":"Buscar Cartões Prontos para Upload","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"assignments":{"assignments":[{"id":"76c4d423-8308-4567-94bf-027483ace8e7","name":"body.vídeo1","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0][\"vídeo1\"] }}","type":"string"},{"id":"257b4f43-9621-4dcb-b253-3a1ce4b302ce","name":"body.vídeo2","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0][\"vídeo2\"] }}","type":"string"},{"id":"77155d42-3d3d-4463-be17-8ca508957ad8","name":"body.vídeo3","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0][\"vídeo3\"] }}","type":"string"},{"id":"a6186daf-43e7-4434-be1f-d10bbcec7528","name":"body.vídeo4","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0][\"vídeo4\"] }}","type":"string"},{"id":"3a837329-dcac-4051-bc7c-7274ad445f86","name":"body.vídeo5","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0][\"vídeo5\"] }}","type":"string"},{"id":"09245991-b4fe-4e12-b0ca-852ae45dde65","name":"body.vídeo6","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0][\"vídeo6\"] }}","type":"string"},{"id":"94a77a08-43f0-4bb5-a5d5-cb7323299fb8","name":"body.vídeo7","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0][\"vídeo7\"] }}","type":"string"},{"id":"c54bea8f-b0ef-4cd7-bbd9-be608e3f794f","name":"body.vídeo8","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0][\"vídeo8\"] }}","type":"string"},{"id":"923865b8-4352-498f-9c80-16cc39517bfe","name":"body.vídeo9","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0][\"vídeo9\"] }}","type":"string"},{"id":"73b99ca2-2292-4a9f-b55b-e0a12999cf24","name":"body.vídeo10","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0][\"vídeo10\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1460,1440],"id":"02aa84b1-88aa-4165-a955-9b35c63d7094","name":"Preparar URLs dos Vídeos"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1020,1440],"id":"7b74421d-099f-43d1-9876-c434ec86467d","name":"Processar Cada Vídeo"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-800,1240],"id":"6fcec600-ffea-4329-afd0-a4a407d7a89a","name":"Preparar para Concatenação"},{"parameters":{"url":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,1440],"id":"d7b8fa41-9c5d-4391-bd46-78448bea42e5","name":"Baixar Arquivo de Vídeo"},{"parameters":{"resource":"file","path":"/tmp","options":{"fileName":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão1\"].json[\"id\"] }}vídeo{{ $runIndex+1 }}.mp4"}},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-580,1440],"id":"5fedb0ca-35fb-44b2-8654-309cbe22d175","name":"Salvar Vídeo no Servidor","credentials":{"sshPassword":{"id":"RLwqNZIVce6BqZ7h","name":"SSH Password account"}}},{"parameters":{"jsCode":"// Nó “Code” do n8n — gera um script de concatenação para 10 vídeos com prefixo dinâmico\nfunction concatVideos(items) {\n  // 1) captura o id dinâmico\n  const id = $('Selecionar Próximo Cartão1').first().json.id;\n  const prefix = `/tmp/${id}`;\n\n  // 2) monta lista de vídeos de /tmp/[AQUI]vídeo1.mp4 até /tmp/[AQUI]vídeo10.mp4\n  const videoPaths = [];\n  for (let i = 1; i <= 10; i++) {\n    videoPaths.push(`${prefix}vídeo${i}.mp4`);\n  }\n\n  // 3) define o path de saída dinâmico\n  const outputPath = `${prefix}concatenated_output.mp4`;\n\n  // 4) monta o script bash\n  const ffmpegScript = `\n#!/bin/bash\n# Remove lista antiga e cria nova\nrm -f concat_list.txt\ntouch concat_list.txt\n\n# Adiciona cada vídeo à lista\n${videoPaths.map(path => `echo \"file '${path}'\" >> concat_list.txt`).join('\\n')}\n\n# Concatena os vídeos em um único arquivo\nffmpeg -y -f concat -safe 0 -i concat_list.txt -c copy ${outputPath}\n\necho \"Vídeo finalizado: ${outputPath}\"\n`;\n\n  return [\n    {\n      json: {\n        ffmpegScript,\n        videoPaths,\n        outputPath,\n      },\n    },\n  ];\n}\n\n// Executa a função com todos os itens de entrada\nreturn concatVideos($input.all());\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-580,1240],"id":"dfeb2a5b-2e97-4b05-a378-ea9736776a50","name":"Gerar Script de Concatenação"},{"parameters":{"command":"={{ $json.ffmpegScript }}"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-360,1240],"id":"bba0e36c-2b56-498c-9828-6289a140c277","name":"Executar FFmpeg para Concatenar","credentials":{"sshPassword":{"id":"RLwqNZIVce6BqZ7h","name":"SSH Password account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-140,1240],"id":"9766a7de-825c-49c9-b925-c519fc2d684e","name":"Obter Data Atual"},{"parameters":{"jsCode":"// 1) pega a data/hora atual\nconst now = new Date();\n\n// 2) adiciona 1 dia\nnow.setDate(now.getDate() + 1);\n\n// 3) formata como \"YYYY-MM-DD\"\nconst formatted = now.toISOString().split('T')[0];\n\n// 4) devolve um único item com a nova data\nreturn [\n  {\n    json: {\n      datePlusOne: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,1240],"id":"2c24b1b6-e874-4ee0-8c9d-3ab1fdfda23e","name":"Calcular Data de Publicação"},{"parameters":{"assignments":{"assignments":[{"id":"8dcb9efd-77f8-4044-a774-8d9a92767cf8","name":"output[0].seo","value":"={{ $item(\"0\").$node[\"Consolidar Dados do Cartão1\"].json[\"output\"][\"0\"][\"seo\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,1240],"id":"d45c822f-4db0-4a03-bd8d-42bbab12bd01","name":"Preparar Descrição do Vídeo"},{"parameters":{"jsCode":"// Itera sobre cada item recebido\nitems.forEach(item => {\n  const outputArr = item.json.output;\n  // Garante que exista o array e o índice 0 com a propriedade seo\n  if (Array.isArray(outputArr) && outputArr[0] && typeof outputArr[0].seo === 'string') {\n    let text = outputArr[0].seo;\n    // remove quebras de linha reais (\\r, \\n) e literais (\\n, \\r)\n    text = text\n      .replace(/[\\r\\n]+/g, ' ')   // quebras reais\n      .replace(/\\\\[rn]+/g, ' ');  // sequências literais\n    // atualiza o valor no JSON de saída\n    outputArr[0].seo = text;\n  }\n});\n\n// Retorna os items já limpos\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[520,1240],"id":"d2d5857d-42b6-4663-9632-d0d86a62ce67","name":"Limpar Texto da Descrição"},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"desc":"=\"título\": \"{{ $item(\"0\").$node[\"Consolidar Dados do Cartão1\"].json[\"output\"][\"0\"][\"título\"] }}\"\n\"pasta\": \"{{ $item(\"0\").$node[\"Consolidar Dados do Cartão1\"].json[\"output\"][\"0\"][\"pasta\"] }}\",\n\"id\": \"{{ $item(\"0\").$node[\"Enviar para API de Upload do Google Drive\"].json[\"file\"][\"id\"] }}\",\n\"url\": \"{{ $item(\"0\").$node[\"Enviar para API de Upload do Google Drive\"].json[\"file\"][\"webViewLink\"] }}\",\n\"data\": \"{{ $item(\"0\").$node[\"Calcular Data de Publicação\"].json[\"datePlusOne\"] }}\",\n"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1400,1240],"id":"e9d003b6-9efd-4245-8e29-6cdbf2b0a0f7","name":"Atualizar Cartão com Link do Vídeo","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão1\"].json[\"id\"] }}","mode":""},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"UPLOAD\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1620,1240],"id":"2b90860d-d988-47c7-bdc0-753c4ea13f61","name":"Mover Cartão para \"UPLOAD ✅\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":7,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3600,1440],"id":"03a05570-d8dc-49ec-b83a-87de4739a668","name":"Verificação Diária ao Meio-dia1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84fe8237-2afc-4558-bd5c-27884d56222e","leftValue":"={{ $json.name }}","rightValue":"={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"Canal\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2720,1440],"id":"4689b582-19a1-409a-9920-40eabf41724d","name":"Filtra por Nome do Canal"},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"url\"] }}upload","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"filePath\": \"/tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão1\"].json[\"id\"] }}concatenated_output.mp4\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,1240],"id":"9f0461a2-b16a-4454-b457-2356aac98daa","name":"Enviar para API de Upload do Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.file.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Consolidar Dados do Cartão1\"].json[\"output\"][\"0\"][\"pasta\"] }}","mode":"id"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[960,1240],"id":"1f272666-103a-4bde-b137-19b774a4bfd3","name":"Move o Arquivo para a Pasta","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2020,1660],"id":"c4232451-b52e-40f5-b6f5-0893478ca3cf","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2500,1440],"id":"f99bf763-a97a-4e38-bc41-0155c91e90e7","name":"Selecionar Próximo Cartão1"},{"parameters":{"promptType":"define","text":"={{ $json.desc }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2060,1440],"id":"ce7e69c5-a975-43f7-bf66-d4c2116bff41","name":"Extrair Metadados do Cartão1"},{"parameters":{"jsonSchemaExample":"{\n\"título\": \"{{ $('Edit Fields2').item.json['título'] }}\",\n\"seo\": \"{{ $('Edit Fields2').item.json.seo }}\",\n\"pasta\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"audiolongo1\": \"{{ $('Edit Fields2').item.json.audiolongo1 }}\",\n\"audiolongo2\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"audiolongo3\": \"{{ $('Edit Fields2').item.json.audiolongo3 }}\",\n\"audiolongo4\": \"{{ $('Edit Fields2').item.json.audiolongo4 }}\",\n\"audiolongo5\": \"{{ $('Edit Fields2').item.json.audiolongo5 }}\",\n\"audiolongo6\": \"{{ $('Edit Fields2').item.json.audiolongo6 }}\",\n\"audiolongo7\": \"{{ $('Edit Fields2').item.json.audiolongo7 }}\",\n\"audiolongo8\": \"{{ $('Edit Fields2').item.json.audiolongo8 }}\",\n\"audiolongo9\": \"{{ $('Edit Fields2').item.json.audiolongo9 }}\",\n\"audiolongo10\": \"{{ $('Edit Fields2').item.json.audiolongo10 }}\",\n\"img1\": \"{{ $('Edit Fields4').item.json.img1 }}\",\n\"img2\": \"{{ $('Edit Fields4').item.json.img2 }}\",\n\"img3\": \"{{ $('Edit Fields4').item.json.img3 }}\",\n\"img4\": \"{{ $('Edit Fields4').item.json.img4 }}\",\n\"img5\": \"{{ $('Edit Fields4').item.json.img5 }}\",\n\"vídeo1\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"vídeo2\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"vídeo3\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"vídeo4\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"vídeo5\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"vídeo6\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"vídeo7\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"vídeo8\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"vídeo9\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"vídeo10\": \"{{ $('Edit Fields2').item.json.pasta }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1900,1660],"id":"27e144e7-b6cc-495b-a8c4-d5ba2549294b","name":"Formatador de Dados JSON1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1680,1440],"id":"51a4dbf4-9fc0-4eed-9512-d7aebcd90bb1","name":"Consolidar Dados do Cartão1"},{"parameters":{"fieldToSplitOut":"body","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1240,1440],"id":"c4407830-e244-4e87-9914-144da0cdcf87","name":"Separar URLs por Tipo1"},{"parameters":{"operation":"get","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão1\"].json[\"id\"] }}","mode":"id"},"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1180,1240],"id":"5dfa89b2-50b2-4479-9b5e-a394005655e0","name":"Obter Detalhes do Cartão1","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"command":"=rm -f \"/tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão1\"].json[\"id\"] }}concatenated_output.mp4\" \\       \"/tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão1\"].json[\"id\"] }}vídeo1.mp4\" \\       \"/tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão1\"].json[\"id\"] }}vídeo2.mp4\" \\       \"/tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão1\"].json[\"id\"] }}vídeo3.mp4\" \\       \"/tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão1\"].json[\"id\"] }}vídeo4.mp4\" \\       \"/tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão1\"].json[\"id\"] }}vídeo5.mp4\" \\       \"/tmp/vídeo6.mp4\" \\       \"/tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão1\"].json[\"id\"] }}vídeo7.mp4\" \\       \"/tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão1\"].json[\"id\"] }}vídeo8.mp4\" \\       \"/tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão1\"].json[\"id\"] }}vídeo9.mp4\" \\       \"/tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão1\"].json[\"id\"] }}vídeo10.mp4\""},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[2060,1240],"id":"a94b4863-73ab-4223-b607-e7645fa61dfc","name":"Limpar Arquivos Temporários1","executeOnce":true,"credentials":{"sshPassword":{"id":"RLwqNZIVce6BqZ7h","name":"SSH Password account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2940,1440],"id":"37721dca-ea47-426d-a883-2c6784144c4d","name":"Exclui Cards em \"STOP\"1"},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $json.name }} \"STOP\""}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-2280,1440],"id":"c8f619bc-5f96-456f-b40e-9ca0f941b43f","name":"Atualizar Cartão com \"STOP\"1","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão1\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1840,1240],"id":"7654655d-d202-4a22-a6c1-3281958b750f","name":"Remove \"STOP\"1","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-360,1520],"id":"67dca297-2832-46b0-81a5-8688153c2cba","name":"Wait ","webhookId":"a17a63bc-5840-40ef-9ea8-0a21c0dee914"},{"parameters":{"assignments":{"assignments":[{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"EM FILA","value":"682b2e0278df7956373f0b53","type":"string"},{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"UPLOAD","value":"682b2e0278df7956373f0b4c","type":"string"},{"id":"5e879d27-50c6-41a3-bc72-ca53b2ca4103","name":"Canal","value":"@historiasqueelmundooculta","type":"string"},{"id":"2e9fc937-6349-4a10-afb5-7dc648480cdf","name":"url","value":"https://api-google-drive-uploader.pot8xr.easypanel.host/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3380,1440],"id":"174d2e71-a9f5-4086-b60d-98bc8f31feb4","name":"Edit Fields1"},{"parameters":{"content":"## WF7\n","height":960,"width":5420,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3680,100],"id":"4aaabb03-2981-4b38-8ea3-2e1c7a4e9727","name":"Sticky Note"},{"parameters":{"content":"## WF9\n","height":760,"width":6000,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3680,1140],"id":"6705072d-6d2b-4fac-9976-9beeda8ca38a","name":"Sticky Note1"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Extrair Metadados do Cartão","type":"ai_languageModel","index":0}]]},"Buscar Cartões Prontos para Vídeo":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Selecionar Próximo Cartão":{"main":[[{"node":"Atualizar Cartão com \"STOP\"","type":"main","index":0}]]},"Extrair Metadados do Cartão":{"main":[[{"node":"Consolidar Dados do Cartão","type":"main","index":0}]]},"Formatador de Dados JSON":{"ai_outputParser":[[{"node":"Extrair Metadados do Cartão","type":"ai_outputParser","index":0}]]},"Consolidar Dados do Cartão":{"main":[[{"node":"Preparar URLs das Imagens","type":"main","index":0}]]},"Preparar URLs das Imagens":{"main":[[{"node":"Separar URLs por Tipo","type":"main","index":0}]]},"Separar URLs por Tipo":{"main":[[{"node":"Processar Cada Imagem","type":"main","index":0}]]},"Processar Cada Imagem":{"main":[[{"node":"Preparar Dados de Áudio","type":"main","index":0}],[{"node":"Baixar Imagem","type":"main","index":0}]]},"Baixar Imagem":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Salvar Imagem no Servidor":{"main":[[{"node":"Wait 1","type":"main","index":0}]]},"Preparar Dados de Áudio":{"main":[[{"node":"Formatar URLs dos Áudios","type":"main","index":0}]]},"Formatar URLs dos Áudios":{"main":[[{"node":"Separar URLs de Áudio","type":"main","index":0}]]},"Separar URLs de Áudio":{"main":[[{"node":"Processar Dados de Áudio","type":"main","index":0}]]},"Processar Dados de Áudio":{"main":[[{"node":"Separar IDs para Trello","type":"main","index":0}],[{"node":"Baixar Arquivo de Áudio","type":"main","index":0}]]},"Baixar Arquivo de Áudio":{"main":[[{"node":"Salvar Áudio no Servidor","type":"main","index":0}]]},"Salvar Áudio no Servidor":{"main":[[{"node":"Gerar Script de Montagem","type":"main","index":0}]]},"Gerar Script de Montagem":{"main":[[{"node":"Executar FFmpeg","type":"main","index":0}]]},"Executar FFmpeg":{"main":[[{"node":"Extrair Caminho do Vídeo","type":"main","index":0}]]},"Extrair Caminho do Vídeo":{"main":[[{"node":"Baixar Vídeo Finalizado","type":"main","index":0}]]},"Baixar Vídeo Finalizado":{"main":[[{"node":"Salvar Vídeo no Drive","type":"main","index":0}]]},"Salvar Vídeo no Drive":{"main":[[{"node":"Wait 2","type":"main","index":0}]]},"Separar IDs para Trello":{"main":[[{"node":"Agrupar IDs Gerados","type":"main","index":0}]]},"Agrupar IDs Gerados":{"main":[[{"node":"Formatar IDs dos Vídeos","type":"main","index":0}]]},"Formatar IDs dos Vídeos":{"main":[[{"node":"Obter Detalhes do Cartão","type":"main","index":0}]]},"Obter Detalhes do Cartão":{"main":[[{"node":"Atualizar Cartão com Links","type":"main","index":0}]]},"Atualizar Cartão com Links":{"main":[[{"node":"Mover Cartão para \"EDITANDO ⌛\"","type":"main","index":0}]]},"Verificação Periódica":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Mover Cartão para \"EDITANDO ⌛\"":{"main":[[{"node":"Remove \"STOP\"","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Selecionar Próximo Cartão","type":"main","index":0}]]},"Atualizar Cartão com \"STOP\"":{"main":[[{"node":"Extrair Metadados do Cartão","type":"main","index":0}]]},"Remove \"STOP\"":{"main":[[{"node":"Limpar Arquivos Temporários","type":"main","index":0}]]},"Wait 1":{"main":[[{"node":"Processar Cada Imagem","type":"main","index":0}]]},"Wait 2":{"main":[[{"node":"Processar Dados de Áudio","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar Cartões Prontos para Vídeo","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Salvar Imagem no Servidor","type":"main","index":0}]]},"Buscar Cartões Prontos para Upload":{"main":[[{"node":"Exclui Cards em \"STOP\"1","type":"main","index":0}]]},"Preparar URLs dos Vídeos":{"main":[[{"node":"Separar URLs por Tipo1","type":"main","index":0}]]},"Processar Cada Vídeo":{"main":[[{"node":"Preparar para Concatenação","type":"main","index":0}],[{"node":"Baixar Arquivo de Vídeo","type":"main","index":0}]]},"Preparar para Concatenação":{"main":[[{"node":"Gerar Script de Concatenação","type":"main","index":0}]]},"Baixar Arquivo de Vídeo":{"main":[[{"node":"Salvar Vídeo no Servidor","type":"main","index":0}]]},"Salvar Vídeo no Servidor":{"main":[[{"node":"Wait ","type":"main","index":0}]]},"Gerar Script de Concatenação":{"main":[[{"node":"Executar FFmpeg para Concatenar","type":"main","index":0}]]},"Executar FFmpeg para Concatenar":{"main":[[{"node":"Obter Data Atual","type":"main","index":0}]]},"Obter Data Atual":{"main":[[{"node":"Calcular Data de Publicação","type":"main","index":0}]]},"Calcular Data de Publicação":{"main":[[{"node":"Preparar Descrição do Vídeo","type":"main","index":0}]]},"Preparar Descrição do Vídeo":{"main":[[{"node":"Limpar Texto da Descrição","type":"main","index":0}]]},"Limpar Texto da Descrição":{"main":[[{"node":"Enviar para API de Upload do Google Drive","type":"main","index":0}]]},"Atualizar Cartão com Link do Vídeo":{"main":[[{"node":"Mover Cartão para \"UPLOAD ✅\"","type":"main","index":0}]]},"Mover Cartão para \"UPLOAD ✅\"":{"main":[[{"node":"Remove \"STOP\"1","type":"main","index":0}]]},"Verificação Diária ao Meio-dia1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Filtra por Nome do Canal":{"main":[[{"node":"Selecionar Próximo Cartão1","type":"main","index":0}]]},"Enviar para API de Upload do Google Drive":{"main":[[{"node":"Move o Arquivo para a Pasta","type":"main","index":0}]]},"Move o Arquivo para a Pasta":{"main":[[{"node":"Obter Detalhes do Cartão1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Extrair Metadados do Cartão1","type":"ai_languageModel","index":0}]]},"Selecionar Próximo Cartão1":{"main":[[{"node":"Atualizar Cartão com \"STOP\"1","type":"main","index":0}]]},"Extrair Metadados do Cartão1":{"main":[[{"node":"Consolidar Dados do Cartão1","type":"main","index":0}]]},"Formatador de Dados JSON1":{"ai_outputParser":[[{"node":"Extrair Metadados do Cartão1","type":"ai_outputParser","index":0}]]},"Consolidar Dados do Cartão1":{"main":[[{"node":"Preparar URLs dos Vídeos","type":"main","index":0}]]},"Separar URLs por Tipo1":{"main":[[{"node":"Processar Cada Vídeo","type":"main","index":0}]]},"Obter Detalhes do Cartão1":{"main":[[{"node":"Atualizar Cartão com Link do Vídeo","type":"main","index":0}]]},"Exclui Cards em \"STOP\"1":{"main":[[{"node":"Filtra por Nome do Canal","type":"main","index":0}]]},"Atualizar Cartão com \"STOP\"1":{"main":[[{"node":"Extrair Metadados do Cartão1","type":"main","index":0}]]},"Remove \"STOP\"1":{"main":[[{"node":"Limpar Arquivos Temporários1","type":"main","index":0}]]},"Wait ":{"main":[[{"node":"Processar Cada Vídeo","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Buscar Cartões Prontos para Upload","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Verificação Periódica":{"recurrenceRules":[16]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"597c23ca-b6b7-4762-a72b-a4830344a7cc","triggerCount":1,"tags":[{"createdAt":"2025-06-03T13:08:52.656Z","updatedAt":"2025-06-03T13:08:52.656Z","id":"5X46tRV4lwQwBhLN","name":"teste ok"}]}