07---edita-vídeos-5kgHvVtW13G39hUM.json
{"createdAt":"2025-06-02T14:42:28.163Z","updatedAt":"2025-06-04T14:28:09.497Z","id":"5kgHvVtW13G39hUM","name":"07 - EDITA VÍDEOS","active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2100,600],"id":"f310362d-bc8c-469d-8a21-8255f4cd234d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"aFIpFp2J06rY600P","name":"OpenAi account"}}},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"IMAGENS\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3020,380],"id":"f138b823-5cd5-494c-8212-1940c569789f","name":"Buscar Cartões Prontos para Vídeo","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2580,380],"id":"8b68657c-e0cd-485f-bd1f-5b9fc69da676","name":"Selecionar Próximo Cartão"},{"parameters":{"promptType":"define","text":"={{ $json.desc }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2140,380],"id":"de90ffa7-e27e-410c-8c1c-1b417accb928","name":"Extrair Metadados do Cartão"},{"parameters":{"jsonSchemaExample":"{\n\"título\": \"{{ $('Edit Fields2').item.json['título'] }}\",\n\"seo\": \"{{ $('Edit Fields2').item.json.seo }}\",\n\"pasta\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"audiolongo1\": \"{{ $('Edit Fields2').item.json.audiolongo1 }}\",\n\"audiolongo2\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"audiolongo3\": \"{{ $('Edit Fields2').item.json.audiolongo3 }}\",\n\"audiolongo4\": \"{{ $('Edit Fields2').item.json.audiolongo4 }}\",\n\"audiolongo5\": \"{{ $('Edit Fields2').item.json.audiolongo5 }}\",\n\"audiolongo6\": \"{{ $('Edit Fields2').item.json.audiolongo6 }}\",\n\"audiolongo7\": \"{{ $('Edit Fields2').item.json.audiolongo7 }}\",\n\"audiolongo8\": \"{{ $('Edit Fields2').item.json.audiolongo8 }}\",\n\"audiolongo9\": \"{{ $('Edit Fields2').item.json.audiolongo9 }}\",\n\"audiolongo10\": \"{{ $('Edit Fields2').item.json.audiolongo10 }}\",\n\"img1\": \"{{ $('Edit Fields4').item.json.img1 }}\",\n\"img2\": \"{{ $('Edit Fields4').item.json.img2 }}\",\n\"img3\": \"{{ $('Edit Fields4').item.json.img3 }}\",\n\"img4\": \"{{ $('Edit Fields4').item.json.img4 }}\",\n\"img5\": \"{{ $('Edit Fields4').item.json.img5 }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1980,600],"id":"13b6274b-b6b8-48a9-9cc1-c4f95ffcd5c6","name":"Formatador de Dados JSON"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1760,380],"id":"197411e0-8c38-478c-af1f-01ad503fe932","name":"Consolidar Dados do Cartão"},{"parameters":{"assignments":{"assignments":[{"id":"76c4d423-8308-4567-94bf-027483ace8e7","name":"body.img1","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0].img1 }}","type":"string"},{"id":"bfc9acb5-93d8-4aff-87bf-6e542fc0f46f","name":"body.img2","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0].img2 }}","type":"string"},{"id":"801d927f-2ddc-4b5b-9844-a6538b6d5671","name":"body.img3","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0].img3 }}","type":"string"},{"id":"40db3660-5b7f-4031-b098-ea1acaaabde2","name":"body.img4","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0].img4 }}","type":"string"},{"id":"41ad47ba-aaf3-49e0-b7a9-af6fa16d9d65","name":"body.img5","value":"=https://drive.google.com/uc?export=download&id={{ $json.output[0].img5 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1540,380],"id":"92739748-28ae-41d0-8ecc-71fd6af53a16","name":"Preparar URLs das Imagens"},{"parameters":{"fieldToSplitOut":"body","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1320,380],"id":"c0378cc4-31a4-4338-888d-04bb8a1726c4","name":"Separar URLs por Tipo"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1100,380],"id":"e4b015db-a6fa-4ea0-8c64-652efa950b6a","name":"Processar Cada Imagem"},{"parameters":{"url":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,300],"id":"11d09346-2a9b-4947-a05f-662b8b9b56b5","name":"Baixar Imagem"},{"parameters":{"resource":"file","path":"/tmp","options":{"fileName":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}img{{ $runIndex+1 }}.jpg"}},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-660,300],"id":"2b63387e-10c3-40ef-af64-a55498ad59ef","name":"Salvar Imagem no Servidor","credentials":{"sshPassword":{"id":"RLwqNZIVce6BqZ7h","name":"SSH Password account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-880,100],"id":"e9608a14-8987-456b-8ceb-0fbf5ec904a3","name":"Preparar Dados de Áudio"},{"parameters":{"assignments":{"assignments":[{"id":"1c8fa221-e743-491b-a210-018af6ff0fd8","name":"body.audiolongo1","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo1\"] }}","type":"string"},{"id":"61dac2db-751b-4b01-9b6c-e195d73914f3","name":"body.audiolongo2","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo2\"] }}","type":"string"},{"id":"5d2500af-eac2-43e9-9be3-2b6a5f872868","name":"body.audiolongo3","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo3\"] }}","type":"string"},{"id":"a78de21b-3cfb-46f9-97be-2f075cc3109f","name":"body.audiolongo4","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo4\"] }}","type":"string"},{"id":"a8c52a00-6b4c-4e20-9242-f20c91bfd877","name":"body.audiolongo5","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo5\"] }}","type":"string"},{"id":"1edb8f48-f061-4fd4-bd21-db418ed780bc","name":"body.audiolongo6","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo6\"] }}","type":"string"},{"id":"4a876177-37b5-4db0-aa74-dc1be59bf591","name":"body.audiolongo7","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo7\"] }}","type":"string"},{"id":"9ca4adbe-57da-4f9c-a9ee-55d1b9d4cf8c","name":"body.audiolongo8","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo8\"] }}","type":"string"},{"id":"f473e1b7-acc6-4e38-82b3-be719b4b4064","name":"body.audiolongo9","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo9\"] }}","type":"string"},{"id":"2a89aa3d-4e87-4c00-a6e9-4646a9d57648","name":"body.audiolongo10","value":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"audiolongo10\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-660,100],"id":"c23709d8-a7de-4d6e-853d-160a4e060104","name":"Formatar URLs dos Áudios"},{"parameters":{"fieldToSplitOut":"body","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-440,100],"id":"fd27fb8d-2365-46f7-a759-13d6e2fd8581","name":"Separar URLs de Áudio"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,100],"id":"d8db4079-07c8-434a-a2d1-9e50a2d659bd","name":"Processar Dados de Áudio"},{"parameters":{"url":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,200],"id":"44306a5e-bba3-47c4-8cb7-6a97376f22cf","name":"Baixar Arquivo de Áudio"},{"parameters":{"resource":"file","path":"/tmp","options":{"fileName":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}áudio.mp3"}},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[220,200],"id":"1240dc54-3811-490d-9808-fbff6515123d","name":"Salvar Áudio no Servidor","credentials":{"sshPassword":{"id":"RLwqNZIVce6BqZ7h","name":"SSH Password account"}}},{"parameters":{"jsCode":"function processImagesWithCaptions(items) {\n  // 1) captura o id dinâmico\n  const id = $('Selecionar Próximo Cartão').first().json.id;\n  const prefix = `/tmp/${id}`;\n\n  // 2) monta URLs das imagens com o prefixo\n  const imageUrls = Array.from({ length: 5 }, (_, i) => `${prefix}img${i+1}.jpg`);\n  const audioPath = `${prefix}áudio.mp3`;\n  const imageDuration = 5; // segundos\n  const totalImages = imageUrls.length;\n  const cycleDuration = imageDuration * totalImages;\n\n  // 3) gera o script FFmpeg, injetando o prefix dinâmico em todas as paths\n  const ffmpegScript = `\n#!/bin/bash\nset -e\nTEMP_DIR=$(mktemp -d)\ncd \"$TEMP_DIR\"\nmkdir -p images processed\n\n# Copiar imagens\n${imageUrls.map((p, i) => `cp \"${p}\" images/image_${i}.jpg`).join(\"\\n\")}\n\n# Duração do áudio (segundos, arredondado)\nAUDIO_DURATION=$(ffprobe -v error -show_entries format=duration \\\\\n  -of default=noprint_wrappers=1:nokey=1 \"${audioPath}\")\nAUDIO_DURATION=$(printf \"%.0f\" \"$AUDIO_DURATION\")\n\n# Gerar clipes com fade/unsharp\n${imageUrls.map((_, i) => `\nffmpeg -y -loop 1 -i images/image_${i}.jpg -t ${imageDuration} -vf \"\n  fade=in:0:30,\n  fade=out:${imageDuration*25-30}:30,\n  unsharp=3:3:1.5:3:3:0.7\n\" -pix_fmt yuv420p processed/effect_${i}.mp4\n`).join(\"\")}\n\n# Preparar lista de concatenação\nrm -f concat_list.txt\ntouch concat_list.txt\n\nTOTAL_IMAGES=${totalImages}\nCYCLE_DURATION=${cycleDuration}\nREPS=$(( (AUDIO_DURATION + CYCLE_DURATION - 1) / CYCLE_DURATION ))\n\nfor ((c=0; c<REPS; c++)); do\n  for ((i=0; i<TOTAL_IMAGES; i++)); do\n    echo \"file 'processed/effect_\\${i}.mp4'\" >> concat_list.txt\n  done\ndone\n\n# Concatena sem cortar\nffmpeg -y -f concat -safe 0 -i concat_list.txt -c copy output_temp.mp4\n\n# Muxa e corta exatamente na duração do áudio\nffmpeg -y -i output_temp.mp4 -i \"${audioPath}\" -map 0:v -map 1:a \\\\\n  -c:v copy -c:a aac -t \"$AUDIO_DURATION\" \"${prefix}output.mp4\"\n\nrm output_temp.mp4\necho \"Vídeo gerado em: ${prefix}output.mp4\"\n`;\n\n  // 4) devolve o script para o node “Execute Command”\n  return [\n    {\n      json: {\n        ffmpegScript,\n        imageUrls,\n        audioPath,\n      },\n    },\n  ];\n}\n\nreturn processImagesWithCaptions($input.all());\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,200],"id":"9843dff0-ce80-4dca-a786-5d5652aeb29c","name":"Gerar Script de Montagem"},{"parameters":{"command":"={{ $json.ffmpegScript }}"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[660,200],"id":"7e487a88-6bf3-44d6-b991-8264c99ec6ef","name":"Executar FFmpeg","credentials":{"sshPassword":{"id":"RLwqNZIVce6BqZ7h","name":"SSH Password account"}}},{"parameters":{"jsCode":"// items: array de objetos { json: {...}, binary?: {...} } fornecido pelo n8n\nconst newItems = items.map(item => {\n  // obtém o stdout de cada item\n  const stdout = item.json.stdout || '';\n  // procura a linha com \"Vídeo finalizado:\"\n  const line = stdout.split('\\n').find(l => l.includes('Vídeo gerado em:'));\n  // extrai tudo após o primeiro \":\" nessa linha\n  const path = line\n    ? line.split(':').slice(1).join(':').trim()\n    : null;\n  \n  // adiciona no json do item\n  return {\n    json: {\n      ...item.json,\n      videoFinalizadoPath: path,\n    },\n    binary: item.binary, // se houver dados binários, preserve-os\n  };\n});\n\n// retorna o array de itens corretamente\nreturn newItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,200],"id":"df88db31-1315-4099-941f-ffa1ffd8db69","name":"Extrair Caminho do Vídeo"},{"parameters":{"resource":"file","operation":"download","path":"={{ $json.videoFinalizadoPath }}","options":{}},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1100,200],"id":"1d3f54d0-408b-40cc-aec8-082917c9a3f3","name":"Baixar Vídeo Finalizado","credentials":{"sshPassword":{"id":"RLwqNZIVce6BqZ7h","name":"SSH Password account"}}},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"pasta\"] }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1320,200],"id":"48f45374-ed8d-4833-a32e-65e78a7185dd","name":"Salvar Vídeo no Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"fieldToSplitOut":"id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[0,0],"id":"0c75732d-1c8f-4f66-95e3-763f6517b7d7","name":"Separar IDs para Trello"},{"parameters":{"aggregate":"={{ $json.id }}","fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[220,0],"id":"02b4541e-a699-47b7-baa6-02382f6eb262","name":"Agrupar IDs Gerados"},{"parameters":{"assignments":{"assignments":[{"id":"ac17434b-9f6b-4dfc-b4fe-d5014179a2a4","name":"vídeo1","value":"={{ $json.data[0].id }}","type":"string"},{"id":"ffb9afe1-6561-4a1e-96ee-c7ae0eeb540d","name":"vídeo2","value":"={{ $json.data[1].id }}","type":"string"},{"id":"6d313634-3356-422a-bf8a-b2c01dec2d5f","name":"vídeo3","value":"={{ $json.data[2].id }}","type":"string"},{"id":"7d3f88f8-9055-4d98-bb70-351bcacfc013","name":"vídeo4","value":"={{ $json.data[3].id }}","type":"string"},{"id":"2764c8d7-8551-453c-8bf1-fee86e49755b","name":"vídeo5","value":"={{ $json.data[4].id }}","type":"string"},{"id":"8e913184-91aa-48d7-89d5-8f93e371fe5b","name":"vídeo6","value":"={{ $json.data[5].id }}","type":"string"},{"id":"1e686043-8118-4be6-a9e0-e87abe842c03","name":"vídeo7","value":"={{ $json.data[6].id }}","type":"string"},{"id":"fadb48c6-add0-4326-b1ee-a8cdfa0f22fb","name":"vídeo8","value":"={{ $json.data[7].id }}","type":"string"},{"id":"cd07654b-acb2-461e-a7a5-20c37f89beef","name":"vídeo9","value":"={{ $json.data[8].id }}","type":"string"},{"id":"41e51d64-67c4-45b3-bcb4-bac334c634b0","name":"vídeo10","value":"={{ $json.data[9].id }}","type":"string"},{"id":"e3941158-b83c-4d7c-a32a-bbfaa79b3d6d","name":"pasta","value":"={{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"pasta\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"5316f0c5-3bf2-41d3-8563-628d7017e766","name":"Formatar IDs dos Vídeos"},{"parameters":{"operation":"get","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}","mode":"id"},"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[660,0],"id":"ca9d25e8-b7df-40b3-9b87-c3d76a4e894e","name":"Obter Detalhes do Cartão","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"desc":"={{ $json.desc }}\n\"vídeo1\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo1\"] }}\",\n\"vídeo2\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo2\"] }}\",\n\"vídeo3\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo3\"] }}\",\n\"vídeo4\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo4\"] }}\",\n\"vídeo5\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo5\"] }}\",\n\"vídeo6\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo6\"] }}\",\n\"vídeo7\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo7\"] }}\",\n\"vídeo8\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo8\"] }}\",\n\"vídeo9\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo9\"] }}\",\n\"vídeo10\": \"{{ $item(\"0\").$node[\"Formatar IDs dos Vídeos\"].json[\"vídeo10\"] }}\",\n"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[880,0],"id":"e0f33688-fd24-4c85-ae25-c5999e49442d","name":"Atualizar Cartão com Links","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"command":"=rm -f /tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}img1.jpg /tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}img2.jpg /tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}img3.jpg /tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}img4.jpg /tmp/{{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}img5.jpg"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1540,0],"id":"7d1aa9a9-69c8-4060-ac7c-982a69346fb9","name":"Limpar Arquivos Temporários","credentials":{"sshPassword":{"id":"RLwqNZIVce6BqZ7h","name":"SSH Password account"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3460,380],"id":"a5e25470-54fd-438f-8249-eab004b51ebf","name":"Verificação Periódica"},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}","mode":""},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"EDITANDO\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1100,0],"id":"78ba5d04-9e49-4a45-866a-461348d4284a","name":"Mover Cartão para \"EDITANDO ⌛\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-3460,740],"id":"36c6b783-9782-4b1d-b901-3a671a3c1d45","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002615111216","text":"=07 - EDITA VÍDEOS","additionalFields":{"appendAttribution":false,"message_thread_id":4}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3240,740],"id":"b245e176-3be1-4c8d-8807-a87523df2cad","name":"Notificação de Erro no Telegram","webhookId":"69e81cf7-6366-4150-8ea9-0179f2447587","credentials":{"telegramApi":{"id":"KbYurROyBoGKf7Ks","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2800,380],"id":"5f6e4dd6-6220-4f18-9fd4-c767f3e28e9f","name":"Exclui Cards em \"STOP\""},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $json.name }} \"STOP\""}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-2360,380],"id":"65e59a68-b334-41a3-bfca-aba39e0a0e45","name":"Atualizar Cartão com \"STOP\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1320,0],"id":"bfe7c1ea-0c97-42d5-bfbf-07ee9c083d74","name":"Remove \"STOP\"","credentials":{"trelloApi":{"id":"jIAgqh5oR1xZHXtP","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-440,460],"id":"9f15eaec-14ee-481f-94d0-964d88221c74","name":"Wait 1","webhookId":"b3a838f1-945a-46b5-beff-7c1060e8ef10"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1540,280],"id":"2d95fc21-bc94-4753-a2f3-0183c5945de9","name":"Wait 2","webhookId":"6f23e629-356f-482b-9496-5443320257a4"},{"parameters":{"assignments":{"assignments":[{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"IMAGENS","value":"682b2e0278df7956373f0b4e","type":"string"},{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"EDITANDO","value":"682b2e0278df7956373f0b50","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3240,380],"id":"7d7c156c-bf64-47a1-9259-8cf3abc4b263","name":"Edit Fields"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Extrair Metadados do Cartão","type":"ai_languageModel","index":0}]]},"Buscar Cartões Prontos para Vídeo":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Selecionar Próximo Cartão":{"main":[[{"node":"Atualizar Cartão com \"STOP\"","type":"main","index":0}]]},"Extrair Metadados do Cartão":{"main":[[{"node":"Consolidar Dados do Cartão","type":"main","index":0}]]},"Formatador de Dados JSON":{"ai_outputParser":[[{"node":"Extrair Metadados do Cartão","type":"ai_outputParser","index":0}]]},"Consolidar Dados do Cartão":{"main":[[{"node":"Preparar URLs das Imagens","type":"main","index":0}]]},"Preparar URLs das Imagens":{"main":[[{"node":"Separar URLs por Tipo","type":"main","index":0}]]},"Separar URLs por Tipo":{"main":[[{"node":"Processar Cada Imagem","type":"main","index":0}]]},"Processar Cada Imagem":{"main":[[{"node":"Preparar Dados de Áudio","type":"main","index":0}],[{"node":"Baixar Imagem","type":"main","index":0}]]},"Baixar Imagem":{"main":[[{"node":"Salvar Imagem no Servidor","type":"main","index":0}]]},"Salvar Imagem no Servidor":{"main":[[{"node":"Wait 1","type":"main","index":0}]]},"Preparar Dados de Áudio":{"main":[[{"node":"Formatar URLs dos Áudios","type":"main","index":0}]]},"Formatar URLs dos Áudios":{"main":[[{"node":"Separar URLs de Áudio","type":"main","index":0}]]},"Separar URLs de Áudio":{"main":[[{"node":"Processar Dados de Áudio","type":"main","index":0}]]},"Processar Dados de Áudio":{"main":[[{"node":"Separar IDs para Trello","type":"main","index":0}],[{"node":"Baixar Arquivo de Áudio","type":"main","index":0}]]},"Baixar Arquivo de Áudio":{"main":[[{"node":"Salvar Áudio no Servidor","type":"main","index":0}]]},"Salvar Áudio no Servidor":{"main":[[{"node":"Gerar Script de Montagem","type":"main","index":0}]]},"Gerar Script de Montagem":{"main":[[{"node":"Executar FFmpeg","type":"main","index":0}]]},"Executar FFmpeg":{"main":[[{"node":"Extrair Caminho do Vídeo","type":"main","index":0}]]},"Extrair Caminho do Vídeo":{"main":[[{"node":"Baixar Vídeo Finalizado","type":"main","index":0}]]},"Baixar Vídeo Finalizado":{"main":[[{"node":"Salvar Vídeo no Drive","type":"main","index":0}]]},"Salvar Vídeo no Drive":{"main":[[{"node":"Wait 2","type":"main","index":0}]]},"Separar IDs para Trello":{"main":[[{"node":"Agrupar IDs Gerados","type":"main","index":0}]]},"Agrupar IDs Gerados":{"main":[[{"node":"Formatar IDs dos Vídeos","type":"main","index":0}]]},"Formatar IDs dos Vídeos":{"main":[[{"node":"Obter Detalhes do Cartão","type":"main","index":0}]]},"Obter Detalhes do Cartão":{"main":[[{"node":"Atualizar Cartão com Links","type":"main","index":0}]]},"Atualizar Cartão com Links":{"main":[[{"node":"Mover Cartão para \"EDITANDO ⌛\"","type":"main","index":0}]]},"Verificação Periódica":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Mover Cartão para \"EDITANDO ⌛\"":{"main":[[{"node":"Remove \"STOP\"","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Selecionar Próximo Cartão","type":"main","index":0}]]},"Atualizar Cartão com \"STOP\"":{"main":[[{"node":"Extrair Metadados do Cartão","type":"main","index":0}]]},"Remove \"STOP\"":{"main":[[{"node":"Limpar Arquivos Temporários","type":"main","index":0}]]},"Wait 1":{"main":[[{"node":"Processar Cada Imagem","type":"main","index":0}]]},"Wait 2":{"main":[[{"node":"Processar Dados de Áudio","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar Cartões Prontos para Vídeo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Verificação Periódica":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"43cb8a0c-67d8-4034-9975-5570541cac47","triggerCount":1,"tags":[{"createdAt":"2025-06-03T13:08:52.656Z","updatedAt":"2025-06-03T13:08:52.656Z","id":"5X46tRV4lwQwBhLN","name":"teste ok"}]}