backup-main-SZ8eoEXiVNWYHoVW.json
{"createdAt":"2025-06-02T22:08:48.046Z","updatedAt":"2025-06-03T13:07:13.931Z","id":"SZ8eoEXiVNWYHoVW","name":"BACKUP MAIN","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1980,280],"id":"2558ecca-85f8-4783-89ab-806e92b27f9b","name":"Gatilho Programado"},{"parameters":{"options":{}},"id":"269488f1-2df6-4f2d-8768-2daff5b76ba9","name":"Registrador de Data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1760,280]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"ce2f3c59-31a7-4dd8-811d-caaa181adaed","name":"Formatador de Data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1540,280]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"},"filePath":"="},"id":"6068ab68-78f7-454e-8840-a7e7eb6c5f25","name":"Listador de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1100,280],"alwaysOutputData":true,"webhookId":"05a0f9a2-f7e1-4403-9b31-b55f3785cac0","credentials":{"githubOAuth2Api":{"id":"BUBQmpawmuDRLvXD","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"3a80c691-27f5-4194-848e-bf6c31aad7f2","name":"Combinador de Arquivos","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-880,280]},{"parameters":{"filters":{},"requestOptions":{}},"id":"2b44400e-dcd3-4f8f-89f0-993524f29472","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-660,280],"credentials":{"n8nApi":{"id":"inFm2IoyKawc875Z","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"cb3e07bd-127a-4098-b9b1-2a38f4d70197","name":"Conversão de Dados","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-440,280]},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"gusfranceschi","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"n8n_v3","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,280],"id":"6067ad37-58a6-4074-bb99-0b7e229b2a1f","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,280],"id":"78ca0e51-ac84-46bf-a5f1-b9f11badf7cf","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"8bd3aec5-c8b3-4bf3-b09d-15d8fcc244da","name":"No Operation, do nothing"},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinador de Arquivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"a1a7cb98-6a01-482a-b9ef-37dfb5af1ce6","name":"Verificação de Arquivo","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,200]},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Edit Fields').item.json.commitDate }}"},"id":"99e14007-f160-4cb3-96c8-1b1dfd9f3125","name":"Uploader de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[220,480],"webhookId":"b28f312d-9329-45cc-bc98-73e044c60913","credentials":{"githubOAuth2Api":{"id":"BUBQmpawmuDRLvXD","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Edit Fields').item.json.commitDate }}"},"id":"d5de2173-5e4b-4397-90ae-b564dacea9b9","name":"Atualizador de Arquivos1","type":"n8n-nodes-base.github","typeVersion":1,"position":[220,280],"webhookId":"1aff945e-c97e-4b17-b393-98c95d9a6bbd","credentials":{"githubOAuth2Api":{"id":"BUBQmpawmuDRLvXD","name":"GitHub account"}}}],"connections":{"Gatilho Programado":{"main":[[{"node":"Registrador de Data","type":"main","index":0}]]},"Registrador de Data":{"main":[[{"node":"Formatador de Data","type":"main","index":0}]]},"Formatador de Data":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Listador de Arquivos":{"main":[[{"node":"Combinador de Arquivos","type":"main","index":0}]]},"Combinador de Arquivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]},"Captura de Workflows":{"main":[[{"node":"Conversão de Dados","type":"main","index":0}]]},"Conversão de Dados":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Listador de Arquivos","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Verificação de Arquivo","type":"main","index":0}]]},"Verificação de Arquivo":{"main":[[{"node":"Atualizador de Arquivos1","type":"main","index":0}],[{"node":"Uploader de Arquivos","type":"main","index":0}]]},"Uploader de Arquivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Atualizador de Arquivos1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Gatilho Programado":[{"json":{"timestamp":"2025-05-27T06:00:33.012-04:00","Readable date":"May 27th 2025, 6:00:33 am","Readable time":"6:00:33 am","Day of week":"Tuesday","Year":"2025","Month":"May","Day of month":"27","Hour":"06","Minute":"00","Second":"33","Timezone":"America/New_York (UTC-04:00)"}}]},"versionId":"1e9b017a-36a2-4005-b693-9f9fd42eced9","triggerCount":0,"tags":[]}