nate-herk-|-youtube-strategist-T2iZ1GpN05YQnW6B.json
{"createdAt":"2025-06-24T23:31:52.766Z","updatedAt":"2025-06-24T23:32:54.788Z","id":"T2iZ1GpN05YQnW6B","name":"Nate Herk | Youtube Strategist","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Niche Outliers","formDescription":"Input 3 high quality channel URLs in your niche","formFields":{"values":[{"fieldLabel":"Channel 1","placeholder":"https://www.youtube.com/@nateherk","requiredField":true},{"fieldLabel":"Channel 2","placeholder":"https://www.youtube.com/@nateherk","requiredField":true},{"fieldLabel":"Channel 3","placeholder":"https://www.youtube.com/@nateherk","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[980,260],"id":"bd8e4d69-ea3c-456d-9f1a-c50096e2bd93","name":"On form submission","webhookId":"04baa499-4b3a-4ba3-9dd5-4cecb73864a9"},{"parameters":{"assignments":{"assignments":[{"id":"20f6c922-f0d8-4b22-9fbe-200c0d239b4d","name":"channels","value":"=[\"{{ $json['Channel 1'] }}\",\"{{ $json['Channel 2'] }}\",\"{{ $json['Channel 3'] }}\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1140,260],"id":"68c24341-0432-4737-822a-92e9ddf8e375","name":"3 Channels"},{"parameters":{"fieldToSplitOut":"channels","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1300,260],"id":"dd6771dc-a525-41f5-8acf-7db8368829dc","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1500,180],"id":"5a9776b0-8ac3-47ae-8bba-87149be499e9","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"=Video Title: {{ $json.title }}","options":{"systemMessage":"=# Overview\nYou are an AI agent that acts as an expert YouTube strategist and title analyzer. Your task is to analyze YouTube video titles and identify the key “power words” or phrases that make the title compelling and clickable.\n\n## Your Goal\nExtract 1 to 3 power words or short phrases from the title that are likely contributing to its strong performance. Power words often signal a:\n- Big promise (e.g., \"10x\", \"guaranteed\", \"million-dollar\")\n- Ease or simplicity (e.g., \"in 5 minutes\", \"no code\", \"zero effort\")\n- Relatable challenge or desire (e.g., \"burnout\", \"quitting my job\", \"first $1000\")\n\nThese power words should stand out because they create curiosity, offer value, and appeal to the viewer’s emotions or goals.\n\n## Requirements\n- Do not rewrite the title.\n- Do not explain the full meaning of the title.\n- Just output the power words or chunks, each as a string in a list.\n- Focus on what would trigger a click from a human browsing YouTube."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2260,180],"id":"7d628327-df98-4de0-921f-19b31ca31d77","name":"Title Analyzer"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2560,240],"id":"45d4b23c-8fe9-41a7-be20-a590198df241","name":"GPT 4.1-mini"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2780,180],"id":"70b17f30-787a-4a2f-84b2-4984fef9ec03","name":"Merge"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=# Overview\nYou are an expert in YouTube thumbnail strategy. Your task is to analyze a thumbnail image and identify **why it grabs attention** and encourages clicks.\n\n## Focus on:\n- What the viewer immediately sees or feel\n- The implicit promise or curiosity the image creates\n- What makes someone want to learn more or click\n- Be concise and keep your answer simple","imageUrls":"={{ $('Channel Outliers').item.json.thumbnailUrl }}","simplify":false,"options":{"detail":"high","maxTokens":50}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2340,320],"id":"2bf863c1-e0ad-4685-876d-8d7e31ad1623","name":"Analyze Thumbnails"},{"parameters":{"assignments":{"assignments":[{"id":"5f19a9cd-6201-41f6-ba7e-9e7fddb48e1e","name":"channel","value":"={{ $json.channelName }}","type":"string"},{"id":"8f29f01f-fa89-4a6c-8ed9-9b216dd722a8","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"4a82add2-86aa-418b-a8dc-bbfb809f658e","name":"url","value":"={{ $json.url }}","type":"string"},{"id":"c9f9b9a0-d960-4411-b5cc-b3c14f446f95","name":"thumbnail","value":"={{ $json.thumbnailUrl }}","type":"string"},{"id":"43d1ad8f-f704-4cf6-84b0-9cad874c87d7","name":"views","value":"={{ $json.viewCount }}","type":"number"},{"id":"282f8501-f8e7-46ed-9b53-4b6a57e312ca","name":"likes","value":"={{ $json.likes }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2340,40],"id":"a4cbbebe-b0bc-4f65-a134-c052ced7db09","name":"Set Fields"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc","mode":"list","cachedResultName":"YouTube Strategist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Niche Outliers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Channel":"={{ $json.channel }}","Title":"={{ $json.title }}","URL":"={{ $json.url }}","Thumbnail":"={{ $json.thumbnail }}","Views":"={{ $json.views }}","Likes":"={{ $json.likes }}","Power Words":"={{ $json.output }}","Thumbnail Analysis":"={{ $json.choices[0].message.content }}"},"matchingColumns":[],"schema":[{"id":"Channel","displayName":"Channel","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumbnail","displayName":"Thumbnail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Power Words","displayName":"Power Words","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumbnail Analysis","displayName":"Thumbnail Analysis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3040,260],"id":"ac892290-e637-443b-abdb-2b338aa54cf8","name":"Niche Outliers Data"},{"parameters":{"content":"# Phase 1) Niche Outliers","height":480,"width":2400,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[860,0],"id":"8d337219-23a2-4bae-b248-f428f6da134b","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"YOUR API KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"dateFilter\": \"week\",\n    \"downloadSubtitles\": false,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"maxResultStreams\": 0,\n    \"maxResults\": 5,\n    \"maxResultsShorts\": 0,\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": false,\n    \"searchQueries\": [\n        \"{{ $json.niche }}\"\n    ],\n    \"sortingOrder\": \"views\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,620],"id":"81c1811c-a3a1-494d-ba9d-fc808a7f8d74","name":"Scrape YT"},{"parameters":{"promptType":"define","text":"=Video Title: {{ $json.title }}","options":{"systemMessage":"=# Overview\nYou are an AI agent that acts as an expert YouTube strategist and title analyzer. Your task is to analyze YouTube video titles and identify the key “power words” or phrases that make the title compelling and clickable.\n\n## Your Goal\nExtract 1 to 3 power words or short phrases from the title that are likely contributing to its strong performance. Power words often signal a:\n- Big promise (e.g., \"10x\", \"guaranteed\", \"million-dollar\")\n- Ease or simplicity (e.g., \"in 5 minutes\", \"no code\", \"zero effort\")\n- Relatable challenge or desire (e.g., \"burnout\", \"quitting my job\", \"first $1000\")\n\nThese power words should stand out because they create curiosity, offer value, and appeal to the viewer’s emotions or goals.\n\n## Requirements\n- Do not rewrite the title.\n- Do not explain the full meaning of the title.\n- Just output the power words or chunks, each as a string in a list.\n- Focus on what would trigger a click from a human browsing YouTube."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1460,620],"id":"6a526aef-4182-4321-92c9-3725c7b5f610","name":"Title Analyzer1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=# Overview\nYou are an expert in YouTube thumbnail strategy. Your task is to analyze a thumbnail image and identify **why it grabs attention** and encourages clicks.\n\n## Focus on:\n- What the viewer immediately sees or feel\n- The implicit promise or curiosity the image creates\n- What makes someone want to learn more or click\n- Be concise and keep your answer simple","imageUrls":"={{ $('Scrape YT').item.json.thumbnailUrl }}","simplify":false,"options":{"detail":"high","maxTokens":50}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1780,620],"id":"37401573-bb70-49e8-99d7-bcce6f62cac1","name":"Analyze Thumbnails1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1440,740],"id":"ce1ea679-9bd7-4213-98b9-e083dc31e9f9","name":"GPT 4.1-mini1"},{"parameters":{"assignments":{"assignments":[{"id":"feeba2c9-c8f4-4f97-aeab-a5c3c7dc94ad","name":"niche","value":"artificial intelligence","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,620],"id":"862a0b05-4c4f-4959-b807-47facbd17f25","name":"Broad Niche"},{"parameters":{"content":"# Phase 2) Broad Niche Insights (Weekly)","height":380,"width":1280,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[860,500],"id":"64b84b07-aae8-4df8-81db-4a624e21d0e3","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"YOUR API KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"dateFilter\": \"week\",\n    \"downloadSubtitles\": false,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"maxResultStreams\": 0,\n    \"maxResults\": 5,\n    \"maxResultsShorts\": 0,\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": false,\n    \"searchQueries\": [\n        \"{{ $json.niche }}\"\n    ],\n    \"sortingOrder\": \"views\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,1020],"id":"e96bbee2-926f-469b-b518-dd523f7dbd9b","name":"Scrape YT1"},{"parameters":{"promptType":"define","text":"=Video Title: {{ $json.title }}","options":{"systemMessage":"=# Overview\nYou are an AI agent that acts as an expert YouTube strategist and title analyzer. Your task is to analyze YouTube video titles and identify the key “power words” or phrases that make the title compelling and clickable.\n\n## Your Goal\nExtract 1 to 3 power words or short phrases from the title that are likely contributing to its strong performance. Power words often signal a:\n- Big promise (e.g., \"10x\", \"guaranteed\", \"million-dollar\")\n- Ease or simplicity (e.g., \"in 5 minutes\", \"no code\", \"zero effort\")\n- Relatable challenge or desire (e.g., \"burnout\", \"quitting my job\", \"first $1000\")\n\nThese power words should stand out because they create curiosity, offer value, and appeal to the viewer’s emotions or goals.\n\n## Requirements\n- Do not rewrite the title.\n- Do not explain the full meaning of the title.\n- Just output the power words or chunks, each as a string in a list.\n- Focus on what would trigger a click from a human browsing YouTube."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1460,1020],"id":"e72fb30e-c1c6-4310-b859-1dd7aff195db","name":"Title Analyzer2"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=# Overview\nYou are an expert in YouTube thumbnail strategy. Your task is to analyze a thumbnail image and identify **why it grabs attention** and encourages clicks.\n\n## Focus on:\n- What the viewer immediately sees or feel\n- The implicit promise or curiosity the image creates\n- What makes someone want to learn more or click\n- Be concise and keep your answer simple","imageUrls":"={{ $('Scrape YT1').item.json.thumbnailUrl }}","simplify":false,"options":{"detail":"high","maxTokens":50}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1780,1020],"id":"d3989417-6062-4d2c-b9b8-6bb531ca9717","name":"Analyze Thumbnails2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1420,1140],"id":"ab846015-7340-4f32-88b8-a8f107934a90","name":"GPT 4.1-mini2"},{"parameters":{"content":"# Phase 3) Niche Insights (Daily)","height":380,"width":1280,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[860,900],"id":"05b0325a-84b8-4e43-a97a-ad23b719aa94","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"feeba2c9-c8f4-4f97-aeab-a5c3c7dc94ad","name":"niche","value":"n8n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,1020],"id":"13efb380-7ae3-4ff4-967d-a15bacc42535","name":"Niche"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[960,1020],"id":"448ed5de-e53d-457d-9f05-fc5d05b461bd","name":"6 am"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[960,620],"id":"062fb2a5-85c1-41d2-8d29-ae8a60e1ebc1","name":"Sundays"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc","mode":"list","cachedResultName":"YouTube Strategist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1836706523,"mode":"list","cachedResultName":"Niche Daily","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit#gid=1836706523"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Channel":"={{ $('Scrape YT1').item.json.channelName }}","Title":"={{ $('Scrape YT1').item.json.title }}","URL":"={{ $('Scrape YT1').item.json.url }}","Thumbnail":"={{ $('Scrape YT1').item.json.thumbnailUrl }}","Views":"={{ $('Scrape YT1').item.json.viewCount }}","Likes":"={{ $('Scrape YT1').item.json.likes }}","Power Words":"={{ $('Title Analyzer2').item.json.output }}","Thumbnail Analysis":"={{ $json.choices[0].message.content }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Channel","displayName":"Channel","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumbnail","displayName":"Thumbnail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Power Words","displayName":"Power Words","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumbnail Analysis","displayName":"Thumbnail Analysis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1940,1020],"id":"75228c89-498a-4673-aa0e-ecb8cad43ffb","name":"Niche Daily"},{"parameters":{"assignments":{"assignments":[{"id":"e9d530bf-3ca2-48c3-a40b-24f22646289d","name":"Channel Details","value":"=Nate Herk creates practical, beginner-friendly videos that teach people how to build AI automations using n8n. His content is aimed at solopreneurs, small business owners, and aspiring automation developers who want to save time, reduce costs, and scale without hiring. Whether you're just getting started with AI or looking to level up your automation skills, Nate breaks down complex workflows into simple, actionable tutorials that anyone can follow.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2520,1020],"id":"2a1f5151-a8f6-417e-9ecb-fa4b6633d840","name":"Channel Description"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2900,1120],"id":"92ba07b5-59c1-491c-9a89-057ddcb88a9f","name":"Titles & Thumbs"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc","mode":"list","cachedResultName":"YouTube Strategist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":288691584,"mode":"list","cachedResultName":"Ideation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit#gid=288691584"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Title 1":"={{ $json.output.title_1 }}","Thumbnail 1":"={{ $json.output.thumbnail_1 }}","Title 2":"={{ $json.output.title_2 }}","Thumbnail 2":"={{ $json.output.thumbnail_2 }}","Title 3":"={{ $json.output.title_3 }}","Thumbnail 3":"={{ $json.output.thumbnail_3 }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title 1","displayName":"Title 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumbnail 1","displayName":"Thumbnail 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title 2","displayName":"Title 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumbnail 2","displayName":"Thumbnail 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title 3","displayName":"Title 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumbnail 3","displayName":"Thumbnail 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2960,1020],"id":"5adf0df2-444a-48a8-83ec-b84c358131e5","name":"Append Ideas"},{"parameters":{"assignments":{"assignments":[{"id":"76d7e324-60bd-4b29-a85b-f62166af1f97","name":"channel","value":"https://www.youtube.com/@nateherk","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2240,620],"id":"86a6a8dd-cb0a-468d-a829-6ffe31eda4db","name":"Channel URL","executeOnce":true},{"parameters":{"promptType":"define","text":"=Titles:\n{{ $('Aggregate').item.json.Title.join(\"\\n\\n\") }}\n\nPower Words:\n{{ $('Aggregate').item.json['Power Words'].join(\"\\n\\n\") }}\n\nThumbnail Analysis:\n{{ $('Aggregate').item.json['Thumbnail Analysis'].join(\"\\n\\n\") }}\n\nThe Audience Wants These Things:\n{{ $('Comment Analysis').item.json['Do These Things'] }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are a top-tier YouTube strategist and content ideation expert. You help YouTube creators generate high-performing video ideas based on proven title patterns, power words, and thumbnail styles in their niche.\n\n## Your Task\nYou will be given:\n- Five existing YouTube titles from the same niche\n- A list of five power words or phrases commonly found in those titles\n- A summary of thumbnail analysis (what hooks, visual cues, or promises are working)\n- An analysis of what the audience wants to see more of\n\nYour goal is to generate three distinct video ideas for this channel. Each idea should include:\n- A compelling title that fits the niche and leverages the given power words and structural patterns\n- A thumbnail concept that aligns with the successful elements found in the analysis\n\nEach idea should be unique but rooted in the style, voice, and viewer intent relevant to the channel's audience.\n\n## Here is a description of the YouTube channel you work for\n{{ $json['Channel Details'] }}\n\n## Creative Guidelines:\n- Avoid rephrasing or reusing the titles provided.\n- Aim for **variety across the three ideas**: different angles, formats, or value propositions.\n- Ensure each title and thumbnail work together to trigger curiosity, highlight a transformation or insight, and align with the channel’s brand and audience.\n\n## Guidelines\n- Use language and visuals that would **grab attention, spark curiosity**, and clearly signal **value or a result**\n- Titles should be optimized for clicks, while still being relevant and authentic to the niche\n- Thumbnails should be described in terms of **what’s visually shown** and **why it works**\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2660,1020],"id":"926e44b7-d643-49d3-bafc-e5e2fa4c005e","name":"Creative Agent"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"YOUR API KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"downloadSubtitles\": false,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"maxResultStreams\": 0,\n    \"maxResults\": 5,\n    \"maxResultsShorts\": 0,\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": false,\n    \"sortVideosBy\": \"NEWEST\",\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.channel }}\",\n            \"method\": \"GET\"\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2380,620],"id":"3e1558c8-ea83-4310-be5b-28c48677d4c3","name":"Scrape Channel"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/streamers~youtube-comments-scraper/run-sync-get-dataset-items","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"YOUR API KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"commentsSortBy\": \"1\",\n    \"maxComments\": 30,\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.url }}\",\n            \"method\": \"GET\"\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2520,620],"id":"1d79524e-905b-4791-a776-a298199c862c","name":"Get Comments"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"comment"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2660,620],"id":"34ce3732-b3a1-43aa-8917-c1e22e242ace","name":"Aggregate1"},{"parameters":{"promptType":"define","text":"=Comments:\n{{ $json.comment.join(\"\\n\\n\") }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are a YouTube audience insights analyst. You will be given a collection of real YouTube comments on a specific channel.\n\n## Your Task\nAnalyze the comments and identify key audience patterns across three categories:\n\n1. **Things You're Doing Well**  \n   What do viewers consistently praise or respond positively to? Look for compliments, recurring appreciation, or mentions of what they found helpful, interesting, or enjoyable.\n\n2. **Things the Audience Doesn’t Like**  \n   Identify areas of criticism, confusion, or frustration. This includes anything the audience didn’t enjoy, found unclear, repetitive, boring, or overwhelming.\n\n3. **Things the Audience Is Looking For**  \n   Look for requests, questions, or desires for future content — anything viewers are hoping to see more of, learn next, or get clarification on.\n\n## Notes\n- Insights should be concise but specific.\n- Focus on patterns, not isolated comments.\n- Do not quote individual comments unless it helps summarize a recurring theme."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2800,620],"id":"68fbce04-6827-4743-be87-444015fad73a","name":"Comment Analyzer"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[3020,720],"id":"1f3a3ba7-7679-4eab-9611-e79533a14872","name":"Insights"},{"parameters":{"documentId":{"__rl":true,"value":"18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc","mode":"list","cachedResultName":"YouTube Strategist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1836706523,"mode":"list","cachedResultName":"Niche Daily","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit#gid=1836706523"},"filtersUI":{"values":[{"lookupColumn":"Date","lookupValue":"={{ $now.format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2240,1020],"id":"8eafba26-326f-4e82-bfab-07c6029b816f","name":"Get High Performers"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Title"},{"fieldToAggregate":"Power Words"},{"fieldToAggregate":"Thumbnail Analysis"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2380,1020],"id":"ecd9a6bc-5822-412b-9383-fee9a69ad21e","name":"Aggregate"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C08L6NPLT98","mode":"list","cachedResultName":"youtube"},"text":"=Your Niche and Channel Audit for {{ $now.format('yyyy-MM-dd') }} is complete. \n\nView the results and insights here: \nhttps://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit?gid=1836706523#gid=1836706523","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[3100,1020],"id":"78a4425f-e175-47c2-834e-3399f839cfea","name":"Notification","webhookId":"0d1bb128-308a-4ebb-a83e-f41c491c91d0"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2760,720],"id":"696a9449-5128-4a9b-8e96-888935198029","name":"GPT 4.1-mini3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2620,1120],"id":"b33880b0-2b5d-42fd-b432-30e78911f1e8","name":"GPT 4.1-mini4"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc","mode":"list","cachedResultName":"YouTube Strategist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":69853265,"mode":"list","cachedResultName":"Comment Analysis","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit#gid=69853265"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Good":"={{ $json.output.doing_well.join(\"\\n\\n\") }}","Bad":"={{ $json.output.audience_dislikes.join(\"\\n\\n\") }}","Do These Things":"={{ $json.output.audience_requests.join(\"\\n\\n\") }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Good","displayName":"Good","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Bad","displayName":"Bad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Do These Things","displayName":"Do These Things","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3100,620],"id":"cd9ea048-077a-4324-a3b4-5363c6b95244","name":"Comment Analysis"},{"parameters":{"content":"# Phase 4) Comment Analysis","height":380,"width":1100,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,500],"id":"6244088b-0ab6-4c15-bfa5-8ee7d2ab6466","name":"Sticky Note4"},{"parameters":{"content":"# Phase 5) Ideation","height":380,"width":1100,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,900],"id":"7b09c26a-e33d-4d97-bb7f-56007c609cbb","name":"Sticky Note5"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"YOUR API KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"downloadSubtitles\": false,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"maxResultStreams\": 0,\n    \"maxResults\": 30,\n    \"maxResultsShorts\": 0,\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": false,\n    \"sortVideosBy\": \"POPULAR\",\n    \"sortingOrder\": \"views\",\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.channels }}\",\n            \"method\": \"GET\"\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,80],"id":"23767930-bd9b-4972-a7ef-c399577cf237","name":"Channel Outliers"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"viewCount","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[1900,80],"id":"fba5cae1-9b2b-4d05-9ef7-3fa9efd1c069","name":"Sort1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"63026392-559e-4b21-be7d-224fea72c911","leftValue":"={{ $json.date }}","rightValue":"={{ DateTime.now().minus({ months: 6 }).toISO() }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1700,280],"id":"45c11199-0c1a-4f13-9010-9706214aeaf9","name":"Filter"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1900,280],"id":"72063a6f-a035-4363-91d3-0f5a8549eb56","name":"Limit"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc","mode":"list","cachedResultName":"YouTube Strategist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":817026250,"mode":"list","cachedResultName":"Broad Niche Weekly","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit#gid=817026250"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Channel":"={{ $('Scrape YT').item.json.channelName }}","Title":"={{ $('Scrape YT').item.json.title }}","URL":"={{ $('Scrape YT').item.json.url }}","Thumbnail":"={{ $('Scrape YT').item.json.thumbnailUrl }}","Views":"={{ $('Scrape YT').item.json.viewCount }}","Likes":"={{ $('Scrape YT').item.json.likes }}","Power Words":"={{ $('Title Analyzer1').item.json.output }}","Thumbnail Analysis":"={{ $json.choices[0].message.content }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Channel","displayName":"Channel","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumbnail","displayName":"Thumbnail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Power Words","displayName":"Power Words","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thumbnail Analysis","displayName":"Thumbnail Analysis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1940,620],"id":"abf0c66f-593b-4804-9463-2c1a4f20ae95","name":"Broad Niche Weekly"},{"parameters":{"content":"# ⚙️ Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow these steps to configure your n8n workflow:\n\n### ✅ Step 1: Get Your [Apify](https://www.apify.com/?fpr=nate) API Key  \nSign up on Apify and use code `30NATEHERK` for **30% off**.  \nPlug this API key into the **5 HTTP Request nodes** in your workflow. Once connected, your Apify setup is complete.\n\n### ✅ Step 2: Connect Your [OpenRouter](https://openrouter.ai/) & [OpenAI API](https://platform.openai.com/settings/organization/api-keys) Keys  \n- Get your OpenRouter API key, add billing info, and connect the credential in n8n.  \n- For image analysis, you also need to connect a **separate OpenAI credential**.\n\n### ✅ Step 3: Copy & Link the [Google Sheet Template](https://docs.google.com/spreadsheets/d/197vv7pZWXOiMufm1BFuV07obNafBr3PgOsbR5a4JAAI/edit?usp=sharing)  \nMake a copy in your Google account.  \nThen, connect it in all **Google Sheet nodes**.  \nEnsure you're linking the **correct sheet and tabs** for each node.\n\n### ✅ Step 4: Customize Triggers & Settings  \n- Set the **Schedule Triggers** to run at your desired intervals.  \n- Test the **Form Submission Trigger** on channels in your niche.  \n- Fill in your information in the **Set nodes**:\n  - **Phase II:** Broad Niche  \n  - **Phase III:** Specific Niche  \n  - **Phase IV:** Channel URL  \n  - **Phase V:** Channel Description  \n\n### 🧪 Final Step: Run Tests  \nOnce everything is linked, start testing to ensure all components fire correctly and data flows as expected.\n","height":1280,"width":840},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"ff8e00e9-77dd-4576-84c5-ccf9c2058806","name":"Sticky Note3"}],"connections":{"On form submission":{"main":[[{"node":"3 Channels","type":"main","index":0}]]},"3 Channels":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Channel Outliers","type":"main","index":0}]]},"Title Analyzer":{"main":[[{"node":"Merge","type":"main","index":1}]]},"GPT 4.1-mini":{"ai_languageModel":[[{"node":"Title Analyzer","type":"ai_languageModel","index":0}]]},"Merge":{"main":[[{"node":"Niche Outliers Data","type":"main","index":0}]]},"Analyze Thumbnails":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Set Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Niche Outliers Data":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Scrape YT":{"main":[[{"node":"Title Analyzer1","type":"main","index":0}]]},"Title Analyzer1":{"main":[[{"node":"Analyze Thumbnails1","type":"main","index":0}]]},"Analyze Thumbnails1":{"main":[[{"node":"Broad Niche Weekly","type":"main","index":0}]]},"GPT 4.1-mini1":{"ai_languageModel":[[{"node":"Title Analyzer1","type":"ai_languageModel","index":0}]]},"Broad Niche":{"main":[[{"node":"Scrape YT","type":"main","index":0}]]},"Scrape YT1":{"main":[[{"node":"Title Analyzer2","type":"main","index":0}]]},"Title Analyzer2":{"main":[[{"node":"Analyze Thumbnails2","type":"main","index":0}]]},"Analyze Thumbnails2":{"main":[[{"node":"Niche Daily","type":"main","index":0}]]},"GPT 4.1-mini2":{"ai_languageModel":[[{"node":"Title Analyzer2","type":"ai_languageModel","index":0}]]},"Niche":{"main":[[{"node":"Scrape YT1","type":"main","index":0}]]},"6 am":{"main":[[{"node":"Niche","type":"main","index":0}]]},"Sundays":{"main":[[{"node":"Broad Niche","type":"main","index":0}]]},"Niche Daily":{"main":[[{"node":"Channel URL","type":"main","index":0}]]},"Channel Description":{"main":[[{"node":"Creative Agent","type":"main","index":0}]]},"Append Ideas":{"main":[[{"node":"Notification","type":"main","index":0}]]},"Channel URL":{"main":[[{"node":"Scrape Channel","type":"main","index":0}]]},"Creative Agent":{"main":[[{"node":"Append Ideas","type":"main","index":0}]]},"Scrape Channel":{"main":[[{"node":"Get Comments","type":"main","index":0}]]},"Get Comments":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Comment Analyzer","type":"main","index":0}]]},"Comment Analyzer":{"main":[[{"node":"Comment Analysis","type":"main","index":0}]]},"Get High Performers":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Channel Description","type":"main","index":0}]]},"GPT 4.1-mini3":{"ai_languageModel":[[{"node":"Comment Analyzer","type":"ai_languageModel","index":0}]]},"GPT 4.1-mini4":{"ai_languageModel":[[{"node":"Creative Agent","type":"ai_languageModel","index":0}]]},"Comment Analysis":{"main":[[{"node":"Get High Performers","type":"main","index":0}]]},"Channel Outliers":{"main":[[{"node":"Sort1","type":"main","index":0}]]},"Sort1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Set Fields","type":"main","index":0},{"node":"Title Analyzer","type":"main","index":0},{"node":"Analyze Thumbnails","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a9b84f2f-dcba-4f38-87ef-a0e16d23d2d8","triggerCount":0,"tags":[]}