oleg-melnikov-|-ai-system-for-viral-content-PZhFq7ormjhkR6Gr.json
{"createdAt":"2025-06-24T23:49:04.809Z","updatedAt":"2025-06-24T23:49:04.809Z","id":"PZhFq7ormjhkR6Gr","name":"Oleg Melnikov | AI System for Viral Content","active":false,"isArchived":false,"nodes":[{"parameters":{"amount":30},"id":"e0a5fb7a-8437-4e12-b8f0-9db7b977893c","name":"Wait","type":"n8n-nodes-base.wait","position":[800,400],"webhookId":"dc8a5198-d383-4df8-8fcb-c959a50b7a68","typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"a21fe2d1-533b-4f09-94aa-9312c3dd05b8","name":"=prompt","type":"string","value":"=Analyze the Reels video: 1. What is the video about, in one sentence 2. What is the hook of the video - e.g. first 5 seconds usually, maybe the first text on the screen, maybe the first words of the author - this is the thing that is made to grab attention of the viewer 3. What is going on in the video - write me a whole script, that I can easily replicate, include the whole text of the author (if there is any text at all), include all the important details. Structure your output like this: 1. Idea: ..., 2. Hook: ..., 3. Script: ... - WRITE NOTHING ELSE EXCEPT FOR THIS 3 BULLETS, NO EXTRA WORDS AT THE BEGINNING."}]},"options":{}},"id":"6bd69aee-35c9-4508-9508-31830534b0a2","name":"Set Prompt","type":"n8n-nodes-base.set","position":[960,400],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/upload/v1beta/files","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyAG9XFqflVl98aHxLSrgN4kX4CriZ_yEm8"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-Upload-Protocol","value":"resumable"},{"name":"X-Goog-Upload-Command","value":"start"},{"name":"X-Goog-Upload-Header-Content-Length","value":"={{ $json.Video[0].size }}"},{"name":"X-Goog-Upload-Header-Content-Type","value":"={{ $json.Video[0].type }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"file\": {\n\"display_name\": \"{{ $json.Video[0].filename }}\"\n}\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"90d23176-2540-426d-9143-b2d077b105ac","name":"Gemini - Generate Upload URL","type":"n8n-nodes-base.httpRequest","position":[120,400],"typeVersion":4.2},{"parameters":{"method":"POST","url":"={{ $('Gemini - Generate Upload URL').item.json.headers['x-goog-upload-url'] }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyAG9XFqflVl98aHxLSrgN4kX4CriZ_yEm8"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Length","value":"={{ $('Get Video').item.json.Video[0].size }}"},{"name":"X-Goog-Upload-Offset","value":"0"},{"name":"X-Goog-Upload-Command","value":"upload, finalize"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"response":{}}},"id":"234a417c-8afc-49d7-b9a8-d188b2a683c6","name":"Gemini - Upload File","type":"n8n-nodes-base.httpRequest","position":[460,400],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyAG9XFqflVl98aHxLSrgN4kX4CriZ_yEm8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"contents\": [\n      {\n         \"parts\": [\n            {\n               \"text\": \"{{ $json.prompt }}\"\n            },\n            {\n               \"file_data\": {\n                  \"mime_type\": \"{{ $('Save Values').item.json.mimeType }}\",\n                  \"file_uri\": \"{{ $('Save Values').item.json.gemini_file_url }}\"\n               }\n            }\n         ]\n      }\n   ]\n}\n","options":{"response":{}}},"id":"9b60de47-85f4-403c-a85f-536b6eb575ec","name":"Gemini - Ask Questions","type":"n8n-nodes-base.httpRequest","position":[1160,400],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"4fb7b732-17f9-41a2-986d-5d62b1331242","name":"gemini_file_url","type":"string","value":"={{ $json.file.uri }}"},{"id":"5f3018b4-571f-433c-a07b-2fb86f63b9b6","name":"mimeType","type":"string","value":"={{ $json.file.mimeType }}"},{"id":"c5532f11-ec31-49f8-aa26-7f42b7d24fa4","name":"airtable_rec_id","type":"string","value":"={{ $('Get Video').item.json.id }}"}]},"options":{}},"id":"c11cbfa9-e37f-474e-8053-5c9611ad13d3","name":"Save Values","type":"n8n-nodes-base.set","position":[640,400],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"apify_api_iCr3t5mDFPGpi4PbW0WRMb5M9xIwQW02Ltzd"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"addParentData\": false,\n    \"directUrls\": [\n        \"https://www.instagram.com/{{ $json['Instagram Username'] }}/\"\n    ],\n    \"enhanceUserSearchWithFacebookPage\": false,\n    \"isUserReelFeedURL\": false,\n    \"isUserTaggedFeedURL\": false,\n    \"onlyPostsNewerThan\": \"{{ new Date(new Date().setDate(new Date().getDate() - 30)).toISOString().slice(0, 10) }}\",\n    \"resultsLimit\": 20,\n    \"resultsType\": \"stories\"\n}","options":{}},"id":"35b95041-3c1a-49b6-9a30-48b022b6cb7b","name":"Apify - Fetch Reels","type":"n8n-nodes-base.httpRequest","position":[60,100],"typeVersion":4.2},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"views","order":"descending"}]},"options":{}},"id":"1dda2236-b690-42db-ad43-19344ea90f73","name":"Sort","type":"n8n-nodes-base.sort","position":[480,100],"typeVersion":1},{"parameters":{"maxItems":3},"id":"cc2e2341-58c3-42cc-a945-13d61b3eff33","name":"Limit","type":"n8n-nodes-base.limit","position":[680,100],"typeVersion":1},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"url\": {{ JSON.stringify($json.videoUrl) }}\n,\n  \"views\": {{ $json.videoViewCount }},\n\"caption\": {{ JSON.stringify($json.caption) }}\n,\n\"creator\": \"{{ $('Loop Over Items').item.json.Name }}\"\n}","options":{}},"id":"de222afa-e1bb-4f67-8184-6b6596cd98f1","name":"Save Fields","type":"n8n-nodes-base.set","position":[260,100],"typeVersion":3.4},{"parameters":{"options":{}},"id":"7f5d192b-f947-4343-ad6a-a8393d13675a","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-200,100],"typeVersion":3},{"parameters":{"url":"={{ $('Get Video').item.json.Video[0].url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"a327a303-a612-464d-918e-3174be904f10","name":"Download File","type":"n8n-nodes-base.httpRequest","position":[300,400],"typeVersion":4.2},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appoQM8cbMoz4HHlh","mode":"list","cachedResultName":"Viral Fashion Reels","cachedResultUrl":"https://airtable.com/appoQM8cbMoz4HHlh"},"table":{"__rl":true,"value":"tbllWMXkRYTI9WiFW","mode":"list","cachedResultName":"Videos","cachedResultUrl":"https://airtable.com/appoQM8cbMoz4HHlh/tbllWMXkRYTI9WiFW"},"columns":{"mappingMode":"defineBelow","value":{"Caption":"={{ $json.caption }}","Video":"={{ [ {\"url\":$json.url} ] }}","Creator":"={{ $json.creator }}","Views":"={{ $json.views }}","Creation Date":"={{ new Date().toISOString().split('T')[0] }}"},"matchingColumns":[],"schema":[{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Creator","displayName":"Creator","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Video","displayName":"Video","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Creation Date","displayName":"Creation Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Guideline","displayName":"Guideline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"id":"9232bca1-f3c2-44ef-a90f-f1cd652f9b71","name":"Create Video","type":"n8n-nodes-base.airtable","position":[-280,400],"typeVersion":2.1},{"parameters":{"base":{"__rl":true,"value":"appoQM8cbMoz4HHlh","mode":"list","cachedResultName":"Viral Fashion Reels","cachedResultUrl":"https://airtable.com/appoQM8cbMoz4HHlh"},"table":{"__rl":true,"value":"tbllWMXkRYTI9WiFW","mode":"list","cachedResultName":"Videos","cachedResultUrl":"https://airtable.com/appoQM8cbMoz4HHlh/tbllWMXkRYTI9WiFW"},"id":"={{ $json.id }}","options":{}},"id":"85d736b2-9e6a-444d-8032-729b3e3b9c32","name":"Get Video","type":"n8n-nodes-base.airtable","position":[-80,400],"typeVersion":2.1},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appoQM8cbMoz4HHlh","mode":"list","cachedResultName":"Viral Fashion Reels","cachedResultUrl":"https://airtable.com/appoQM8cbMoz4HHlh"},"table":{"__rl":true,"value":"tbllWMXkRYTI9WiFW","mode":"list","cachedResultName":"Videos","cachedResultUrl":"https://airtable.com/appoQM8cbMoz4HHlh/tbllWMXkRYTI9WiFW"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Get Video').first().json.id }}","Guideline":"={{ $json.candidates[0].content.parts[0].text }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Creator","displayName":"Creator","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Video","displayName":"Video","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Creation Date","displayName":"Creation Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Guideline","displayName":"Guideline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6da211d2-b7a6-4458-93b6-4d4d8389b521","name":"Set Guideline","type":"n8n-nodes-base.airtable","position":[1340,400],"typeVersion":2.1},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoQM8cbMoz4HHlh","mode":"list","cachedResultName":"Viral Fashion Reels","cachedResultUrl":"https://airtable.com/appoQM8cbMoz4HHlh"},"table":{"__rl":true,"value":"tblp31TvkFft8LGhP","mode":"list","cachedResultName":"Creators","cachedResultUrl":"https://airtable.com/appoQM8cbMoz4HHlh/tblp31TvkFft8LGhP"},"returnAll":false,"limit":null,"options":{}},"id":"10e81691-acc7-40e1-9e68-05cbc413d30c","name":"Search Creators","type":"n8n-nodes-base.airtable","position":[-420,100],"typeVersion":2.1},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":5}]}},"id":"2a4813f1-fbcc-43ca-afad-8278aabeaf25","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-640,100],"typeVersion":1.2},{"parameters":{"content":"### Replace Apify token","height":80,"width":220,"color":6},"id":"f60bf642-e9e2-47b1-89bd-04414f5d0fa1","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"### Replace Google token","height":80,"width":200,"color":6},"id":"6928ff90-488d-4991-89a1-f0b8c2995870","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[80,300],"typeVersion":1},{"parameters":{"content":"### Replace Google token","height":80,"width":200,"color":6},"id":"0238e895-6800-4f95-91d6-1913e1e8b549","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[420,300],"typeVersion":1},{"parameters":{"content":"### Replace Google token","height":80,"width":200,"color":6},"id":"49d9f2b3-40c0-4c9e-b54f-b375d7769372","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1140,300],"typeVersion":1},{"parameters":{"content":"### Set your own prompt for analysis","height":80,"width":200,"color":6},"id":"50738ecf-caa7-4a05-957d-43d8d681dba8","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[920,300],"typeVersion":1},{"parameters":{"options":{"reset":"={{ $node['Loop Over Items1'].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-540,380],"id":"26fb6f0d-b948-40e2-aad8-ce0a5fc9becb","name":"Loop Over Items1"}],"connections":{"Sort":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Set Prompt","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Get Video":{"main":[[{"node":"Gemini - Generate Upload URL","type":"main","index":0}]]},"Set Prompt":{"main":[[{"node":"Gemini - Ask Questions","type":"main","index":0}]]},"Save Fields":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Save Values":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Create Video":{"main":[[{"node":"Get Video","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Gemini - Upload File","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Apify - Fetch Reels","type":"main","index":0}]]},"Search Creators":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Search Creators","type":"main","index":0}]]},"Apify - Fetch Reels":{"main":[[{"node":"Save Fields","type":"main","index":0}]]},"Gemini - Upload File":{"main":[[{"node":"Save Values","type":"main","index":0}]]},"Gemini - Ask Questions":{"main":[[{"node":"Set Guideline","type":"main","index":0}]]},"Gemini - Generate Upload URL":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set Guideline":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Create Video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0755bb78-2bcf-478c-9a06-a4f4f36ae5cf","triggerCount":0,"tags":[]}