oleg-melnikov-|-competitor-scraping-UuchvZJxq3acG7mi.json
{"createdAt":"2025-06-24T23:50:10.612Z","updatedAt":"2025-06-24T23:50:10.612Z","id":"UuchvZJxq3acG7mi","name":"Oleg Melnikov | Competitor Scraping","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"create","base":{"__rl":true,"value":"appBwMrwjV4GLonZ5","mode":"list","cachedResultName":"LinkedIn Posts","cachedResultUrl":"https://airtable.com/appBwMrwjV4GLonZ5"},"table":{"__rl":true,"value":"tblql7EnMlSqIJqBj","mode":"list","cachedResultName":"Posts","cachedResultUrl":"https://airtable.com/appBwMrwjV4GLonZ5/tblql7EnMlSqIJqBj"},"columns":{"mappingMode":"defineBelow","value":{"content":"={{ $('Merge 2').item.json.content }}","id":"={{ $('Merge 2').item.json.id }}","datePosted":"={{ $('Merge 2').item.json.datePosted }}","url":"={{ $('Merge 2').item.json.url }}","username":"={{ $('Merge 2').item.json.username }}","likesCount":"={{ $('Merge 2').item.json.likesCount }}","contentType":"={{ $('Merge 2').item.json.contentType }}","repurpose":"=Text only: \n{{ $('Repurpose').item.json.message.content.text }}\n\n---\n\nText + Infographic: \n{{ $('Repurpose').item.json.message.content.infographic }}\n\n---\n\nText + Tweet:\n{{ $('Repurpose').item.json.message.content.tweet }}","status":"review"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"datePosted","displayName":"datePosted","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"likesCount","displayName":"likesCount","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"contentType","displayName":"contentType","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"text","value":"text"},{"name":"image","value":"image"},{"name":"video","value":"video"},{"name":"document","value":"document"}],"readOnly":false,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"repurpose","displayName":"repurpose","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"finalText","displayName":"finalText","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"image","displayName":"image","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"review","value":"review"},{"name":"ready","value":"ready"},{"name":"posted","value":"posted"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3580,280],"id":"9778b143-cbc0-458e-aec0-ca3d6833bda5","name":"Airtable"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[3680,500],"id":"2c7fcd75-bf6f-4ad0-9424-bd4775916517","name":"Merge"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[400,900],"id":"4184ac49-7fe3-4b44-b3d1-38feaaaa0b37","name":"Telegram Trigger","webhookId":"dca557d5-e6b7-4970-909f-e34c860106bd"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"You are a helpful assistant that answers my questions"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1860,780],"id":"b1bea12b-c1eb-4298-90c8-a7e668f0c939","name":"AI Agent","alwaysOutputData":false},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1780,1000],"id":"256a7e2c-6292-412a-870d-f3ac0e241dcf","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=239"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1940,1000],"id":"13091be1-74d1-4bd5-a0fb-75f47254d575","name":"Window Buffer Memory"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,180],"id":"ae0c0b13-920d-4d33-93b0-2ce2aab56efa","name":"Schedule Trigger 1"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appBwMrwjV4GLonZ5","mode":"list","cachedResultName":"LinkedIn Posts","cachedResultUrl":"https://airtable.com/appBwMrwjV4GLonZ5"},"table":{"__rl":true,"value":"tblbAlKEuUVmIPzv6","mode":"list","cachedResultName":"Creators","cachedResultUrl":"https://airtable.com/appBwMrwjV4GLonZ5/tblbAlKEuUVmIPzv6"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[220,180],"id":"92767bea-6ca2-49fd-8424-728316bde025","name":"Get Creators"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[400,180],"id":"9f5f2a80-4d35-40e1-b84f-3c459bc8377f","name":"Loop Over Creators","alwaysOutputData":false},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appBwMrwjV4GLonZ5","mode":"list","cachedResultName":"LinkedIn Posts","cachedResultUrl":"https://airtable.com/appBwMrwjV4GLonZ5"},"table":{"__rl":true,"value":"tblql7EnMlSqIJqBj","mode":"list","cachedResultName":"Posts","cachedResultUrl":"https://airtable.com/appBwMrwjV4GLonZ5/tblql7EnMlSqIJqBj"},"filterByFormula":"=","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[600,180],"id":"a5bcc46f-5bb2-4c64-b2e3-a44a439a9c00","name":"Get Existing Posts","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"d0e0206b-9a56-49ff-b9f4-b83d7c402b61","name":"urn","value":"={{ $json.id }}","type":"string"},{"id":"3b7fd580-bea7-48f4-8883-2350d4d0f560","name":"source","value":"existingBase","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,180],"id":"d63f6deb-4d60-47d6-94bf-0ad9f1d32c93","name":"Set Source 1"},{"parameters":{"assignments":{"assignments":[{"id":"87fa717a-f65d-47a4-b946-09b9192c910f","name":"source","value":"newBase","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,340],"id":"700e88ed-553f-4fcf-99a3-6796a0e87839","name":"Set Source 2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1180,200],"id":"d33141e7-d57b-4bd0-82e2-5e9e9cd66f47","name":"Merge 1"},{"parameters":{"jsCode":"// Get all incoming items from both branches\nconst allItems = $input.all();\n\n// Separate the items based on their source (assumes you've tagged them earlier)\nconst nodeItems = allItems.filter(item => item.json.source === 'newBase');\nconst sheetItems = allItems.filter(item => item.json.source === 'existingBase');\n\n// Create a Set of Google Sheet IDs for fast lookup\nconst sheetIDs = new Set(sheetItems.map(item => item.json.urn));\n\n// Filter out node items whose ID is present in the Google Sheet IDs\nconst filteredNodeItems = nodeItems.filter(item => !sheetIDs.has(item.json.urn));\n\n// Check if the list is empty\nif (filteredNodeItems.length === 0) {\n  // Handle the empty case\n  return [{ json: { empty: true, message: \"The list is empty\" } }];\n} else {\n  // Handle the non-empty case\n  return filteredNodeItems;\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,200],"id":"ee25476d-f8c6-45e9-8129-53f62fb3c90d","name":"Filter Out Existing Posts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0791633a-8fa4-4b67-acab-cc1043cf687e","leftValue":"={{ $json.empty }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,200],"id":"e4728a5c-f7e8-4823-8161-d17420913564","name":"If New Posts Exist"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.document }}","rightValue":"True","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4013684c-e924-42d5-8ab6-ad701b62d206","leftValue":"={{ $json.media.type }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8a2d76e4-1c4e-446f-9ad4-f2eec0ef8585","leftValue":"={{ $json.media.type }}","rightValue":"video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eca6b934-7659-4a26-8b21-686cb2a112d8","leftValue":"={{ !$json.hasOwnProperty('media') && !$json.hasOwnProperty('document') && !$json.hasOwnProperty('reshared_post') }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1720,160],"id":"0c26821d-8b5c-4996-b735-cfb53c9488e3","name":"Switch Content Type","alwaysOutputData":false},{"parameters":{"url":"={{ $json.document.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,20],"id":"5361a332-46e9-4b91-a818-988566c6a3eb","name":"Download Document","alwaysOutputData":true},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2120,20],"id":"86ffdfd0-196a-44a2-bfd1-80562d44b2cc","name":"Extract Text"},{"parameters":{"assignments":{"assignments":[{"id":"94b4b980-1f47-4897-996d-ce7f8f973254","name":"content","value":"=Text of the post: {{ $('Switch Content Type').item.json.text }}\n\nText inside the document: {{ $json.text }}","type":"string"},{"id":"4c20b611-7fa8-4a9a-980a-bf94b5495c7e","name":"id","value":"={{ $('Switch Content Type').item.json.urn }}","type":"string"},{"id":"50f39ee4-731b-432c-b2be-f619c9b6a2be","name":"datePosted","value":"={{ $('Switch Content Type').item.json.posted_at.date }}","type":"string"},{"id":"f9cba8cd-7714-47c8-8acc-6bc1796505e5","name":"url","value":"={{ $('Switch Content Type').item.json.url }}","type":"string"},{"id":"90ee9e05-e6df-487e-be3f-99d0b1a0b403","name":"username","value":"={{ $('Switch Content Type').item.json.author.username }}","type":"string"},{"id":"9a96ed8d-70da-4c4e-a837-ad36c41e7ca2","name":"likesCount","value":"={{ $('Switch Content Type').item.json.stats.like }}","type":"string"},{"id":"7ce51c59-cbd3-4f2e-abc2-c322951e8117","name":"contentType","value":"document","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,20],"id":"c9564343-8c3c-4253-a39f-d6a13590881f","name":"Set Fields 1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"imageUrls":"={{ $json.media.url }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1960,180],"id":"625d1a56-efcf-49af-a53a-2c0f40256fa0","name":"Transcribe Image"},{"parameters":{"assignments":{"assignments":[{"id":"6046b97d-5ca8-4091-8994-fe5cc2ce56ab","name":"content","value":"=Text of the post: {{ $('Switch Content Type').item.json.text }}\n\nText inside the document: {{ $json.content }}","type":"string"},{"id":"46ef10f6-fd99-4bc0-acf6-68157534e56f","name":"id","value":"={{ $('Switch Content Type').item.json.urn }}","type":"string"},{"id":"8f76b959-f40c-40ad-8393-75397f0fbc09","name":"datePosted","value":"={{ $('Switch Content Type').item.json.posted_at.date }}","type":"string"},{"id":"7a66b670-a580-4534-96fa-cdb48e9ae2dc","name":"url","value":"={{ $('Switch Content Type').item.json.url }}","type":"string"},{"id":"861060d5-deb2-4bf5-8762-e22dba2aefc2","name":"username","value":"={{ $('Switch Content Type').item.json.author.username }}","type":"string"},{"id":"f3f67354-d221-474b-a841-a727f0d2cd35","name":"likesCount","value":"={{ $('Switch Content Type').item.json.stats.like }}","type":"string"},{"id":"7cd26868-9ffb-4324-b8a8-4ffdf5b035fe","name":"contentType","value":"image","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2400,160],"id":"ae09db52-dccd-448e-b2ac-0af54a68323e","name":"Set Fields 2"},{"parameters":{"url":"={{ $json.image[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,1400],"id":"75b6264e-adc8-4ba4-a166-2e30b846a6e2","name":"Download Image"},{"parameters":{"url":"={{ $json.media.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,360],"id":"c4539175-a6b1-47f6-803f-acbe5a626a68","name":"Download Video"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Retrieve the current item\nconst item = $input.item;\n\n// Define the binary property name\nconst binaryPropertyName = 'data'; // Replace 'data' with your actual binary property name\n\n// Check if the binary data exists\nif (item.binary && item.binary[binaryPropertyName]) {\n  // Append '.mp4' to the existing file name\n  item.binary[binaryPropertyName].fileName = item.binary[binaryPropertyName].fileName + '.mp4';\n  // Optionally, update the mime type\n  item.binary[binaryPropertyName].mimeType = 'video/mp4';\n}\n\n// Return the modified item\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2120,360],"id":"ceeb5806-bf7d-4f97-96dd-14e58957924b","name":"Change Format"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2300,360],"id":"53474c62-f918-4f14-84db-37f04e52ede7","name":"Transcribe Video","onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2480,460],"id":"cda2a732-466a-4ab5-b0f9-86f5ccb7c3d0","name":"No audio, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"6046b97d-5ca8-4091-8994-fe5cc2ce56ab","name":"content","value":"=Text of the post: {{ $('Switch Content Type').item.json.text }}\n\nScript of the video: {{ $json.text }}","type":"string"},{"id":"7d749b22-8b13-4441-974a-95bf0f0a274d","name":"url","value":"={{ $('Switch Content Type').item.json.url }}","type":"string"},{"id":"9c3e913f-341e-4ba6-a0e9-8452e85e3310","name":"id","value":"={{ $('Switch Content Type').item.json.urn }}","type":"string"},{"id":"a2ddced3-ee12-40c6-8380-0c7dfb2bda56","name":"username","value":"={{ $('Switch Content Type').item.json.author.username }}","type":"string"},{"id":"f4d5a44b-f339-4fbd-a1ef-3a63171f4d31","name":"datePosted","value":"={{ $('Switch Content Type').item.json.posted_at.date }}","type":"string"},{"id":"56effd49-ab3e-4a23-a26c-11aa3cc46560","name":"likesCount","value":"={{ $('Switch Content Type').item.json.stats.like }}","type":"string"},{"id":"9ece07b9-39f6-44c4-bdaf-54967f7eb048","name":"contentType","value":"video","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2520,240],"id":"230f852b-7a8e-491a-a93c-eab269acf060","name":"Set Fields 3"},{"parameters":{"assignments":{"assignments":[{"id":"6046b97d-5ca8-4091-8994-fe5cc2ce56ab","name":"content","value":"=Text of the post: {{ $('Switch Content Type').item.json.text }}","type":"string"},{"id":"f232e55f-2a35-4bec-8786-f863372eedb5","name":"id","value":"={{ $('Switch Content Type').item.json.urn }}","type":"string"},{"id":"163271b4-55ff-421e-84a7-6d1b3f94324b","name":"username","value":"={{ $('Switch Content Type').item.json.author.username }}","type":"string"},{"id":"f5844737-8af9-423e-bfbb-ef68f7961442","name":"datePosted","value":"={{ $('Switch Content Type').item.json.posted_at.date }}","type":"string"},{"id":"92f70f95-64b2-4fda-a26d-8320dd7ce7d9","name":"url","value":"={{ $('Switch Content Type').item.json.url }}","type":"string"},{"id":"c32028da-a409-4432-b43e-9a4cc0b35bb4","name":"likesCount","value":"={{ $('Switch Content Type').item.json.stats.like }}","type":"string"},{"id":"e459a0a4-d25b-4e30-ab0a-ddeabb9e73b7","name":"contentType","value":"text","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1960,520],"id":"8ed6eaf4-cc91-4622-98f8-f30f9c9cf4d3","name":"Set Fields 4","alwaysOutputData":true},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2800,220],"id":"79c22d8f-13a5-40da-b6a5-759f95fddd16","name":"Merge 2","alwaysOutputData":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"You're a professional content creator for LinkedIn, you've gained a massive 1.000.000 audience by writing deeply valuable business posts.\n\nYour job is to help me write my content. I have a LinkedIn blog about marketing.","role":"system"},{"content":"=Here is a post of another LinkedIn personality from my niche.\n\nI want to repurpose it for my blog.\n\nContent:\n{{ $json.content }}\n\n----\n\nYou have to repurpose it for 3 different formats:\n1. Text only post\n2. Text post + image of the tweet with a bold or interesting short text\n3. Text + image with infographics / charts (in this case you have to describe in detail what should be displayed)\n\nStructure your output as a JSON file:\n{\"relevant\": bool, \"text\": text, \"infographic\": text, \"tweet\": text}\nWhereas if the intial post is not relevant to marketing then set relevant = false and leave all of the remaining fields empty.\n\nRules:\nwrite in the style and structing similar to this post:\nText of the post: I used to be depressed, broke, and anxious. \n\nNow, I only work 4 hours per day and travel the world. \n\n10 habits that transformed my life:\n\n1. Daily Deep Work\n\nDedicate the first few hours of your day to deep, focused work on your needle-moving work.\n\nNo phone, no social media, no distractions.\n\nThis is when your mind is freshest and most creative.\n\nProtect this time at all costs.\n\n2. The AED System\n\nAutomate, Eliminate, Delegate\n\nRuthlessly apply this system to every task.\n\n• Automate repetitive tasks\n• Eliminate unnecessary ones\n• Delegate what does not require your unique skills\n\nYour time is gold; start acting like it.\n\n3. Quarterly Resets\n\nEvery quarter, take a step back, take a break, and reassess your goals, strategies, and habits.\n\nWhat's working? What's not? Make adjustments.\n\nRegular resets ensure that I stay aligned with my long-term vision and core values.\n\n4. Focus on the 4 W of Work\n\nOptimize the Who, What, Where, and When of your work:\n\n• Who: Surround yourself with high-performers\n• What: Focus on high-impact tasks\n• Where: Create an optimal environment\n• When: Leverage your natural energy\n\nSmall tweaks yield huge gains.\n\n5. Sobriety\n\nEliminating alcohol was a game-changer for my productivity and clarity.\n\nNo hangovers, brain fog, or wasted time.\n\nSobriety allows you to operate at your peak consistently.\n\nYou need to be sober to change your life for the better.\n\n6. No Agenda, No Meeting\n\nWith my team, if a meeting doesn't have a clear agenda and desired outcome, it doesn't happen.\n\nPeriod.\n\nThis simple rule eliminates countless hours of pointless meetings.\n\nWork matters, but most of your meetings don’t.\n\n7. No Meetings in the Morning\n\nMornings are for deep work, not meetings.\n\nProtect your peak creative hours.\n\nSchedule meetings in the afternoon when your energy naturally dips.\n\nSystemize your life.\n\n8. Hell Yes or No\n\nThis is an extension of AED.\n\nIf an opportunity or request isn't a \"Hell Yes!\", it's a no.\n\nRuthlessly guard your time and attention.\n\nSaying no to the mediocre allows you to say yes to the exceptional.\n\n9. Personal Time/Energy Audit\n\nTrack how you spend your time for a week.\n\nCategorize activities as energizing or draining.\n\nThen, systematically eliminate or minimize the draining activities.\n\nThe time audit raises your hourly rate by thousands of dollars.\n\n10. Daily Exercise\n\nThose who prioritize fitness enjoy a life expectancy up to 7 years longer.\n\nYour quality and duration of life is determined by your fitness habits.\n\nExercise is key to unlocking your full potential.\n\nI don’t care if it sounds corny: health is wealth.\n\n—\n\nEnjoy this? ♻️ Repost it to your network and follow Oleg Melnikov for more.\n\n------\n\nHere goes your output:"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2960,240],"id":"d5e5f69a-7603-43e8-9555-5ab51ed6c139","name":"Repurpose"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be146f03-8f6a-4fe1-a0c5-e16c92d4e010","leftValue":"={{ $json.message.content.relevant || $json.message.content.relevant == \"true\" }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3300,240],"id":"63ab4be2-7c84-4bf9-bf0f-452f93685536","name":"If Content Relevant","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3460,400],"id":"99ab0176-94d4-4ecb-9233-e18d402b93b8","name":"Not relevant, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b13a7f80-4d52-4fb0-862f-1057162a4f26","leftValue":"={{ $json.message.from.id }}","rightValue":291844618,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[620,900],"id":"ba94cadc-9626-4443-aa6b-3da35ef73d10","name":"Check Sender"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Telegram Trigger').item.json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d173560d-9582-41f8-afea-00c0e9aa829f","leftValue":"={{ $('Telegram Trigger').item.json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[900,780],"id":"ab9bbde8-12b5-4039-8ec2-6287e3668f61","name":"Switch Message Type"},{"parameters":{"assignments":{"assignments":[{"id":"cb4bec7c-17cf-4e21-aa43-12416d4ed77b","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1220,780],"id":"7e93cdf7-2c20-430c-b7a8-54ccf3743599","name":"Set Text"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1160,960],"id":"35d4759f-1693-436f-99bc-1011bbab282f","name":"Download Voice","webhookId":"ea91ebee-6940-4df9-b46f-132ee8f6ee5d","alwaysOutputData":false},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1340,960],"id":"4f8c7a1a-9e20-4e7c-8dd9-3d0836e86888","name":"Transcribe Voice","alwaysOutputData":false},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1560,800],"id":"6489d4b7-bc9e-4aca-a605-0187274b477c","name":"Merge 3","alwaysOutputData":true},{"parameters":{"name":"post_writer","description":"Call this tool to write a LinkedIn post based on the raw idea.","workflowId":{"__rl":true,"value":"YfweMGvCgYhQYUxh","mode":"list","cachedResultName":"LinkedIn Posts Writer"},"workflowInputs":{"mappingMode":"defineBelow","value":{"idea":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('idea', ``, 'string') }}"},"matchingColumns":["idea"],"schema":[{"id":"idea","displayName":"idea","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[2100,1000],"id":"1458ce17-bfd3-49fa-977a-823e5091136a","name":"Post Writer"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2260,780],"id":"a89e0076-f9dd-44db-8741-7ea7d0753d4e","name":"Send Message","webhookId":"50643ab1-8a66-4188-9604-f1e517ab5b90"},{"parameters":{"rule":{"interval":[{"triggerAtHour":16}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[580,1300],"id":"ea4c80c2-d0d0-46ea-9e05-2bd35666b449","name":"Schedule Trigger 2"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appBwMrwjV4GLonZ5","mode":"list","cachedResultName":"LinkedIn Posts","cachedResultUrl":"https://airtable.com/appBwMrwjV4GLonZ5"},"table":{"__rl":true,"value":"tblql7EnMlSqIJqBj","mode":"list","cachedResultName":"Posts","cachedResultUrl":"https://airtable.com/appBwMrwjV4GLonZ5/tblql7EnMlSqIJqBj"},"filterByFormula":"{status}='ready'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[800,1300],"id":"8d188955-5fd9-4822-a278-121864373879","name":"Get Ready Posts"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1020,1300],"id":"72bffbc2-62e5-4ecc-8b8b-d665ae955aa7","name":"Pick One"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4204955e-2a7a-4d26-b5ee-04a68dadb92b","leftValue":"={{ $json.image }}","rightValue":"","operator":{"type":"array","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1240,1300],"id":"fc17ac63-c9e1-4c24-bef7-2342934a728c","name":"Text Only?"},{"parameters":{"person":"-NknGiXASA","text":"={{ $json.finalText }}","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1500,1220],"id":"0e7942ff-9439-42c2-a8e5-34ea8a2ab407","name":"Publish Post 1"},{"parameters":{"person":"-NknGiXASA","text":"={{ $json.finalText }}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1620,1400],"id":"f68548bb-7fa8-4dab-bb23-45223e743684","name":"Publish Post 2"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appBwMrwjV4GLonZ5","mode":"list","cachedResultName":"LinkedIn Posts","cachedResultUrl":"https://airtable.com/appBwMrwjV4GLonZ5"},"table":{"__rl":true,"value":"tblql7EnMlSqIJqBj","mode":"list","cachedResultName":"Posts","cachedResultUrl":"https://airtable.com/appBwMrwjV4GLonZ5/tblql7EnMlSqIJqBj"},"columns":{"mappingMode":"defineBelow","value":{"status":"posted","id":"={{ $('Pick One').item.json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"urn","displayName":"urn","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"datePosted","displayName":"datePosted","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"likesCount","displayName":"likesCount","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"contentType","displayName":"contentType","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"text","value":"text"},{"name":"image","value":"image"},{"name":"video","value":"video"},{"name":"document","value":"document"}],"readOnly":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"repurpose","displayName":"repurpose","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"finalText","displayName":"finalText","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"image","displayName":"image","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"review","value":"review"},{"name":"ready","value":"ready"},{"name":"posted","value":"posted"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1800,1300],"id":"dab8df86-695c-4725-a913-0f7e03c5b83e","name":"Update Status"},{"parameters":{"content":"# Content Agent","height":440,"width":2140},"type":"n8n-nodes-base.stickyNote","position":[320,720],"typeVersion":1,"id":"b84d47aa-97e3-4d32-b023-4a3700b3cf8f","name":"Sticky Note"},{"parameters":{"content":"# Auto Publishing","height":400,"width":1600,"color":4},"type":"n8n-nodes-base.stickyNote","position":[520,1180],"typeVersion":1,"id":"a113b2da-715c-4585-b069-57966c5f8ef5","name":"Sticky Note1"},{"parameters":{"content":"# Competitor's Scraping","height":700,"width":3960,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"4132dc04-7de3-49df-9d61-efdfd6b8f065","name":"Sticky Note2"},{"parameters":{"url":"https://api.apify.com/v2/acts/LQQIXN9Othf8f7R5n/run-sync-get-dataset-items","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"apify_api_iCr3t5mDFPGpi4PbW0WRMb5M9xIwQW02Ltzd"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"username\": \"{{ $('Loop Over Creators').item.json.username }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,340],"id":"7d1e2368-8984-41b8-9fb3-a0dae84c1727","name":"Apify - Scrape LinkedIn Posts","executeOnce":true}],"connections":{"Airtable":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Creators","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Check Sender","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Send Message","type":"main","index":0}]]},"Schedule Trigger 1":{"main":[[{"node":"Get Creators","type":"main","index":0}]]},"Get Creators":{"main":[[{"node":"Loop Over Creators","type":"main","index":0}]]},"Loop Over Creators":{"main":[[],[{"node":"Get Existing Posts","type":"main","index":0}]]},"Get Existing Posts":{"main":[[{"node":"Set Source 1","type":"main","index":0}]]},"Set Source 1":{"main":[[{"node":"Apify - Scrape LinkedIn Posts","type":"main","index":0},{"node":"Merge 1","type":"main","index":0}]]},"Set Source 2":{"main":[[{"node":"Merge 1","type":"main","index":1}]]},"Merge 1":{"main":[[{"node":"Filter Out Existing Posts","type":"main","index":0}]]},"Filter Out Existing Posts":{"main":[[{"node":"If New Posts Exist","type":"main","index":0}]]},"If New Posts Exist":{"main":[[{"node":"Switch Content Type","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Switch Content Type":{"main":[[{"node":"Download Document","type":"main","index":0}],[{"node":"Transcribe Image","type":"main","index":0}],[{"node":"Download Video","type":"main","index":0}],[{"node":"Set Fields 4","type":"main","index":0}]]},"Download Document":{"main":[[{"node":"Extract Text","type":"main","index":0}]]},"Extract Text":{"main":[[{"node":"Set Fields 1","type":"main","index":0}]]},"Set Fields 1":{"main":[[{"node":"Merge 2","type":"main","index":0}]]},"Transcribe Image":{"main":[[{"node":"Set Fields 2","type":"main","index":0}]]},"Set Fields 2":{"main":[[{"node":"Merge 2","type":"main","index":1}]]},"Download Image":{"main":[[{"node":"Publish Post 2","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Change Format","type":"main","index":0}]]},"Change Format":{"main":[[{"node":"Transcribe Video","type":"main","index":0}]]},"Transcribe Video":{"main":[[{"node":"Set Fields 3","type":"main","index":0}],[{"node":"No audio, do nothing","type":"main","index":0}]]},"Set Fields 3":{"main":[[{"node":"Merge 2","type":"main","index":2}]]},"Set Fields 4":{"main":[[{"node":"Merge 2","type":"main","index":3}]]},"Merge 2":{"main":[[{"node":"Repurpose","type":"main","index":0}]]},"Repurpose":{"main":[[{"node":"If Content Relevant","type":"main","index":0}]]},"If Content Relevant":{"main":[[{"node":"Airtable","type":"main","index":0}],[{"node":"Not relevant, do nothing","type":"main","index":0}]]},"Check Sender":{"main":[[{"node":"Switch Message Type","type":"main","index":0}]]},"Switch Message Type":{"main":[[{"node":"Set Text","type":"main","index":0}],[{"node":"Download Voice","type":"main","index":0}]]},"Set Text":{"main":[[{"node":"Merge 3","type":"main","index":0}]]},"Download Voice":{"main":[[{"node":"Transcribe Voice","type":"main","index":0}]]},"Transcribe Voice":{"main":[[{"node":"Merge 3","type":"main","index":1}]]},"Merge 3":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Post Writer":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Schedule Trigger 2":{"main":[[{"node":"Get Ready Posts","type":"main","index":0}]]},"Get Ready Posts":{"main":[[{"node":"Pick One","type":"main","index":0}]]},"Pick One":{"main":[[{"node":"Text Only?","type":"main","index":0}]]},"Text Only?":{"main":[[{"node":"Publish Post 1","type":"main","index":0}],[{"node":"Download Image","type":"main","index":0}]]},"Publish Post 1":{"main":[[{"node":"Update Status","type":"main","index":0}]]},"Publish Post 2":{"main":[[{"node":"Update Status","type":"main","index":0}]]},"Apify - Scrape LinkedIn Posts":{"main":[[{"node":"Set Source 2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"845dc50b-7691-4c40-a139-bc4c4465fce0","triggerCount":0,"tags":[]}