teste-vídeo-oração-Pkqaz41LEQ8Y9RIV.json
{"createdAt":"2025-06-25T19:58:10.793Z","updatedAt":"2025-06-25T20:27:51.842Z","id":"Pkqaz41LEQ8Y9RIV","name":"Teste Vídeo Oração","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"da6ce9b4-f870-407f-a7d9-dfd29a54cd89","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"fileFolder","searchMethod":"=query","queryString":"'1xZMx-mjmRIZXf7A8aL4L0MqummRiidnl' in parents","returnAll":true,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[220,0],"id":"5954557f-8060-4ad4-8e24-cc2ebcd92e46","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"binaryPropertyName":"imagem"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[440,0],"id":"e4dc0182-a26c-482a-8ea6-d66c0562f18e","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"DiHdZ190wOjmODAT","name":"Google Drive account"}}},{"parameters":{"operation":"write","fileName":"=/tmp/imagens/{{ $json.name }}","dataPropertyName":"imagem","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[660,0],"id":"47c21ee2-75f9-4955-8cbf-6ca0e1a0a0fa","name":"Read/Write Files from Disk"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4a11b6c0-106b-420d-b1d9-c7f20d087c3e","triggerCount":0,"tags":[]}