workflow-scraping-teste-lTtiNgLVd9XMkyI2.json
{"createdAt":"2025-06-11T18:20:54.454Z","updatedAt":"2025-06-24T23:32:56.358Z","id":"lTtiNgLVd9XMkyI2","name":"Workflow Scraping Teste","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[420,200],"id":"e6826696-9afe-4d3b-855b-227f91743945","name":"When clicking ‘Test workflow’"},{"parameters":{"functionCode":"const items = $node['Search YouTube API'].json.items;\n\n// Map through the items returned from the YouTube API and extract necessary information\nconst results = items.map(item => {\n    return {\n        channelTitle: item.snippet.channelTitle, // Channel Name\n        channelId: item.snippet.channelId,       // Channel ID\n        description: item.snippet.description,   // Channel Description\n        publishedAt: item.snippet.publishedAt    // Date the channel was published\n    };\n});\n\n// Return the processed results\nreturn results;\n"},"name":"Extract Channel Info","type":"n8n-nodes-base.function","position":[1040,200],"notesInFlow":true,"id":"418a6eeb-5fc5-4162-bc83-98fc5d898408","typeVersion":1},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1KBW_rqMUZHmwuuxltB_dHjZxOnpRUFOq4xwwcri_Hgs","mode":"list","cachedResultName":"YouTube Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KBW_rqMUZHmwuuxltB_dHjZxOnpRUFOq4xwwcri_Hgs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KBW_rqMUZHmwuuxltB_dHjZxOnpRUFOq4xwwcri_Hgs/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"channelTitle","displayName":"channelTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"channelId","displayName":"channelId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"publishedAt","displayName":"publishedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"name":"Store Data in Google Sheets","type":"n8n-nodes-base.googleSheets","position":[1240,200],"notesInFlow":true,"id":"783a3d4a-8fb9-48bc-a0f2-030175d70e0d","typeVersion":4.5},{"parameters":{"assignments":{"assignments":[{"id":"8383d5b0-6a4d-4c69-bd91-19f87b2d7f45","name":"niche","value":"business coach","type":"string"}]},"options":{}},"name":"Niche Input","type":"n8n-nodes-base.set","position":[620,200],"notesInFlow":true,"id":"80727112-df60-4401-9b8f-2ca639799d2e","typeVersion":3.4},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"q","value":"={{ $json.niche }}"},{"name":"type","value":"channel"},{"name":"key"},{"name":"regionCode","value":"US"},{"name":"maxResults","value":"50"}]},"options":{}},"name":"Search YouTube API","type":"n8n-nodes-base.httpRequest","position":[820,200],"notesInFlow":true,"id":"bf1171da-d707-486f-b540-3c39828d4008","typeVersion":4.2}],"connections":{"Extract Channel Info":{"main":[[{"node":"Store Data in Google Sheets","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Niche Input","type":"main","index":0}]]},"Niche Input":{"main":[[{"node":"Search YouTube API","type":"main","index":0}]]},"Search YouTube API":{"main":[[{"node":"Extract Channel Info","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cfce9918-2ee3-4afe-b6d9-74dd652ad003","triggerCount":0,"tags":[]}